<div class="about-two-blocks">
  <div class="container">
    <div class="row">
      <figure class="diptych__figure">
        {% if block.settings.title != blank %}
        <h2 class="title diptych__title" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>{{ block.settings.title }}</h2>
        {% endif %}
      </figure>
      {% if block.settings.text != blank %}
      <figcaption class="diptych__caption">
        <div class="diptych__body" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>
          {{ block.settings.text }}
          <span class="sign_image">{% if block.settings.sign_image != blank %}{{ block.settings.sign_image | img_url: "original" | img_tag }}{% else %}{% endif %}
          </span>
            </div>

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="diptych__cta" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>
          {{ block.settings.button_label }}
        </a>
        {% endif %}


      </figcaption>
      {% endif %}

      {% if block.settings.image != blank %}
      <div class="diptych clearfix">
        <div class="diptych__container" style="background-image: url({% if block.settings.image != blank %}{{ block.settings.image | img_url: "original" }}{% else %}{% endif %});">

        </div>
        <div class="diptych__container" style="background-image: url({% if block.settings.image != blank %}{{ block.settings.image | img_url: "original" }}{% else %}{% endif %});">

        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<style>
  .about-two-blocks{

  }

  .about-two-blocks .row {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0;
  }

  .about-two-blocks .diptych__caption{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .about-two-blocks .diptych__container {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .about-two-blocks .diptych__figure {
    margin: auto;
    text-align: center;
    max-width: 400px;
  }

  .about-two-blocks .diptych {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    min-height: 600px;
  }

  .about-two-blocks .diptych__container {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0 5px;
  }

  .about-two-blocks .diptych__container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    width: 100%;
  }

  .about-two-blocks .diptych__cta{
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: 0.14em;
    line-height: 1.6em;
    color: inherit;
    text-transform: uppercase;
    line-height: 1.6em;
    border-bottom: 1px solid;
    display: inline-block;
  }
  
.sign_image {
    max-width: 40px;
    margin: 15px auto 20px;
    display: table;
}

  @media screen and (max-width: 992px){
    .about-two-blocks .diptych {
      min-height: 400px;
    }
  }

  @media screen and (max-width: 767px){
    .about-two-blocks .diptych__container {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%;
      display: block;
      width: 100%;
      min-height: 400px;
      margin: 0 0 10px;
    }

    .about-two-blocks .diptych {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      width: 100%;
      display: block;
    }

    .about-two-blocks .feature-row__text {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .about-two-blocks .diptych {
      min-height: 300px;
    }
  }
</style>