<section class="graph gray-box">
  <div class="section-header text-center">
    <h2 class="title">Affordable Luxury</h2>
    <hr class="title">
  </div>
  <div class="graph-wrapper container">
    <div class="graph-bg">
      <div class="cash-interval">
        <span>$200</span>
      </div>
      <div class="cash-interval">
      </div>
      <div class="cash-interval">
        <span>$100</span>
      </div>
      <div class="cash-interval">
      </div>
      <div class="cash-interval">
      </div>
    </div>
    <div class="graph-bars">
      <div class="bar bar-left">
        <div class="prices">
          Our Prices
          <strong>$78</strong>
        </div>
        <div class="increment sell">
          <span>Sell Direct to You</span>
        </div>
        <div class="increment grew">
          <span>Organic growth</span>
        </div>
        <div class="process">
          Skylar Scents
        </div>
      </div>
      <div class="bar bar-right">
        <div class="prices">
          Their Prices
          <strong>$175+</strong>
        </div>
        <div class="increment retail active">
          <span>Retail Markup</span>
        </div>
        <div class="increment marketing">
          <span>Traditional Marketing</span>
        </div>
        <div class="increment agent">
          <span>Sales Agents</span>
        </div>
        <div class="process">
          Traditional Perfumes
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.graph {
  padding: 60px 0 80px;
}

.prices strong {
  letter-spacing: .6px;
  font-weight: 400;
  font-size: 1.767rem;
  display: block;
  margin-top: 5px;
}

.graph-bg{
  opacity: 0;
}

.bar span {
  background: 0 0;
  box-shadow: none;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
}

.graph-wrapper {
  position: relative;
  border-bottom: 2px solid #000;
  margin: 0 auto;
}

.cash-interval {
  position: relative;
  height: 45px;
  margin-bottom: 0;
  margin-left: 2.858rem;
}

.cash-interval:after {
  content: '';
  display: block;
  height: 1px;
  background-image: -webkit-linear-gradient(left,#d1d1d1 33%,rgba(255,255,255,0) 0);
  background-image: linear-gradient(to right,#d1d1d1 33%,rgba(255,255,255,0) 0);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.cash-interval:first-child:after, .cash-interval:last-child:after {
  height: 0;
}

.cash-interval span {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%,50%);
  transform: translate(-100%,50%);
  color: #d1d1d1;
  padding-right: .59rem;
  font-size: .675rem;
  font-family: "Gotham Book";
}

.graph-bars {
  padding-left: 2.858rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bar {
  position: relative;
  width: 40%;
  max-width: 225px;
  margin-bottom: 0;
  z-index: 0;
}

.bar-left .prices {
  color: #000;
}

.prices {
  width: 100%;
  top: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  padding-bottom: .59rem;
  line-height: 1;
}

.prices, .process {
  font-size: 11px;
  text-align: center;
  position: absolute;
  font-weight: normal;
  margin-bottom: 0;
}

.bar-left .increment {
  color: black;
  background-color: #ede2dc;
  border-bottom: 1px solid #DCC5B9;
  min-height: 27px;
  margin-bottom: 0;
  position: relative;
  font-size: .59rem;
  background-color: #ede2dc;
}

.process {
  color: #2c2c2c;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  text-align: center;
  padding-top: .875rem;
  line-height: 1.2em;
  width: 100%;
}

.process {
  font-size: 14px;
  text-align: center;
  position: absolute;
  margin-bottom: 0;
}

.bar-right .prices {
  color: #000;
}


.bar-right .increment {
  color: black;
  background-color: #cccccc;
  border-bottom: 1px solid #999999;
  min-height: 25px;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  font-size: .59rem;
}



@media only screen and (min-width: 768px){
  .graph-wrapper {
    max-width: 60%;
  }

  .cash-interval {
    height: 60px;
  }


  .bar-left .increment {
    padding: 25px 15px;
  }

  .bar span {
    background: 0 0;
    box-shadow: none;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }

  .bar-right .increment {
    padding: 30px 15px;
  }


}


@media only screen and (max-width: 767px){
  .bar-left .increment {
    padding: 5px 10px;
    height: 33px;
  }

  .bar-right .increment{
    padding: 5px 10px;
    height: 33px;
  }

  .bar {
    position: relative;
    width: 40%;
    max-width: 180px;
    margin-bottom: 0;
    z-index: 0;
  }
}

@media only screen and (max-width: 639px){
  .bar {
    position: relative;
    width: 47%;
    max-width: 150px;
    margin-bottom: 0;
    z-index: 0;
  }

  .bar-left .increment {
    padding: 5px 5px;
    height: 33px;
  }

  .bar-right .increment {
    padding: 5px 5px;
    height: 37px;
  }

  .graph-bars{
    padding-left: 0;
  }

  .cash-interval {
    position: relative;
    height: 45px;
    margin-bottom: 0;
    margin-left: 1.9rem;
  }
}


</style>
