<div class="about_row_section">
  <div class="sixteen columns feature-row">
    {% capture image_layout %}
    <div class="feature-row__item feature-row__image">
      {% if block.settings.image != blank %}
      {{ block.settings.image | img_url: '2048x2048' | img_tag: block.settings.image.alt, 'feature-row__image' }}
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    {% endcapture %}

    <div class="feature-row">
      {% if block.settings.layout == 'left' %}
      {{ image_layout }}
      {% endif %}

      <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }}">
        {% if block.settings.title != blank %}
        <h2 class="title">{{ block.settings.title | escape }}</h2>
        {% endif %}
        {% if block.settings.text != blank %}
        <div class="rte-setting">{{ block.settings.text }}</div>
        {% endif %}
        {% if block.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="btn action_button">
          {{ block.settings.button_label }}
        </a>
        {% endif %}
      </div>

      {% if block.settings.layout == 'right' %}
      {{ image_layout }}
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% if block.settings.section-bg != ""%}
  .feature-row{
    background-color: {{ block.settings.section-bg }};
  }
  {% endif %}

  .about_row_section {
    width: 100%;
    display: table;
    width: 100%;
    padding: 0;
    margin: 0 0 15px;
  }

  .feature-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }

  .feature-row__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .feature-row__image {
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: 993px){
    .feature-row__text--left {
      padding: 35px;
    }
    .feature-row__text--right {
      padding: 35px;
    }
    .featured-row__subtext {
      font-size: 1.125em;
    }
  }

  .feature-row__text {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media screen and (max-width: 992px){
    .feature-row__text--left {
      padding: 25px;
    }
    .feature-row__text--right {
      padding: 25px;
    }

    .feature-row {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .feature-row__image {
      order: 1;
    }

    .feature-row__text {
      order: 2;
    }

    .feature-row__item {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }

  }
</style>