<div id="team">
  <h2 class="title" style="color: {{ block.settings.title-color }};">{{ block.settings.team-title }}</h2>
  <p style="color: {{ block.settings.stitle-color }};">
    {{ block.settings.team-stitle }}
  </p>
  <div class="container">
	{% for i in (1..4) %}
      {% capture team_job %}job-title_{{ i }}{% endcapture %}
      {% capture team_img %}image_{{ i }}{% endcapture %}
      {% capture team_title %}title_{{ i }}{% endcapture %}
      {% if block.settings[team_title] != blank %}
        <div id="team-shots" class="grid">
          <div class="member four columns">
            {{ block.settings[team_img] | img_url : "original" | img_tag }}
            <h4 class="thousand" style="color: black;">{{ block.settings[team_title] }}</h4>
            <div class="position-role" style="color: {{ block.settings.stext-color }};">{{ block.settings[team_job] }}</div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  #team {
    background: {{ block.settings.team-bg-color }};
    color: {{ block.settings.team-text-color }};
    padding: 50px 20px;
    text-align: center;
  }

  h2.thousand {

    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  #team p {
    margin-top: 10px;
  }

  #team h4 {
    margin-top: 10px;
    padding: 0;
    line-height: 24px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0 0;
    color: #ffffff;
  }

  #team-shots .member img {
    max-width: 150px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

  #team > .container{
   padding-bottom: 0;
  }

  @media screen and (max-width: 767px){
    #team-shots > div {
      margin-bottom: 20px;
    }
  }

  #team .position-role {
    text-transform: capitalize;
  }

</style>
