<style>
  .about-video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  }
   .about-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .about-video.video .shorter-line {
    z-index: 2;
    position: relative;
    margin: 0 0 0;
  }

  .about-video.video h2 {
    z-index: 2;
    position: relative;
    margin: 0 0 10px;
  }

  .about-video.video .vbox-item{
    color: #fff;
    position: relative;
  }

  .about-video.video a:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  


  @media screen and (max-width: 639px){

    .about-video.video h2,
    .video-wrap h2{
      font-size: 110%;
    }
  }


  .about-video.video a {
    display: block;
    padding: 10rem 1.125rem;
    text-align: center;
    background-image: url({{ block.settings.image | img_url : "original" }});
    background-size: cover;
  }

  .about-video.video a:before {
    content: '';
    display: block;
    background: url({{ "button-play.svg" | asset_url }}) no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    margin: 0 auto .59rem;
    z-index: 2;
    position: relative;
  }

  .about-video.video h2, 
  .video-wrap h2 {
    color: {{ block.settings.title-color }}; 
  }
  
  .about-video.video p.short-line,
  .video-wrap p.short-line{
    color: {{ block.settings.stitle-color }}; 
  }
  
  .video-wrap {
    max-width:960px;
    margin:0 auto;
  }
  .video-text {
    color: #4a4a4a;
    text-align: center;
  }
  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
  }
  .embed-container iframe, 
  .embed-container object, 
  .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
</style>

{% if block.settings.vimeo_id != blank %}
<div class="video-wrap">
  <div class="video-text">
    {% if block.settings.title != blank %}
      <h2 class="title">{{ block.settings.title }}</h2>
    {% endif %}
    {% if block.settings.stitle != blank %}
      <p class="short-line">{{ block.settings.stitle }}</p>
    {% endif %}
  </div>
  <div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/{{ block.settings.vimeo_id }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
{% endif %}

{% if block.settings.youtube_id != blank %}
<div class="about-video video">
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ block.settings.youtube_id }}?rel=0&amp;showinfo=0&amp;vq=hd720" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

