<div class="about_row_overlay_section">
  <div class="feature-content">

    {% if block.settings.title != blank %}
    <h2 class="title" style="color: {{ block.settings.title_color }};">{{ block.settings.title | escape }}</h2>
    {% endif %}
    {% if block.settings.text != blank %}
    <div class="rte-setting" style="color: {{ block.settings.title_color }};">{{ block.settings.text }}</div>
    {% endif %}
    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
    <a href="{{ block.settings.button_link }}" class="btn action_button">
      {{ block.settings.button_label }}
    </a>
    {% endif %}
  </div>
  {% if block.settings.image != blank %}
  <img class="for-desktop" src="{{ block.settings.image | img_url: '2048x2048' }}">
  {% endif %}
  {% if block.settings.image_mobile != blank %}
  	<img class="for-mobile" src="{{ block.settings.image_mobile | img_url: '2048x2048' }}">
  {% endif %}
</div>

<style>
  .about_row_overlay_section {
    display: inline-block;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    {% if block.settings.section-bg != blank %}
    background-color: {{ block.settings.section-bg }};
    {% endif %}
  }
  .about_row_overlay_section img {
    display: block;
  }
  .about_row_overlay_section .for-mobile {
    display: none;
  }

  .about_row_overlay_section:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .about_row_overlay_section .feature-content {
    {% if block.settings.image != blank %}
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 900px;
    padding: 10px;
    {% else %}
    padding: 40px 10px;
    {% endif %}
    width: 100%;
    color: #fff;
    text-align: center;
    display: block;
  }

  .about_row_overlay_section .feature-content h2.title{
    color: #fff;
    width: 100%;
    display: inline-block;
  }

  .about_row_overlay_section .feature-content .featured-row__subtext{
    width: 100%;
    display: inline-block;
  }

  @media screen and (max-width: 639px){
    .about_row_overlay_section .for-desktop {
      display: none;
    }
    .about_row_overlay_section .for-mobile {
      display: block;
    }
  }

</style>
