{% assign cart_count = 0 %}{% for line_item in cart.items %}{% unless line_item.id == 8102646087767 %}{% assign cart_count = cart_count | plus:line_item.quantity %}{% endunless %}{% endfor %}{{ cart_count }}