<form action="/checkout" method="post" id="cart">
  <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
    <li class="mm-subtitle"><a class="continue ss-icon" href="#cart">&#x2421;</a></li>

    {% if cart.item_count == 0 %}
    <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
    {% else %}
    {% for item in cart.items %}
    <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
      <p class="mm-counter">
        <span class="ss-icon minus">&#x002D;</span><input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /><span class="ss-icon plus">&#x002B;</span>
      </p>
      <a href="{{ item.url }}">
        {% if item.image %}
        <div class="cart_image">
          <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
        </div>
        {% endif %}
        <div class="item_title">{{ item.title }}</div>
        <strong class="price">{{ item.price | money }}</strong>
      </a>
    </li>
    {% endfor %}
    <li class="mm-label">
      <p class="mm-counter">{{ cart.total_price | money }}</p>
      <a href="/cart">
        <strong>{{ 'layout.general.subtotal' | t }}</strong>
      </a>
    </li>

    <li class="mm-subtitle clearfix">
      {% if settings.display_special_instructions %}
      <textarea id="note" name="note" rows="2" placeholder="Your gift message on a handwritten card" class="clearfix">{{ cart.note }}</textarea>
      {% endif %}


      {% if settings.display_tos_checkbox %}
      <p class="tos">
        <input type="checkbox" class="tos_agree" id="sliding_agree" required />
        <label class="tos_label" for="sliding_agree">
          {{ 'cart.general.agree_to_terms_html' | t }}
        </label>
      </p>
      {% endif %}

      {% if settings.display_add_giftwrap_checkbox %}
      <p class="giftwrap_message">
        <input type="checkbox" class="add_giftwrap_message" id="add_giftwrap_message"/>
        <label class="giftwrap_label" for="add_giftwrap_message">
          {{ 'cart.general.giftwrap_message_html' | t }}
        </label>
      </p>
      {% endif %}

      <a href="javascript:void(0)" class="action_button checkout_button right">{{ 'layout.general.checkout' | t }}</a>
      <a href="javascript:void(0)" class="action_button edit_cart right">{{ 'layout.general.continue_shopping' | t }}</a>
    </li>
    {% endif %}
  </ul>
</form>
