{% unless collection_image_size %}
  {%- assign collection_image_size = '450x450' -%}
{% endunless %}

{% if collection.empty? %}
  {% comment %}add default state for collection block in theme editor{% endcomment %}
  {% assign collection_image_url = '' %}
{% else %}
  {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
  {% elsif collection.products.first %}
    {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, crop: 'top' }}{% endcapture %}
  {% endif %}
{% endif %}
<div class="one-third column {% cycle 'alpha', '', 'omega' %} thumbnail">
  <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
    <div class="collection-grid-item__overlay">
      {% if collection.empty? %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {% else %}
          <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ collection_image_url }}" data-src-retina="{{ collection_image_url }}" alt="{{ collection.title }}" />
        {% endif %}
    </div>
    <div class="collection-grid-item__title-wrapper">
      <h3 class="collection-grid-item__title">
        {% if collection.empty? %}
          Collection Title
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h3>
    </div>
  </a>
</div>
