<div class="compare-skylar">
  <div class="section-header text-center">
    <h2 class="title">Compare Skylar</h2>
    <hr class="title">
  </div>
  <p>Compare Skylar to other perfume options</p>
  <div class="chart">
    <img class="desktop-only" src="{{ 'compare_chart_desktop.png' | asset_url }}" alt="compare chart desktop">
    <img class="mobile-only" src="{{ 'compare_chart_mobile.png' | asset_url }}" alt="compare chart mobile">
  </div>
</div>
