<div class="modal-overlay">
  <div class="gdpr-modal">
    <p>By clicking agree, you agree to our
    <a class="underline" target="_blank" href="https://skylar.com/pages/privacy-policy">Privacy Policy</a> and <a class="underline" target="_blank" href="https://skylar.com/pages/terms-of-use">Terms of
    Use</a>.</p>
    <div class="buttons">
      <a href="#" class="action_button agree">Agree</a>
      <a href="#" class="action_button" onclick="window.history.back()">Take me back</a>
    </div>
  </div>
</div>
