<div class="popupOverlay cartMsg">
  <div class="popupBox slideInDown animated">
    <div class="popuplogo text-center">
      <img src="{{ 'logo.png' | asset_url }}" alt="" />
    </div>
    <hr/>
    <div class="popupform">
      <form>
        <div class="field">
          <label >To:</label>
          <input type="text" name="to" id="cato" value="{{ cart.attributes.to }}" >
        </div>
        <div class="field">
          <label >From:</label>
          <input type="text" name="from" id="cafrom" value="{{ cart.attributes.from }}" >
        </div>
        <div class="field">
          <label >Message:</label>
          <textarea name="message" id="camsg" >{{ cart.attributes.gift_message }}</textarea>
        </div>
        <div class="field">
          <button class="btn" type="submit" >Done</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function closePopup() {
    $('.popupBox').removeClass('slideInDown');
    $('.popupBox').addClass('slideOutUp');
    $('.popupOverlay').fadeOut('slow');
    $('.popupBox').remove('.cls_popup');
  }
  function openPopup(a) {
    $('.popupBox').addClass('slideInDown');
    $('.popupBox').removeClass('slideOutUp');
    $('.popupOverlay.'+a).fadeIn('slow');
    $('.popupBox').append('<a class="cls_popup" >X</a>');
  }
  window.onclick = function(e) {
    if ($(e.target).hasClass('popupOverlay')) {
      closePopup();
    }   
  }
  $('body').on('click','.cls_popup',function(e){
    e.preventDefault();
    closePopup();
  });
  $(document).keyup(function(e) {
    if (e.keyCode == 27) { 
      closePopup();
    }
  });
  $(document).ready(function(){
    $('body').on('click','.openmsg_popup',function(e){
      e.preventDefault();
      openPopup('cartMsg');
    });
    $('body').on('submit','.popupform form',function(e){
      e.preventDefault();
      var form = $(this);
      $('.popupform .formmsg').remove();
      $('.cato').val($('#cato').val());
      $('.cafrom').val($('#cafrom').val());
      $('.camsg').val($('#camsg').val());
      if($('#camsg').val().trim()=='') {
        $('.popupform').prepend('<p class="text-center red formmsg" >Message should not blank!!</p>');
        return false;
      }
      $.ajax({
      	type:"POST",
        url:"/cart/update.js",
        data: $('form#cart').serialize(),
        dataType:"json",
        async:!1,
        success: function(){
        	form.find('.btn').text('Added');
        }
      }).done(function(){
        form.find('.btn').text('Done');
        $('.popupform').prepend('<p class="text-center green formmsg" >Message added</p>');
        $('.openmsg_popup b').text('Message added');
      });
    });
  });
</script>