<div class="help-faq">
  <div id="helptabs">
    <ul class="resp-tabs-list vert">
      <li>Product</li>
      <li>Shipping</li>
      <li>Gift cards</li>
      <li>Returns & exchanges</li>
      <li>Sampling</li>
    </ul>

    <div class="resp-tabs-container vert">
      {% for i in (1..5) %}
      {% capture help %}tab_{{ i }}{% endcapture %}
      {% if block.settings[help] != blank %}
      <div>
        {{ block.settings[help]}}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var windowW = $(window).width();
    if (windowW < 768) {
    	$('#helptabs').easyResponsiveTabs(
          {
            closed: true,
            type: 'vertical', //Types: default, vertical, accordion
            tabidentify: 'vert' ,
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#fff', // background color for inactive tabs in this group
            active_border_color: '#ddd', // border color for active tabs heads in this group
            active_content_border_color: '#ddd'
          }
        );
    } else {
    	$('#helptabs').easyResponsiveTabs(
          {
            type: 'vertical', //Types: default, vertical, accordion
            tabidentify: 'vert' ,
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#fff', // background color for inactive tabs in this group
            active_border_color: '#ddd', // border color for active tabs heads in this group
            active_content_border_color: '#ddd'
          }
        );
    }

  });
</script>

<style>
  .help-faq {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px;
  }

  .help-faq .resp-vtabs .resp-tabs-container{
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    border: none!important;
  }

  .help-faq .resp-vtabs ul.resp-tabs-list{
    margin-top: 0!important;
  }

  .help-faq .resp-vtabs li{
   color: #999;
    font-size: 17px;
  }

  .help-faq .resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 15px 15px !important;
    border-right: none!important;
    border-left: none!important;
    border-top: none!important;
    border-bottom: none!important;
    color: #000;
  }

  .help-faq .resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    font-weight: normal;
    float: none;
    text-transform: uppercase;
    font-size: 17px;
  }

  .help-faq h2.resp-accordion {
    text-transform: uppercase;
  }

  .resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #ddd;
  }

  h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #9B9797;
  }

  @media screen and (max-width: 768px){
    .resp-tab-active {
      border: 1px solid #ff7354 !important;
      border-top: 4px solid #ff7354 !important;
      border-bottom: 0px #fff solid !important;
    }
  }

</style>
