<section class="sub-hero">
  {% if block.settings.sub_hero_image != blank %}
  <img class="for-desktop" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% if block.settings.sub_hero_image_mobile != blank %}
      <img class="for-mobile" src="{{ block.settings.sub_hero_image_mobile | img_url : "master" }}" />
    {% else %}
       <img class="for-mobile" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% endif %}
  {% endif %}
  {% if block.settings.sub_hero_title != blank %}
  <div class="inner">
    <div class="inner-content">
    	<h2 class="title hero-header" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_title }}</h2>
    	<p class="hero-sheader" style="color: {{ block.settings.sub_hero_stitle_color }}">{{ block.settings.sub_hero_stitle }}</p>
    </div>
  </div>
  {% endif %}

  <nav class="story-promise-subnav">
    <div class="sub-hero-container">
      {% for link in linklists[block.settings.sub_hero_link].links %}
      <li><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
    </div>
  </nav>
</section>
<style>
  .sub-hero {
    {% if block.settings.sub_hero_bgcolor != blank %}
    background-color: {{ block.settings.sub_hero_bgcolor }};
    {% endif %}
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    min-height: 200px;
  }

  .sub-hero .for-mobile {
    display: none;
  }


  .sub-hero .hero-header {
    font-size: 35px;
    line-height: 1.2;
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .sub-hero .hero-sheader {

    line-height: 1.4;
    color: black;
    letter-spacing: 0px;
    text-transform: normal;
    font-weight: 300;
}

  .sub-hero .inner {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px 0;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .sub-hero .story-promise-subnav,
  .sub-hero .story-promise-subnav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ede2dd;
    text-align: center;
  }

  .sub-hero .story-promise-subnav li, .sub-hero .story-promise-subnav li {
    padding: 20px 0;
    margin-left: 15px !important;
    margin-right: 15px !important;
    display: inline-block;
    margin-bottom: 0;
  }

  .sub-hero .story-promise-subnav li a,
  .sub-hero .story-promise-subnav li a {
    display: block;
    font-size: .875em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px 30px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    width: 175px;
  }

  .sub-hero .story-promise-subnav li a:hover,
  .sub-hero .story-promise-subnav li a.active,
  .sub-hero .story-promise-subnav li a:hover,
  .sub-hero .story-promise-subnav li a.active {
    border: none;
    background-color: rgba(0,0,0,0.6);
    border-radius: 2px;
  }

  @media screen and (max-width: 639px){

    .sub-hero .for-desktop {
      display: none;
    }
    .sub-hero .for-mobile {
      display: block;
    }

    .sub-hero .story-promise-subnav li {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    .sub-hero .story-promise-subnav li a, .sub-hero .story-promise-subnav li a {
      padding: 10px;
      width: 140px;
    }


    .sub-hero .hero-header {
      font-size: 110%;
    }

  }

</style>
