<div id="team">
  <h2 class="thousand">{{ block.settings.team-title }}</h2>
  <p>
    {{ block.settings.team-stitle }}
  </p>
  <div class="container">
    {% for i in (1..4) %}
    {% capture team_stitle %}stitle_{{ i }}{% endcapture %}
    {% capture team_img %}image_{{ i }}{% endcapture %}
    {% capture team_title %}title_{{ i }}{% endcapture %}
    {% if block.settings[team_title] != blank %}
    <div id="team-shots" class="grid one-third columns">
      <div class="member">
        <div class="img">
          {{ block.settings[team_img] | img_url : "original" | img_tag }}
        </div>
        <h4 class="thousand" style="color: black !important;">{{ block.settings[team_title] }}</h4>
        <div class="position-role">{{ block.settings[team_stitle] }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  #team {
    background: {{ block.settings.team-bg-color }};
    padding: 50px 20px;
    text-align: center;
    color: {{ block.settings.team-text-color }};
  }

  #team a {
    color: inherit;
    text-decoration: underline;
  }

  h2.thousand {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
  }

  #team p {
    margin-top: 10px;
  }

  #team-shots {
    width: 33.33333%;
    margin: 0;
    padding: 0 15px;
  }

  #team h4 {
    margin-top: 10px;
    padding: 0;
    line-height: 24px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0;
    color: #ffffff;
  }

  #team-shots .member .img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 79px;
    width: 79px;
    padding: 15px;
    margin: 10px auto;
    position: relative;
  }

  #team-shots .member img {
    max-width: 40px;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
  }

  #team > .container {
    padding-bottom: 0;
    width: 100%;
    max-width: 1400px;
  }
  @media screen and (max-width: 767px){
    #team-shots > div {
      margin-bottom: 20px;
    }

    #team-shots {
      width: 100%;
      margin: 0;
      padding: 0 15px;
    }

  }

  #team .position-role {
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
  }

</style>
