<nav class="story-promise-subnav">
  <div class="sub-hero-container">
    {% for link in linklists[block.settings.sub_hero_link].links %}
    <li><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
  </div>
</nav>
<header class="banner-narrow page-banner-top">
  <div class="banner__content">
    <h1>{{ block.settings.sub_hero_title }}</h1>
    <p>{{ block.settings.sub_hero_subtitle }}</p>
  </div>
</header>


<style>
.page-banner-top {
  background-image: url("https:{{ block.settings.sub_hero_mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .page-banner-top {
    background-image: url("https:{{ block.settings.sub_hero_image | img_url: 'master' }}");
  }
}
</style>
