
<section class="landing-hero collapse-both">
  {% if block.settings.sub_hero_image != blank %}
  <img class="desktop-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% if block.settings.sub_hero_image_mobile != blank %}
      <img class="mobile-img" src="{{ block.settings.sub_hero_image_mobile | img_url : "master" }}" />
    {% else %}
      <img class="mobile-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% endif %}
  {% endif %}
  {% if block.settings.sub_hero_title != blank %}
  <div class="inner">
    <div class="inner-content">
    	<h2 class="title hero-header" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_title }}</h2>
    	<p class="hero-sheader" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_stitle }}</p>
    </div>
  </div>
  {% endif %}

</section>


<style type="text/css">

  .landing-hero {
    {% if block.settings.sub_hero_bgcolor != blank %}
    background-color: {{ block.settings.sub_hero_bgcolor }};
    {% endif %}
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    min-height: 200px;
  }

  .landing-hero .mobile-img {
    display: none;
  }
  
  .landing-hero .hero-header {
    font-size: 35px;
    line-height: 1.2;
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .landing-hero .hero-sheader {    
    line-height: 1.2;
    color: white;
    letter-spacing: 0px;
    text-transform: normal;
    font-weight: 300;
}
 
  .landing-hero .inner {
    position: absolute;
    width: 100%;
	height: 100%;
    padding: 30px 0;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 639px){
    
   .landing-hero .mobile-img {
    	display: block;
  	}

   .landing-hero .desktop-img {
    	display: none;
  	}
    
    .landing-hero .hero-header {
      font-size: 110%;
    }

  }


</style>


