<div class="container">
  <div class="sixteen columns" id="featured_links">
    <div class="section clearfix" id="feature">
      {% if block.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="title">{{ block.settings.title }}</h2>
      </div>
      {% endif %}

      <div class="sixteen columns">

        <div class="column-item four columns alpha center text-center animated fadeInUp">
          <div class="inner">         
            {% if block.settings.image1 != blank %}
            <p>
              {{ block.settings.image1 | img_url: '480x480' | img_tag: 'feature-row__image' }}
            </p>
            {% endif %}   
            <div class="column-content">
              {% if block.settings.title1 != blank %}
              <h3 class="h4">{{ block.settings.title1 }}</h3>
              {% endif %}

              {% if block.settings.text1 != blank %}
              <div class="rte-setting">{{ block.settings.text1 }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="column-item four columns center text-center animated fadeInUp">
          <div class="inner">         
            {% if block.settings.image2 != blank %}
            <p>
              {{ block.settings.image2 | img_url: '480x480' | img_tag: 'feature-row__image' }}
            </p>
            {% endif %}   
            <div class="column-content">
              {% if block.settings.title2 != blank %}
              <h3 class="h4">{{ block.settings.title2 }}</h3>
              {% endif %}

              {% if block.settings.text2 != blank %}
              <div class="rte-setting">{{ block.settings.text2 }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="column-item four columns center text-center animated fadeInUp">
          <div class="inner">         
            {% if block.settings.image3 != blank %}
            <p>
              {{ block.settings.image3 | img_url: '480x480' | img_tag: 'feature-row__image' }}
            </p>
            {% endif %}   
            <div class="column-content">
              {% if block.settings.title3 != blank %}
              <h3 class="h4">{{ block.settings.title3 }}</h3>
              {% endif %}

              {% if block.settings.text3 != blank %}
              <div class="rte-setting">{{ block.settings.text3 }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="column-item four columns omega center text-center animated fadeInUp">
          <div class="inner">         
            {% if block.settings.image4 != blank %}
            <p>
              {{ block.settings.image4 | img_url: '480x480' | img_tag: 'feature-row__image' }}
            </p>
            {% endif %}   
            <div class="column-content">
              {% if block.settings.title4 != blank %}
              <h3 class="h4">{{ block.settings.title4 }}</h3>
              {% endif %}

              {% if block.settings.text4 != blank %}
              <div class="rte-setting">{{ block.settings.text4 }}</div>
              {% endif %}
            </div>
          </div>
        </div>
        
      </div>


    </div>
  </div>
</div>


<style type="text/css">
.columns-section{
	padding-bottom: 0;
}

#featured_links {
    padding: 20px 0 0;
}

.columns-section div.section {
    margin: 10px 0 0;
}

#featured_links .column-item{

}

#featured_links img{
	max-width: 60px;
	opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}


#featured_links .inner:hover img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
	opacity: 1;
} 

#featured_links h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	color: #4A4A4A;	
}

  #featured_links h2{
    font-size: 35px;
    line-height: 45px;
  }

#featured_links .inner .column-content{
	position: relative;
}

#featured_links .inner .rte-setting {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

#featured_links .inner .rte-setting p{
	margin: 0;
color:#4a4a4a;
}

#featured_links .inner {
    padding: 0 10px;
    margin: 15px 0 0;
}

#featured_links .inner:hover .rte-setting{
	opacity: 1;
    color: #000;	
	top: 10px;
}


#featured_links .inner:hover h3{
	opacity: 0;
}


@media screen and (max-width: 1200px){
  #featured_links h3{

  }

  #featured_links .inner:hover .rte-setting{
     
  }
}


@media screen and (max-width: 992px){
    #featured_links h3 {
        
    }
	
	.nav ul.menu.right li span{
		display: none;
	}

}


@media screen and (max-width: 767px){
	#featured_links img{
		max-width: 40px;
	}

    #featured_links h2 {
        font-size: 25px;
        line-height: 35px;
    }

    #featured_links .column-item {
        width: 50%;
        padding: 0 10px 10px 10px;
    }

    #featured_links h3 {
        font-size: 12px;
    }
    

    #featured_links .inner .rte-setting, #featured_links .inner:hover .rte-setting{
        color: #000;	
    }

     #featured_links .inner > p{
        margin: 0 0 5px;
    }

    #featured_links .inner .rte-setting p {
        margin: 0;
        font-size: 12px;
    }

}

</style>


