<div class="container">
  <div class="sixteen columns">
    {% if block.settings.title != blank %}
    <h2 class="title">{{ block.settings.title | escape }}</h2>
    {% endif %}
    <div class="column-item one-third column center alpha">
      {% if block.settings.col1title != blank %}
      <h4>{{ block.settings.col1title | escape }}</h4>
      {% endif %}
      {% if block.settings.col1text != blank %}
      <div>{{ block.settings.col1text }}</div>
      {% endif %}
    </div>
    <div class="column-item one-third column center">
      {% if block.settings.col2title != blank %}
      <h4>{{ block.settings.col2title | escape }}</h4>
      {% endif %}
      {% if block.settings.col2text != blank %}
      <div>{{ block.settings.col2text }}</div>
      {% endif %}
    </div>
    <div class="column-item one-third column center omega">
      {% if block.settings.col3title != blank %}
      <h4>{{ block.settings.col3title | escape }}</h4>
      {% endif %}
      {% if block.settings.col3text != blank %}
      <div>{{ block.settings.col3text }}</div>
      {% endif %}
    </div>
  </div>
</div>