<div class="landing_cta_row">
  <div class="feature-content">

    {% if block.settings.title != blank %}
    <h2 class="title">{{ block.settings.title | escape }}</h2>
    {% endif %}
    {% if block.settings.text != blank %}
    <div class="rte-setting">{{ block.settings.text }}</div>
    {% endif %}
    {% if block.settings.button_label != blank %}
    <a class="btn action_button reveal-btn">
      {{ block.settings.button_label }}
    </a>
    {% endif %}
  </div>
  {% comment %}
  <div class="product-reveal">
    <div class="thumb_grd_product four columns thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
        <div class="relative">
          <span class="product-grd-img">       
            <img class="main_img" src="//cdn.shopify.com/s/files/1/1445/2216/products/Skylar_Product_BottlesFront_Coral2_large.jpg?v=1501215652" data-src="//cdn.shopify.com/s/files/1/1445/2216/products/Skylar_Product_BottlesFront_Coral2_large.jpg?v=1501215652" data-src-retina="//cdn.shopify.com/s/files/1/1445/2216/products/Skylar_Product_BottlesFront_Coral2_grande.jpg?v=1501215652" alt="Coral Perfume by Skylar Body | Fruity, Floral, Flirty Scent" style="opacity: 1;">       
          </span>
        </div>

        <div class="info">     
          <span class="title" itemprop="name">Coral</span>     
          <span class="grid-sapretor-title" style="background:#F0966F"></span>
          <span class="tag-text">fruity ‧ floral ‧ flirty</span>    
          <button class="action_button btn-recharge">Order Now</button> 
        </div>
    </div>
  </div>
  {% endcomment %}
</div>

<style>
  .landing_cta_row {
    display: inline-block;
    width: 100%;
    position: relative;
  }



  .landing_cta_row .feature-content {
    padding: 40px 10px;
    width: 100%;   
    text-align: center;
    display: block;
  }

  .landing_cta_row .feature-content h2.title{
    width: 100%;
    display: inline-block;
  }

  .landing_cta_row .feature-content .featured-row__subtext{
    width: 100%;
    display: inline-block;
  }

</style>


