<div class="left-sidebar">
	<h2>My Account</h2>
    <ul class="left-sidebar-list nav nav-tabs tabs-left">
    	<li class="left-sidebar-item"><a href="#my-sub" data-toggle="tab">My Subscription</a></li>      
        <li class="left-sidebar-item"><a href="#order-history" data-toggle="tab">Order History</a></li>
        <li class="left-sidebar-item"><a href="#shipaddress" data-toggle="tab">Shipping Addresses</a></li>
        <li class="left-sidebar-item"><a href="#payment" data-toggle="tab">Payment Method</a></li>
        <li class="left-sidebar-item"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li class="left-sidebar-item"><a href="#cont" data-toggle="tab">Contact Us</a></li>
    </ul>    
</div>