<div class="mobile-footer">
  {% for link in linklists.mobile-footer-menu.links %}
    <a href="{{ link.url }}">
      <span>{{ link.title }}</span>
    </a>
  {% endfor %}
</div>


{% comment %}
<div class="mobile-footer">
  <a href="/collections/shop">
    <span>Shop</span>
  </a>
  <a class="two-line" href="/products/sample">
    <span>Free Sample</span>
  </a>
  <a href="/quiz">
    <span>Quiz</span>
  </a>
  <a href="/pages/our-products">
    <span>About</span>
  </a>
  <a href="/account">
    <span>Sign In</span>
  </a>
</div>
{% endcomment %}