<div class="header header--mobile">
  <a href="#nav" class="icon-menu"></a>
  <a href="{{ shop.url }}" title="{{ shop.name }}" class="mobile_logo logo">
    {% if settings.use_logo %}
    <img src="{% if settings.use_logo_home and feature_image %}{{ 'logo_home.png' | asset_url }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" {% if settings.use_logo_home %}data-src-home="{{ 'logo_home.png' | asset_url }}"{% endif %} />
    {% else %}
    {{ shop.name }}
    {% endif %}
  </a>
  <a href="#cart" class="right">
    {{ 'cart.svg' | asset_url | img_tag: 'cart', 'cart-icon' }}
    <span class="cart-count-btn">{% include 'cart-count' %}</span>
  </a>
</div>
