<div class="newsletter ss">
  <form id="footer_signup" class="contact-form klaviyo_bare_embed_KhY2eb" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" action="//manage.kmail-lists.com/subscriptions/subscribe"><input type="hidden" name="g" value="KhY2eb" /> <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" /><button type="submit" class="sign_up klaviyo_submit_button"><img src="//cdn.shopify.com/s/files/1/1445/2216/t/21/assets/next.svg?10761449178339843124" alt="" /></button>
  <div class="klaviyo_messages">
  <div class="success_message" style="display: none;"></div>
  <div class="error_message" style="display: none;"></div>
  </div>
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script><script type="text/javascript">// <![CDATA[
  KlaviyoSubscribe.attachToForms('#footer_signup', {
      hide_form_on_success: true,
      success_message: "Thank you for subscribing!"
    });
  // ]]></script>
</div>

<style type="text/css">
  #footer_signup {
    position: relative;
  }
</style>
