{% if settings.newsletter_popup %}   
<a id="newsletter" href="#target"></a>
<div id="newsletter-box">
  <div class="popupBody">
    <div id="target">
      {% if settings.newsletter_popup_title != blank %}
      <h1>{{ settings.newsletter_popup_title }}</h1>
      {% endif %}

      {% if settings.newsletter_popup_content != blank %}
      <div class="popup_contents">
      {{ settings.newsletter_popup_content }}
      </div>
      {% endif %}

      {% if settings.newsletter_popup_form %}
      {% include 'newsletter' %}
      {% endif %}
    </div>
    <button type="button" class="po-close ss-icon">␡</button>
  </div>

</div>

<style>
  .popup_contents p {
    font-size: {{ settings.newsletter_popup_contents_size }}px;
    color: {{ settings.newsletter_popup_contents_color }};
    text-align: center;
    line-height: {{ settings.newsletter_popup_contents_size | plis: 4 }}px;
  }
  #newsletter-box {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
  }
  
  .popupBody {
    position: absolute;
    background: {{ settings.newsletter_popup_bg }};
    padding: 20px;
    top: 120px;
    width: 96%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: flex;
    align-items: center;
    min-height: 350px;
    max-width: {% if settings.newsletter_popup_max_width != blank %}{{ settings.newsletter_popup_max_width }}px{% else %}55px{% endif %};
  }
  
  #newsletter-box #target {
    padding: 0;
    display: table;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #newsletter-box.click {
    display: block;
  }

  #newsletter-box #target h1{
    font-weight: 400;
    text-align: center;
    margin: 25px 0 10px;
    font-size: {{ settings.newsletter_popup_title_size }}px;
    color: {{ settings.newsletter_popup_title_color }};
  }
  .popupBody .newsletter {
    margin-bottom: 20px;
  }
  .newsletter .message {
    font-size: 1.3rem;
  }
  .po-close {
    background: none;
    padding: 0;
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    z-index: 900;
    vertical-align: middle;
    line-height: 30px;
  }
</style>

  <script type="text/javascript">
    function openNewsletterPopup() {
      setTimeout( function() {
    	$('#newsletter-box').addClass('click'); 
      }, 
      {% if settings.newsletter_popup_seconds != blank %}{{ settings.newsletter_popup_seconds }}{% else %}2{% endif %}*1000);
    }

    $(function() {
      $( "#newsletter-box .po-close" ).on('click',function() {
        $('#newsletter-box').removeClass('click'); 
      });
      var popup = $.cookie('popup');
      var cookie_enabled = {% if settings.newsletter_popup_days != blank and settings.newsletter_popup_days != "0" %}true{% else %}false{% endif %};

      if (cookie_enabled && popup == 'open') {
          return false;
      } else {
        openNewsletterPopup();
      }
      if (cookie_enabled) {
        $.cookie('popup', 'open', { expires: {{ settings.newsletter_popup_days }} });
      }
    	
    });
  </script>
{% endif %}

