{% raw %}

            	<div class="right-wrapper-main">                                      
                  	<div class="order-body">
                      <div class="single-product-name">Order <span>{{'#'+order.shopify_order_number}}</span></div>
                    	<div v-for="(lineItems,index) in order.line_items">
                          <div class="order-first-section">
                              <div class="ship-wrapper">
                                  <div class="ship-date">
                                      <label for="ship-date">Ship Date</label>
                                  </div>
                                  <div>
                                  {{ moment(order.shipped_date).calendar() }}
                               	  </div>
                              </div>
                              <div class="freq-wrapper" v-if="lineItems.subscription.product_title != 'Sample Palette'">
                                <div class="frequency">
                                    <label for="frequency">Frequency</label>
                                </div>
                                <div>
                                <select class="select-month" v-model="lineItems.subscription.order_interval_frequency" @change="changeSubscriptionInterval(event, lineItems.subscription_id)" name="frequency">                                  
                                   <option>Select Value</option>
                                   <option :value="1">1 Month</option>
                                   <option :value="3">Every 3 Months</option>
                                   <option :value="6">Every 6 Months</option>
                                   <option :value="9">Every 9 Months</option>
                                </select> 
                                </div>
                              </div>
                              <div class="payment-wrapper">
                                  <div class="payment-method">
                                    <label for="payment-method">Payment Method</label>
                                  </div>
                                  <div class="card-style">Visa 9552</div>
                              </div>
                              <div class="ship-top-wrapper">
                                <div class="ship-top">
                                  <label for="ship-to">Ship To<a href="#" @click.prevent="tabTitleClicked(3)">Edit</a></label>
                                </div>
                                <div>
                                  {{ order.shipping_address.address1+' '+order.shipping_address.city+' '+order.shipping_address.country+' '+order.shipping_address.province+' '+order.shipping_address.zip  }}
                                </div>
                              </div>
                          </div>
                          <div class="order-second-section  acco-desktop-view">                              
                              <div class="product-image-with-text"><img width="58px" height="58px" :src="getProductImagebyProductId(lineItems.subscription.shopify_product_id)" width="100%" height="100%" /><span class="product-name" v-model="lineItems.subscription.product_title">{{ lineItems.subscription.product_title }}</span></div>
                              <div v-if="lineItems.subscription.product_title != 'Sample Palette'" class="left quantity-box">
                                <span class="minus" @click="decreaseQuantity(index)">-</span>
                                <input  type="number" min="1" max="4" size="2" class="quantity" name="quantity" id="quantity" v-model="lineItems.subscription.quantity" />                                
                                <span class="plus" @click="increaseQuantity(index)">+</span>  
                              </div>                            
                              <div class="total-wrapper">                                
                                <div class="total-inner total"> 
                                  <span>Total</span>
                                  <div class="total-inner">
                                      <p class="total-inner1">$78</p>
                                      <p><span class="t-price">$58</span><span>$20 credit auto applied</span></p>
                                      <p class="total-inner2"><span v-bind="lineItems.subscription.price">{{ '$'+lineItems.subscription.price }}</span>Subscribe and save 15%</span></p>
                                      <p class="total-inner-last">Free U.S. shipping + return</p>
                                  </div>                                  
                                </div>
                              </div>                              	
                          </div>
                  <div class="order-second-section  acco-mobile-view">
                    <div class="acco-mobile-view-inner">
                              <div class="product-image-with-text"><img width="58px" height="58px" :src="getProductImagebyProductId(lineItems.subscription.shopify_product_id)" width="100%" height="100%" /><span class="product-name" v-model="lineItems.subscription.product_title">{{ lineItems.subscription.product_title }}</span></div>
                              <div v-if="lineItems.subscription.product_title != 'Sample Palette'" class="left quantity-box">
                                <span class="minus" @click="decreaseQuantity(index)">-</span>
                                <input  type="number" min="1" max="4" size="2" class="quantity" name="quantity" id="quantity" v-model="lineItems.subscription.quantity" />                                
                                <span class="plus" @click="increaseQuantity(index)">+</span>  
                              </div>
                    </div>
                              <div class="total-wrapper">                                
                                <div class="total-inner total"> 
                                  <span>Total</span>
                                  <div class="total-inner">
                                      <p class="total-inner1">$78</p>
                                      <p><span class="t-price">$58</span><span>$20 credit auto applied</span></p>
                                      <p class="total-inner2"><span v-bind="lineItems.subscription.price">{{ '$'+lineItems.subscription.price }}</span>Subscribe and save 15%</span></p>
                                      <p class="total-inner-last">Free U.S. shipping + return</p>
                                  </div>                                  
                                </div>
                              </div>                              	
                          </div>
                         <div class="acco-save-btn"><a href="#">save</a></div>
                  <!-- The Modal -->
                          <div class="modal fade custom-modal" :id="'custom-modal-'+lineItems.subscription_id">
                              <div class="modal-dialog">
                                  <div class="modal-content">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                                      </div>

                                      <!-- Modal body -->
                                      <form v-on:submit.prevent="cancelSubscription" :id="'cancel-subscription-'+index">
                                         <div class="modal-body text-center">
                                            <h5>We'll Miss You!</h5>
                                            <h6>Your cancellation is complete.<br>Come back any time.</h6>
                                            <div class="modal-list-wrapper">
                                                <p class="list-title">Please tell us the reason.</p>
                                                <input type="hidden" name="susbcription_id" :value="lineItems.subscription_id"> 
                                                <ul class="modal-list">
                                                    <li class="modal-list-item">
                                                        <label class="radio-wrapper">
                                                            <input name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <span class="modal-list-text">Don’t need to replenish</span></li>
                                                    <li class="modal-list-item"><label class="radio-wrapper">
                                                            <input name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                                            <span class="checkmark"></span>
                                                        </label> <span class="modal-list-text">Scents were not a good match</span></li>
                                                    <li class="modal-list-item"><label class="radio-wrapper">
                                                            <input name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                                            <span class="checkmark"></span>
                                                    </label> <span class="modal-list-text">Other</span></li>
                                                </ul>
                                            </div>
                                            <button type="submit">submit</button>
<!--                                             <p class="modal-submit"></p> -->
                                          </div>
                                      </form>
                                      <!-- Modal footer -->
                                  </div>
                              </div>
                           </div>
                          
                           <!-- The Date Modal -->
                           <div class="modal fade custom-modal" :id="'date-model-'+lineItems.subscription_id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                                      </div>
                                        <!-- Modal body -->
                                      <div class="modal-body text-center">
                                            <h5>Can We Help?</h5>
                                            <p class="cancel-popup-text">Do you need more time to play with your new scents? <br>
                                                You can push back the next order shipment date. <br>
                                                You will still be able to apply your $20 credit. 
                                            </p>
                                            <div class="calender-wrapper">
                                                <label>Choose New Ship Date</label>
                                                <div class="calendar"></div>
                                            </div>
                                            <div class="last-section">
                                              <h5><a href="#" data-dismiss="modal" :data-target="'#custom-modal-'+lineItems.subscription_id" data-toggle="modal">No thanks! I want to cancel</a></h5>         
                                            </div>
                                       </div>
                                        <!-- Modal footer -->
                                    </div>
                                </div>
                           </div>                         
                        </div>  
                    </div>  
                </div>
            <div class="add-more text-center">
                <h3>Add More & Save</h3>
                <h4>Layer multiple scents to create your own, or stock up on your fave.</h4>
                <p><a href="#" data-target="#scent-chart" data-toggle="modal">View scent guide</a></p>
            </div>
            <div class="row add-more-product">
                <div class="col-sm-3 add-more-product-item">
                    <div class="item-inner text-center">
                        <p class="product-img" v-html="arrowSpicy"></p>
                        <p class="add-more-product-title">Arrow - spicy</p>
                        <p><a href="#" @click.prevent="updateProductVariantSubscription(524819071036,7007326699580,'Arrow','Spicy')" class="add-btn">swap</a></p>
                    </div>
                </div>
                <div class="col-sm-3 add-more-product-item">
                    <div class="item-inner text-center">
                        <p class="product-img" v-html="coralFruity"></p>
                        <p class="add-more-product-title">Coral - fruity</p>
                        <p><a href="#" @click.prevent="updateProductVariantSubscription(524819726396,7007328403516,'Coral','Fruity')" class="add-btn">swap</a></p>
                    </div>
                </div>
                <div class="col-sm-3 add-more-product-item">
                    <div class="item-inner text-center">
                        <p class="product-img" v-html="isleClean"></p>
                        <p class="add-more-product-title">Isle - clean</p>
                        <p><a href="#" @click.prevent="updateProductVariantSubscription(524819923004,7007334170684,'Isle','Clean')" class="add-btn">swap</a></p>
                    </div>
                </div>
                <div class="col-sm-3 add-more-product-item">
                    <div class="item-inner text-center">
                        <p class="product-img" v-html="meadowFloral"></p>
                        <p class="add-more-product-title">Meadow - floral</p>
                        <p><a href="#" @click.prevent="updateProductVariantSubscription(524820021308,7007334858812,'Meadow','Floral')" class="add-btn">swap</a></p>
                    </div>
                </div>
             </div>
<!--               <div v-if="lineItems.subscription.product_title != 'Sample Palette' && lineItems.subscription.status == 'ACTIVE'" class="cancel-subscription">
                 <a href="#" @click.prevent="openDateModal(lineItems.subscription_id)">Cancel Order</a> 
              </div>                          
              <div v-if="lineItems.subscription.product_title != 'Sample Palette' && lineItems.subscription.status == 'CANCELLED'" class="activate-subscription">                            
                            <a href="#" @click.prevent="activateSubscription(lineItems.subscription_id)">Activate Subscription</a>
              </div> -->
              <div v-if="order.line_items != null && order.line_items[0].subscription.product_title != 'Sample Palette' && order.line_items[0].subscription.status == 'ACTIVE'" class="order-cancel text-center">                
                <a href="#" href="#" @click.prevent="openDateModal(order.line_items[0].subscription_id)">Cancel order</a>
                <p>This will surrender your $20 credit. </p>
              </div>
              <div v-if="order.line_items != null && order.line_items[0].subscription.product_title != 'Sample Palette' && order.line_items[0].subscription.status == 'CANCELLED'" class="order-cancel text-center">                
                <a href="#" @click.prevent="activateSubscription(order.line_items[0].subscription_id)">Activate order</a>
                <p>This will surrender your $20 credit. </p>
              </div>

{% endraw %}