<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
  <p class="message"></p>
  {% if settings.mailchimp_link != blank %}
  <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" class="contact-form ajax-mailchimp-form" id="contact_form" target="_blank">
    <input type="email" value="" name="EMAIL" class="contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
    <button type='submit' class="action_button sign_up">want</button>
    <div id="mce-responses" >
    </div> 
  </form>
  {% else %}    
  {% form 'customer' %}
  {% if form.posted_successfully? %}
  <p>{{ 'general.newsletter_form.success_text' | t }}</p>
  {% elsif form.errors %}
  {% for field in form.errors %}
  <p>{{ field | capitalize }} {{ form.errors.messages[field] }}</p>
  {% endfor %}
  {% endif %}
  <div class="form_container">
    <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
    <input type="email" class="contact_email" name="contact[email]" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
    <button type='submit' class="action_button sign_up">want</button>
  </div>
  {% endform %}
  {% endif %}
</div>