   

    <!--   **********************Add More & Save******************************* -->


    <div class="modal fade scent-cht-modal" id="add-more-save">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Add More & Save</h5>
                    <h6>Layer multiple scents to create your own, or stock up on your fave.</h6>
                    <div class="add-more-popup">
                        <ul class="list-inline">
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Arrow - spicy" type="radio">                          
                              <span class="pro-title">Arrow - spicy</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Isle - clean" type="radio">                          
                              <span class="pro-title">Isle - clean</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Coral - fruity" type="radio">                          
                              <span class="pro-title">Coral - fruity</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Meadow - floral" type="radio">                          
                              <span class="pro-title">Meadow - floral</span><span class="add-checkmark"></span>
                                </label></li>
                        </ul>
                    </div>
                  <div class="add-save-btn"><a href="#">add</a></div>
                  <div class="price-list">
                  
                  <div class="row bottle">
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle1.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">1 bottle</p>
                        <p class="bottle-price">$78</p>
                    </div>
                </div>
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle2.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">2 bottle</p>
                        <p class="bottle-price"><span>$156</span><span>$120</span><span>$36 savings</span></p>
                    </div>
                </div>
                    </div>
                  <div class="row bottle">
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle3.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">3 bottle</p>
                        <p class="bottle-price"><span>$234</span><span>$175</span><span>$56 savings</span></p>
                    </div>
                </div>
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle4.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">4 bottle</p>
                        <p class="bottle-price"><span>$312</span><span>$200</span><span>$112 savings</span></p>
                    </div>
                </div>
            </div>
                    </div>
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>


    <!--   **********************scent-chart******************************* -->
	<div class="modal fade scent-cht-modal" id="scent-chart">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Scent Guide</h5>
                    <div class="scent-tbl">
                        <table>
                            <tbody>
                            <tr>
                                <td class="scent-tbl-guide"></td>
                                <td class="scent-tbl-guide">Spicy</td>
                                <td class="scent-tbl-guide">Citrus</td>
                                <td class="scent-tbl-guide">Fruity</td>
                                <td class="scent-tbl-guide">Fresh</td>
                                <td class="scent-tbl-guide">Floral</td>
                            </tr>
                            <tr>
                                <td class="scent-tbl-guide"><div>Chic</div></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ 'Dot_Meadow.jpg' | asset_url | img_tag: 'Meadow', 'scent-tbl-dot', '70x70' }}
                                    {% comment %} {{ all_products['meadow-5'].images | first | img_url: '129x129' | img_tag }} {% endcomment %}
                                    <div class="scent-tbl-label">Meadow</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="scent-tbl-guide"><div>Calm</div></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ 'Dot_Isle.jpg' | asset_url | img_tag: 'Isle', 'scent-tbl-dot', '70x70' }}
                                    {% comment %} {{ all_products['isle-5'].images | first | img_url: '129x129' | img_tag }} {% endcomment %}
                                    <div class="scent-tbl-label">Isle</div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="scent-tbl-guide"><div>Happy</div></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ 'Dot_Coral.jpg' | asset_url | img_tag: 'Coral', 'scent-tbl-dot', '70x70' }}
                                    {% comment %} {{ all_products['coral-5'].images | first | img_url: '129x129' | img_tag }} {% endcomment %}
                                    <div class="scent-tbl-label">Coral</div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="scent-tbl-guide"><div>Relaxed</div></td>
                                <td></td>
                                <td>
                                    {{ 'Dot_Capri.jpg' | asset_url | img_tag: 'Capri', 'scent-tbl-dot', '70x70' }}
                                    {% comment %} {{ all_products['capri-subscription'].images | first | img_url: '129x129' | img_tag }} {% endcomment %}
                                    <div class="scent-tbl-label">Capri</div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="scent-tbl-guide"><div>Fierce</div></td>
                                <td>
                                    {{ 'Dot_Arrow.jpg' | asset_url | img_tag: 'Arrow', 'scent-tbl-dot', '70x70' }}
                                    {% comment %} {{ all_products['arrow-5'].images | first | img_url: '129x129' | img_tag }} {% endcomment %}
                                    <div class="scent-tbl-label">Arrow</div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="scent-list">
                        <div class="scent-list-item">
                            <div>{{ 'Dot_Meadow.jpg' | asset_url | img_tag: 'Meadow', 'scent-list-dot', '70x70' }}</div>
                            <div>
                                <div class="scent-label">Meadow</div>
                                <div class="scent-subtitle">Floral &amp; Chic</div>
                            </div>
                        </div>
                        <div class="scent-list-item">
                            <div>{{ 'Dot_Isle.jpg' | asset_url | img_tag: 'Isle', 'scent-list-dot', '70x70' }}</div>
                            <div>
                                <div class="scent-label">Isle</div>
                                <div class="scent-subtitle">Fresh &amp; Calm</div>
                            </div>
                        </div>
                        <div class="scent-list-item">
                            <div>{{ 'Dot_Coral.jpg' | asset_url | img_tag: 'Coral', 'scent-list-dot', '70x70' }}</div>
                            <div>
                                <div class="scent-label">Coral</div>
                                <div class="scent-subtitle">Fruity &amp; Happy</div>
                            </div>
                        </div>
                        <div class="scent-list-item">
                            <div>{{ 'Dot_Capri.jpg' | asset_url | img_tag: 'Capri', 'scent-list-dot', '70x70' }}</div>
                            <div>
                                <div class="scent-label">Capri</div>
                                <div class="scent-subtitle">Relaxed &amp; Citrusy</div>
                            </div>
                        </div>
                        <div class="scent-list-item">
                            <div>{{ 'Dot_Arrow.jpg' | asset_url | img_tag: 'Arrow', 'scent-list-dot', '70x70' }}</div>
                            <div>
                                <div class="scent-label">Arrow</div>
                                <div class="scent-subtitle">Spicy &amp; Fierce</div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="scent-cht">
                        <div class="scent-cht-header">                          
                            <ul class="list-inline">
                                <li class="list-inline-item">Spicy</li><li class="list-inline-item">Citrus</li><li class="list-inline-item">Fruity</li><li class="list-inline-item">Fresh</li><li class="list-inline-item">Floral</li>
                            </ul>
                        </div>
                        <div class="scent-cht-body">
                            <div class="scent-cht-leftside scent-cht-body-inner">                              
                                <div class="list-inline">
                                    <div class="list-inline-item">Chic</div><div class="list-inline-item">Calm</div><div class="list-inline-item">Happy</div><div class="list-inline-item">Relaxed</div><div class="list-inline-item">Fierce</div>
                                </div>
                            </div>
                            <div class="scent-cht-rightside scent-cht-body-inner">
                                <div class="row rightside-inner-wrapper">
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-title">
                                          <p>{{ settings.title1 }}</p>
                                          {{ settings.description1 }}  
                                        </div>
                                        <div class="scent-product-image">
                                            {{ 'meadow.jpg'| asset_url | img_tag }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-title">                                          
                                          <p>{{ settings.title2 }}</p>
                                          {{ settings.description2 }}
                                        </div>
                                        <div class="scent-product-image">
                                            {{ 'coral.jpg' | asset_url | img_tag }}
                                        </div>                  
                                    </div>            
                                  </div>
                                  <div class="row rightside-inner-wrapper">
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-product-image">
                                            {{ 'isle.jpg' | asset_url | img_tag }}
                                        </div>
                                        <div class="scent-title">                                          
                                          <p>{{ settings.title3 }}</p>
                                          {{ settings.description3 }}
                                        </div>             
                                    </div>
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-product-image">
                                            {{ 'arrow.jpg' | asset_url | img_tag }}
                                        </div>
                                        <div class="scent-title">                                          
                                          <p>{{ settings.title4 }}</p>
                                          {{ settings.description4 }}
                                        </div>                
                                    </div>            
                                  </div>
                            </div>
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
    




    <!--   **********************we will miss u******************************* -->

    <!-- The Modal -->
    <div class="modal fade custom-modal cancellation" id="custom-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>We'll Miss You!</h5>
                    <h6>Your cancellation is complete.<br>Come back any time.</h6>
                    <div class="modal-list-wrapper">
                        <p class="list-title">Please tell us the reason.</p>
                        <ul class="modal-list">
                            <li class="modal-list-item">
                                <label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label>
                                <span class="modal-list-text">Don’t need to replenish</span></li>
                            <li class="modal-list-item"><label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label> <span class="modal-list-text">Scents were not a good match</span></li>
                            <li class="modal-list-item"><label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label> <span class="modal-list-text">Other</span></li>
                        </ul>
                    </div>
                    <p class="modal-submit"><a href="#">submit</a></p>

                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade custom-modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Can We Help?</h5>
                    <p>Do you need more time to play with your new scents? <br>
                        You can push back the next order shipment date. <br>
                        You will still be able to apply your $20 credit. 
                    </p>
                    <div class="calender-wrapper">
                        <label>Choose New Ship Date</label>
                        <div class="calendar"></div>
                    </div>
                    <div class="last-section">
                        <h5>No thanks! I want to cancel</h5>         
                    </div>
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div> 



<!-- /**********************************Choose a scent*********************************/ -->

<!-- <div class="modal fade choose-a-scent" id="choose-scent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>
                <div class="modal-body text-center">                  
                    <h2>choose-a-scent</h2>                    
                  <div class="choose-a-scent-inner">
                  
                    </div>
                </div>
            </div>
        </div>
    </div> -->



<style>

    .pignose-calendar .pignose-calendar-top,.pignose-calendar{box-shadow:none;max-width: 320px;border:none;background:#fafafa;}
    .pignose-calendar .pignose-calendar-top{padding:2px 0;}
    .pignose-calendar-top-date > span { display: inline-block !important;}
    .pignose-calendar .pignose-calendar-unit{height: 37px;}
    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-date{padding:0;}
    .pignose-calendar .pignose-calendar-unit a ,.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a{color: #000000;font-family: "Helvetica Neue";font-size: 12px;font-weight: 500;}
    .pignose-calendar-top-date {text-align: left !important; padding-left: 30px !important;}
    .pignose-calendar-top-nav.pignose-calendar-top-prev {position: absolute !important; right: 60px;}
    .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{background-color: #f7c5ca;box-shadow:none!important;;}
    .pignose-calendar .icon-arrow-left::before{background:url('')}

</style>


<script type="text/javascript">

    function onClickHandler(date, obj) {
        /**
         * @date is an array which be included dates(clicked date at first index)
         * @obj is an object which stored calendar interal data.
         * @obj.calendar is an element reference.
         * @obj.storage.activeDates is all toggled data, If you use toggle type calendar.
         * @obj.storage.events is all events associated to this date
         */

        var $calendar = obj.calendar;
        var $box = $calendar.parent().siblings('.box').show();
        var text = 'You choose date ';

        if (date[0] !== null) {
            text += date[0].format('YYYY-MM-DD');
        }

        if (date[0] !== null && date[1] !== null) {
            text += ' ~ ';
        } else if (date[0] === null && date[1] == null) {
            text += 'nothing';
        }

        if (date[1] !== null) {
            text += date[1].format('YYYY-MM-DD');
        }

        $box.text(text);
    }

    $('.calendar').pignoseCalendar({
        select: onClickHandler
    });

</script>