{% if product-thumbnail %}
  <div class="thumb_grd_product {% if products_per_row == "2" %}six columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == "3" %}four columns {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}three columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}">
{% else %}
  <div class="thumb_grd_product {% if products_per_row == "2" %}eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == "3" %}one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}">
{% endif %}

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  <a class="product-link" href="{{ product.url | within: collection }}">
    <div class="relative">
      <span class="product-grd-img">
        {% if products_per_row == "4" %}
        <img class="main_img" src="{{ 'loader.gif' | asset_url }}" data-src="{{ product.featured_image | product_img_url: 'large' }}" data-src-retina="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ alt_text | escape }}" />
        {% else %}
        <img class="main_img" src="{{ 'loader.gif' | asset_url }}" data-src="{{ product.featured_image | product_img_url: 'grande' }}" data-src-retina="{{ product.featured_image | product_img_url: '1024x1024' }}" alt="{{ alt_text | escape }}" />
        {% endif %}

        {% if settings.quick_shop_enabled %}
          {% unless product.tags contains "#shopnow" %}
          <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop ss-icon" data-gallery="product-{{ product.id }}-gallery">
            Quick View
          </span>
          {% endunless %}
        {% endif %}
      </span>
    </div>

    <div class="info">

      <div class="yotpo bottomLine"
        data-product-id="{{ product.id }}">
      </div>

      <span class="title"><span>{{ product.title }}</span>
        {% include 'swym-product-view', product: product %}
        <button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>
        </span>

      {% if settings.display_vendor_collection %}
        <span>{{ product.vendor }}</span>
      {% endif %}
      <span class="grid-sapretor-title" {% if product.metafields.product_color.color != blank %}style="background:{{ product.metafields.product_color.color }}"{% endif %}></span>
      {% if product.metafields.tag_p_grid.text != blank %}<span class="tag-text">{{ product.metafields.tag_p_grid.text | replace : ", ", " ‧ " }}</span>{% endif %}
      {% if settings.enable_shopify_collection_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
          <!-- <meta itemprop="price" content="<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{{ product.price_min | money_without_currency }}" /> -->

          {% if product.available %}
            {% if product.price_varies and product.price_min > 0 %}
              <small><em>{{ 'products.general.from' | t }}</em></small>
            {% endif %}
              {% if product.price_min > 0 %}
                <span><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price_2" style="display:none !important;"></span>{{ product.price_min | money }}</span>
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
          {% else %}
            <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
          {% if product.compare_at_price_max > product.price %}
            <span class="was_price">{{ product.compare_at_price_max | money }}</span>
          {% endif %}
        </span>
      {% endunless %}

      {% if product.tags contains "#shopnow" %}
        <form class="product_form no_bold_options">
          <input class="thumb_grd_product__shopnow action_button" type="button" value="Shop Now" />
        </form>
      {%- elsif product.tags contains "Preorder" -%}
      <form class="product_form no_bold_options no_ro_widget" method="post" action="/cart/add" data-productid="{{product.id}}">
        <div class="ro_widget no_ro_widget"></div>
        <input type="hidden" class="no_ro_widget" name="id" data-productid="{{product.id }}" value="{{ product.variants.first.id }}" />
        <input type="submit" value="pre-order" class="action_button add_to_cart" />
      </form>
      {% else %}
        <form class="product_form no_bold_options no_ro_widget" method="post" action="/cart/add" data-productid="{{product.id}}">
          <div class="ro_widget no_ro_widget"></div>
          <input type="hidden" class="no_ro_widget" name="id" data-productid="{{product.id }}" value="{{ product.variants.first.id }}" />
          <input type="submit" value="Add To Cart" class="action_button add_to_cart" />
        </form>
      {% endif %}
    </div>
    <!-- hide sales banner -->
    {% if false and settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
      <div class="sale_banner">{{ 'collections.general.sale' | t }}</div>
    {% endif %}

    {% if collection_handles contains 'new' %}
      <div class="new_banner">{{ 'collections.general.new' | t }}</div>
    {% endif %}
    {% if collection_handles contains 'coming-soon' %}
      <div class="new_banner">{{ 'collections.general.coming_soon' | t }}</div>
    {% endif %}
    {% if collection_handles contains 'pre-order' %}
      <div class="new_banner">{{ 'collections.general.pre_order' | t }}</div>
    {% endif %}
  </a>
  {% include 'collection-swatch' %}
</div>

{% if settings.quick_shop_enabled %}
  <div id="product-{{ product.id }}" class="modal product-{{ product.id }}">
    <div class="container section" style="width: inherit">

      <div class="eight columns" style="padding-left: 15px">
        {% include 'product-images' with 'modal' %}
      </div>

      <div class="six columns">
        <h3>{{ product.title }}</h3>

        <!-- Yotpo Star Rating -->
        <div class="yotpo bottomLine"
        style="display:inline-block;"
        data-product-id="{{ product.id }}"
        data-url="{{ shop.url }}{{ product.url }}"></div>


        {% if settings.display_vendor_collection %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price">
            <span class="sold_out">{% if product.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span class="current_price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
              {% if product.available %}
                {% if product.price > 0 %}
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price_3" style="display:none !important;"></span>{{ product.price | money }}
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              {% endif %}
            </span>
            <span class="was_price">
              {% if product.price < product.compare_at_price_max %}
                {{ product.compare_at_price | money }}
              {% endif %}
            </span>
          </p>

          {% include 'product-notify-me' %}
        {% endunless %}

        {% if settings.product_description_position == "top" %}
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}

            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>

          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', ''  }}

              <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
          <hr />
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form' %}
        {% endunless %}
        <style>
          button.swym-button.swym-quickview.swym-add-to-wishlist-view-product {max-width: 300px !important;}

          .swym-button.swym-quickview.swym-add-to-wishlist-view-product.swym-heart:after{position: relative;left: -180px;font-size:20px !important;}
          .swym-button.swym-quickview.swym-add-to-wishlist-view-product span {padding-left: 30px !important;font-family:'Montserrat';color: #EE9673 !important;font-size: 17px !important;font-weight:500;
          }
          .swym-button.swym-add-to-wishlist-view-product:after {color: #EE9673 !important;}
        </style>
		<button class="swym-button swym-quickview swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}">
          <span>Add to Wishlist</span></button>
        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>

          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}

              <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }} Details">{{ 'collections.general.view_product_details_html' | t }} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
