<section class="columns-section" {% if settings.pw_col_bg_color != blank %}style="background-color: {{ settings.pw_col_bg_color }};"{% endif %}>
  <div class="container">
    <div class="sixteen columns" id="featured_links">
      <div class="section clearfix" id="feature">
        <div class="section-header text-center">
          <h4 class="title center">OUR DIFFERENCE</h4>
        </div>

        <div class="sixteen columns">
          {%- assign column_width = 'four columns' -%}

          {% for i in (1..4) %}
          {% capture slide %}pw_col_image_{{ i }}{% endcapture %}
          {% capture slide_title %}pw_col_title_{{ i }}{% endcapture %}
          {% capture slide_alt %}pw_col_text_{{ i }}{% endcapture %}


          {% if settings[slide] != blank %}
          <div class="diff-icon column-item {{ column_width }} {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center">
            <div class="inner">
              {% if settings[slide] != blank %}
              <p>
                {{ settings[slide] | img_url: '480x480' | img_tag: 'feature-row__image' }}
              </p>
              {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
              {% endif %}

              <div class="column-content">
                {% if settings[slide_title] != blank %}
                <h3 class="h4">{{ settings[slide_title] }}</h3>
                <!--div class="feature_divider"></div-->
                {% endif %}

                {% if settings[slide_alt] != blank %}
                <div class="rte-setting">{{ settings[slide_alt] }}</div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>