{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}


<div itemtype="http://schema.org/ItemList" class="products products-flex-grid">
  {% for product in products limit: limit %}
    {%- include 'bold-product' with product, hide_action: 'skip' -%}
    {% if product.id == skip_product.id or skip == true %}
    {% assign product_found = true %}
    {% else %}
    {% if forloop.rindex0 == 0 and product_found == false and forloop.length !=   products.count and template != 'search' %}
    {% assign skip = true %}
    {% else %}
    {% include 'product-thumbnail-flex' with product-loop %}
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
