{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
{% if product.metafields && product.metafields.skylar && product.metafields.skylar.ignore_variant_image == 1 %}
{% assign featured_image = product.featured_image %}
{% endif %}
<!-- {{ featured_image }} -->

<div class="flexslider product_gallery product-{{ product.id }}-gallery {% if product-images == blank %}product_slider{% endif %} {% if settings.product_thumbs == false %}animated fadeInUp{% endif %}">
  <ul class="slides">
    {% for image in product.images %}
      <li data-thumb="{{ image | product_img_url: 'master' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign src = image.alt %}

          <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
            <iframe src="{{ src }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        {% else %}
<!--           <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
            <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ image | product_img_url: 'master' }}" data-src-retina="{{ image | product_img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
          </a> -->
        <a href="#"  title="{{ image.alt | escape }}">
            <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ image | product_img_url: 'master' }}" data-src-retina="{{ image | product_img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250" class="cloudzoom {% if featured_image.id == image.id %}featured_image{% endif %}" />
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
&nbsp;
 