{% if product.metafields.diff_icons != blank %}
<div class="sixteen columns text-center pro_ing">
  <div class="section-header text-center">
    <h2 class="title center">Featured Ingredients</h2>
    <hr class="title center">
  </div>

  <div class="icon_columns-flex">

    {% for field in product.metafields.diff_icons %}

    <div class="column-item-flex text-center">
      <div class="inner">
        <p style="margin: 0;">
          {{ field | last | img_tag }}
        </p>

        <div class="column-content">
          <h3 class="h4" style="padding: 0;">{{ field | first }}</h3>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}

<style>
  .icon_columns-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .column-item-flex {
    width: 25%;
    margin: 0;
    padding: 0 10px;
  }

  .column-item-flex img {
    margin: 0 auto;
    display: block;
    height: 120px;
  }

  @media screen and (max-width: 767px) {
    .column-item-flex {
      width: 50%;
    }
  }
</style>
