{% comment %}
{% if product.available %}
<form action="/cart/add" data-productid="{{product.id}}" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">
  {% if template == 'collection' %}
  <div class="ro_widget no_ro_widget"></div>
  {% endif %}
  {% if settings.display_inventory_left %}
  <div class="items_left">
    {% if product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 %}
    {% capture items_left_text %}
    {% if product.variants.first.inventory_quantity == 1 %}
    {{ 'products.product.items_left_count.one' | t }}
    {% else %}
    {{ 'products.product.items_left_count.other' | t }}
    {% endif %}
    {% endcapture %}

    <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
    {% endif %}
  </div>
  {% endif %}

  {% if product.options.size > 1 %}
  <div class="select">
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}" class="multi_select" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}>
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% elsif product.options.size == 1 and  product.variants.size > 1 or product.options[0] != "Title"  %}
  <div class="select">
    <label>{{ product.options[0] }}</label>
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}>
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% else %}
  <input type="hidden" name="id" data-productid="{{product.id }}" value="{{ product.variants.first.id }}" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}/>
  {% endif %}

  {% if settings.product_form_style == "swatches" and  product.variants.size > 1 or product.options[0] != "Title" %}
  <div class="swatch_options">
    {% for option in product.options %}
    {% include 'product-swatch' with option %}
    {% endfor %}
  </div>
  {% endif %}

  {% if settings.display_product_quantity %}
      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
  <div class="left quantity-box">
    <span class="minus">-</span>
    <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "deny" %}max="{{ product.variants.first.inventory_quantity }}"{% endif %} />
    <span class="plus">+</span>
  </div>
  {% endif %}
  <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
    {% if settings.cart_action == 'reload_page' %}
    <input type="hidden" name="return_to" value="back" />
    {% elsif settings.cart_action == 'redirect_checkout' %}
    <input type="hidden" name="return_to" value="/checkout" />
    {% endif %}

    {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
    <button type="submit" name="add" class="action_button add_to_cart" data-label="pre order"><span class="text">Pre-order</span></button>
  </div>

</form>

<a class="action_button--waitlist" id="waitlist-trigger"><img class="envelope" src="{{ 'envelope.png' | asset_url }}" alt="envelope" />JOIN WAITLIST</a>

{% if product.variants.size > 1 or product.options.size > 1 %}
<script type="text/javascript">
  // <![CDATA[
  $(function() {
    $product = $('.product-' + {{ product.id }});
                 new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product:  {%- include 'bold-product', output: 'json' -%}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });
  });
  // ]]>
</script>
{% endif %}
{% endif %}
{% endcomment %}
<p class="coming-soon">
  <h3>Coming Soon</h3>
</p>
