{% if product.available %}
<!-- <form action="/cart/add" data-productid="{{product.id}}" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">
  {% if product.available %}{% include 'subscription-product' %}{% endif %}
  {% if template == 'collection' %}
  <div class="ro_widget no_ro_widget"></div>
  {% endif %}
  {% if settings.display_inventory_left %}
  <div class="items_left">
    {% if product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 %}
    {% capture items_left_text %}
    {% if product.variants.first.inventory_quantity == 1 %}
    {{ 'products.product.items_left_count.one' | t }}
    {% else %}
    {{ 'products.product.items_left_count.other' | t }}
    {% endif %}
    {% endcapture %}

    <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
    {% endif %}
  </div>
  {% endif %}

  {% if product.options.size > 1 %}
  <div class="select">
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}" class="multi_select" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}>
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% elsif product.options.size == 1 and  product.variants.size > 1 or product.options[0] != "Title"  %}
  <div class="select">
    <label>{{ product.options[0] }}</label>
    <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}>
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  </div>
  {% else %}
  <input type="hidden" name="id" data-productid="{{product.id }}" value="{{ product.variants.first.id }}" {%- if template == 'collection'-%}class="no_ro_widget"{%- endif -%}/>
  {% endif %}

  {% if settings.product_form_style == "swatches" and  product.variants.size > 1 or product.options[0] != "Title" %}
  <div class="swatch_options">
    {% for option in product.options %}
    {% include 'product-swatch' with option %}
    {% endfor %}
  </div>
  {% endif %}

  {% if settings.display_product_quantity %}
      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
  <div class="left quantity-box">
    <span class="minus">-</span>
    <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "deny" %}max="{{ product.variants.first.inventory_quantity }}"{% endif %} />
    <span class="plus">+</span>
  </div>
  {% endif %}
  <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
    {% if settings.cart_action == 'reload_page' %}
    <input type="hidden" name="return_to" value="back" />
    {% elsif settings.cart_action == 'redirect_checkout' %}
    <input type="hidden" name="return_to" value="/checkout" />
    {% endif %}

    {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
    <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
<!-- bold-ro-liquid --><div class="bold_add_to_orders" style="display: inline-block;"></div><!-- bold-ro-liquid -->
  </div>

<!-- </form>  -->
	<!-- static section start -->
 			{% assign d = "now" | date: "%s" | date: "%B %02d" %}
			{% assign d1 = "now" | date: "%s" | date: "%02d" %}
<!--               {{ now | date: "%B" }}  -->
              <div class="product-description-single">
                <div class="first-product-wrapper">
                  {% comment %} <h5>Yes! Your Sample Palette will ship shortly. Get ready to play with your new scents!</h5> {% endcomment %}
                  {% comment %}<h5>Your <span class="text-capitalize">sample palette</span> ships today, {% case d1 %}{% when "01" or "11" or "21" or "31" %}{{ d }}st{% when "02" or "22" %}{{ d }}nd{% when "03" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}</h5>{% endcomment %}
                  <span class="hide-next-hr"></span>
                	{{ product.description }}
                </div>  
               <div class="second-product-wrapper">  
                <div class="col-sm-8 product-select-list">
                    <div id="sample-product-id" class="subscription-product-lists" data-sample-prodVarID="{{ product.variants[0].id }}">
                       <p class="arrow-product"  data-subsid="8102330138711" data-onetime-id='8102576488535' data-prodhandle='{{product.handle}}' data-varProdhandle='arrow-5'>
                            <label class="radio-wrapper">Spicy, 
                              <input class="radio-custm-button" type="radio" name="radio-subs" value="arrow" />
                              <span class="checkmark"></span>
                            </label>
                            <span>seductive, warm</span>
                       </p>
                       <p class="coral-product"  data-onetime-id="8102578290775" data-subsid='8102341050455' data-prodhandle='{{product.handle}}' data-varProdhandle='coral-5'>
                            <label class="radio-wrapper">Fruity, 
                                <input class="radio-custm-button" type="radio" name="radio-subs" value="coral"/>
                                <span class="checkmark"></span>
                            </label>
                            <span>flirty, fun</span>
                       </p>
                       <p class="isle-product"  data-onetime-id="8102578421847" data-subsid='8102386204759' data-prodhandle='{{product.handle}}' data-varProdhandle='isle-5'>
                           <label class="radio-wrapper">Fresh, 
                              <input class="radio-custm-button" checked type="radio" name="radio-subs" value="isle"/>
                              <span class="checkmark"></span>
                           </label>
                           <span>clean, dewy</span>
                       </p>
                       <p class="meadow-product"  data-onetime-id="8102579404887" data-subsid='8102559449175' data-prodhandle='{{product.handle}}' data-varProdhandle='meadow-5'>
                           <label class="radio-wrapper">Floral, 
                              <input class="radio-custm-button" type="radio" name="radio-subs" value="meadow"/>
                              <span class="checkmark"></span>
                           </label>
                           <span>chic, beautiful</span>
                       </p>
                       <p class="capri-product"  data-onetime-id="12176317415511" data-subsid='12180373471319' data-prodhandle='{{product.handle}}' data-varProdhandle='capri-5'>
                           <label class="radio-wrapper">Zesty, 
                              <input class="radio-custm-button" type="radio" name="radio-subs" value="capri"/>
                              <span class="checkmark"></span>
                           </label>
                           <span>sparkling, sweet</span>
                       </p>
                    </div>
                  </div>
<!--                   <div class="col-sm-4 text-center product-img-wrap">
                    <img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/scent-product3.png?1079996438166949973" class="img-product-feature" alt="" width="94" height="94">
                  </div> -->
                </div>
                <div class="text-center view-scent-wrap">
<!--                   <a href="#" class="view-scent" data-toggle="modal" data-target="#scent-chart">View scent guide</a> -->
                  <div class="text-center next-wrap">
                   <a href="#" class="add-to-cart-btn btn next-btn event-pointer action_button" id="add-to-cart-button" >Next</a>
                  </div>
                </div>
              </div>
              <!-- static section end -->
<!-- <div id="sample-product-id" class="subscription-product-lists" data-sample-prodVarID="{{ product.variants[0].id }}">
  {% for product in collections.subscription.products %}
  {% if product.type == "subscription" %}
  <p>

    <label class="radio-wrapper">One
                         <input type="radio" checked="checked" name="choose_subscription" value="{{product.title}}"/>
    {{product.title}}
                        <span class="checkmark"></span>
                      </label>
    <select name="subscription-variants">
    {% for  v in product.variants %}
      <option value="{{ v.id }}">{{ v.title }}</option>
    {% endfor %}
    </select>
  </p>
  {% endif %}
{% endfor %}
  <a href="#" class="add-to-cart-btn btn next-btn" id="add-to-cart-button">Next</a>
</div> -->

{% if product.variants.size > 1 or product.options.size > 1 %}
<script type="text/javascript">
  // <![CDATA[
  $(function() {
    $product = $('.product-' + {{ product.id }});
                 new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product:  {%- include 'bold-product', output: 'json' -%}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });
  });
  // ]]>
</script>

{% endif %}
{% endif %}
<script>
  $(document).ready(function(){
    jQuery('.radio-custm-button').change(function(){
        if (jQuery(this).is(':checked')){
          if((jQuery(this).attr('value'))=='arrow'){
            $('.img-product-feature').attr('src', '//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/scent-product4.png?7391166915306356356');
          }
          if((jQuery(this).attr('value'))=='coral'){
            $('.img-product-feature').attr('src', '//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/scent-product2.png?7391166915306356356');
          }
          if((jQuery(this).attr('value'))=='isle'){
            $('.img-product-feature').attr('src', '//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/scent-product3.png?7391166915306356356');
          }
          if((jQuery(this).attr('value'))=='meadow'){
            $('.img-product-feature').attr('src', '//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/scent-product1.png?7391166915306356356');
          }
          if((jQuery(this).attr('value'))=='capri'){
            $('.img-product-feature').attr('src', '{{ all_products['capri-5'].images | first | img_url: '160x160' }}');
          }
        }
      });
  });
jQuery(document).on("click","#add-to-cart-button",function(e){  
  e.preventDefault();
  var sid = jQuery("#sample-product-id").attr("data-sample-prodVarID");
  var prodonetimeVarID = jQuery('input[name=radio-subs]:checked').parents('p').attr('data-onetime-id');
  var prodsubsVarID = jQuery('input[name=radio-subs]:checked').parents('p').attr('data-subsid');
  var prodVarhandle=jQuery('input[name=radio-subs]:checked').parents('p').attr('data-varProdhandle');
  var prodHandle=jQuery('input[name=radio-subs]:checked').parents('p').attr('data-prodhandle');
  var query="?sample="+sid+"&prodonetime-var-id="+prodonetimeVarID+"&prodsubs-var-id="+prodsubsVarID+"&prod-handle="+prodHandle+"&prod-var-handle="+prodVarhandle;
  var url="https://skylar.com/pages/step-2"+query;
  window.location=url;
//      addItemToCart(sid , 1);
});
</script>
<script>

// function addItemToCartSubs (variant_id, quantity, shipping_interval_frequency, shipping_interval_unit_type, subscription_id) {

//   data = {
//       "quantity": quantity,
//       "id": variant_id,
//       "properties[shipping_interval_frequency]": shipping_interval_frequency,
//  "properties[shipping_interval_unit_type]": shipping_interval_unit_type,
//  "properties[subscription_id]": subscription_id,
//     "properties[charge_delay]": 14,
//     "properties[recurring_price]": 100

//     }
//   jQuery.ajax({
//       type: 'POST',
//       url: '/cart/add.js',
//       data: data,
//       dataType: 'json',
//       success: function() {
//           window.location.href = '/cart';
//       }
//   });
// }
//   function addItemToCart (variant_id, quantity) {

//   data = {
//       "quantity": quantity,
//       "id": variant_id,

//     }


//   jQuery.ajax({
//       type: 'POST',
//       url: '/cart/add.js',
//       data: data,
//       dataType: 'json',
//       success: function() {
//           addItemToCartSubs(prodVarID , 1, "1", "Months", 109944);
//       }
//   });
// }



</script>
<style>
        .yotpo {display: none;}
        .related-products {display: none;}
        h4.title.center {display: none;}
</style>
<div id="shopify-section-mobile-start-button" class="shopify-section">
<div class="mobile-trial text-center next-wrap">
                   <a href="#" class="mobile-trial-btn add-to-cart-btn btn next-btn event-pointer action_button" id="add-to-cart-button" >Next</a>
                  </div>
  </div>