<style>
  .columns-section{
    padding-bottom: 0;
  }

  #featured_icons {
    padding: 20px 0 0;
  }

  .columns-section div.section {
    margin: 10px 0 0;
  }

#featured_icons .column-item {
    width: 25%;
    margin: 0;
    padding: 0 10px;
}

  #featured_icons img{

    margin: 0 auto;
    display: block;
    height: 120px;

  }


  #featured_icons .inner:hover img {

    opacity: 1;
  }

  #featured_icons h3 {
    font-size: 16px;
    margin: 0 0 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: black;
  }

  #featured_icons h2 {
    font-size: 35px;
    line-height: 45px;
  }

  #featured_icons .inner .column-content{
    position: relative;
  }

  #featured_icons .inner .rte-setting {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
  }

  #featured_icons .inner .rte-setting p{
    margin: 0;
  }

  #featured_icons .inner {
    padding: 0 10px;
    margin: 15px 0 0;
  }

  #featured_icons .inner:hover .rte-setting{
    opacity: 1;
    color: #000;
    top: 10px;
  }


  #featured_icons .inner:hover h3{

  }

  .feature-row__item img{
    width: 100%;
  }

  .left_icons .column-item{
    width: 50%;
  }

  .collection-content .feature-row__item {
    -webkit-flex: 0 1 70%;
    -moz-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
  }

  .collection-content .feature-row__item.feature-row__text {
    -webkit-flex: 0 1 30%;
    -moz-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }

  #featured_icons .diff-icon img{
   height: auto;
  }


  @media screen and (max-width: 1200px){
    #featured_icons h3{

    }

    #featured_icons .inner:hover .rte-setting{

    }
  }


  @media screen and (max-width: 992px){
    #featured_icons h3 {

    }

    .nav ul.menu.right li span{
      display: none;
    }

  }


  @media screen and (max-width: 767px){
    #featured_icons img{

    }

    #featured_icons h2 {
      font-size: 25px;
      line-height: 35px;
    }

    #featured_icons .column-item {
      width: 50%;
      margin: 0;
      padding: 0 10px 10px 10px;
    }
    #featured_icons .column-item:nth-child(2n+1) {
      clear: both;
    }
    #featured_icons h3 {
      font-size: 12px;
    }


    #featured_icons .inner .rte-setting, #featured_icons .inner:hover .rte-setting{
      color: #000;
    }

    #featured_icons .inner > p{
      margin: 0 0 5px;
    }

    #featured_icons .inner .rte-setting p {
      margin: 0;
      font-size: 12px;
    }

  }

</style>

{% if product.metafields.note_icons != blank or product.metafields.diff_icons != blank %}
<div class="section clearfix" id="featured_icons">



  {% if product.metafields.note_icons != blank %}
  <div class="sixteen columns text-center frg_icons">
    <div class="section-header text-center">
      <h4 class="title center">OUR DIFFERENCE</h4>
    </div>
    <div class="icon_columns left_icons">
      {%- assign grid_item_width = 'five columns' -%}
      {%- assign image_size = '345x' -%}
      {% case section.blocks.size %}
      {% when 1 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 3 %}
      {%- assign grid_item_width = 'one-third column' -%}
      {%- assign image_size = '530x' -%}
      {% endcase %}
      {% for field in product.metafields.note_icons %}
      {% if field.size == 5 %}
      {%- assign column_width = 'one-fifth column ' -%}
      {% else %}
      {%- assign column_width = grid_item_width -%}
      {% endif %}

      <div class="column-item five columns {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-center">
        <div class="inner">
          <p>
            {{ field | last | img_tag }}
          </p>

          <div class="column-content">
            <h3 class="h4">{{ field | first }}</h3>
          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  {% endif %}

  {% if product.metafields.diff_icons != blank %}
  <div class="sixteen columns text-center pro_ing">
    <div class="section-header text-center">
      <h4 class="title center">Featured Ingredients</h4>
    </div>

    <div class="icon_columns">
      {%- assign grid_item_width = 'sixteen columns' -%}
      {%- assign image_size = '345x' -%}
      {% case section.blocks.size %}
      {% when 1 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
      {% when 3 %}
      {%- assign grid_item_width = 'one-third column' -%}
      {%- assign image_size = '530x' -%}
      {% endcase %}
      {% for field in product.metafields.diff_icons %}
      {% if field.size == 5 %}
      {%- assign column_width = 'one-fifth column ' -%}
      {% else %}
      {%- assign column_width = grid_item_width -%}
      {% endif %}

      <div class="column-item five columns {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-center">
        <div class="inner">
          <p>
            {{ field | last | img_tag }}
          </p>

          <div class="column-content">
            <h3 class="h4">{{ field | first }}</h3>
          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  {% endif %}


</div>

{% endif %}

{% if product.metafields.blocks.image != blank %}
<div class="container">
  <div class="collection-content">
    <div class="feature-row">
      <div class="feature-row">

        <div class="feature-row__item">
          {{ product.metafields.blocks.image | img_tag }}
        </div>
        <div class="feature-row__item feature-row__text feature-row__text--right">
          <div class="rte-setting featured-row__subtext">
            <p>{{ product.metafields.blocks.text }}</p>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>
{% endif %}
