<div class="sixteen columns page clearfix">
  <div class="twelve columns offset-by-two referral-page">
    <h2 class="title">{{ block.settings.title }}</h2>
    {% if block.settings.stitle != blank %}
    <p>{{ block.settings.stitle }}</p>
    {% endif %}
    {% if block.settings.text != blank %}
    <div>{{ block.settings.text }}</div>
    {% endif %}
    <div class="refer-form">
      <a class="button swell-trigger" href="javascript:swellAPI.showRewardsPopup()">{{ block.settings.button_text }}</a>
    </div>
  </div>
</div>