<div class="sales-clock">
	<div class="days-wrapper">
		<div class="time-display" id="days"></div>
		<div class="time-label">Days</div>
	</div>
	<div class="time-seperator">:</div>
	<div class="hours-wrapper">
		<div class="time-display" id="hours"></div>
		<div class="time-label">Hours</div>
	</div>
	<div class="time-seperator">:</div>
	<div class="minutes-wrapper">
		<div class="time-display" id="minutes"></div>
		<div class="time-label">Mins</div>
	</div>
	<div class="time-seperator">:</div>
	<div class="seconds-wrapper">
		<div class="time-display" id="seconds"></div>
		<div class="time-label">Secs</div>
	</div>
</div>
<script>
var endTime = new Date("{{ settings.promo_sales_clock_end }}");
var currentTime = new Date('{{ "now" | date: "%B %d, %Y %H:%M:%S"}}');
var differenceTravel = endTime.getTime() - currentTime.getTime();
var seconds = Math.floor((differenceTravel) / (1000));
function timer() {
    var days        = Math.floor(seconds/24/60/60);
    var hoursLeft   = Math.floor((seconds) - (days*86400));
    var hours       = Math.floor(hoursLeft/3600);
    var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
    var minutes     = Math.floor(minutesLeft/60);
    var remainingSeconds = seconds % 60;
		if (days < 10) {
        days = "0" + days;
    }
		if (hours < 10) {
        hours = "0" + hours;
    }
		if (minutes < 10) {
        minutes = "0" + minutes;
    }
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }

    if (seconds <= 0) {
        clearInterval(countdownTimer);
				days = '00';
				hours = '00';
				minutes = '00';
				remainingSeconds = '00';
    } else {
        seconds--;
    }
		document.getElementById('days').innerHTML = days;
		document.getElementById('hours').innerHTML = hours;
		document.getElementById('minutes').innerHTML = minutes;
		document.getElementById('seconds').innerHTML = remainingSeconds;
}
var countdownTimer = setInterval('timer()', 1000);
</script>
