<div class="container feature-content">
  <div class="sixteen columns center">
	{% if block.settings.text != blank %}
    <a class="btn action_button" href="{{block.settings.link}}">
      {{block.settings.text}}
    </a>
    {% endif %}
  </div>
</div>