<div class="container width-full-img three-image">
  <div class="sixteen columns">

    <div class="column-item one-third column alpha center">
      <div class="inner overText">
        {{ block.settings.image1 | img_url: '640x640' | img_tag: 'feature-row__image' }}
      </div>
    </div>
    <div class="column-item one-third column center">
      <div class="inner overText">
        {{ block.settings.image2 | img_url: '640x640' | img_tag: 'feature-row__image' }}
      </div>
    </div>
    <div class="column-item one-third column omega center">
      <div class="inner overText">
        {{ block.settings.image3 | img_url: '640x640' | img_tag: 'feature-row__image' }}
      </div>
    </div>
 
  </div>
</div>


<style type="text/css">
  @media screen and (max-width: 767px){
	.three-image img {
		margin-bottom: 10px;
	}
  }
</style>