<div class="container">
  <div class="sixteen columns center">
	{% if block.settings.title != blank %}
    <h2 class="title">{{ block.settings.title }}</h2>
    {% endif %}

    {% if block.settings.image != blank %}
    <img class="center" src="{{ block.settings.image | img_url : "master" }}" />
    {% endif %}
  </div>
</div>