{% if product-thumbnail == nil %}
{% if product && 'capri|arrow|isle|coral|meadow' | split: '|' | contains: product.handle %}
<a type="submit" name="add" class="button action_button try_sample_button" data-label="Try A Sample" href="/pages/sample" style="display:none;"><span class="text">Try A Sample</span></a>
<script>if(window.location.hash === '#recommendation'){$('.try_sample_button').last().show();}</script>
{% endif %}
{% endif %}