.md-modal {
  position: fixed;
  left: 50%;
  width: 100%;
  max-width: 600px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%);
  @include media-query($small) {
    left: 16px;
    width: calc(100% - 32px);
    transform: translateX(0);
  }
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba($coal, 0.8);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  background: $white;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  padding: $space-md;
  text-align: center;
  #modal-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect .md-content {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.md-show.md-effect .md-content {
  transform: scale(1);
  opacity: 1;
}
