.banner-narrow {
  height: 250px;
  margin-bottom: $space-xl;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include media-query($small) {
    justify-content: flex-start;
  }
  background-size: cover;
  .banner__content {
    text-align: left;
    max-width: 363px;
    margin-right: 212px;
    @include media-query($small) {
      max-width: 203px;
      margin-right: 0;
      margin-left: 30px;
    }
    h1 {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: $space-md;
    }
    p {
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
    }
  }
}

.feature-banner-full {
  .content-container {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1084px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 36px;
      letter-spacing: 1.3px;
      text-align: center;
    }
    p {
      max-width: 519px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.25;
      text-align: center;
      margin-top: $space-md;
      margin-bottom: $space-lg;
    }
  }
}

.feature-banner-dual {
  .content-container {
    max-width: 1084px;
    margin: 0 auto;
    display: flex;
    margin-top: 48px;
    @include media-query($small) {
      padding: 0 10px;
      flex-direction: column;
    }
    > div {
      margin-bottom: 48px;
      text-align: center;
      width: calc(50% - 10px);
      @include media-query($small) {
        width: 100%;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
      h3 {
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: 0.3px;
        margin: $space-md 0;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: $space-lg;
      }

      .video-wrap,
      .image-wrap {
        overflow: hidden;
        height: 0px;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        img,
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .content-left {
      margin-right: 10px;
      @include media-query($small) {
        margin-right: 0;
      }
    }
    .content-right {
      margin-left: 10px;
      @include media-query($small) {
        margin-left: 0;
      }
    }
  }
}

// about page subnav
.story-promise-subnav {
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #ede2dc;
}

.story-promise-subnav li {
  padding: 20px 0;
  margin-left: 15px !important;
  margin-right: 15px !important;
  display: inline-block;
  margin-bottom: 0;
}

.story-promise-subnav li a {
  display: block;
  font-size: 0.875em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 30px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  width: 175px;
  white-space: nowrap;
}

.story-promise-subnav li a:hover,
.story-promise-subnav li a.active {
  background-color: #dcc5b9;
  border: none;
  border-radius: 2px;
}
@media screen and (max-width: 992px) {
  .story-promise-subnav li {
    padding: 10px 0;
  }
}

@media screen and (max-width: 690px) {
  .story-promise-subnav li {
    margin: 0 !important;
    width: 30%;
  }

  .story-promise-subnav li a {
    padding: 10px 0;
    width: auto;
    white-space: nowrap;
  }
}
// end about page subnav
