.feature-columns {
  .feature__image > img {
    height: 60px;
    margin: $space-lg auto;
  }
  .column-content {
    margin-bottom: $space-lg;
    h3 {
      margin: $space-sm 0;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .columns-section {
    padding-bottom: 0;
  }

  .columns-section div.section {
    margin: 10px 0 0;
  }

  #featured_links img {
    max-width: 60px;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
  }

  #featured_links .inner:hover img {
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
    opacity: 1;
  }

  #featured_links h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #4a4a4a;
  }

  #featured_links .inner .column-content {
    position: relative;
  }

  #featured_links .inner .rte-setting {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
  }

  #featured_links .inner .rte-setting p {
    margin: 0;
    color: #4a4a4a;
  }

  #featured_links .inner {
    padding: 0 10px;
    margin: 15px 0 0;
  }

  #featured_links .inner:hover .rte-setting {
    opacity: 1;
    color: #000;
    top: 10px;
  }

  #featured_links .inner:hover h3 {
    opacity: 0;
  }

  @media screen and (max-width: 1200px) {
    #featured_links h3 {
    }

    #featured_links .inner:hover .rte-setting {
    }
  }

  @media screen and (max-width: 992px) {
    #featured_links h3 {
    }

    .nav ul.menu.right li span {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .columns {
      display: flex;
      flex-wrap: wrap;
      .column-item.four.columns {
        float: none;
        width: 50%;
        .inner {
          width: 100%;
        }
      }
    }

    #featured_links img {
      max-width: 40px;
    }

    #featured_links .column-item {
      width: 50%;
      padding: 0 10px 10px 10px;
    }

    #featured_links h3 {
      font-size: 12px;
    }

    #featured_links .inner .rte-setting,
    #featured_links .inner:hover .rte-setting {
      color: #000;
    }

    #featured_links .inner > p {
      margin: 0 0 5px;
    }

    #featured_links .inner .rte-setting p {
      margin: 0;
      font-size: 12px;
    }
  }
}

// end feature-columns
.feature-columns-alt {
  .column-item {
    margin-top: $space-xl;
    .column-top {
      img {
        width: 90px;
        display: block;
        margin: auto;
      }
    }
    .column-content {
      h3 {
        margin: $space-md 0;
        font-size: 16px;
        line-height: 1.75;
        font-weight: 500;
        text-align: center;
      }
      p {
        font-size: 16px;
        line-height: 1.75;
        text-align: center;
      }
    }
  }
  .button-wrapper {
    margin: $space-lg auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .action_button {
      margin: auto;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 30px;
    }
  }
}

.review-section {
  padding-bottom: $space-lg;
  .feature-review__stars .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star {
    font-size: 30px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .review-text {
    font-size: 18px;
    line-height: 1.4;
    max-width: 700px;
    display: block;
    margin: $space-lg auto;
  }
  .slick-dots {
    button::before {
      font-size: 10px;
    }
  }
}
