.footer-section {
  .perks {
    background-color: #fbf9f8;
    color: black;
    padding: 54px;
    display: flex;
    justify-content: space-around;
    .perks__item {
      width: 33.33%;
    }
    .perks__image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .perks__content {
      margin-top: $space-md;
      text-align: center;
      h6 {
        color: black;
        font-size: 16px;
        font-weight: 600;
      }
      p {
        color: black;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
      }
    }
    @include media-query($small) {
      flex-direction: column;
      padding: 30px;
      .perks__item {
        margin: $space-md 0;
        width: 100%;
      }
    }
  }
  .footer-logo {
    display: flex;
    margin-top: 40px;
    img {
      height: 45px;
      max-width: 150px;
      margin-right: 15px;
    }
  }
}

.footer {
  font-family: sofia-pro;
  padding-bottom: 0;
  .footer_menu li {
    display: block;
    padding-right: 0;
    margin: 0 0 5px;
    a {
      text-transform: uppercase;
      font-size: 14px;
      color: black;
      font-weight: 300;
    }
  }
  .footer-bottom {
    background: black;
    p {
      line-height: 30px;
      margin: 0;
    }
    div.container {
      margin: 0 auto;
      padding: 10px 0;
    }
    .footer_menu {
      text-align: right;
      li {
        text-align: right;
        display: inline-block;
        margin: 0;
        &:not(:first-of-type) {
          padding-left: 20px;
        }
        a {
          color: white;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
      @include media-query($small) {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
    a {
      color: white;
    }
    .credits {
      color: white;
    }
  }
}
