#shopify-section-give_a_gift {
  .slick-prev {
    height: 40px;
    width: 40px;
  }
  .slick-next {
    height: 40px;
    width: 40px;
  }
  .was_price {
    display: block;
  }
  .videoBox {
    padding: 40px 0;
  }
  .medium {
    max-width: 960px;
    margin: 0 auto;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .holidayInspiration {
    padding: 80px 0 40px;
    .h1 {
      font-size: 44px;
      font-weight: 200;
    }
    img {
      width: 100%;
    }
  }
  .feature_divider {
    border: 1px solid;
    margin-bottom: 80px;
  }
  .giftsPack {
    padding: 80px 0;
    .h1 {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 500;
    }
  }
  .hero__container {
    max-width: 520px;
    transform: translate(0, -50%);
    left: inherit;
    padding: 0;
  }
  .scroll_btn {
    padding: 40px 0;
    max-width: 890px;
    margin: 0 auto;
    > .btn-goto {
      background: #4a4a4a;
      color: $white;
      padding: 25px 0;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
  .wrapper {
    padding: 0 80px;
  }
  .quotes_slider {
    padding-top: 40px;
    padding-bottom: 40px;
    .slick-prev::before {
      font-size: 40px;
    }
    .slick-next::before {
      font-size: 40px;
    }
  }
  .qtimg {
    margin-bottom: 20px;
  }
  .quoteItem {
    h3 {
      font-size: 30px;
      font-weight: 200;
      max-width: 800px;
      margin: 0 auto 25px;
    }
    h5 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500;
    }
  }
  @media (max-width: 767px) {
    .hero__container {
      right: 50% !important;
      transform: translate(50%, 0);
      top: 10%;
      &.mobcenter {
        top: 50%;
        transform: translate(50%, -50%);
      }
    }
    .wrapper {
      padding: 0;
    }
    .quotes_slider {
      padding-bottom: 30px;
      .quoteList {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    .holidayInspiration {
      padding: 40px 0 20px;
      .container {
        padding: 0 !important;
      }
      .h1 {
        font-size: 34px;
      }
    }
    .giftsPack {
      padding: 40px 0;
    }
    .feature_divider {
      margin-bottom: 20px;
    }
    .quoteItem h3 {
      font-size: 18px;
      line-height: 1.5;
    }
    .one-product .thumb_grd_product.thumbnail {
      margin: 0 auto !important;
    }
    #instafeed .insta-item {
      width: 50%;
      padding: 5px;
    }
  }
  @media (max-width: 480px) {
    .one-product .thumb_grd_product.thumbnail {
      width: 100% !important;
    }
  }
  .child-page .header {
    margin-bottom: 0;
  }
  #instafeed .insta-item {
    width: 25%;
    padding: 10px;
    &:nth-of-type(3n + 1) {
      clear: none;
    }
  }
  .withBroder > div {
    border-top: 1px solid #e8e6e7;
    border-bottom: 1px solid #e8e6e7;
    padding: 50px 0;
  }
  .one-product .columns {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .item__bg img {
    width: 100%;
  }
  .quoteList.slick-slider img {
    display: inline-block;
  }
}
