.dash-hudson-section-wrapper {
  margin-top: 40px;
}
.signup-section {
  margin: 40px auto;
  h2 {
    color: "{{ section.settings.newsletter-box-title-color }}";
    font-size: 36px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 1px;
    text-align: left;
  }
  p {
    margin-top: $space-lg;
    color: "{{ section.settings.newsletter-box-stitle-color }}";
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
  }
  .action_button svg {
    width: 30px;
  }
  form {
    max-width: 400px;
    margin: 10px auto;
    input.contact_email[type="email"] {
      padding-right: 42px;
      width: 100%;
      display: inline-block;
      border: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      margin: 0;
      border: 1px solid #eee;
    }
  }
  .newsletter {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
  }
}

.instagram-section-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.instagram-section-wrapper > div {
  height: 100%;
  width: 50%;
  padding: 10px;
  position: relative;
}

.instagram-section-wrapper > div.signup-section {
  -webkit-flex: 0 1 30%;
  -moz-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

.instagram-section-wrapper > div.insta-widget {
  -webkit-flex: 0 1 70%;
  -moz-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
}

#instafeed {
  display: table;
  width: 100%;
}

#instafeed img {
  vertical-align: middle;
  margin: 0;
}

#instafeed .insta-item,
#instafeed .il-item {
  width: 33.333333333%;
  height: 0;
  padding-bottom: 33.333333333%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0;
  float: left;
  img,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.instafeed-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 35px;
}

.instagram-section {
  position: relative;
}

form#contact_form.contact-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: table;
}

@media screen and (max-width: 992px) {
  .instagram-section-wrapper > div {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .instagram-section-wrapper > div {
    padding: 10px;
    display: inline-block;
    width: 100%;
  }
  .instagram-section-wrapper {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 639px) {
  .instagram-section .signup-section {
    padding: 30px 20px;
  }
}
