.slideshow-section {
  position: relative;
  overflow-x: hidden;
}
.slideshow-section.loading {
  min-height: 100vh;
  overflow: hidden;
  display: block;
}

.hero__container {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 30px;
}

h1.hero__title {
  line-height: 1.4;
}

.hero__container.loading {
  opacity: 0;
}
.slideshows.owl-carousel h1.hero__title {
  font-size: 35px;
}

.slideshow .action_button {
  min-width: 140px;
  max-height: 40px;
  line-height: 1.2;
}

@media screen and (max-width: 639px) {
  .slideshows.owl-carousel h1.hero__title {
    font-size: 110%;
  }
}
