.text-with-image .main {
  margin: 48px 0;
  display: flex;
  > div {
    width: 50%;
  }
  .text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .inner {
      max-width: 425px;
    }
    h2.title {
      font-size: 36px;
      line-height: 1.08;
      letter-spacing: 1px;
      font-weight: 500;
      text-align: left;
    }
    p {
      font-size: 16px;
      line-height: 1.75;
      text-align: left;
    }
  }
  @include media-query($small) {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
}
