.video-section {
  background-color: $off-white;
  padding: $space-xl 0;
  .video .vid-caption:before {
    content: "";
    display: block;
    background: url("{{ 'button-play.svg' | asset_url }}") no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    margin: 0 auto 0.59rem;
    z-index: 2;
    position: relative;
  }

  .video h2 {
    color: "{{ section.settings.title-color }}";
  }
  .video p.short-line {
    color: "{{ section.settings.stitle-color }}";
  }

  .video-wrap {
    max-width: 960px;
    margin: auto;
  }
  .video-text {
    color: #4a4a4a;
    text-align: center;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container--square {
    @include media-query($small) {
      padding-bottom: 100%;
    }
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-section .video {
  position: relative;
}

.video .vid-bg {
  display: block;
  width: 100%;
}

.video .vid-bg-mobile {
  display: none;
  width: 100%;
}

.video .shorter-line {
  z-index: 2;
  position: relative;
  margin: 0 0 0;
}

.video h2 {
  z-index: 2;
  position: relative;
  margin: 0 0 10px;
}

.video-section .video .vid-caption {
  color: #fff;
  display: block;
  margin-top: -60px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.video-section .video a:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 639px) {
  .video .vid-bg {
    display: none;
  }
  .video .vid-bg-mobile {
    display: block;
  }

  .video h2 {
    font-size: 110%;
  }
}
