@charset "UTF-8";

// colors
$white: #ffffff;
$off-white: #fafcfa;
$black: #000000;
$coal: #4a4a4a;
$coral: #ff7e54;
$coral-2: #ee9673;
$gray: #e2e2e2;

// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

/*================ THEME VARIABLES ================*/
/*============================================================================
Grid Breakpoints and Class Names
- Do not change the variable names
==============================================================================*/
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

$small: "small";
$medium: "medium";
$medium-down: "medium-down";
$medium-up: "medium-up";
$large: "large";
$large-down: "large-down";
$large-up: "large-up";
$widescreen: "widescreen";
