body.cart {
  #cart_form {
    .giftwrap_message {
      text-align: left;
    }
  }
}

// ajax cart
#cart {
  .mm-subtitle {
    display: flex;
  }
  .tabarnapp_discount_sentence {
    text-align: right;
    padding: 10px 15px;
    padding-bottom: 0;
  }
}
