.collection-shop_all {
  .collections {
    .section-header {
      margin-bottom: 48px;
    }
  }
}

// collection banners
.banner-narrow {
  .banner__content {
    &.shop-all {
      max-width: 443px;
      margin-right: 130px;
    }
  }
}

.video-section.collection-video-section {
  background-color: white;
  padding: 0;
  margin-top: 48px;
  .video.video-wrap {
    max-width: 1084px;
    background-color: black;
  }
}
