.index {
  .slideshow-section {
    .hero__container {
      margin: auto;
      min-width: 650px;
      position: absolute;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      .hero__title.home__title--csb {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 1.17;
        font-weight: 600;
      }
      .hero__body-copy.home__body-copy--csb {
        font-size: 20px;
      }
      .action_button {
        margin-top: $space-lg;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include media-query($small) {
        left: 50% !important;
        .hero__title.home__title--csb {
          font-size: 24px;
          line-height: 1.25;
          margin-bottom: 16px;
        }
        .hero__body-copy.home__body-copy--csb {
          margin-top: $space-sm;
          font-size: 16px;
        }
        .action_button {
          margin-top: $space-md;
        }
      }
    }
  }
}

.home-image-grid-section {
  .column-item a {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-size: cover;
    .inner {
      p {
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: 0.3px;
        margin-bottom: 29px;
      }
      .action_button {
        opacity: 0.75;
      }
    }
  }
}
