// contest
.page-contest {
  .banner-sprinkles {
    @include media-query($small) {
      margin-bottom: 0;
    }
    h1 {
      text-align: center;
      margin: 20px 0;
    }
    @include media-query($medium-down) {
      .banner__content {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-left: 32px;
        margin-right: auto;
        width: 100%;
        .logos img {
          height: 100px;
        }
        h1 {
          text-align: left;
        }
      }
    }
  }

  .content-wrapper {
    padding: 0 10px;
  }

  // end slideshow
  .contest-text {
    p {
      display: block;
      width: 1012px;
      max-width: 100%;
      margin: $space-lg auto;
      font-size: 25px;
      line-height: 1.52;
      letter-spacing: 1px;
      text-align: center;
    }
  }
  // end contest-vote-text
  .feature-columns-alt {
    .column-content p {
      margin: 0;
    }
    .action_button {
      width: auto;
      max-width: 220px;
    }
  }
  .contest-form {
    margin: auto;
    margin-bottom: 0;
    max-width: 600px;
    .required-field {
      font-size: 13px;
      color: #000;
      text-align: center;
    }
    .form-row {
      margin-bottom: 24px;
      &.requiredField {
        margin-top: 64px;
      }
      input,
      textarea {
        border-radius: 5px;
        border: 1px solid $gray;
        padding: 15px 12px;
        appearance: none;
        ::placeholder {
          font-size: 13px;
          color: #949599;
        }
      }
      input {
        height: 50px;
      }
      textarea {
        height: 150px;
        resize: none;
      }
      button {
        display: block;
        margin: 48px auto;
      }
    }
    .required {
      position: relative;
      &:before {
        content: "*";
        position: absolute;
        font-size: 13px;
        color: $coral-2;
        top: 10px;
        left: 7px;
        z-index: 1;
      }
    }
  }
  // end feature-columns-alt
  .disclaimer {
    max-width: 880px;
    margin: $space-lg auto;
    font-size: 13px;
    color: #000;
    a {
      color: #000;
      text-decoration: underline;
      text-decoration-color: #d2bb8e;
    }
  }
  .thank-you-modal {
    #modal-close {
      padding: 0;
      top: 10px;
      right: 10px;
      background-color: rgba($black, 0.3);
      width: 20px;
      height: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      float: right;
    }
    .md-modal {
      position: absolute;
    }
    .modal-image-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 250px;
      }
    }
    .text {
      max-width: 400px;
      margin: $space-lg auto;
      font-size: 16px;
      line-height: 1.75;
    }
    .action_button {
      margin: $space-lg 0;
    }
    #stay-in-touch {
      padding-bottom: 24px;
      input {
        margin: auto;
        border-radius: 4px !important;
        max-width: 380px;
        height: 46px;
      }
      .action_button {
        margin: $space-lg auto;
        max-width: 380px;
        width: 100%;
        height: 46px;
      }
    }
  }
  // end thank-you-modal
  #shopify-section-feature-columns-alt {
    .column-item {
      margin-bottom: 96px;
    }
  }

  .vote-choices {
    margin-top: $space-lg;
    margin-bottom: $space-xl;
    .column-item {
      cursor: pointer;
      @include media-query($medium-down) {
        padding-bottom: $space-xl;
      }
      .column-top img,
      .checkbox-wrapper img {
        margin: 40px auto;
        margin-bottom: 20px;
      }
      .column-top img {
        margin-top: 0;
      }
      .check-active {
        display: none;
      }
      .checkbox {
        width: 32px;
      }
      &.active {
        opacity: 1;
        .check-active {
          display: block;
        }
        .check-inactive {
          display: none;
        }
      }
    }
    .smells-like {
      input {
        margin: 30px 0;
      }
      p {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.32px;
        line-height: 23px;
        text-align: center;
        color: #000;
      }
    }
    .winner-quote {
      text-align: left;
      i {
        font-style: normal;
      }
    }
  }

  .hero__container {
    max-width: 100%;
    @include media-query($medium-down) {
      left: 50% !important;
    }
    .hero__title {
      margin-bottom: 24px;
    }
    .hero__body-copy {
      line-height: 1.75;
      width: 685px;
      max-width: 100%;
      p {
        font-size: 16px;
        margin: 0;
      }
    }
  }
  // end hero container
  .feature-columns-alt .action_button {
    display: none;
  }
  .contest-vote-form {
    .error {
      text-align: center;
      color: #ee9673;
      display: none;
    }
    .column-content {
      @include media-query($medium-down) {
        margin: 4px 0;
      }
      .winning-scent {
        margin-top: $space-md;
        h3 {
          font-size: 35px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .inspired-by {
          font-size: 18px;
        }
      }
      .winner-info {
        margin-top: $space-md;
        p {
          margin: 0;
        }
      }
    }
    .contest-form {
      margin-top: 96px;
      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          width: 48%;
          margin-bottom: 0;
        }
      }
      @include media-query($medium-down) {
        margin-top: $space-xl;
      }
    }
  }
  // end contest vote form
  .md-modal {
    .action_button {
      margin-top: 0;
    }
  }
}

// end contest

// Mothers day
.page-mothers-day {
  .banner-mothers-day {
    &.page-banner-top {
      margin-bottom: 0;
    }
    p {
      @include media-query($small) {
        max-width: 170px;
      }
    }
  }
  .banner-callout {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 400px;
      max-width: 100%;
    }
    p {
      margin: 0;
    }
  }
}

// philosophy
$philosophy-feature-bg: #fbf9f8;
$philosophu-block-box-shadow: #ede2dc;
$philosophy-feature-small-bg: #fbf9f8;
.page-philosophy {
  .philosophy_block_heading {
    padding-top: $space-lg;
    background-color: $philosophy-feature-bg;
    .section-header .title {
      margin-bottom: 0;
    }
  }
  .container.main.content {
    padding: 0 !important;
    width: 100%;
  }
  .page-content {
    @include media-query($small) {
      padding: $space-lg;
    }
  }
  .banner-narrow {
    margin-bottom: 0;
    .banner__content {
      margin: auto;
      display: flex;
      flex-flow: wrap;
      width: 100%;
      max-width: 1140px;
      @include media-query($small) {
        max-width: 100%;
        padding: 0 $space-lg;
        text-align: center;
      }
      h1 {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 16px;
        width: 100%;
      }
      p {
        max-width: 500px;
      }
    }
  }
  .page-content {
    margin: auto;
    max-width: 820px;
  }
  .philosophy-feature {
    > .columns {
      background-color: $philosophy-feature-bg;
    }
    .section-header {
      p {
        margin: auto;
        max-width: 763px;
        @include media-query($small) {
          padding: 0 32px;
          text-align: left;
          font-size: 16px;
        }
        a {
          border-bottom: 2px solid #d2bb8e;
        }
      }
    }
  }
  .feature {
    display: flex;
    flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: auto;
    max-width: 1140px;
    padding: 15px 15px 60px;
    .feature_item {
      display: flex;
      margin-top: 86px;
      padding: 0 30px;
      width: 33.333%;
      @include media-query($small) {
        margin-top: 50px;
        padding: 0 30px;
        width: 100%;
      }
      .feature_image {
        min-width: 50px;
        padding-top: 20px;
        img {
          @include media-query($small) {
            width: 30px;
          }
        }
      }
      .feature_content {
        h6 {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 26px;
        }
      }
    }
  }
  .philosophy-blocks__container {
    align-items: center;
    display: flex;
    max-width: 1140px;
    padding: 0 30px;
    margin: 40px auto;
    @include media-query($small) {
      flex-flow: wrap;
      padding: 0 10px;
    }
    .philosophy-row_image {
      width: 50%;
      @include media-query($small) {
        width: 100%;
      }
      &.desktop_image {
        @include media-query($small) {
          display: none;
        }
      }
      &.mobile_image {
        display: none;
        @include media-query($small) {
          display: block;
          order: 1;
          padding: 0;
          margin-bottom: $space-lg;
        }
      }
    }
    .philosophy-block__content {
      padding: 40px;
      width: 50%;
      max-width: 400px;
      display: block;
      margin: auto;
      @include media-query($small) {
        padding: 0;
        width: 100%;
        order: 2;
        padding: 0 22px;
      }
      h2 {
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
        @include media-query($small) {
          text-align: center;
        }
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
      }
    }
  }
  .philosophy-block__two {
    background-color: $philosophy-feature-bg;
    &:nth-of-type(3) {
      padding-bottom: 42px;
    }
  }
  .philosophy-block__two-container {
    display: flex;
    margin: auto;
    max-width: 1140px;
    padding: 50px 30px 0;
    @include media-query($small) {
      background-color: $philosophy-feature-small-bg;
      flex-flow: wrap;
      padding: 0 42px;
    }
    .philosophy-block__item {
      padding-bottom: 46px;
      width: 50%;
      @include media-query($small) {
        box-shadow: 0 2px 0 0 $philosophu-block-box-shadow;
        padding: 0;
        width: 100%;
      }
      &:first-child {
        margin-right: 30px;
        @include media-query($small) {
          margin: 0;
        }
      }
      &:last-child {
        margin-left: 30px;
        @include media-query($small) {
          margin: 0;
        }
      }
      h2 {
        font-size: 22px;
        font-weight: normal;
        line-height: 30px;
        @include media-query($small) {
          font-size: 16px;
          margin-top: 20px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        @include media-query($small) {
          display: none;
          margin-bottom: 40px;
          &.active {
            display: block;
          }
        }
      }
      .read__more {
        cursor: pointer;
        font-size: 16px;
        text-align: right;
        display: none;
        transition: all 0.4s;
        @include media-query($small) {
          display: block;
        }
        i {
          font-size: 40px;
          margin-left: 10px;
          vertical-align: middle;
        }
        &.active {
          span {
            display: none;
          }
          img {
            transform: rotate(180deg);
          }
        }
        img {
          @include media-query($small) {
            display: inline-block;
            vertical-align: middle;
            max-width: 23px;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .page-content.mobile-only {
    @include media-query($small) {
      font-size: 16px;
    }
  }
  .feature-row__image {
    @include media-query($small) {
      max-width: 375px;
      width: 100%;
    }
  }
}

.page-help .container.main.content {
  padding: 0 !important;
}

#shopify-section-contest-text {
  p {
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
  }
}

// About Us
.page-about {
  .banner-narrow {
    .banner__content {
      @include media-query($small) {
        max-width: 100%;
        margin-right: 0;
        margin-left: 30px;
        text-align: center;
        min-width: 100%;
        margin: 0;
        padding: 0 15px;
      }
    }
  }
}

// Step Up
.page-step-up {
  .banner-narrow {
    .banner__content {
      @include media-query($small) {
        max-width: 100%;
        margin-right: 0;
        margin-left: 30px;
        text-align: center;
        min-width: 100%;
        margin: 0;
        padding: 0 15px;
      }
    }
  }
}
