#product-page {
  width: 100%;
  @media screen and (min-width: 764px) {
    margin: 30px auto 0;
    .product_section,
    .yotpo-main-widget,
    .related-products {
      padding: 0 50px;
    }
  }
  .pro_ing {
    margin: $space-xl 0;
  }
  .action_button--waitlist {
    cursor: pointer;
    border: 1px solid $coal;
    height: 40px;
    min-width: 150px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 1.4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    color: $coal;
    .envelope {
      width: 22px;
      margin-right: $space-md;
    }
  }
  .feature-columns {
    background-color: white;
    .sixteen.columns {
      background-color: #fbf9f8;
      padding: $space-lg 0;
    }
  }
}

#waitlist-modal {
  .md-content {
    padding: $space-lg;
    .btn {
      padding: 0;
    }
    .form-row {
      margin: $space-lg 0;
    }
  }
}
