<div class="section-header text-center">
  <h2 class="title">{{ 'customer.register.title' | t }}</h2>
  <hr class="title">
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <br class="clear" />
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">

        {% form 'create_customer' %}
          {{ form.errors | default_errors }}
<div class='oxi-social-login'></div>

          <div id="first_name" class="clearfix large_form">
            <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
          </div>

          <div id="last_name" class="clearfix large_form">
            <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
          </div>

          <div id="email" class="clearfix large_form">
            <label for="email" class="login">{{ 'customer.register.email' | t }}</label>
            <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
          </div>

          <div id="password" class="clearfix large_form">
            <label for="password" class="login">{{ 'customer.register.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
          </div>

          <p class="fine-print">
            By pressing "Sign Up" you agree to our
            <a class="underline" href="https://skylar.com/pages/privacy-policy">privacy policy</a> and <a class="underline" href="https://skylar.com/pages/terms-of-use">terms of
            Use</a>.
          </p>

          <div class="action_bottom">
            <input class="btn action_button" type="submit" value="{{ 'customer.register.sign_up' | t }}" />
            <p class="right" style="padding-top: 8px;">
              {{ 'customer.register.returning_customer_label' | t }} {{ 'customer.register.sign_in_html' | t | customer_login_link }}
            </p>
          </div>

        {% endform %}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>
