<div class="section-header text-center">
  <h2 class="title">{{ 'customer.reset_password.title' | t }}</h2>
  <hr class="title">
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <br class="clear" />
    {% form 'reset_customer_password' %}
      <p class="center">
        <em>{{ 'customer.reset_password.subtext' | t: email: email }}</em>
      </p>

      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <p>
        <input class="btn action_button" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
      </p>
    {% endform %}
  </div>
</div>
