body {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
}

.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.mobile-only {
  display: none;
  @include media-query($medium-down) {
    display: block;
  }
}

.desktop-only {
  @include media-query($medium-down) {
    display: none;
  }
}

.content-container {
  max-width: 1200px;
}

#product-page .description,
.article-container .twelve,
.about_row_section,
.resp-tab-content,
.sub-hero .inner,
.faq-link-wrapper,
.view-scent-wrap,
.page-landing-new .yotpo-bottomline.pull-left.star-clickable {
  a:not(.action_button) {
    @include link-underline;
  }
}

a.underline {
  @include link-underline;
}

.fine-print {
  font-size: 12px;
}

#cart .action_button {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased !important;
}

.giftwrap_message {
  text-align: right;
  margin: 10px 20px 10px 0;
  label.giftwrap_label {
    display: inline;
    font-weight: normal;
    text-transform: none;
  }
}

.action_button {
  min-width: 150px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 1.4px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white !important;
  background-color: black !important;
}

.thumb_grd_product .action_button {
  width: 190px;
  max-width: 100%;
  letter-spacing: 0.5px;
  @include media-query($small) {
    margin: 0;
    border: 0;
    height: 36px;
    max-width: 190px;
    width: 100%;
    font-size: 13px;
    // HACK: fix weird artifact on iphones
    &.thumb_grd_product__shopnow {
      margin-top: 1px;
    }
  }
}

.tabarnapp_discount_sentence {
  font-weight: 300;
  em {
    color: $coral;
    font-style: normal;
  }
  @include media-query($small) {
    font-size: 12px;
  }
}

.promo_banner {
  position: static;
  p {
    margin: 0;
  }
  div.container {
    padding: 0;
  }
}

.sales-clock {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .time-display {
    font-size: 16px;
  }
  .time-label {
    font-size: 10px;
    text-transform: uppercase;
  }
  .time-seperator {
    font-size: 14px;
    margin: 0 12px;
  }
  @include media-query($small) {
    .time-display {
      font-size: 12px;
    }
    .time-seperator {
      font-size: 10px;
    }
  }
}

.header--mobile {
  display: none;
}

.container.main.content {
  width: 100%;
}

@include media-query($medium-down) {
  .header--mobile {
    display: flex;
    height: 64px;
    padding: 0 16px;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    text-align: center;
    opacity: 0.95;
    box-sizing: border-box;
    a {
      font-size: 32px;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        display: block;
        height: 80%;
      }
    }
    .cart-count-btn {
      font-size: 15px;
      font-weight: 300;
      margin-left: 4px;
    }
    .cart-icon {
      width: 20px;
      height: 20px;
    }
  }
  .header--desktop {
    display: none;
  }
}

// hide free shipping text
span#notie-confirm-text b {
  display: none;
}

.mobile-only {
  display: none;
}
@include media-query($medium-down) {
  .mobile-only {
    display: block;
  }
}

// modal forms
.form-feedback {
  display: none;
  margin: $space-xl 0;
}

// banners
.banner__content h1 {
  font-weight: 600;
}

// section header

.section-header {
  .h2size {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: $space-lg auto;
  }

  hr.title {
    width: 100px;
    height: 2px;
    display: block;
    margin: $space-lg auto;
    border: solid 1px $coal;
  }
}

// mobile side menu
.mm-menu#nav {
  margin-top: $space-xl;
}
