// yotpo
div.yotpo.bottomLine .pull-left {
  float: none;
  text-align: center;
}

.yotpo a.text-m {
  display: inline-block;
}

.yotpo-helpful {
  display: none !important;
}

.yotpo-pictures-gallery-title,
.yotpo-slider-title {
  color: black !important;
}

.thumbnail .yotpo-bottomline.pull-left.star-clickable > a {
  display: none;
}

div.yotpo-instagram {
  div.yotpo-header label.yotpo-user-name.pull-left.yotpo-instagram-username {
    color: $coal;
  }
  .yopto-main.yotpo-regular-box {
    font-family: "sofia-pro" !important;
  }
}

.yotpo-pictures-gallery-title {
  font-family: "sofia-pro" !important;
}

.yotpo-display-wrapper {
  margin-bottom: $space-lg !important;
}

.yotpo.yotpo-main-widget .form-element.name-input > label {
  visibility: hidden;
  position: relative;
  &:after {
    content: "NAME OR NICKNAME:";
    visibility: visible;
    display: block;
    position: absolute;
    top: 20px;
    width: 150px;
  }
}

.yotpo-stars-big {
  .yotpo-bottomline.pull-left.star-clickable {
    transform: scale(1.8);
    @include media-query($small) {
      transform: scale(1.5);
    }
    .text-m {
      display: block !important;
      margin-top: 20px;
      transform: scale(0.7);
    }
  }
}
