<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<!-- Start of Littledata-->
{% include 'littledataLayer' %}
<!-- End of Littledata -->
  <script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/IlXdRreW12t9yAWiPdmHuTgFz16RYHhu7cxrvaku/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
  <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {% endif %}

  <!-- Facebook OpenGraph -->
  <meta name="author" content="{{ shop.name }}">
  <meta property="og:url" content="https://skylar.com/pages/contest">
  <meta property="og:site_name" content="{{ shop.name }}">
  <meta property="og:title" content="Skylar">
  <meta property="og:description" content="What’s better than a signature scent? A signature scent created by YOU! Here’s your chance to win a $1,000 Skylar gift card and $1,000 to the charity of your choice! Submit your idea for the next Skylar scent at www.skylar.com/pages/contest. Enter by February 22, 2018.">
  <meta property="og:site_name" content="Skylar">
  <meta property="og:image" content="{{ 'ScentContest.jpg' | asset_url }}">
  <meta property="og:image:secure_url" content="{{ 'ScentContest.jpg' | asset_url }}">


  <!-- Twitter Card -->

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@skylarbody">
  <meta name="twitter:creator" content="@skylarbody">
  <meta name="twitter:title" content="Skylar Scent Contest">
  <meta name="twitter:description" content="Skylar Scent Search Contest - Submit your idea for the next Skylar scent and you could win a $1,000 Skylar gift card! Enter at www.skylar.com/pages/contest">
  <meta name="twitter:image" content="{{ 'ScentContest.jpg' | asset_url }}">


<!-- font -->
  <link rel="stylesheet" href="https://use.typekit.net/mlf2xgl.css">

  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bundle.css' | asset_url | stylesheet_tag }}
  {{ 'pignose.calendar.min.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}

  <!-- Custom Fonts -->
  {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' %}
  <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
  {% endif %}


  {% include 'social-meta-info' %}

  {% if collection.previous_product %}
  <link rel="prev" href="{{ collection.previous_product }}">
  {% endif %}
  {% if collection.next_product %}
  <link rel="next" href="{{ collection.next_product }}">
  {% endif %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  <link rel="canonical" href="{{ canonical_url }}" />

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  {% if template contains 'customer' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <script src="{{ 'app.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>
  <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
  <script src="{{ 'slick.js' | asset_url }}"></script>
  <script src="{{ 'custom.js' | asset_url }}"></script>
  {% if settings.product_slideshow_animation == 'zoom' %}{{ "cloudzoom.js" | asset_url | script_tag }}{% endif %}

  <!--[if lte IE 8]>
{{ 'ie.css' | asset_url | stylesheet_tag }}
{{ 'skrollr.ie.js' | asset_url | script_tag }}
<![endif]-->

<style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-PBJGK3M':true});</script>

  {{ content_for_header }}
  {%- include 'bold-ro-init' -%}
  {%- include 'bold-product' with product, hide_action: 'header' -%}

  {% include 'bold-common' %}

  {{ 'bold-ro.css' | asset_url | stylesheet_tag }}
  {{ 'bold-helper-functions.js' | asset_url | script_tag }}

<!--   <script>BOLD.recurring_orders.setSettings({loadOnDuplicateProductForms: true});</script> -->

<!-- compiled js by webpack -->
<script src="{{ 'bundle.min.js' | asset_url }}"></script>
<script src="{{ 'pignose.calendar.full.min.js' | asset_url }}"></script>
<script src="{{ 'cartfix.js' | asset_url }}"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- pinterest pixel -->
<script type="text/javascript">
!function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load','2615824931739');
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
src="https://ct.pinterest.com/v3/?tid=2615824931739&noscript=1" />
</noscript>
<!-- end pinterest pixel -->

<!-- Hits Analytics tracking code -->
{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <script type="text/javascript">
        function hitsReady() {
            if (typeof hits != 'undefined')
                hits('user','identify', {'id' : '{{ customer.id }}'});
            else
                setTimeout(hitsReady,500);
        }
        window.attachEvent ? window.attachEvent('onload', hitsReady) : window.addEventListener('load', hitsReady, false);
    </script>
  {% endif %}
{% endif %}
<!-- end of Hits Analytics code -->
<!--PROOF PIXEL--><script src='https://cdn.useproof.com/proof.js?acc=F27H3ydcCxaizq1tmmClIi65kga2' async></script><!--END PROOF PIXEL-->

<!-- Begin Talkable integration code -->
<script async src="https://d2jjzw81hqbuqv.cloudfront.net/integration/clients/skylar.min.js"></script>
<script>
  window._talkableq = window._talkableq || [];
  window._talkableq.unshift(['init', { site_id: 'skylar' }]);
  window._talkableq.push(['authenticate_customer', {
    email: '', // Optional, pass when available. Example: 'customer@example.com'
    first_name: '', // Optional, pass when available. Example: 'John'
    last_name: '' // Optional, pass when available. Example: 'Smith'
  }]);
  window._talkableq.push(['register_affiliate', {}]);
</script>
<!-- End Talkable integration code -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:931917,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
 </head>
{% if template contains "index" %}
{% assign feature_image = true %}
{% elsif template contains "collection" and settings.slideshow_collection_enabled %}
{% assign feature_image = true %}
{% elsif template contains "blog" and settings.slideshow_blog_enabled %}
{% assign feature_image = true %}
{% elsif template contains "article" and article.image and settings.slideshow_article_enabled %}
{% assign feature_image = true %}
{% elsif template contains "contact" and settings.slideshow_contact_enabled %}
{% assign feature_image = true %}
{% else %}
{% assign feature_image = false %}
{% endif %}
<body class="{% unless template == "index" %}child-page{% endunless %} {{ template | replace: '.', '-' | handle }} {% if feature_image %}feature_image{% endif %} clearfix">
  <div id="content_wrapper">
    <div>
      {% if settings.promo_text != blank %}
      <div class="promo_banner">
        <div class="container">
          <a href="https://skylar.com/products/love-notes-duo">
            {{ settings.promo_text }}
            {% if settings.promo_sales_clock %}
              {% include 'shappify-sales-clock' %}
            {% endif %}
          </a>
        </div>
      </div>
      {% endif %}
      {%- include 'mobile-menu' -%}
      <div class="hidden">
        <div id="nav">
          <ul>
            {% for link in linklists[settings.mobile_main_linklist].links %}
            {% if linklists[link.handle] == empty %}
            <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
            <li {% if link.active %}class="Selected"{% endif %}><span>{{ link.title }}</span>
              <ul>
                {% for link in linklists[link.handle].links %}
                {% if linklists[link.handle] == empty %}
                <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% else %}
                <li {% if link.active %}class="Selected"{% endif %}><span>{{ link.title }}</span>
                  <ul>
                    {% for link in linklists[link.handle].links %}
                    <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <li>
              <a href="/account">My Account</a>
            </li>
            <li>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
            {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
        <form action="/checkout" method="post" id="cart">
          <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
            <li class="mm-subtitle"><a class="continue ss-icon" href="#cart">{{ 'close.png' | asset_url | img_tag }}</a></li>
            {% if cart.item_count == 0 %}
            <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
            {% else %}
            {% for item in cart.items %}
            <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
              <p class="mm-counter">
                <span class="ss-icon minus">&#x002D;</span><input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /><span class="ss-icon plus">&#x002B;</span>
              </p>
              <a href="{{ item.url }}">
                {% if item.image %}
                <div class="cart_image">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                </div>
                {% endif %}
                <div class="item_title">{{ item.title }}</div>
                <strong class="price">{{ item.price | money }}</strong>
              </a>
            </li>
            {% endfor %}
            <li class="mm-label">
              <p class="mm-counter">{{ cart.total_price | money }}</p>
              <a href="/cart">
                <strong>{{ 'layout.general.subtotal' | t }}</strong>
              </a>
            </li>
            <li class="mm-subtitle clearfix">
              {% if settings.display_special_instructions %}
              <textarea id="note" name="note" rows="2" placeholder="Your gift message on a handwritten card" class="clearfix">{{ cart.note }}</textarea>
              {% endif %}
              {% if settings.display_tos_checkbox %}
              <p class="tos">
                <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                <label class="tos_label" for="sliding_agree">
                  {{ 'cart.general.agree_to_terms_html' | t }}
                </label>
              </p>
              {% endif %}
              {% if settings.display_add_giftwrap_checkbox %}
              <p class="giftwrap_message">
                <input type="checkbox" class="add_giftwrap_message" id="add_giftwrap_message"/>
                <label class="giftwrap_label" for="add_giftwrap_message">
                  {{ 'cart.general.giftwrap_message_html' | t }}
                </label>
              </p>
              {% endif %}
              <input type="submit" class="action_button right" name="checkout" value="{{ 'layout.general.checkout' | t }}" />
              <a href="javascript:void(0)" class="action_button edit_cart right">{{ 'layout.general.continue_shopping' | t }}</a>
            </li>
            {% endif %}
          </ul>
        </form>
         {% include 'cart-ajax' %}
      </div>
      <div class="header header--desktop {% if settings.fixed_header or template == "index" %}fixed-header{% else %}normal-header{% endif %}">
        <div class="container">
          <div class="three columns logo">
            <a href="{{ shop.url }}" title="{{ shop.name }}">
              {% if settings.use_logo %}
              <img src="{% if settings.use_logo_home and feature_image %}{{ 'logo_home.png' | asset_url }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}"  alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" {% if settings.use_logo_home %}data-src-home="{{ 'logo_home.png' | asset_url }}"{% endif %} />
              {% else %}
              {{ shop.name }}
              {% endif %}
            </a>
          </div>
          <div class="ten columns nav mobile_hidden menu_center ">
            <ul class="menu center">
              {% for link in linklists[settings.main_linklist].links %}
              {% if linklists[link.handle] == empty %}
              <li><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
              {% else %}
              {% assign count = 0 %}
              {% for link in linklists[link.handle].links %}
              {% capture count %}{{ count }}*{% endcapture %}
              {% if linklists[link.handle] != empty %}
              {% for link in linklists[link.handle].links %}
              {% capture count %}{{ count }}*{% endcapture %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}
              <li><a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}
                &nbsp;<span class="icon-down-arrow"></span></a>
                <div class="dropdown animated fadeIn {% if count.size > column_threshold %}dropdown-wide{% endif %}">
                  <div class="dropdown_links clearfix">
                    <ul>
                      {% assign count = 0 %}
                      {% assign split = false %}
                      {% for link in linklists[link.handle].links %}
                      {% capture count %}{{ count }}*{% endcapture %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% if linklists[link.handle] != empty %}
                      {% for link in linklists[link.handle].links %}
                      {% capture count %}{{ count }}*{% endcapture %}
                      <li>
                        <a class="sub-link" href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                      {% endfor %}
                      {% endif %}

                      {% if count.size > column_threshold and split == false %}
                      {% assign split = true %}
                    </ul>
                    <ul>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>


          <div class="three columns nav mobile_hidden">
            <ul class="menu right">

              {% for link in linklists.header-right.links %}
              {% if linklists[link.handle] == empty %}
              <li class="main-menu"><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
              {% else %}
              {% assign count = 0 %}
              {% for link in linklists[link.handle].links %}
              {% capture count %}{{ count }}*{% endcapture %}
              {% if linklists[link.handle] != empty %}
              {% for link in linklists[link.handle].links %}
              {% capture count %}{{ count }}*{% endcapture %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}

              <li class="main-menu"><a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}
                &nbsp;<span class="icon-down-arrow"></span></a>
                <div class="dropdown animated fadeIn {% if count.size > column_threshold %}dropdown-wide{% endif %}">
                  <div class="dropdown_links clearfix">
                    <ul>
                      {% assign count = 0 %}
                      {% assign split = false %}
                      {% for link in linklists[link.handle].links %}
                      {% capture count %}{{ count }}*{% endcapture %}
                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% if linklists[link.handle] != empty %}
                      {% for link in linklists[link.handle].links %}
                      {% capture count %}{{ count }}*{% endcapture %}
                      <li>
                        <a class="sub-link" href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                      {% endfor %}
                      {% endif %}
                      {% if count.size > column_threshold and split == false %}
                      {% assign split = true %}
                    </ul>
                    <ul>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
              {% if settings.show_multiple_currencies %}
              <li class="currencies">
                {% include 'currencies-switcher' %}
              </li>
              {% endif %}

               {% if settings.search_enabled %}
              <li class="search">
                <a href="/search" title="{{ 'general.search.title' | t }}" class="ico-search" id="search-toggle"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve"><g>	<path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
		s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
		C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
		s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                  <span>{{ 'general.search.title' | t }}</span>
                </a>
              </li>
              {% endif %}
              {% if shop.customer_accounts_enabled %}
              <li class="user">
                 {% if customer %}

                 	{% if customer.metafields.subscriptions.customer_string %}
                  		<a href="/account" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">
                  	{% else %}
                  		<a href="/products/sample" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">
                   {% endif %}
                {% else %}
                	<a href="/account" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">
                {% endif %}
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve">
<path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
	c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
	c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
	c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
	c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
	c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
	c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
	c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
	c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
	l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
	c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
	c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
	c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
	s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
	c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
	c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735
	c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167
	c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552
	c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01
	c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53
	c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233
	c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04
	c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816
	c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279
	c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313
	c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221
	c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131
	c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466
	c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545
	c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949
	l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083
	C42.677,47.979,42.57,48.054,42.459,48.132z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                  <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
              </li>
              {% endif %}

              <li class="cart">
                <a href="#cart" class="cart-button">
                  {{ 'cart.svg' | asset_url | img_tag: 'cart', 'cart-icon' }}
                  <span class="cart-count-btn">{% include 'cart-count' %}</span></a>
              </li>
            </ul>
          </div>

        </div>
      </div>


      {% unless feature_image %}
      <div class="{% unless template == 'collection' %}container{% endunless %} main content">
        {% endunless %}

        {% if template contains 'list-collections' %}
        {% include 'collection-listing' %}
        {% else %}
        {{ content_for_layout }}
        {% endif %}

      </div>

      {% section "footer" %}

    </div>
    {% if template contains "product" and settings.size_chart != blank %}
    <div id="size-chart">
      <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
      <div class="feature_divider"></div>
      {{ pages[settings.size_chart].content }}
    </div>
    {% endif %}
    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled and settings.blog_comment_count %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
    <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
    {% endif %}



  </div>

  {% include 'gift-message' %}
  {% include 'social-login' %}
  {% include 'mobile-footer' %}

  <script src="https://use.fontawesome.com/95fba4677a.js" async></script>


  {% comment %}
  {% include 'subscription-theme-footer' %}
  {% endcomment %}

<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->
{% include 'shopify-wishlist' %}

{% include 'swymSnippet' %}

</body>
</html>
