<head>
<!-- Start of Littledata-->
{% include 'littledataLayer' %}
<!-- End of Littledata -->
  {{content_for_header}}
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1143091729131744');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1143091729131744&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  <meta http-equiv="refresh" content="0; url=http://www.byrdie.com/hypoallergenic-perfumes-skyler" />
</head>

<body>
  {{content_for_layout}}
</body>
