<header class="banner-narrow page-banner-top banner-spring">
  <div class="banner__content">
    <h1>{{ section.settings.heading }}</h1>
  </div>
</header>

<style>

.banner__content h1 {
  text-align: center;
}

.banner-spring.banner-narrow .banner__content {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.page-banner-top {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .page-banner-top {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}
</style>

{% schema %}
{
  "name": "Spring Top Banner",
  "class": "page-banner-top-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    }
  ],
  "presets": [
  {
    "name": "Spring Top Banner",
    "category": "Page"
  }
  ]
}
{% endschema %}
