<div class="banner-callout" style="background-color: {{ section.settings.background_color }};">
    {{ section.settings.image | img_url: 'master' | img_tag }}
    <p>{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "Mothers Day Callout",
  "class": "page-banner-callout",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Text"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000"
    }
  ],
  "presets": [
  {
    "name": "Mothers Day Callout",
    "category": "Page"
  }
  ]
}
{% endschema %}
