<div class="content-container">
  <div class="content-left">
    <div class="image-wrap">
      <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="left image">
    </div>
    <h3>{{ section.settings.left_heading }}</h3>
    <p>{{ section.settings.left_subheading }}</p>
    <a class="action_button" href="{{ section.settings.left_button_url }}">{{ section.settings.left_button_text }}</a>
  </div>
  <div class="content-right">
    <div class="image-wrap">
      <img src="{{ section.settings.right_image | img_url: 'master' }}" alt="left image">
    </div>
    <h3>{{ section.settings.right_heading }}</h3>
    <p>{{ section.settings.right_subheading }}</p>
    <a class="action_button" href="{{ section.settings.right_button_url }}">{{ section.settings.right_button_text }}</a>
  </div>
</div>


{% schema %}
{
  "name": "Banner Dual Fine",
  "class": "feature-banner-dual",
  "settings": [
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "left_heading",
        "label": " Left Heading",
        "default": "Heading Left"
      },
      {
        "type": "text",
        "id": "left_subheading",
        "label": "Left Sub Heading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "left_button_text",
        "label": "Left Button Text",
        "default": "Text"
      },
      {
        "type": "text",
        "id": "left_button_url",
        "label": "Left Button Url",
        "default": "https://"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "right_heading",
        "label": " Left Heading",
        "default": "Heading Left"
      },
      {
        "type": "text",
        "id": "right_subheading",
        "label": "Left Sub Heading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "right_button_text",
        "label": "Left Button Text",
        "default": "Text"
      },
      {
        "type": "text",
        "id": "right_button_url",
        "label": "Left Button Url",
        "default": "https://"
      }
    ],
  "presets": [
    {
      "name": "Banner Dual Fine",
      "category": "Image"
    }
  ]
}
{% endschema %}
