<nav class="story-promise-subnav">
  <div class="sub-hero-container">
    {% for link in linklists['about'].links %}
    <li><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
  </div>
</nav>
<header class="banner-narrow page-banner-top banner-philosophy">
  <div class="banner__content">
    <h1>{{ section.settings.heading }}</h1>
    <div class="desktop-only">
      <p>{{ section.settings.body }}</p>
    </div>
  </div>
</header>

<style>
.page-banner-top {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .page-banner-top {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}
</style>

{% schema %}
{
  "name": "Philosophy Top Banner",
  "class": "page-banner-top-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    }
  ],
  "presets": [
  {
    "name": "Philosophy Top Banner",
    "category": "Page"
  }
  ]
}
{% endschema %}
