<header class="banner-narrow page-banner-top banner-sprinkles">
  <div class="banner__content">
    <div class="logos">
      <div class="desktop-only">
        <img src="{{ section.settings.desktop_logo | img_url: 'master' }}" alt="">
      </div>
      <div class="mobile-only">
        <img src="{{ section.settings.mobile_logo | img_url: 'master' }}" alt="">
      </div>
    </div>
    <h1>{{ section.settings.heading }}</h1>
    <div class="desktop-only">
      <p>{{ section.settings.body }}</p>
    </div>
  </div>
</header>

<style>
.page-banner-top {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .page-banner-top {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}
</style>

{% schema %}
{
  "name": "Sprinkles Top Banner",
  "class": "page-banner-top-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_logo",
      "label": "Desktop Logo"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Logo"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    }
  ],
  "presets": [
  {
    "name": "Philosophy Top Banner",
    "category": "Page"
  }
  ]
}
{% endschema %}
