<header class="banner-narrow page-banner-top banner-mothers-day">
  <div class="banner__content">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.body }}</p>
  </div>
</header>

<style>
.page-banner-top {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .page-banner-top {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}
</style>

{% schema %}
{
  "name": "Mothers Day Top Banner",
  "class": "page-banner-top-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    }
  ],
  "presets": [
  {
    "name": "Mothers Day Top Banner",
    "category": "Page"
  }
  ]
}
{% endschema %}
