{% for block in section.blocks %}
<section class="blog-hero collapse-both">
  {% if block.settings.sub_hero_image != blank %}
  <img class="desktop-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
  {% endif %}
  {% if block.settings.sub_hero_image_mobile != blank %}
    <img class="mobile-img" src="{{ block.settings.sub_hero_image_mobile | img_url : "master" }}" />
  {% elsif block.settings.sub_hero_image != blank %}
    <img class="mobile-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
  {% endif %}
  {% if block.settings.sub_hero_title != blank %}
  <div class="inner">
    <div class="inner-content">
    	<h2 class="title hero-header" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_title }}</h2>
      {% if block.settings.sub_hero_stitle != blank %}
    	<p class="hero-sheader" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_stitle }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if block.settings.blog_subtitle != blank %}
  <h3 class="blog-subtitle">{{ block.settings.blog_subtitle }}</h3>
  {% endif %}
</section>
{% endfor %}

{% schema %}
  {
    "name": "Blog Hero",
	"class": "index-section no-gutter",
    "settings": [],
    "blocks": [
      {
        "type": "hero_block",
        "name": "Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x392px recommended",
              "label": "Banner image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image_mobile",
              "info": "800x430px recommended",
              "label": "Mobile Banner image"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Hero Title",
              "default": "WE'VE GOT YOU COVERED."
            },
            {
              "type": "text",
              "id": "sub_hero_stitle",
              "label": "Hero Subtitle",
              "default": "Got a question or feedback for us? Shoot us a note at help@buyskylar.com."
            },
            {
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Hero Text color"
            },
			{
              "type": "text",
              "id": "blog_subtitle",
              "label": "Blog Subtitle"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .blog-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
  }

  .blog-hero .mobile-img {
    display: none;
  }

  .blog-hero .hero-header {
    font-size: 35px;
    line-height: 1.2;
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .blog-hero .hero-sheader {
    line-height: 1.2;
    color: white;
    letter-spacing: 0px;
    text-transform: normal;
    font-weight: 300;
}

  .blog-hero .inner {
    position: absolute;
    width: 100%;
	height: 100%;
    padding: 30px 0;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .blog-hero .hero-sheader > a {
	color: #fff;
    text-decoration: underline;
  }

  @media screen and (max-width: 639px){

   .blog-hero .mobile-img {
    	display: block;
  	}

   .blog-hero .desktop-img {
    	display: none;
  	}

    .blog-hero .hero-header {
      font-size: 110%;
    }

  }


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
