<header class="banner-narrow collection-banner">
  <div class="banner__content shop-all">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.body }}</p>
  </div>
</header>

<style>
.collection-banner {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
@media screen and (min-width: 768px) {
  .collection-banner {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}
</style>

{% schema %}
{
  "name": "Shop All Banner",
  "class": "collection-banner-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    }
  ],
  "presets": [
  {
    "name": "Shop All Banner",
    "category": "Collection"
  }
  ]
}
{% endschema %}
