{% if section.settings.slideshow_collection_enabled %}
<div id="slide-collection">
  <div class="bcg"
       data-bottom-top="background-position: 50% 0px;"
       data-top-bottom="background-position: 50% -200px;"
       data-anchor-target="#slide-collection">
    <div class="hsContainer">
      <div class="hsContent center">
        {% if section.settings.display_collection_header_title %}
        <div>
          <h1 class="headline" style="color:{{settings.banner_color}}">{{ collection.title }}</h1>
        </div>
        {% endif %}                
      </div>
    </div>
  </div>
</div>
<style>
  #slide-collection .bcg {
    background-image:url({{ 'slideshow_collection' | img_url: "2048x2048" }})
  }
</style>
<a name="pagecontent" id="pagecontent"></a>
{% endif %}

{% for block in section.blocks %}
  {% if block.type == 'hero_block' %}
	{% include "shop-hero" %}
  {% endif %}
{% endfor %}

{% paginate collection.products by settings.pagination_limit %}

{% if section.settings.display_collection_title %}
<div class="collection-header">
  <div class="sixteen columns collection-image">
    {% if collection.image %}
    	<img src="{{ collection.image | img_url: 'master' }}" />
    {% endif %}
    <div class="seven columns collection-title">
      <h1 class="title h2size" style="color: {{ section.settings.title_color }};">{{ collection.title }}</h1>
		<span class="seprator-title"></span>
      {% if collection.description != blank %}
      <div class="section clearfix collection_description featured-row__subtext" style="color: {{ section.settings.desc_color }};">    
        {{ collection.description }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


<div class="container collection-new-container">
  {% if section.settings.collection_breadcrumb or section.settings.collection_tags or section.settings.collection_sort %}
  <div class="section clearfix">
    <div class="sixteen columns breadcrumb">
      <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% if section.settings.collection_breadcrumb %}
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>       
        {% if current_tags %}
        {% for tag in current_tags %}
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
        {% endfor %}
        {% endif %}

        {% if paginate.pages != 0 %}      
        &nbsp;<span class="icon-right-arrow"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
        {% endif %}
      </div>

      {% if collection.handle != blank and collection.products_count > 0 %}
      {% if section.settings.collection_tags %}        
      <div class="four columns section_select {% unless section.settings.collection_sort %}offset-by-four omega{% endunless %}">
{%- for tag in collection.all_tags -%}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}
{%- else -%}{%- assign first_visible_index = forloop.index -%}{%- break -%}
{%- endif -%}
{%- endfor -%}
        {% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
{%- if forloop.index == first_visible_index -%}
        <label for="tag_filter" class="inline">{{ 'collections.sorting.filter' | t }}: </label> 
        <select name="tag_filter" id="tag_filter">
          <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
          {% endif %}          

          {% unless tag contains 'meta-related-collection-' %}
          <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
          {% endunless %}

          {% if forloop.last %}
        </select>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      {% if section.settings.collection_sort %}
      <div class="four columns section_select omega {% unless section.settings.collection_tags %}offset-by-four{% endunless %}">
        <label for="sort-by" class="inline">{{ 'collections.sorting.title' | t }}: </label> 
        <select id="sort-by">
          <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
          <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
          <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
          <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
          <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
          <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
          <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
        </select>
        <script type="text/javascript">
          // <![CDATA[  
          $('#sort-by')
          .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
               .bind('change', function() {
            Shopify.queryParams.sort_by = $(this).val();
            location.search = $.param(Shopify.queryParams);
          });
          // ]]>
        </script>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if section.settings.collection_sidebar %}
  {% include 'sidebar' %}
  {% endif %}
  <div class="{% if section.settings.collection_sidebar %}twelve columns{% else %}sixteen columns{% endif %} collection-products">



    {% if collection.products.size == 0 %}
    <div class="section clearfix">     
      <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
    </div>
    {% else %}
    {% assign products = collection.products %}
    {% assign products_per_row = section.settings.products_per_row %}
    {% include 'product-loop' with section.settings.collection_sidebar %}
    {% endif %}

    {% include 'pagination' with section.settings.collection_sidebar %}
  </div>
  {% endpaginate %}

</div>

<div class=" ">
  {% for block in section.blocks %}
  {% if block.type == 'section_block' %}
  <div class="collection-content" {% if block.settings.section-bg != blank %}style="background: {{block.settings.section-bg}};"{% endif %}>
    <div class="feature-row">
      {% capture image_layout %}
      <div class="feature-row__item">
        {% if block.settings.image != blank %}
        {{ block.settings.image | img_url: '2048x2048' | img_tag: block.settings.image.alt, 'feature-row__image' }}
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      {% endcapture %}

      <div class="feature-row">
        {% if block.settings.layout == 'left' %}
        {{ image_layout }}
        {% endif %}

        <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }} text-center">
          {% if block.settings.title != blank %}
          <h2 class="title">{{ block.settings.title | escape }}</h2>
          {% endif %}
          {% if block.settings.text != blank %}
          <div class="rte-setting featured-row__subtext">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <a href="{{ block.settings.button_link }}" class="btn action_button">
            {{ block.settings.button_label }}
          </a>
          {% endif %}
        </div>

        {% if block.settings.layout == 'right' %}
        {{ image_layout }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Collection page",
    "class": "index-section collection-page-section",
    "settings": [
      {
        "type": "color",
        "id": "title_color",
        "default": "#ffffff",
        "label": "Collection Title Color"
      },
      {
        "type": "color",
        "id": "desc_color",
        "default": "#ffffff",
        "label": "Collection Description Color"
      },
      {
        "type": "select",
        "id": "products_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "mobile_products_per_row",
        "label": "Products per row on mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "pagination_limit",
        "label": "Products per page",
        "options": [
          {
            "value": "24",
            "label": "24"
          },
          {
            "value": "36",
            "label": "36"
          },
          {
            "value": "48",
            "label": "48"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "align_height",
        "label": "Align height of product images"
      },
      {
        "type": "text",
        "id": "collection_height",
        "label": "Product image height (in pixels)"
      },
      {
        "type": "checkbox",
        "id": "collection_breadcrumb",
        "label": "Show breadcrumb links"
      },
      {
        "type": "checkbox",
        "id": "collection_tags",
        "label": "Enable filtering by product tag"
      },
      {
        "type": "checkbox",
        "id": "collection_sort",
        "label": "Enable collection sorting"
      },
      {
        "type": "checkbox",
        "id": "display_collection_title",
        "label": "Show collection title"
      },
      {
        "type": "checkbox",
        "id": "display_vendor_collection",
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "sale_banner_enabled",
        "label": "Show sale banners"
      },
      {
        "type": "checkbox",
        "id": "collection_swatches",
        "label": "Show color swatches ([?](http:\/\/support.outofthesandbox.com\/customer\/portal\/articles\/1912629-enabling-color-swatches-for-products))"
      },
      {
        "type": "checkbox",
        "id": "quick_shop_enabled",
        "label": "Enable quick view"
      },
      {
        "type": "checkbox",
        "id": "quick_shop_full_description",
        "label": "Show quick view full product description"
      },
      {
        "type": "text",
        "id": "description_words",
        "label": "Quick view description truncated words",
        "default": "30"
      },
      {
        "type": "header",
        "content": "Collection banner image"
      },
      {
        "type": "checkbox",
        "id": "slideshow_collection_enabled",
        "label": "Show banner image"
      },
      {
        "type": "image_picker",
        "id": "slideshow_collection",
        "label": "Banner image"
      },
      {
        "type": "text",
        "id": "image_collection_height",
        "label": "Section height",
        "default": "400"
      },
      {
        "type": "checkbox",
        "id": "display_collection_header_title",
        "label": "Show collection title"
      }
    ],
    "blocks": [
      {
        "type": "hero_block",
        "name": "Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x392px recommended",
              "label": "Banner image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image_mobile",
              "info": "800x430px recommended",
              "label": "Mobile Banner image"
            },
            {
              "type": "color",
              "id": "sub_hero_bgcolor",
              "label": "Background color"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Title",
              "default": "WE'VE GOT YOU COVERED."
            },
            {
              "type": "text",
              "id": "sub_hero_stitle",
              "label": "Subtitle",
              "default": "Got a question or feedback for us? Shoot us a note at help@buyskylar.com."
            },
            {
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Text color"
            }
        ]
      },
      {
        "type": "section_block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#ffffff",
            "label": "Section Background"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blocks",
        "category": "Block",
        "blocks": [
          {
            "type": "section_block"
          },
          {
            "type": "section_block"
          },
          {
            "type": "section_block"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

.collection-page-section .collection-header{
	width: 100%;
	display: inline-block;
}

    .feature-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.feature-row__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.feature-row__image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

  .collection-content .feature-row__text {
      padding: 20px;
  }

.collection-content .action_button {
    max-width: 200px;
	max-height: 40px;
	line-height: 1.2;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 768px){
  .feature-row__text--left {
      padding: 20px;
  }
  .feature-row__text--right {
      padding: 20px;
  }
  .featured-row__subtext {
      font-size: 15px;
  }


  .collection-content .feature-row__text {
      padding: 20px;
  }


   


}

@media screen and (max-width: 992px){
  .collection-content h2.title {
      font-size: 1.3rem;
      line-height: 2rem;
      margin: 0 auto 15px 0;
      text-transform: uppercase;
  }

  .collection-content .featured-row__subtext {
      font-size: 14px;
  }
  .collection-content .feature-row__text {
	padding: 20px;
  }
  .collection-content {
      padding: 0;
  }

  .collection-content .feature-row__text {
  		order: 2;
  }

  .collection-content .feature-row {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .collection-content .feature-row__image {
  		order: 1;
  }

  .collection-content .feature-row__item {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%;
      width: 100%;
      text-align: center;
  }

  .collection-content .action_button{
      max-width: 250px;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
