{% if section.settings.vimeo_id != blank %}
<div class="video video-wrap">
  <div class="embed-container embed-container--square">
    <iframe src='//player.vimeo.com/video/{{ section.settings.vimeo_id }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
{% endif %}

{% if section.settings.youtube_url != blank %}
<div class="video">
  <a class="venobox vbox-item" data-type="youtube" href="{{ section.settings.youtube_url }}">
  </a>
</div>
{% endif %}

<script>
$(document).ready(function() {
  $('.vbox-item').magnificPopup({
    disableOn: false,
    type: 'iframe',
    mainClass: 'mfp-fade',
    removalDelay: 160,
    preloader: false,

    fixedContentPos: false
  });
});
</script>


{% schema %}
{
  "name": "Home Fragrance Video",
  "class": "video-section collection-video-section",
  "settings": [
    {
      "type": "text",
      "id": "vimeo_id",
      "label": "Vimeo Video ID",
      "info": "The number that appears at the end of the video link",
      "default": "212807845"
    },
    {
      "type": "text",
      "id": "youtube_url",
      "label": "YouTube URL"
    }
  ],
  "presets": [
  {
    "name": "Home Fragrance Video",
    "category": "Video"
  }
  ]
}
{% endschema %}
