<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {% if section.settings.title != blank %}
    <!--  <div class="section-header text-center">
        <h2 class="title">{{ section.settings.title }}</h2>
        <hr class="title" />
      </div>-->
      {% endif %}

      <div class="sixteen columns vote-choices">
        {%- assign grid_item_width = 'four columns' -%}
        {%- assign image_size = '345x' -%}
        {% case section.blocks.size %}
        {% when 1 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
        {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
        {% when 3 %}
        {%- assign grid_item_width = 'one-third column' -%}
        {%- assign image_size = '530x' -%}
        {% endcase %}
        {% for block in section.blocks %}
        {% if section.blocks.size == 5 %}
        {%- assign column_width = 'one-fifth column ' -%}
        {% else %}
        {%- assign column_width = grid_item_width -%}
        {% endif %}

        <div class="column-item {{ column_width }} {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-target="#choice-{{ forloop.index }}">
          <div class="inner">
            <div class="column-top">
              {% if block.settings.image != blank %}
              {{ block.settings.image | img_url: '480x480' | img_tag: 'column__image' }}
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>

            <div class="column-content">
              <div class="smells-like">
                <div class="checkbox-wrapper">
                  <img class="check-active checkbox" src="{{ 'check_active.png' | asset_url }}" alt="check active">
                  <img class="check-inactive checkbox" src="{{ 'check_inactive.png' | asset_url }}" alt="check inactive">
                </div>
                <p>{{ block.settings.smells_like }}</p>
              </div>
              <div class="winner-quote">
                <i>{{ block.settings.winner_quote }}</i>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="form-section">
        <form id="contest-vote-form" class="contest-form">
          <div class="form-row requiredField">
            <p class="required-field">*required field</p>
          </div>

          <input type="text" name="optimus-prime" value="" style="display: none" />

          <div style="display: none">
            <input type="radio" name="VoteChoice" id="choice-1" value="choice-1">
            <input type="radio" name="VoteChoice" id="choice-2" value="choice-2">
            <input type="radio" name="VoteChoice" id="choice-3" value="choice-3">
          </div>

          <div class="form-row name">
            <input type="text" name="first-name" placeholder="First Name"/>
            <input type="text" name="last-name" placeholder="Last Name"/>
          </div>

          <div class="form-row required">
            <input type="email" required name="Email" placeholder="{{ section.settings.email }}"/>
          </div>
          <div class="form-row">
            <button type="submit" class="action_button">Vote</button>
          </div>
        </form>
        {% include 'contest-disclaimer' %}
      </div>
    </div>
  </div>
</div>

<style>
p.disclaimer {
  font-size: {{ section.settings.disclaimer_size }} !important;
}
</style>

{% if section.settings.bg-color %}
<style>
	.contest-vote-form {
		background-color: {{ section.settings.bg-color }};
	}
</style>
{% endif %}

{% schema %}
  {
    "name": "Contest Vote",
    "class": "index-section columns-section contest-vote-form no-gutter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "The Finalists"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#4a4a4a"
      },
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#f5e3e7"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "text",
        "id": "your_name",
        "label": "Your Name",
        "default": "Your Name"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email Address",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "disclaimer_size",
        "label": "Disclaimer Size",
        "default": "12px"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "smells_like",
            "label": "Smells Like",
            "default": "lemon"
          },
          {
            "type": "text",
            "id": "notes",
            "label": "Notes",
            "default": "Add a note"
          },
          {
            "type": "text",
            "id": "winner_quote",
            "label": "Winner Quote",
            "default": "Quote from winner"
          },
          {
            "type": "richtext",
            "id": "winner_info",
            "label": "Winner Info",
            "default": "<p>Winner Info</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contest Vote Form",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
