<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {% if section.settings.text != blank %}
      <p>{{ section.settings.text }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contest Text",
    "class": "contest-text no-gutter",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Text row"
      }
    ],
    "presets": [
      {
        "name": "Contest Vote Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
