<div class="form-section">
  <form id="contest-form" class="contest-form">
    <div class="form-row">
      <p class="required-field">*required field</p>
    </div>

    <input type="text" name="optimus-prime" value="" style="display: none" />
    
    <div class="form-row required">
      <textarea class="required" name="ScentDescription" placeholder="{{ section.settings.scent_description }}" required ></textarea>
    </div>

    <div class="form-row">
      <textarea name="WhatInspired" placeholder="{{ section.settings.what_inspired }}"></textarea>
    </div>

    <div class="form-row">
      <input type="text" name="ScentName" placeholder="{{ section.settings.scent_name }}"/>
    </div>

    <div class="form-row">
      <textarea name="WhatElse" placeholder="{{ section.settings.what_else }}"></textarea>
    </div>

    <div class="form-row required">
      <input type="text" required name="Name" placeholder="{{ section.settings.your_name }}"/>
    </div>

    <div class="form-row required">
      <input type="email" required name="Email" placeholder="{{ section.settings.email }}"/>
    </div>

    <div class="form-row">
      <input type="text" name="InstagramHandle" placeholder="{{ section.settings.instagram }}"/>
    </div>

    <div class="form-row">
      <button type="submit" id="submit-contest-form" class="action_button">Submit Idea</button>
    </div>
  </form>
  {% include 'contest-disclaimer' %}
</div>

<style>
p.disclaimer {
  font-size: {{ section.settings.disclaimer_size }} !important;
}
</style>

{% schema %}
{
  "name": "Contest Form",
  "class": "contest-form",
  "settings": [
  {
    "type": "text",
    "id": "scent_description",
    "label": "Scent Description",
    "default": "Scent Description"
  },
  {
    "type": "text",
    "id": "what_inspired",
    "label": "What Inspired You",
    "default": "What inspired you to think of this scent? Be specific! We love details."
  },
  {
    "type": "text",
    "id": "scent_name",
    "label": "Scent Name",
    "default": "Scent Name (e.g. Isle, Coral, Arrow, Meadow)"
  },
  {
    "type": "text",
    "id": "what_else",
    "label": "What Else",
    "default": "What new products would you like to see from Skylar?"
  },
  {
    "type": "text",
    "id": "your_name",
    "label": "Your Name",
    "default": "Your Name"
  },
  {
    "type": "text",
    "id": "email",
    "label": "Email Address",
    "default": "Email address"
  },
  {
    "type": "text",
    "id": "instagram",
    "label": "Instagram Handle",
    "default": "Instagram Handle"
  },
  {
    "type": "text",
    "id": "disclaimer_size",
    "label": "Disclaimer Size",
    "default": "12px"
  }
  ],
  "presets": [
  ]
}
{% endschema %}
