<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a6273f325d2630013b09a01&product=inline-share-buttons"></script>

<div class="md-modal md-effect">
  <div class="md-content">
    <div class="sprinkles-modal">
      <h3>Thanks for getting in touch!</h3>
      <a class="action_button" href="https://skylar.com/collections/shop-all">shop skylar</a>
    </div>
  </div>
</div>
<div class="md-overlay"></div>

<style media="screen">
.sprinkles-modal h3 {
  margin: 32px 0;
}

.sprinkles-modal .action_button {
  margin-bottom: 32px;
}
</style>

{% schema %}
{
  "name": "Thank You Modal",
  "class": "thank-you-modal",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Text</p>"
    }
  ],
  "presets": [
    {
      "name": "Thank You Modal",
      "category": "Modal"
    }
  ]
}
{% endschema %}
