<div class="cruelty-free landing-section">
<div class="feature__image banner-image-landing-section">
              {% if section.settings.image != blank %}
                {{ section.settings.image | img_url: "master" | img_tag: 'feature-row__image' }}
                {{ section.settings.image_mobile2 | img_url: "master" | img_tag: 'for_mobile' }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>

<div class="column-content">
              {% if section.settings.title != blank %}
                <h3>{{ section.settings.title }}</h3>
              {% endif %}
              {% if section.settings.text != blank %}
                <p>{{ section.settings.text }}</p>
              {% endif %}
            </div>
</div>
</a>

{% schema %}
  {
    "name": "Cruelty Free",
    "settings": [
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
{
             "type": "image_picker",
            "id": "image_mobile2",
            "info": "800x860 recommended",
            "label": "Image For Mobile"
          },
			{
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          }

		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
