
<div class="dash-hudson-section-wrapper" {% if section.settings.bg-color != blank %}style="background-color: {{ section.settings.bg-color }};"{% endif %}>

  <h2>{{ section.settings.section_title }}</h2>

  <script src="https://cdn.dashhudson.com/web/js/board-embed.js" async type="text/javascript" data-name="dhboard" data-id="3905507741" data-board-id="9012" show-header="0" data-row-size="3" data-row-limit="auto" data-gap-size="2" data-mobile-row-size="3" data-mobile-gap-size="2"></script>

</div>

<div class="signup-section">
  {% if section.settings.newsletter_box_title != blank %}<h2 class="title">{{ section.settings.newsletter_box_title }}</h2>{% endif %}
  {% if section.settings.newsletter_box_stitle != blank %}<p>{{ section.settings.newsletter_box_stitle }}</p>{% endif %}

  {% include 'newsletter' %}

</div>

{% schema %}
  {
    "name": "Dash Hudson & Newsletter",
    "class": "index-section instagram-section no-gutter",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "instagram-title-color",
        "label": "Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Newsletter Box"
      },
	  {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Shop Our Instagram"
      },
      {
        "type": "text",
        "id": "newsletter_box_title",
        "label": "Newsletter Box title",
        "default": "We smell good"
      },
      {
        "type": "color",
        "id": "newsletter-box-title-color",
        "label": "Text Color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "newsletter_box_stitle",
        "label": "Newsletter Box sub title",
        "default": "so don’t be afraid to stay in touch."
      },
      {
        "type": "color",
        "id": "newsletter-box-stitle-color",
        "label": "Text Color",
        "default": "#000"
      }

    ],
    "presets": [
      {
        "name": "Dash Hudson Feed",
        "category": "Social Media"
      }
    ]
  }
{% endschema %}
