  <div class="container">
    <div class="sixteen columns feature-row">
      {% capture image_layout %}
        <div class="feature-row__item">
          {% if section.settings.image != blank %}
            {{ section.settings.image | img_url: '2048x2048' | img_tag: section.settings.image.alt, 'feature-row__image' }}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% endcapture %}

      <div class="feature-row">
        {% if section.settings.layout == 'left' %}
          {{ image_layout }}
        {% endif %}

        <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
          {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="btn action_button">
              {{ section.settings.button_label }}
            </a>
          {% endif %}
        </div>

        {% if section.settings.layout == 'right' %}
          {{ image_layout }}
        {% endif %}
      </div>
    </div>
  </div>

<style>
  {% if section.settings.section-bg != ""%}
  .feature-row{
    background-color: {{ section.settings.section-bg }};
  }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Image with text",
    "class": "index-section feature-row-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "color",
        "id": "section-bg",
        "label": "Section Background"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.feature-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.feature-row__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.feature-row__image {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
  .feature-row__text--left {
      padding: 35px;
  }
  .feature-row__text--right {
      padding: 35px;
  }
  .featured-row__subtext {
      font-size: 1.125em;
  }
}

.feature-row__text {
    padding-top: 35px;
    padding-bottom: 35px;
}

@media screen and (max-width: 767px){
  .feature-row__text--left {
      padding: 25px;
  }
  .feature-row__text--right {
      padding: 25px;
  }

  .feature-row {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .feature-row__image {
  		order: 1;
  }

.feature-row__text {
  		order: 2;
  }

  .feature-row__item {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%;
  }
}

{% endstylesheet %}