<div class="diptych clearfix">

  {% for block in section.blocks %}

  <div class="diptych__container" {% if block.settings.bg-color != blank %}style="background-color: {{ block.settings.bg-color }};"{% endif %}>
    <figure class="diptych__figure">
      {% if block.settings.title != blank %}
      <h2 class="title diptych__title" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>{{ block.settings.title }}</h2>
      {% endif %}


      {% if block.settings.image %}
      {% if block.settings.image != blank %}
      {{ block.settings.image | img_url: '480x480' | img_tag: 'diptych__image' }}
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% endif %}

      {% if block.settings.text != blank %}
      <figcaption class="diptych__caption">
        <div class="diptych__body" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>
          {{ block.settings.text }}
        </div>
        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="diptych__cta" {% if block.settings.text-color != blank %}style="color: {{ block.settings.text-color }};"{% endif %}>
          {{ block.settings.button_label }}
        </a>
        {% endif %}
      </figcaption>
      {% endif %}


    </figure>
  </div>
  {% endfor %}

</div>


{% schema %}
  {
    "name": "Feature 2 boxes",
    "class": "index-section no-gutter",
    "settings": [
      	{
              "type": "select",
              "id": "layout",
              "label": "Layout",
              "default": "left",
              "options": [
                {
                  "value": "left",
                  "label": "Image on left"
                },
                {
                  "value": "right",
                  "label": "Image on right"
                }
              ]
            }
    ],
	"blocks": [
        {
          "type": "text_block",
          "name": "Column",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "color",
              "id": "bg-color",
              "label": "Box Background Color"
            },
            {
              "type": "color",
              "id": "text-color",
              "label": "Box Text Color"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Image with text"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature 2 boxes",
        "category": "Color Box"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.diptych__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 50%;
	padding: 30px;
}

.diptych__figure {
    margin: auto;
    text-align: center;
	max-width: 400px;
}

.diptych {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
	height: 70vh;
	-webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.diptych__container {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.diptych__container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    width: 100%;
}

.diptych__cta{
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: 0.14em;
    line-height: 1.6em;
    color: inherit;
    text-transform: uppercase;
    line-height: 1.6em;
    border-bottom: 1px solid;
    display: inline-block;
}

@media screen and (max-width: 767px){
.diptych__container {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    display: block ;
    width: 100%;
}

.diptych {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: 100%;
	display: block;
}

.feature-row__text {
    padding-top: 35px;
    padding-bottom: 35px;
}
}

{% endstylesheet %}