{%- assign grid_image_size = '900x900' -%}
{%- assign grid_image_size_short = '900x445' -%}
<div class="wrapper">
  <div class="right">
    {% for block in section.blocks %}
    {% if forloop.index == 1 %}
    <div class="box link-box top {% if block.settings.video != blank %}video-box{% endif %}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); ">
      <div class="box-wrapper number-{{forloop.index}} {{block.settings.align_content}}">
        {% if block.settings.image != blank and block.settings.video == blank %}
        {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
        {% elsif block.settings.video != blank %}
        <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
          <source src="{{ block.settings.video }}" type="video/mp4">
          Your browser doesn't support HTML5 video tag.
        </video>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="box-content">
          <a href="{{ block.settings.link }}">
            <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
          </a>
          {% if block.settings.link != blank %}
          <a class="action_button" href="{{ block.settings.link }}">
            {{ block.settings.link_label }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="bottom">

      {% for block in section.blocks %}
      {% if forloop.index == 2 %}
      <div class="box left number-{{forloop.index}} {% if block.settings.video != blank %}video-box{% endif %}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="box-wrapper {{block.settings.align_content}}">
          {% if block.settings.image != blank and block.settings.video == blank %}
          {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
          {% elsif block.settings.video != blank %}
          <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
            <source src="{{ block.settings.video }}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
          </video>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="box-content">
            <a href="{{ block.settings.link }}">
              <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
            </a>
            {% if block.settings.link != blank %}
            <a class="action_button" href="{{ block.settings.link }}">
              {{ block.settings.link_label }}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      {% for block in section.blocks %}
      {% if forloop.index == 3 %}
      <div class="box right number-{{forloop.index}} {% if block.settings.video != blank %}video-box{% endif %}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="box-wrapper {{block.settings.align_content}}">
          {% if block.settings.image != blank and block.settings.video == blank %}
          {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
          {% elsif block.settings.video != blank %}
          <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
            <source src="{{ block.settings.video }}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
          </video>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="box-content">
            <a href="{{ block.settings.link }}">
              <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
            </a>
            {% if block.settings.link != blank %}
            <a class="action_button" href="{{ block.settings.link }}">
              {{ block.settings.link_label }}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="left">

    <div class="top">

      {% for block in section.blocks %}
      {% if forloop.index == 4 %}
      <div class="box left number-{{forloop.index}} {% if block.settings.video != blank %}video-box{% endif %}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="box-wrapper {{block.settings.align_content}}">
          {% if block.settings.image != blank and block.settings.video == blank %}
          {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
          {% elsif block.settings.video != blank %}
          <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
            <source src="{{ block.settings.video }}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
          </video>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="box-content">
            <a href="{{ block.settings.link }}">
              <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
            </a>
            {% if block.settings.link != blank %}
            <a class="action_button" href="{{ block.settings.link }}">
              {{ block.settings.link_label }}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      {% for block in section.blocks %}
      {% if forloop.index == 5 %}
      <div class="box right number-{{forloop.index}} {% if block.settings.video != blank %}video-box{% endif %}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="box-wrapper {{block.settings.align_content}}">
          {% if block.settings.image != blank and block.settings.video == blank %}
          {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
          {% elsif block.settings.video != blank %}
          <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
            <source src="{{ block.settings.video }}" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
          </video>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="box-content">
            <a href="{{ block.settings.link }}">
              <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
            </a>
            {% if block.settings.link != blank %}
            <a class="action_button" href="{{ block.settings.link }}">
              {{ block.settings.link_label }}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>

    {% for block in section.blocks %}
    {% if forloop.index == 6 %}
    <div class="box link-box bottom" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <div class="box-wrapper number-{{forloop.index}} {{block.settings.align_content}}">
        {% if block.settings.image != blank and block.settings.video == blank %}
        {{ block.settings.image | img_url : grid_image_size, crop: "center" | img_tag }}
        {% elsif block.settings.video != blank %}
        <video class="video-box" loop="true" muted="true" autoplay="true" autostart="true" poster="">
          <source src="{{ block.settings.video }}" type="video/mp4">
          Your browser doesn't support HTML5 video tag.
        </video>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="box-content">
          <a href="{{ block.settings.link }}">
            <span style="color: {{ block.settings.title-color }};">{{ block.settings.title }}</span>
          </a>
          {% if block.settings.link != blank %}
          <a class="action_button" href="{{ block.settings.link }}">
            {{ block.settings.link_label }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
  </div>

{% schema %}
  {
    "name": "Image Grid",
    "class": "index-section image-grid-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image Grid"
      },
      {
        "type": "text",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#f5e3e7"
      }
    ],
    "blocks": [
      {
        "type": "image_box",
        "name": "Image box",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "video",
            "label": "Video Direct URL"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Title Color",
            "default": "#fff"
          },
          {
            "type": "text",
            "id": "link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Button Label"
          },
          {
            "type": "select",
            "id": "align_content",
            "label": "Content align",
            "default": "align_middle",
            "options": [
              {
                "value": "align_middle",
                "label": "Middle"
              },
              {
                "value": "align_bottom",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Grid",
        "category": "Image",
        "blocks": [
          {
            "type": "image_box"
          },
          {
            "type": "image_box"
          },
          {
            "type": "image_box"
          },
          {
            "type": "image_box"
          },
          {
            "type": "image_box"
          },
          {
            "type": "image_box"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.image-grid-section{
	padding: 35px 0 0;
}

.image-grid-section .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-grid-section .wrapper .left {
    width: 50%;
}

.image-grid-section .wrapper .right {
    width: 50%;
}

.image-grid-section .wrapper .left .top {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-grid-section .wrapper .box.link-box .shop-link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.image-grid-section .wrapper .box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
	position: relative;
}

.image-grid-section .wrapper .box .box-content {
    position: absolute;
   /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;*/
	-webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    top: 0%;
    left: 50%;
    z-index: 9;
    width: 100%;
    text-align: center;
    padding: 15px;
}
/*@media screen and (min-width: 639px){
  .image-grid-section .wrapper .box .box-wrapper.align_bottom .box-content {
      -webkit-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      top: auto;
      bottom: 0;
  }
}*/
.image-grid-section .wrapper .box img {
    width: 100%;
    vertical-align: middle;
}

.image-grid-section .wrapper .box-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.image-grid-section .wrapper .box-wrapper::before{
	content: "";
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
}

.image-grid-section .wrapper .box-wrapper:hover::before{
	opacity: 0.2
}

.image-grid-section .wrapper a img {
    position: relative;
    display: block;
    width: 100%;
    float: left;
}

.image-grid-section .wrapper .box-content span {
    z-index: 2;
    font-size: 1.5rem;
    line-height: 2.3rem;
    display: table;
    text-align: center;
    font-weight: 400;
    margin: 0 auto 10px;
    width: 100%;
    max-width: 400px;
}

/*.image-grid-section .wrapper .box.number-4 .box-content span,
.image-grid-section .wrapper .box.number-5 .box-content span {
	font-size: 1em;
}
*/
.image-grid-section .wrapper .box-content .action_button{
	width: 100%;
	max-width: 190px;
	max-height: 40px;
	line-height: 1.2;
	min-width: 150px;
}


.image-grid-section .wrapper .left .top .left {
    width: 50%;
}

.image-grid-section .wrapper .left .bottom {
    position: relative;
    width: 100%;
}

.image-grid-section .wrapper .left .top .right {
    width: 50%;
}

.image-grid-section .wrapper .right .top {
    position: relative;
    width: 100%;
}

.image-grid-section .wrapper .right .bottom {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-grid-section .wrapper .right .bottom .left {
    width: 50%;
}

.image-grid-section .wrapper .right .bottom .right {
    width: 50%;
}


@media screen and (max-width: 992px){

  .image-grid-section .wrapper .box-content span{
     font-size: 1rem;
    line-height: 1.3rem;
  }

  .image-grid-section .wrapper .box-content .action_button {
      width: 100%;
      max-width: 150px;
      min-width: 100px;
      font-size: 13px;
  }

}

@media screen and (max-width: 639px){
  .box.video-box{
      display: none;
  }

  .image-grid-section {
      padding: 15px 0;
  }

.image-grid-section .wrapper{
      display: inline-block;
  }

  .image-grid-section .wrapper .left {
      width: 100%;
  }

  .image-grid-section .wrapper .right {
      width: 100%;
  }

  .image-grid-section .wrapper .right .bottom,
  .image-grid-section .wrapper .left .top
  {
  	display: inline-block;
	width: 100%;
  }

  .image-grid-section .wrapper .right .bottom .left,
  .image-grid-section .wrapper .left .top .left{
      width: 100%;
  }

  .image-grid-section .wrapper .right .bottom .right,
  .image-grid-section .wrapper .left .top .right{
      width: 100%;
  }

}

@media screen and (max-width: 479px){

  

}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
