  <div class="container">
    <div class="sixteen columns feature-content">

      <div class="feature-content">
        <div class="feature-content__item feature-row__text feature-row__text--center">
          {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="btn action_button">
              {{ section.settings.button_label }}
            </a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

<style>
  {% if section.settings.section-bg != ""%}
  .feature-content-section{
    background-color: {{ section.settings.section-bg }};
  }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Feature Content",
    "class": "index-section feature-content-section",
    "settings": [
      {
        "type": "color",
        "id": "section-bg",
        "label": "Section Background"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Content title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Feature Content",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.feature-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.feature-content__item {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.feature-content .btn{
	width: 100%;
	max-width: 250px;
}

@media screen and (min-width: 768px){

}

.feature-content__text {
    padding-top: 35px;
    padding-bottom: 35px;
}

@media screen and (max-width: 767px){

}

{% endstylesheet %}