<div id="slide-2" class="slide">
  <div class="bcg"
       data-bottom-top="background-position: 50% 200px;"
       data-top-bottom="background-position: 50% -200px;"
       data-anchor-target="#slide-2"
       {% if section.settings.image != "" %}style="background-image: url({{ section.settings.image | img_url: "original" }});"{% endif %}>
    <div class="hsContainer">
      <div class="hsContent {{ section.settings.image_2_text_align }}">
        <div>
          <p class="headline" style="color:{{section.settings.banner_color}}">{{ section.settings.title }}</p>
          <p class="subtitle" style="color:{{section.settings.banner_color}}">{{ section.settings.image_2_subtitle }}</p>
          {% if section.settings.image_2_button_text != blank %}
          <a href="{{ section.settings.image_2_link }}" class="action_button">
            {{ section.settings.image_2_button_text }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with text parallax",
    "class": "index-section feature-row-section no-gutter",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "image_2_height",
        "label": "Section height (in pixels)",
        "default": "600"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "image_2_subtitle",
        "label": "Subheading"
      },
      {
        "type": "select",
        "id": "image_2_text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "image_2_button_text",
        "label": "Button text"
      },
      {
        "type": "text",
        "id": "image_2_link",
        "label": "Button link URL"
      }
    ],
    "presets": [
      {
        "name": "Image with text parallax",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.feature-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.feature-row__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.feature-row__image {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
  .feature-row__text--left {
      padding-left: 35px;
  }

  .featured-row__subtext {
      font-size: 1.125em;
  }
}

.feature-row__text {
    padding-top: 35px;
    padding-bottom: 35px;
}

@media screen and (max-width: 767px){
  .feature-row {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .feature-row__image {
  		order: 1;
  }

  .feature-row__item {
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 100%;
  }
}

{% endstylesheet %}
