<div class="featured_products">
  <div class="sixteen columns center homepage_content">

    {% if section.settings.title != blank %}
    <h2 class="title">{{ section.settings.title }}</h2>
    <hr class="title" />
    {% endif %}

    {% assign collection = '' %}
    {% assign products = collections[section.settings.page_collection].products %}
    {% assign products_per_row = section.settings.page_products_per_row %}
    {% include 'product-loop' %}
  </div>
</div>

<style>
  .featured_products h2, .featured_products h2 a{
    color: {{ section.settings.title-color }};
  }

</style>

{% schema %}
  {
    "name": "Feature Products",
    "class": "index-section feature-products-section no-gutter",
    "settings": [
      {
        "type": "paragraph",
        "content": "Show a collection of featured products in the standard column grid layout."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "Shop Now"
      },
      {
        "type": "color",
        "id": "title-color",
        "label": "Title Color",
        "default": "#4a4a4a"
      },
      {
        "type": "collection",
        "id": "page_collection",
        "label": "Product collection 1"
      },
      {
        "type": "select",
        "id": "page_products_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      }
	],
    "presets": [
      {
        "name": "Feature Products",
        "category": "Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.featured_products .add_to_cart,
.featured_products #cart_form .add_to_cart,
.featured_products form.product_form input.add_to_cart {
    width: 100%;
    margin-bottom: 0px;
    max-width: 190px;
}

.featured_products .products > div{
	margin-top: 20px;
	margin-bottom: 0;
}

.featured_products .products form {
    margin-bottom: 0;
}

@media(max-width: 639px) {
	.feature-products-section .featured_products {padding-top: 0px !important;}
	.feature-products-section .featured_products .homepage_content  {padding-top: 0px !important;padding-bottom: 10px;}
}
{% endstylesheet %}
