{% include 'compare-skylar' %}

{% if section.settings.vimeo_id != blank %}
<div class="video video-wrap">
  <div class="video-text">
    {% if section.settings.title %}<h2 class="title">{{ section.settings.title }}</h2>{% endif %}
    {% if section.settings.stitle %}
    <p class="shorter-line">
      {{ section.settings.stitle }}
    </p>
    {% endif %}
  </div>
  <div class="embed-container">
    <iframe src='//player.vimeo.com/video/{{ section.settings.vimeo_id }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
{% endif %}

{% if section.settings.youtube_url != blank %}
<div class="video">
  <a class="venobox vbox-item" data-type="youtube" href="{{ section.settings.youtube_url }}">
   {% if section.settings.title %}<h2 class="title">{{ section.settings.title }}</h2>{% endif %}
    {% if section.settings.stitle %}
    <p class="shorter-line">
      {{ section.settings.stitle }}
    </p>
    {% endif %}
  </a>
</div>
{% endif %}

<script>
  $(document).ready(function() {
	$('.vbox-item').magnificPopup({
		disableOn: false,
		type: 'iframe',
		mainClass: 'mfp-fade',
		removalDelay: 160,
		preloader: false,

		fixedContentPos: false
	});
});
</script>


{% schema %}
  {
    "name": "Feature Video",
    "class": "index-section video-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Smell good, fee good"
      },
      {
        "type": "color",
        "id": "title-color",
        "label": "Text Color",
        "default": "#4a4a4a"
      },
      {
        "type": "text",
        "id": "stitle",
        "label": "Sub Title",
        "default": "Learn more about the Skylar difference"
      },
      {
        "type": "color",
        "id": "stitle-color",
        "label": "Sub Title Color",
        "default": "#4a4a4a"
      },
      {
        "type": "text",
        "id": "vimeo_id",
        "label": "Vimeo Video ID",
		"info": "The number that appears at the end of the video link",
        "default": "212807845"
      },
	  {
        "type": "text",
        "id": "youtube_url",
        "label": "YouTube URL"
      }
    ],
    "presets": [
      {
        "name": "Feature Video",
        "category": "Video"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.video-section .video {
  position: relative;
}

.video .vid-bg {
	display: block;
	width: 100%;
}

.video .vid-bg-mobile {
	display: none;
	width: 100%;
}

.video .shorter-line {
    z-index: 2;
	position: relative;
	margin: 0 0 0;
}

.video h2 {
    z-index: 2;
    position: relative;
    margin: 0 0 10px;
}

.video-section .video .vid-caption {
  color: #fff;
  display: block;
  margin-top: -60px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.video-section .video a:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 639px){

  .video .vid-bg {
      display: none;
  }
  .video .vid-bg-mobile {
      display: block;
  }

  .video h2{
      font-size: 110%;
  }
}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
