<div class="container featured_products">
  <div class="sixteen columns center homepage_content clearfix">
    {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="title">{{ section.settings.title | escape }}</h2>
      <hr class="title" />
    </div>
    {% endif %}

    {% case section.settings.grid %}
    {% when '2' %}
    {%- assign grid_item_width = 'eight columns' -%}
    {%- assign image_size = '530x' -%}
    {% when '4' %}
    {%- assign grid_item_width = 'four columns' -%}
    {%- assign image_size = '250x' -%}
    {% when '8' %}
    {%- assign grid_item_width = 'four columns' -%}
    {%- assign image_size = '225x' -%}
    {% endcase %}

    <div class="collection-grid">
      <div class="featured_collections">
        {% for block in section.blocks limit: section.blocks.size %}
        {%- assign collection = collections[block.settings.collection] -%}
        <div class="{{grid_item_width}} {% cycle 'alpha', '', '', 'omega' %} thumbnail">
          {% unless collection_image_size %}
          {%- assign collection_image_size = '450x450' -%}
          {% endunless %}

          {% if collection.empty? %}
          {% comment %}add default state for collection block in theme editor{% endcomment %}
          {% assign collection_image_url = '' %}
          {% else %}
          {% if collection.image %}
          {% capture collection_image_url %}{{ collection | img_url: collection_image_size, crop: 'bottom' }}{% endcapture %}
          {% elsif collection.products.first %}
          {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, crop: 'bottom' }}{% endcapture %}
          {% endif %}
          {% endif %}
            <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
              <div class="collection-grid-item__overlay">
                {% if collection.empty? %}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ collection_image_url }}" data-src-retina="{{ collection_image_url }}" alt="{{ collection.title }}" />
                {% endif %}
              </div>
              <div class="collection-grid-item__title-wrapper">
                <h3 class="collection-grid-item__title">
                  {% if collection.empty? %}
                  Collection Title
                  {% else %}
                  {{ collection.title }}
                  {% endif %}
                </h3>
              </div>
            </a>
        </div>
        {% endfor %}
      </div>
    </div>

    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "settings": {
          "grid": "3"
        },
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.collection-grid-item__overlay {
    display: inline-block;
    overflow: hidden;
}

a.collection-grid-item__link img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    width: 100%;
}

a.collection-grid-item__link:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
{% endstylesheet %}
