<div class="content-container" style="background-image:url({{ section.settings.background_image | img_url: 'master' }});">
  <h3>{{ section.settings.heading }}</h3>
  <p>{{ section.settings.subheading }}</p>
  <a class="action_button" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
</div>


{% schema %}
{
  "name": "Feature Banner Full",
  "class": "feature-banner-full",
  "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Text"
      },
      {
        "type": "text",
        "id": "button_url",
        "label": "Button Url",
        "default": "https://"
      }
    ],
  "presets": [
    {
      "name": "Feature Banner Full",
      "category": "Image"
    }
  ]
}
{% endschema %}
