<div class="container">
  <div class="sixteen columns">
    {% if section.settings.title != blank %}
    <div class="section-header text-center"  style="width: 100%;">
      <h2 class="title">{{ section.settings.title }}</h2>
      <hr class="title">
    </div>
    {% endif %}
    {%- assign grid_item_width = 'four columns' -%}
    {%- assign image_size = '345x' -%}
    {% case section.blocks.size %}
    {% when 1 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
    {%- assign image_size = '530x' -%}
    {% when 2 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
    {%- assign image_size = '530x' -%}
    {% when 3 %}
    {%- assign grid_item_width = 'one-third column' -%}
    {%- assign image_size = '530x' -%}
    {% endcase %}

    {% for block in section.blocks %}
    {% if section.blocks.size == 5 %}
    {%- assign column_width = 'one-fifth column ' -%}
    {% else %}
    {%- assign column_width = grid_item_width -%}
    {% endif %}

    <div class="column-item {{ column_width }} {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
      <div class="inner">
        {% if block.settings.enable_image %}
        <div class="feature__image">
          {% if block.settings.image != blank %}
          {{ block.settings.image | img_url: '480x480' | img_tag: 'feature-row__image' }}
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        {% endif %}

        <div class="column-content">
          {% if block.settings.title != blank %}
          <h3>{{ block.settings.title }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
          <p>{{ block.settings.text }}</p>
          {% endif %}
        </div>

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="btn btn--secondary action_button">
          {{ block.settings.button_label }}
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if section.settings.bg-color %}
<style>
.feature-columns {
  background-color: {{ section.settings.bg-color }};
}

#featured_links h2{
  color: {{ section.settings.text-color }};
}
</style>
{% endif %}

{% schema %}
{
  "name": "Feature Columns",
  "class": "index-section feature-columns columns-section no-gutter",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Text columns with images"
  },
  {
    "type": "color",
    "id": "text-color",
    "label": "Text Color",
    "default": "#4a4a4a"
  },
  {
    "type": "color",
    "id": "bg-color",
    "label": "Background Color",
    "default": "#f5e3e7"
  },
  {
    "type": "select",
    "id": "align_text",
    "label": "Text alignment",
    "default": "left",
    "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "center",
      "label": "Centered"
    }
    ]
  }
  ],
  "blocks": [
  {
    "type": "text_block",
    "name": "Column",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "enable_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a title or tagline"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Text columns with images",
    "category": "Text",
    "blocks": [
    {
      "type": "text_block"
    },
    {
      "type": "text_block"
    },
    {
      "type": "text_block"
    },
    {
      "type": "text_block"
    },
    {
      "type": "text_block"
    }
    ]
  }
  ]
}
{% endschema %}

{% stylesheet %}
.columns-section{
  padding-bottom: 0;
}

.columns-section div.section {
  margin: 10px 0 0;
}

#featured_links .column-item{

}

#featured_links img{
  max-width: 60px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}


#featured_links .inner:hover img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  opacity: 1;
}

#featured_links h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #4A4A4A;
}

#featured_links .inner .column-content{
  position: relative;
}

#featured_links .inner .rte-setting {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}

#featured_links .inner .rte-setting p{
  margin: 0;
  color:#4a4a4a;
}

#featured_links .inner {
  padding: 0 10px;
  margin: 15px 0 0;
}

#featured_links .inner:hover .rte-setting{
  opacity: 1;
  color: #000;
  top: 10px;
}


#featured_links .inner:hover h3{
  opacity: 0;
}


@media screen and (max-width: 1200px){
  #featured_links h3{

  }

  #featured_links .inner:hover .rte-setting{

  }
}


@media screen and (max-width: 992px){
  #featured_links h3 {

  }

  .nav ul.menu.right li span{
    display: none;
  }

}


@media screen and (max-width: 767px){
  #featured_links img{
    max-width: 40px;
  }


  #featured_links .column-item {
    width: 50%;
    padding: 0 10px 10px 10px;
  }

  #featured_links h3 {
    font-size: 12px;
  }


  #featured_links .inner .rte-setting, #featured_links .inner:hover .rte-setting{
    color: #000;
  }

  #featured_links .inner > p{
    margin: 0 0 5px;
  }

  #featured_links .inner .rte-setting p {
    margin: 0;
    font-size: 12px;
  }

}

{% endstylesheet %}
