<div class="content-wrapper" data-scope="carousel">

  <div class="section-header text-center">
    <h2 class="title">{{ section.settings.title }}</h2>
    <hr class="title">
  </div>

  <div class="feature-review__stars">
    <div class="yotpo bottomLine yotpo-small">
      <span class="yotpo-display-wrapper" style="visibility: hidden;">
        <div class="standalone-bottomline">
          <div class="yotpo-bottomline pull-left  star-clickable">
            <span class="yotpo-stars">
              <span class="yotpo-icon yotpo-icon-star pull-left"></span>
              <span class="yotpo-icon yotpo-icon-star pull-left"></span>
              <span class="yotpo-icon yotpo-icon-star pull-left"></span>
              <span class="yotpo-icon yotpo-icon-star pull-left"></span>
              <span class="yotpo-icon yotpo-icon-star pull-left"></span>
            </span>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="carousel">
    {% for block in section.blocks %}
    <div class="quote">
      <p class="review-text">{{ block.settings.quote }}</p>
      <p class="reviewer">{{ block.settings.customer }}</p>
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Feature Review",
  "class": "review-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "quotes_block",
      "name": "Quotes",
      "settings": [
        {
          "type": "text",
          "id": "quote",
          "label": "Quote",
          "default": "customer quote"
        },
        {
          "type": "text",
          "id": "customer",
          "label": "Customer"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Feature Review",
    "category": "Feature"
  }
  ]
}
{% endschema %}
