{% include 'compare-skylar' %}
<div class="feature__image featured-in">
  {% if section.settings.image != blank %}
  {{ section.settings.image | img_url: 'master' | img_tag: 'feature-row__image' }}
  {% else %}
  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Featured In",
    "settings": [

	{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }

		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
