<div class="footer">

  {% unless page.handle == 'referral-program' or page.handle == 'quiz' or template contains 'blog' or template contains 'aricle' %}
  <div class="perks">
    <div class="perks__item">
      <div class="perks__image"><img src="{{ section.settings.gt_icon_1 | img_url: '32x32' }}" alt="" /></div>
      <div class="perks__content">
        <h6>{{ section.settings.gt_title_1 }}</h6>
        <p>{{ section.settings.gt_content_1 }}</p>
      </div>
    </div>

    <div class="perks__item">
      <div class="perks__image"><img src="{{ section.settings.gt_icon_2 | img_url: '32x32' }}" alt="" /></div>
      <div class="perks__content">
        <h6>{{ section.settings.gt_title_2 }}</h6>
        <p>{{ section.settings.gt_content_2 }}</p>
      </div>
    </div>
    <div class="perks__item">
      <div class="perks__image"><img src="{{ section.settings.gt_icon_3 | img_url: '32x32' }}" alt="" /></div>
      <div class="perks__content">
        <h6>{{ section.settings.gt_title_3 }}</h6>
        <p>{{ section.settings.gt_content_3 }}</p>
      </div>
    </div>
  </div>
  {% endunless %}
  <div class="container">
    <div class="one-third links-col column">
      {% if section.settings.footer_linklist_1 != blank %}
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_1].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>

    <div class="one-third links-col column">
      {% if section.settings.footer_linklist_1b != blank %}
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_1b].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="one-third column">
      <h6>{{ 'general.newsletter_form.description' | t }}</h6>
      {% include 'newsletter-footer' %}

      {% if settings.social_icons_footer %}
        <h6>{{ 'layout.general.social' | t }}</h6>
        <div class="footr-social_media">
          {% for block in section.blocks  %}
            {% if block.type == "social" %}
            <a href="{{ block.settings.social_link }}" title="{{ shop.name }} on Twitter" class="" rel="me" target="_blank">
              <img src="{{ block.settings.social_image | img_url: 'master' }}" />
            </a>
            {% endif %}
          {% endfor %}
          <span class="hashtag">#skylarbody</span>
        </div>
      {% endif %}

      <div class="footer-logo">
        <a id="bbblink" class="sehzbas" href="https://www.bbb.org/losangelessiliconvalley/business-reviews/perfume/skylar-body-in-venice-ca-872223#bbbseal" title="Skylar Body, Inc., Perfume, Venice, CA"><img id="bbblinkimg" src="https://seal-sanjose.bbb.org/logo/sehzbas/skylar-body-872223.png" alt="Skylar Body, Inc., Perfume, Venice, CA" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); (function(){var s=document.createElement('script');s.src=bbbprotocol + 'seal-sanjose.bbb.org' + unescape('%2Flogo%2Fskylar-body-872223.js');s.type='text/javascript';s.async=true;var st=document.getElementsByTagName('script');st=st[st.length-1];var pt=st.parentNode;pt.insertBefore(s,pt.nextSibling);})();</script>
        <style media="screen">
          .sehzbas {
            height:45px !important;
            margin-right: 20px !important;
          }
        </style>
        {% if section.settings.footer_logo_2 %}
        <img src="{{ section.settings.footer_logo_2 | img_url: 'original' }}" />
        {% endif %}
        {% if section.settings.footer_logo_3 %}
        <img src="{{ section.settings.footer_logo_3 | img_url: 'original' }}" />
        {% endif %}        
      </div>

      <p class="mobile_only">
        {% if settings.show_multiple_currencies %}
        <label for="currencies">{{ 'layout.general.pick_a_currency' | t }}: </label>
        {% include 'currencies-switcher' %}
        {% endif %}
      </p>
    </div>
  </div>

  {% if section.settings.footnote_text != blank %}
  <div class="footnote container">
    <p>{{ section.settings.footnote_text }}</p>
  </div>
  {% endif %}

  <div class="footer-bottom">
    <div class="container">
      <div class="eight columns">

        <p class="credits">
          &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
          {{ section.settings.copyright_text }}<br />
          {{ powered_by_link | split: '" ' | join: '?ref=out-of-the-sandbox" ' | split: '">' | join: '?ref=out-of-the-sandbox">' }}
        </p>

      </div>

      <div class="eight columns">
        {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
          <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
          {% endfor %}
        </div>
        {% endif %}

        {% if section.settings.footer_linklist_2 != blank %}
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_2].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      </div>

    </div>
  </div>

  <div id="search" class="animated">
    <div class="search-popup">
      <form action="/search">
        {% if settings.search_option != 'everything' %}
        <input type="hidden" name="type" value="product" />
        {% endif %}
        <div class="search-close ss-icon">&#x2421;</div>
        <span class="icon-search search-submit"></span>
        <input type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
      </form>
    </div>
  </div>
</div>

{% include 'popup' %}
{% schema %}
  {
    "name": "Footer",
    "class": "index-section footer-section no-gutter",
    "settings": [
	  {
		"type": "header",
		"content": "Guarantee section"
	  },
 	  {
        "type": "image_picker",
        "id": "gt_icon_1",
        "label": "Icon 1"
      },
      {
        "type": "text",
        "id": "gt_title_1",
        "label": "Title 1"
      },
	  {
        "type": "textarea",
        "id": "gt_content_1",
        "label": "Content 1"
      },
	  {
        "type": "image_picker",
        "id": "gt_icon_2",
        "label": "Icon 2"
      },
 	  {
        "type": "text",
        "id": "gt_title_2",
        "label": "Title 2"
      },
	  {
        "type": "textarea",
        "id": "gt_content_2",
        "label": "Content 2"
      },
	  {
        "type": "image_picker",
        "id": "gt_icon_3",
        "label": "Icon 3"
      },
	  {
        "type": "text",
        "id": "gt_title_3",
        "label": "Title 3"
      },
	  {
        "type": "textarea",
        "id": "gt_content_3",
        "label": "Content 3"
      },
      {
        "type": "image_picker",
        "id": "footer_logo_1",
        "label": "Footer Logo 1"
		  },
      {
        "type": "image_picker",
        "id": "footer_logo_2",
        "label": "Footer Logo 2"
		  },
      {
        "type": "image_picker",
        "id": "footer_logo_3",
        "label": "Footer Logo 3"
		  },
      {
        "type": "text",
        "id": "mailchimp_link",
        "label": "MailChimp form action URL",
        "info": "[Find your MailChimp form action URL](http:\/\/support.outofthesandbox.com\/customer\/portal\/articles\/942352)"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "Menu 1"
      },
	  {
        "type": "link_list",
        "id": "footer_linklist_1b",
        "label": "Menu 1b"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Menu 2"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright text"
      },
      {
        "type": "checkbox",
        "id": "display_payment_methods",
        "label": "Show payment method icons",
        "default": true
      },
	  {
        "type": "text",
        "id": "footnote_text",
        "label": "Footnote text"
      }
    ],
    "blocks": [
      {
        "type": "social",
        "name": "Social",
        "settings": [
          {
            "type": "text",
            "id": "social_link",
            "label": "Social Link"
          },
          {
            "type": "image_picker",
            "id": "social_image",
            "label": "Social Image"
          }
        ]
      }
    ]
  }
{% endschema %}


{% stylesheet %}
.footer-section {
    width: 100%;
    float: left;
}

.footer .logo{

}

.footer a:hover{
	color: #a5a5a5;
}

.verified img {
    max-height: 35px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 0;
    max-height: 35px;
}

.verified {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 15px 0;
}

.verified {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 15px 0;
}

p.credits{
	display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 767px){
	.footer .logo{
		margin: 0 0 20px
	}

    .footer_menu li {
        padding-right: 0;
        padding-left: 0;
    }

    .footer-bottom p {
        line-height: 30px;
        margin: 0;
        text-align: center;
    }

    .footer-bottom .footer_menu {
        text-align: center;
    }

    p.credits {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
    }

	.footer > .container {padding-top: 0px;}


}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
