<div class="gc_section {{ section.settings.position }} gcbottom" style="background-image: url({{ section.settings.section_bg | img_url: '2048x2048' }});">
  <div class="overlay_text ">
    <h3>{{ section.settings.title_text }}</h3>
    <div class="subtext">
      {{ section.settings.sub_text }}
    </div>
    <a class="action_button" href="{{section.settings.btn_url}}">
            {{section.settings.btn_text}}
          </a>
  </div>
</div>
{% schema %}
  {
    "name": "Giftcard Bottom",
    "settings": [
		{
			"type": "image_picker",
			"id": "section_bg",
            "info": "2000x1000px recommended",
			"label": "Select image for background"
		},
		{
			"type": "text",
			"id": "title_text",
			"label": "Section title"
		},
		{
			"type": "color",
			"id": "title_text_color",
			"label": "Section title Color"
		},
		{
			"type": "richtext",
			"id": "sub_text",
			"label": "Section subtext"
		},
		{
			"type": "color",
			"id": "sub_text_color",
			"label": "Section sub text Color"
		},
		{
			"type": "select",
			"id": "position",
			"label": "Text block position",
			"options": [
              {
                "value": "leftside",
                "label": "Left"
              },
              {
                "value": "middleblock",
                "label": "Middle"
              },
              {
                "value": "rightside",
                "label": "Right"
              }
            ]
		},
		{
			"type": "text",
			"id": "btn_text",
			"label":"Button text",
			"default": "SCENT QUIZ"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label":"Button url"
		}
	]
  }
{% endschema %}

<style>
.gcbottom .subtext * {
	color: {{ section.settings.title_text_color }}
}
.gcbottom .overlay_text h3 {
	color: {{ section.settings.sub_text_color }}
}
</style>

{% javascript %}
{% endjavascript %}
