<div id="giftbottom">
  <div class="container">
    <h2 class="">{{ section.settings.title_text }}</h2>
    {{ section.settings.contect_text }}
    <h2>{{ section.settings.title_text2 }}</h2>
    <a class="button" href="{{ section.settings.button_link }}" >{{ section.settings.button_text }}</a>
  </div>
</div>
{% schema %}
  {
    "name": "Gift card bottom",
    "settings": [
      {
          "type": "text",
          "id": "title_text",
          "label": "Title text"
      },
  	  {
          "type": "richtext",
          "id": "contect_text",
          "label": "Content text"
      },
	  {
          "type": "text",
          "id": "title_text2",
          "label": "Title text 2"
      },
	  {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
      },
	  {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
