{% for block in section.blocks  %}
{% if block.type == 'banner_text' %}
<div class="topSection slideshow-section {% unless block.settings.fullwidth %}wrapper{% endunless %}">
  <div class="slideshows homepage" >
    <div class="item slideshow">
      <div class="item__bg">
        <img src="{{ block.settings.desktop_img | img_url: 'master' }}" class="for_desktop" />
        <img src="{{ block.settings.mobile_img | img_url: 'master' }}" class="for_mobile" />
      </div>
      <div class="hero__container {% if block.settings.mobcenter %}mobcenter{% endif %}" style="right: {{block.settings.right }}%">
        <h1 class="hero__title home__title--csb" style="color: {{ block.settings.colot }}">{{ block.settings.title }}</h1>
        <p class="hero__body-copy home__body-copy--csb" style="color: {{ block.settings.colot }}">{{ block.settings.content }}</p>
        {% unless block.settings.hidesaperator %}
        <span class="seprator-title" style="background: {{ block.settings.colot }}"></span>
        {% endunless %}
        {% if block.settings.link != blank %}
        <a class="action_button theme-styles" href="{{ block.settings.link }}">Shop now</a>
        <style>
          .action_button.theme-styles {
            color: {{ block.settings.btn_text_color }};
            background-color: {{ block.settings.btn_bg_color }};
          }
          .action_button.theme-styles:hover {
            background-color: {{ block.settings.btn_bg_hover_color }};
          }
        </style>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if block.type == 'scroller_btn' %}
<div class="scroll_btn clearfix ">
  <div class="offset-by-two six columns center btn-goto" data-id="{{ block.settings.button_target1 }}">
    {{ block.settings.button_text1 }}
  </div>
  <div class="six columns center btn-goto" data-id="{{ block.settings.button_target2 }}">
    {{ block.settings.button_text2 }}
  </div>
</div>
{% endif %}
{% if block.type == 'quotes_slider' %}
<div class="quotes_slider clearfix wrapper text-center {% if block.settings.hasborder %}withBroder{% endif %}">
  <div class="quoteList">
    {% for i in (1..5) %}
    {% capture text %}text{{i}}{% endcapture %}
    {% capture logo %}quote_logo{{i}}{% endcapture %}
    {% capture name %}quote_name{{i}}{% endcapture %}

    {% if block.settings[text] != blank  %}
    <div class="quoteItem">
      <img src="{{ 'quotes.png' | file_url }}" alt="" class="qtimg" />
      <h3>{{ block.settings[text] }}</h3>
      {% if block.settings[logo] != blank %}
      <img src="{{ block.settings[logo] | img_url: 'medium' }}" alt="" />
      {% endif %}
      {% if block.settings[name] != blank %}
      <h5>{{ block.settings[name] }}</h5>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% if block.type == 'single_product' %}
<div class="giftsPack " id="{{ block.settings.sectionid }}">
  <h2 class="h1 text-center">{{ block.settings.title }}</h2>
  <div class="feature_divider"></div>
  <div class="one-product">
    {% assign product = all_products[block.settings.pro] %}
    {% include 'product-thumbnail' %}
  </div>
</div>
{% endif %}
{% if block.type == 'multiple_product' %}
<div class="giftsPack clearfix" id="{{ block.settings.sectionid }}">
    <h2 class="h1 text-center">{{ block.settings.title }}</h2>
    <div class="feature_divider"></div>
    <div class="sixteen columns center multipleProducts clearfix">
      {% paginate collections[block.settings.col].products by block.settings.limit %}
      {% assign products = collections[block.settings.col].products %}
      {% assign products_per_row = 4 %}
      {% include 'product-loop' %}
      {% endpaginate %}
    </div>
  </div>
{% endif %}
{% if block.type == 'instafeed' %}
<div class="holidayInspiration">
  <div class="clearfix wrapper text-center" >
    <h2 class="h1 text-center">{{ block.settings.title }}</h2>
    <div class="feature_divider"></div>
    <div class="clearfix container ">
      <div id="instafeed" data-client-id="{{ block.settings.token }}" data-count="{{ block.settings.col }}"></div>
    </div>
  </div>
</div>
{% endif %}
{% if block.type == 'video' %}
<div class="clearfix text-center {{ block.settings.vwidth }} ">
  <div class="videoBox">
    {% if block.settings.video_url.type == 'youtube' %}
    {% assign v = block.settings.video_url | split: '=' | last %}
    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ v }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% else %}
    {% assign v = block.settings.video_url | split: '/' | last %}
    <div class="videoWrapper">
      <iframe src='//player.vimeo.com/video/{{ v }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Give a gift",
    "settings": [],
	"blocks": [
	  {
		"type": "video",
		"name": "Video",
		"settings": [
		  {
			"id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
			"info": "Enter Youtube or Vimeo video URL"
	      },
		  {
			"type": "select",
			"label": "Video width",
			"id": "vwidth",
		   	"options": [
			  {
				"label": "full",
				"value": " "
			  },
			  {
				"label": "Wrapper",
				"value": "wrapper"
			  },
			  {
				"label": "Medium",
				"value": "medium"
			  }
			]
		  }
		]
	  },
	  {
		"type": "instafeed",
		"name": "Instafeed",
		"settings": [
		  {
			"type": "text",
			"id": "title",
			"label": "Title"
		  },
		  {
			"type": "text",
			"id": "token",
			"label": "Instagram token"
		  },
		  {
			"type": "number",
			"id": "col",
			"label": "Total item"
		  }
		]
	  },
	  {
		"type": "multiple_product",
		"name": "Multiple product",
		"settings": [
		  {
			"type": "text",
			"id": "title",
			"label": "Title"
		  },
		  {
			"type": "collection",
			"id": "col",
			"label": "Select collections"
		  },
	  	  {
			"type": "number",
			"id": "limit",
			"label": "Limit"
		  },
		  {
			"type": "text",
			"id": "sectionid",
			"label": "For scroll section id"
		  }
		]
	  },
	  {
		"type": "single_product",
		"name": "Single product",
		"settings": [
		  {
			"type": "text",
			"id": "title",
			"label": "Title"
		  },
		  {
			"type": "product",
			"id": "pro",
			"label": "Select product"
		  },
	  	  {
			"type": "text",
			"id": "sectionid",
			"label": "For scroll section id"
		  }
		]
	  },
	  {
		"type": "quotes_slider",
		"name": "Quotes slider",
		"settings": [
		  {
			"type": "checkbox",
			"id": "hasborder",
			"label": "Has top and bottom border?"
		  },
		  {
			"type": "header",
			"content": "1"
		  },
		  {
			"type": "textarea",
			"id": "text1",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "quote_logo1",
			"label": "Quotes logo"
		  },
		  {
			"type": "text",
			"id": "quote_name1",
			"label": "Quotes name"
		  },
		  {
			"type": "header",
			"content": "2"
		  },
		  {
			"type": "textarea",
			"id": "text2",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "quote_logo2",
			"label": "Quotes logo"
		  },
		  {
			"type": "text",
			"id": "quote_name2",
			"label": "Quotes name"
		  },
		  {
			"type": "header",
			"content": "3"
		  },
		  {
			"type": "textarea",
			"id": "text3",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "quote_logo3",
			"label": "Quotes logo"
		  },
		  {
			"type": "text",
			"id": "quote_name3",
			"label": "Quotes name"
		  },
		  {
			"type": "header",
			"content": "4"
		  },
		  {
			"type": "textarea",
			"id": "text4",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "quote_logo4",
			"label": "Quotes logo"
		  },
		  {
			"type": "text",
			"id": "quote_name4",
			"label": "Quotes name"
		  },
		  {
			"type": "header",
			"content": "5"
		  },
		  {
			"type": "textarea",
			"id": "text5",
			"label": "Text"
		  },
		  {
			"type": "image_picker",
			"id": "quote_logo5",
			"label": "Quotes logo"
		  },
		  {
			"type": "text",
			"id": "quote_name5",
			"label": "Quotes name"
		  }
		]
	  },
	  {
		"type": "scroller_btn",
		"name": "Scroller button",
		"settings": [
		  {
			"type": "text",
			"id": "button_text1",
			"label": "button text 1"
		  },
		  {
			"type": "text",
			"id": "button_target1",
			"label": "button target id"
		  },
		  {
			"type": "text",
			"id": "button_text2",
			"label": "button text 2"
		  },
		  {
			"type": "text",
			"id": "button_target2",
			"label": "button target id"
		  }
		]
	  },
	  {
		"type": "banner_text",
		"name": "Banner over text",
		"settings": [
		  {
			"type": "image_picker",
			"id": "desktop_img",
			"label": "Desktop image"
		  },
		  {
			"type": "image_picker",
			"id": "mobile_img",
			"label": "Mobile image"
		  },
		  {
			"type": "text",
			"id": "title",
			"label": "Title text"
		  },
		  {
			"type": "textarea",
			"id": "content",
			"label": "Content text"
		  },
		  {
			"type": "color",
			"id": "colot",
			"label": "Text color",
			"default": "#444"
		  },
		  {
			"type": "range",
			"id": "right",
			"label": "Text from right",
			"step": 1,
    		"unit": "%",
			"default": 13,
			"min": 1,
    		"max": 99
		  },
		  {
			"type": "checkbox",
			"id": "hidesaperator",
			"label": "Hide saperator?"
		  },
		  {
			"type": "url",
			"id": "link",
			"label": "Button url",
			"info": "leave blank if not button"
		  },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button text color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_bg_color",
        "label": "Button background color",
        "default": "#4a4a4a"
      },
      {
        "type": "color",
        "id": "btn_bg_hover_color",
        "label": "Button background hover color",
        "default": "#a3a3a3"
      },
		  {
			"type": "checkbox",
			"id": "fullwidth",
			"label": "Is full width?"
		  },
		  {
			"type": "checkbox",
			"id": "mobcenter",
			"label": "mobile text  center?"
		  }
		]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
