<header class="banner-wide page-banner-top banner-podcast">
  <div class="banner__content">
    {{ page.content }}
    <a class="action_button theme-styles" href="{{ section.settings.button_link }}" data-label="{{ section.settings.button_text }}">{{ section.settings.button_text }}</a>
  </div>
</header>

<style>
.page-banner-top {
  background-image: url("https:{{ section.settings.mobile_image | img_url: 'master' }}");
}
  
.banner-wide {
    height: 500px;
    background-size: cover;
    background-position-x: 55%;
}
@media screen and (min-width: 768px) {
  .banner-wide {
    height: 626px;
    background-size: cover;
    background-position-y: 60%;
	}
  .page-banner-top {
    background-image: url("https:{{ section.settings.desktop_image | img_url: 'master' }}");
  }
}

/* .banner-wide {
  height: 626px;
  background-size: cover;
} */


  
.banner__content {
  margin-right: auto;
/*   margin-top: 32px; */
}

.banner__content h1 {
  line-height: 38px;
  font-size: 32px;
  font-weight: 600;
  font-family: sofia-pro !important;
  letter-spacing: .75px;
}

.banner__content p {
  line-height: 24px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: sofia-pro;
  max-width: 300px;
}

.banner__content .action_button {
  height: 48px;
  max-height: none;
  color: #ffffff;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 280px !important;
  display: inline-block;
  background: #000;
  margin-top: 14px;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 30px;
}

.banner__content {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner__content {
    margin: auto;
    margin-right: 100px;
    max-width: 322px;
    justify-content: center;
  }
}

</style>


{% schema %}
{
  "name": "Podcast Banner",
  "class": "podcast-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button",
      "default": "Link"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "Button Link"
    }
  ],
  "presets": [
  {
    "name": "Podcast Top Banner",
    "category": "Page"
  }
  ]
}
{% endschema %}
