<div class="slideshow-section loading">
  <div class="slideshows homepage" id="Slideshow-{{ section.id }}">
    {% for block in section.blocks %}
    <!-- begin slide -->
    {% if block.settings.link_entire_slide %}
      <a href="{{ block.settings.link }}" class="item slideshow">
    {% else %}
      <div class="item slideshow">
    {% endif %}
      <div class="item__bg">
        <img src="{{ block.settings.image | img_url: "master" }}" class="for_desktop" />
        <img src="{{ block.settings.image_mobile | img_url: "master" }}" class="for_mobile" />
      </div>
      <div class="hero__container loading">
        <h1 class="hero__title home__title--csb" style="color: {{ block.settings.title-color }}">{{ block.settings.title }}</h1>
        {% if block.settings.subheading != blank %}<p class="hero__body-copy home__body-copy--csb" style="color: {{ block.settings.subheading-color }}">{{ block.settings.subheading }}</p>
        {% endif %}
        {% if block.settings.seperator %}
        <span class="seprator-title" style="background:{{ block.settings.title-color }}"></span>
        {% endif %}
        <form data-productid="8985532355" method="post" class="clearfix product_form" data-money-format="${{amount}}" data-shop-currency="USD" id="product-form-8985532355"><div class="bold_options bold_options_loaded"></div>
            <input type="hidden" name="id" data-productid="8985532355" value="38378841934">
            <button onClick="instantBuy()" name="add" class="action_button add_to_cart" data-label="{{ block.settings.btn_label }}"><span class="text">{{ block.settings.btn_label }}</span></button>
          </div>
        </form>
        <script>
        function instantBuy(){
            $('#cart').hide();
            window.location.href = "/checkout";
         }
        function addToCart(){
            $('form.cart').submit();
        }
        </script>
      </div>
      <!-- end slide -->
    {% if block.settings.link_entire_slide %}
        </a>
    {% else %}
      </div>
    {% endif %}
    <style>
      .hero__container {
        left: {{block.settings.left }}%; top: {{block.settings.top }}%;
      }
      @media (max-width: 767px) {
        .hero__container {
          top: {{block.settings.top_mobile }}%;
        }
      }
      .action_button.theme-styles {
        color: {{ block.settings.btn_text_color }};
        background-color: {{ block.settings.btn_bg_color }};
      }
      .action_button.theme-styles:hover {
        background-color: {{ block.settings.btn_bg_hover_color }};
      }
    </style>
  {% endfor %}
  </div>
  <a href="#pagecontent" class="scroll-arr "></a>
</div>
<a name="pagecontent" id="pagecontent"></a>
<script>
  {% if section.blocks.size > 1 %}
  $(document).ready(function(){
    $('.slideshows').owlCarousel({
      animateOut: false,
      items:1,
      smartSpeed:450,
      autoplay: {% if section.settings.autoplay == true %}true{% else %}false{% endif %},
      autoplayTimeout: {{ section.settings.autoplay_speed }},
      autoplaySpeed: 1000,
      autoplayHoverPause:false,
      loop : true,
    });
  });
  {% endif %}
  $(window).on('load', function(){
  	$('.slideshow-section').removeClass("loading");
    $('.hero__container').removeClass('loading');
  });
</script>

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section no-gutter",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "500", "label": "500ms seconds" },
          { "value": "1000", "label": "1 seconds" },
          { "value": "2000", "label": "2 seconds" },
          { "value": "3000", "label": "3 seconds" },
          { "value": "4000", "label": "4 seconds" },
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "2000"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "info": "2000x980px recommended",
            "label": "Image For desktop"
          },
	        {
            "type": "image_picker",
            "id": "image_mobile",
            "info": "800x860 recommended",
            "label": "Image For Mobile"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Heading color",
            "default": "#fff"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "color",
            "id": "subheading-color",
            "label": "Sub-heading color",
            "default": "#fff"
          },
          {
            "type": "checkbox",
            "id": "seperator",
            "label": "Show Seperator",
            "default": false
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "checkbox",
            "id": "link_entire_slide",
            "label": "Link entire slide",
            "default": false
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label"
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button text color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "btn_bg_color",
            "label": "Button background color",
            "default": "#4a4a4a"
          },
          {
            "type": "color",
            "id": "btn_bg_hover_color",
            "label": "Button background hover color",
            "default": "#a3a3a3"
          },
          {
    			"type": "range",
    			"id": "left",
    			"label": "Text from left",
    			"step": 1,
        		"unit": "%",
    			"default": 50,
    			"min": 1,
        		"max": 99
    		  },
          {
    			"type": "range",
    			"id": "top",
    			"label": "Text from top",
    			"step": 1,
        		"unit": "%",
    			"default": 50,
    			"min": 1,
        		"max": 99
    		  },
          {
    			"type": "range",
    			"id": "top_mobile",
    			"label": "Text from top (mobile only)",
    			"step": 1,
        		"unit": "%",
    			"default": 50,
    			"min": 1,
        		"max": 99
    		  }
        ]
      },
      {
        "type": "video",
        "name": "Video slide",
        "settings": [
          {
            "type": "text",
            "id": "video_id",
            "label": "YouTube video ID",
            "default": "_9VUPq3SxOc",
            "info": "[Find your YouTube video ID](https://docs.joeworkman.net/rapidweaver/stacks/youtube/video-id)."
          },
          {
            "type": "select",
            "id": "video_type",
            "label": "Style",
            "options": [
              {
                "value": "chrome",
                "label": "Image with play button"
              },
              {
                "value": "background-chrome",
                "label": "Background video with play button"
              },
              {
                "value": "background",
                "label": "Background video"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Fallback when autoplaying video is not supported on mobile devices"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Video slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
