<div class="container">
  <div class="sixteen columns">
    {% for block in section.blocks %}
    <div class="column-item eight columns {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center" {{ block.shopify_attributes }}>
      <a class="home-image-grid-item-{{ forloop.index }}" href="{{ block.settings.url }}">
        <div class="inner">
          <p>{{ block.settings.body_text }}</p>
          <span class="action_button">{{ block.settings.button_text }}</span>
        </div>
      </a>
    </div>
    <style>
    .home-image-grid-item-{{ forloop.index }} {
      background-image: url("{{ block.settings.image_mobile | img_url: 'master' }}");
    }
    @media only screen and (min-width: 768px) {
      .home-image-grid-item-{{ forloop.index }} {
        background-image: url("{{ block.settings.image | img_url: 'master' }}");
      }
    }
    </style>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Home Image Grid",
  "class": "home-image-grid-section",
  "max_blocks": 4,
  "settings": [
  ],
  "presets": [{
    "name": "Home Image Grid",
    "category": "Image",
    "blocks": [
    {
      "type": "image"
    },
    {
      "type": "image"
    },
    {
      "type": "image"
    }
    ]
  }],
  "blocks": [
  {
    "type": "image",
    "name": "Home Image Grid",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Desktop Image"
      },
      {
        "id": "image_mobile",
        "type": "image_picker",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "label": "Body Text",
        "id": "body_text"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "button_text"
      },
      {
        "type": "url",
        "label": "Block Url",
        "id": "url"
      }
    ]
  }
  ]
}
{% endschema %}
