<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="title">{{ section.settings.title }}</h2>
        <hr class="title" />
      </div>
      {% endif %}

      <div class="sixteen columns">
        {%- assign grid_item_width = 'four columns' -%}
        {%- assign image_size = '345x' -%}
        {% case section.blocks.size %}
        {% when 1 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
        {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
        {% when 3 %}
        {%- assign grid_item_width = 'one-third column' -%}
        {%- assign image_size = '530x' -%}
        {% endcase %}
        {% for block in section.blocks %}
        {% if section.blocks.size == 5 %}
        {%- assign column_width = 'one-fifth column ' -%}
        {% else %}
        {%- assign column_width = grid_item_width -%}
        {% endif %}

        <div class="column-item {{ column_width }} {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="inner">
            {% if block.settings.enable_image %}
            <div class="feature__image">
              {% if block.settings.image != blank %}
                {{ block.settings.image | img_url: '480x480' | img_tag: 'feature-row__image' }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            {% endif %}

            <div class="column-content">
              {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}
              {% if block.settings.text != blank %}
                <p>{{ block.settings.text }}</p>
              {% endif %}
            </div>

            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}" class="btn btn--secondary action_button">
              {{ block.settings.button_label }}
            </a>
            {% endif %}
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if section.settings.bg-color %}
<style>
	.feature-columns {
		background-color: {{ section.settings.bg-color }};
	}

  #featured_links h2{
    color: {{ section.settings.text-color }};
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Home Page Feature Columns",
    "class": "index-section feature-columns feature-columns-home columns-section no-gutter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text Color",
        "default": "#4a4a4a"
      },
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#f5e3e7"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Page Feature Columns",
        "category": "Home",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
