<!-- Yotpo UGC Gallery-->
<style>
.yotpo.yotpo-lightbox .yotpo-lightbox-products-main .yotpo-lightbox-product-main-image {display: inline-block !important;}
</style>
<div class="yotpo yotpo-pictures-gallery"
data-layout-rows="2"
data-spacing="1"
data-source="all"
data-title="1"
data-title-text="Shop Our Instagram #skylarbody"
data-title-color="#56575f"
data-title-alignment="center"
data-title-font-size="22"
data-title-mobile-font-size="18"
data-hover-color="#ffffff"
data-hover-opacity="0.8"
data-hover-icon="true"
data-cta-text="Shop Now"
data-cta-color="#f7c5ca"
>
</div>
