<div class="mobile-trial">
  <a class="mobile-trial-btn" href="/products/sample-step-1">TRY A SAMPLE</a>
  
</div>


{% schema %}
  {
"blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "checkbox",
            "id": "link_entire_slide",
            "label": "Link entire slide",
            "default": false
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label"
          }
          
        ]
      }
        ]
    
         
  }
{% endschema %}