{% for block in section.blocks %}
{% if block.type == 'row_block' %}
{% include "about-row-block" %}
{% elsif block.type == 'row_overlay_block' %}
{% include "about-row-overlay" %}
{% elsif block.type == 'video_block' %}
{% include "about-video-block" %}
{% elsif block.type == 'two_block' %}
{% include "about-two-blocks" %}
{% elsif block.type == 'row_bg_block' %}
{% include "about-row-bg-blocks" %}
{% elsif block.type == 'bar_block' %}
{% include "about-graph-bar" %}
{% elsif block.type == 'team_block' %}
{% include "about-team-block" %}
{% elsif block.type == 'insta_block' %}
{% include "about-instagram-block" %}
{% elsif block.type == 'hero_block' %}
{% include "hero-child" %}
{% endif %}
{% endfor %}




<div class="sixteen columns page clearfix">

</div>

{% schema %}
  {
    "name": "Our Products Page",
    "class": "index-section about-section page-section no-gutter",
    "settings": [

    ],
    "blocks": [
      {
        "type": "team_block",
        "name": "Team Member",
        "settings": [
          {
            "type": "header",
            "content": "Team Section"
          },
          {
            "type": "text",
            "id": "team-title",
            "label": "Section title",
            "default": "MEET OUR TEAM"
          },
          {
            "type": "textarea",
            "id": "team-stitle",
            "label": "Section sub-title",
            "default": "Thousand is a group of social entrepreneurs, design junkies and storytellers. <br>We’re obsessed with everything from value chains to colorways."
          },
          {
            "type": "color",
            "id": "team-text-color",
            "label": "Text Color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "team-bg-color",
            "label": "Background Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Member 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Name",
            "default": "CAT CHEN"
          },
          {
            "type": "text",
            "id": "job-title_1",
            "label": "Job Title",
            "default": "Product Development, Digital, Operations, Finance"
          },
          {
            "type": "header",
            "content": "Member 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Name",
            "default": "CHRISTINE SHIMIZU"
          },
          {
            "type": "text",
            "id": "job-title_2",
            "label": "Job Title",
            "default": "Marketing"
          },
          {
            "type": "header",
            "content": "Member 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Name",
            "default": "JEFF FONTELERA"
          },
          {
            "type": "text",
            "id": "job-title_3",
            "label": "Job Title",
            "default": "Design"
          },
          {
            "type": "header",
            "content": "Member 4"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_4",
            "label": "Name",
            "default": "SARAH REISERT"
          },
          {
            "type": "text",
            "id": "job-title_4",
            "label": "Job Title",
            "default": "Marketing"
          }
        ]
      },
      {
        "type": "bar_block",
        "name": "Graph Bar",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Name",
            "default": "Section title"
          }
        ]
      },
      {
        "type": "insta_block",
        "name": "Instagram",
        "settings": [
            {
              "type": "header",
              "content": "Instagram Section"
            },
            {
              "type": "text",
              "id": "instagram_title",
              "label": "Instagram title",
              "default": "@buyskylar"
            },
            {
              "type": "color",
              "id": "instagram-title-color",
              "label": "Text Color",
              "default": "#fff"
            },
            {
              "type": "text",
              "id": "instagram_client_id",
              "default": "3905507741.d90570a.442fb751a65c4cbca415e48e96a171a5",
              "label": "Instagram Access Token ([?](http:\/\/outofthesandbox.com\/pages\/instagram-access-token))"
            },
            {
              "type": "text",
              "id": "instagram_count",
              "label": "Number of images",
              "default": "8"
            }
        ]
      },
      {
        "type": "hero_block",
        "name": "Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x1000px recommended",
              "label": "Banner image"
            },
			{
              "type": "image_picker",
              "id": "sub_hero_mobile_image",
              "info": "800x860px recommended",
              "label": "Mobile Banner image"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Title",
              "default": "SMELL GOOD, FEEL GOOD"
            },
			{
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Title color"
            },
            {
              "type": "color",
              "id": "subnav_bg_color",
              "label": "Subnav Background color"
            },
            {
              "type": "color",
              "id": "subnav_button_bg_color",
              "label": "Subnav Button Background Color"
            },
            {
              "type": "color",
              "id": "subnav_button_text_color",
              "label": "Subnav Button Text Color"
            },
            {
              "type": "link_list",
              "id": "sub_hero_link",
              "label": "Menu"
            }
        ]
      },
        {
          "type": "two_block",
          "name": "2 Blocks",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "image_picker",
              "id": "image_2",
              "label": "Image"
            },
            {
              "type": "color",
              "id": "bg-color",
              "label": "Box Background Color"
            },
            {
              "type": "color",
              "id": "text-color",
              "label": "Box Text Color"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "MEET OUR SUPPLIER"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Alcohol is used in almost all perfumes, because it helps to bring out the scents in ingredients as it evaporates into the air. When it comes from a good source, alcohol can be natural and harmless. We use the highest quality alcohol available – an organic sugar cane alcohol that is 100% natural. It is sourced from a family-owned and Oregon-based micro-distillery that takes pride in using sustainable farming practices, renewable energy, and local sourcing of raw materials. </p>"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
        ]
      },
      {
        "type": "row_block",
        "name": "Row Content with Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#fff",
            "label": "Section Background"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "row_overlay_block",
        "name": "Image with Text Overlay",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "info": "2000x1000px recommended",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "info": "800x430px recommended",
            "label": "Mobile Image"
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#fff",
            "label": "Section Background"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },

          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },

          {
            "type": "color",
            "id": "title_color",
            "label": "Text color"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "video_block",
        "name": "Video Section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Smell good, feel good"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Text Color",
            "default": "#4a4a4a"
          },
          {
            "type": "text",
            "id": "stitle",
            "label": "Sub Title",
            "default": "Learn more about the Skylar difference"
          },
          {
            "type": "color",
            "id": "stitle-color",
            "label": "Sub Title Color",
            "default": "#4a4a4a"
          },
          {
            "type": "text",
            "id": "vimeo_id",
            "label": "Vimeo Video ID",
			"info": "The number that appears at the end of the video link",
            "default": "212807845"
          },
		  {
            "type": "text",
            "id": "youtube_id",
            "label": "YouTube ID"
		  }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.child-page.page-our-product .header{
	margin-bottom: 0;
}

@media screen and (min-width: 768px){

}
.about_row_overlay_section:after {
  background-color: rgba(0,0,0,0) !important;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
