{% for block in section.blocks %}
{% if block.type == 'hero_landing' %}
{% include "hero-landing" %}
{% elsif block.type == 'landing_sample_cta' %}
{% include "landing-sample-cta" %}
{% elsif block.type == 'landing_three_col' %}
{% include "landing-three-col" %}
{% elsif block.type == 'icon_boxes' %}
{% include "icon-boxes" %}
{% elsif block.type == 'three_images' %}
{% include "three-images" %}
{% elsif block.type == 'title_image' %}
{% include "title-image" %}
{% elsif block.type == 'button' %}
{% include "standalone-button" %}
{% elsif block.type == 'row_block' %}
{% include "about-row-block" %}
{% elsif block.type == 'video_block' %}
{% include "about-video-block" %}
{% elsif block.type == 'two_block' %}
{% include "about-two-blocks" %}
{% elsif block.type == 'row_bg_block' %}
{% include "about-row-bg-blocks" %}
{% endif %}
{% endfor %}

<div class="sixteen columns page clearfix">
  
</div>

{% schema %}
  {
    "name": "Landing Page",
    "class": "index-section page-section no-gutter",
    "settings": [

    ],
    "blocks": [
      {
        "type": "hero_landing",
        "name": "Landing Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x392px recommended",
              "label": "Banner image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image_mobile",
              "info": "800x430px recommended",
              "label": "Mobile Banner image"
            },
            {
              "type": "color",
              "id": "sub_hero_bgcolor",
              "label": "Background color"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Title",
              "default": "WE'VE GOT YOU COVERED."
            },
            {
              "type": "text",
              "id": "sub_hero_stitle",
              "label": "Subtitle",
              "default": "Got a question or feedback for us? Shoot us a note at help@buyskylar.com."
            },
            {
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Text color"
            }
        ]
      },
      {
        "type": "landing_sample_cta",
        "name": "Landing Sample CTA",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sample CTA"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          }
        ]
      },
      {
        "type": "landing_three_col",
        "name": "Landing Three Column Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "How It Works"
          },
		  {
            "type": "text",
            "id": "col1title",
            "label": "Column 1 Heading",
            "default": "Step 1"
          },
          {
            "type": "richtext",
            "id": "col1text",
            "label": "Column 1 Text",
            "default": "<p>Column subtext</p>"
          },
		  {
            "type": "text",
            "id": "col2title",
            "label": "Column 2 Heading",
            "default": "Step 2"
          },
          {
            "type": "richtext",
            "id": "col2text",
            "label": "Column 2 Text",
            "default": "<p>Column subtext</p>"
          },
		  {
            "type": "text",
            "id": "col3title",
            "label": "Column 3 Heading",
            "default": "Step 3"
          },
          {
            "type": "richtext",
            "id": "col3text",
            "label": "Column 3 Text",
            "default": "<p>Column subtext</p>"
          }
        ]
      },
      {
		"type": "icon_boxes",
        "name": "Icon Boxes",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Icons with text"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Heading 1",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text1",
            "label": "Text 1",
            "default": "<p>Share blog posts with your customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Heading 2",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text2",
            "label": "Text 2",
            "default": "<p>Share products with your customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "Heading 3",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text3",
            "label": "Text 3",
            "default": "<p>Share promotions with your customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
          },
          {
            "type": "text",
            "id": "title4",
            "label": "Heading 4",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text4",
            "label": "Text 4",
            "default": "<p>Share news with your customers.</p>"
          }
        ]
      },
	  {
		"type": "three_images",
		"name": "Three Images",
		"settings": [
		  {
			"id": "image1",
            "type": "image_picker",
            "label": "Image 1"
		  },
		  {
			"id": "image2",
            "type": "image_picker",
            "label": "Image 2"
		  },
		  {
			"id": "image3",
            "type": "image_picker",
            "label": "Image 3"
		  }
		]
	  },
	  {
		"type": "title_image",
		"name": "Title and Image",
		"settings": [
		  {
			"id": "title",
            "type": "text",
            "label": "Title"
		  },
		  {
			"id": "image",
            "type": "image_picker",
            "label": "Image"
		  }
		]
	  },
	  {
		"type": "button",
		"name": "Button",
		"settings": [
		  {
			"id": "text",
            "type": "text",
            "label": "Button Text"
		  },
		  {
			"id": "link",
            "type": "text",
            "label": "Button Link"
		  }
		]
	  },
        {
          "type": "two_block",
          "name": "2 Blocks",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "image_picker",
              "id": "image_2",
              "label": "Image"
            },
            {
              "type": "color",
              "id": "bg-color",
              "label": "Box Background Color"
            },
            {
              "type": "color",
              "id": "text-color",
              "label": "Box Text Color"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "MEET OUR SUPPLIER"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Alcohol is used in almost all perfumes, because it helps to bring out the scents in ingredients as it evaporates into the air. When it comes from a good source, alcohol can be natural and harmless. We use the highest quality alcohol available – an organic sugar cane alcohol that is 100% natural. It is sourced from a family-owned and Oregon-based micro-distillery that takes pride in using sustainable farming practices, renewable energy, and local sourcing of raw materials. </p>"
            },
            {
              "type": "image_picker",
              "id": "sign_image",
              "label": "Signature Image"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
        ]
      },
      {
        "type": "row_block",
        "name": "Row Content with Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#fff",
            "label": "Section Background"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "video_block",
        "name": "Video Section",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Smell good, feel good"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Text Color",
            "default": "#4a4a4a"
          },
          {
            "type": "text",
            "id": "stitle",
            "label": "Sub Title",
            "default": "Learn more about the Skylar difference"
          },
          {
            "type": "color",
            "id": "stitle-color",
            "label": "Sub Title Color",
            "default": "#4a4a4a"
          },
          {
            "type": "text",
            "id": "vimeo_id",
            "label": "Vimeo Video ID",
			"info": "The number that appears at the end of the video link",
            "default": "212807845"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.child-page.page-about .header{
	margin-bottom: 0;
}

.diptych__body{
	
}

@media screen and (min-width: 768px){
  

}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


