{{ 'jquery.tabs.js' | asset_url | script_tag }}
{{ 'tabs.css' | asset_url | stylesheet_tag }}

{% for block in section.blocks %}
{% if block.type == 'row_block' %}
{% include "about-row-block" %}
{% elsif block.type == 'row_overlay_block' %}
{% include "about-row-overlay" %}
{% elsif block.type == 'video_block' %}
{% include "about-video-block" %}
{% elsif block.type == 'two_block' %}
{% include "about-two-blocks" %}
{% elsif block.type == 'row_bg_block' %}
{% include "about-row-bg-blocks" %}
{% elsif block.type == 'bar_block' %}
{% include "about-graph-bar" %}
{% elsif block.type == 'column_block' %}
{% include "help-column-block" %}
{% elsif block.type == 'insta_block' %}
{% include "about-instagram-block" %}
{% elsif block.type == 'hero_block' %}
{% include "help-hero" %}

{% elsif block.type == 'help_tabs' %}
{% include "help-tabs" %}

{% endif %}
{% endfor %}


{% schema %}
  {
    "name": "Help Page",
    "class": "index-section about-section page-section no-gutter",
    "settings": [

    ],
    "blocks": [
      {
        "type": "column_block",
        "name": "Columns",
        "settings": [
          {
            "type": "header",
            "content": "Columns Section"
          },
          {
            "type": "text",
            "id": "team-title",
            "label": "Section title",
            "default": "HOLLER AT US"
          },
          {
            "type": "textarea",
            "id": "team-stitle",
            "label": "Section sub-title",
            "default": "Tell us what's on your mind. We will get back to you as quickly as possible. <br>(we're a lean team, and wait times range from 24-72 hours)"
          },
          {
            "type": "color",
            "id": "team-text-color",
            "label": "Text Color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "team-bg-color",
            "label": "Background Color",
            "default": "#576073"
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Title",
            "default": "CUSTOMER SERVICE"
          },
          {
            "type": "textarea",
            "id": "stitle_1",
            "label": "Text",
            "default": "Find the answers to the most asked questions above. Still need a hand? Email us at help@buyskylar.com."
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Title",
            "default": "PRESS INQUIRIES"
          },
          {
            "type": "textarea",
            "id": "stitle_2",
            "label": "Text",
            "default": "Click here to download our press kit or send us a message at press@buyskylar.com"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Title",
            "default": "WHOLESALE & PARTNERSHIPS"
          },
          {
            "type": "textarea",
            "id": "stitle_3",
            "label": "Text",
            "default": "Want to be a retailer or distributor? Looking to do a bulk order or partnership? Email us at wholesale@buyskylar.com."
          }
        ]
      },
      {
        "type": "bar_block",
        "name": "Graph Bar",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Name",
            "default": "Section title"
          }
        ]
      },
      {
        "type": "help_tabs",
        "name": "Tabs",
        "settings": [
          {
            "type": "header",
            "content": "Product"
          },
          {
            "type": "textarea",
            "id": "tab_1",
            "label": "Add Questions and Answers here"
          },
          {
            "type": "header",
            "content": "Shipping"
          },
          {
            "type": "textarea",
            "id": "tab_2",
            "label": "Add Questions and Answers here"
          },
          {
            "type": "header",
            "content": "Gift cards"
          },
          {
            "type": "textarea",
            "id": "tab_3",
            "label": "Add Questions and Answers here"
          },
          {
            "type": "header",
            "content": "Returns & exchanges"
          },
          {
            "type": "textarea",
            "id": "tab_4",
            "label": "Add Questions and Answers here"
          },
          {
            "type": "header",
            "content": "Sampling"
          },
          {
            "type": "textarea",
            "id": "tab_5",
            "label": "Add Questions and Answers here"
          }
        ]
      },
      {
        "type": "insta_block",
        "name": "Instagram",
        "settings": [
            {
              "type": "header",
              "content": "Instagram Section"
            },
            {
              "type": "text",
              "id": "instagram_title",
              "label": "Instagram title",
              "default": "@buyskylar"
            },
            {
              "type": "color",
              "id": "instagram-title-color",
              "label": "Text Color",
              "default": "#fff"
            },
            {
              "type": "text",
              "id": "instagram_client_id",
              "default": "3905507741.d90570a.442fb751a65c4cbca415e48e96a171a5",
              "label": "Instagram Access Token ([?](http:\/\/outofthesandbox.com\/pages\/instagram-access-token))"
            },
            {
              "type": "text",
              "id": "instagram_count",
              "label": "Number of images",
              "default": "8"
            }
        ]
      },
      {
        "type": "hero_block",
        "name": "Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x1000px recommended",
              "label": "Banner image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image_mobile",
              "info": "800x430px recommended",
              "label": "Mobile Banner image"
            },
			{
              "type": "color",
              "id": "sub_hero_bgcolor",
			  "info": "optional",
              "label": "Background color"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Title",
              "default": "WE'VE GOT YOU COVERED."
            },
			{
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Title color"
            },
            {
              "type": "text",
              "id": "sub_hero_stitle",
              "label": "Subtitle",
              "default": "Got a question or feedback for us? Shoot us a note at help@buyskylar.com."
            },
			{
              "type": "color",
              "id": "sub_hero_stitle_color",
              "label": "Subtitle color"
            },
            {
              "type": "link_list",
              "id": "sub_hero_link",
              "label": "Menu"
            }
        ]
      },
        {
          "type": "two_block",
          "name": "2 Blocks",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "image_picker",
              "id": "image_2",
              "label": "Image"
            },
            {
              "type": "color",
              "id": "bg-color",
              "label": "Box Background Color"
            },
            {
              "type": "color",
              "id": "text-color",
              "label": "Box Text Color"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "MEET OUR SUPPLIER"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Alcohol is used in almost all perfumes, because it helps to bring out the scents in ingredients as it evaporates into the air. When it comes from a good source, alcohol can be natural and harmless. We use the highest quality alcohol available – an organic sugar cane alcohol that is 100% natural. It is sourced from a family-owned and Oregon-based micro-distillery that takes pride in using sustainable farming practices, renewable energy, and local sourcing of raw materials. </p>"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button label"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
        ]
      },
      {
        "type": "row_block",
        "name": "Row Content with Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#fff",
            "label": "Section Background"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "row_overlay_block",
        "name": "Image with Text Overlay",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "info": "2000x1000px recommended",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "section-bg",
            "default": "#fff",
            "label": "Section Background"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Text color"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "video_block",
        "name": "Video Section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Smell good, feel good"
          },
          {
            "type": "color",
            "id": "title-color",
            "label": "Text Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "stitle",
            "label": "Sub Title",
            "default": "Learn more about the Skylar difference"
          },
          {
            "type": "color",
            "id": "stitle-color",
            "label": "Sub Title Color",
            "default": "#000000"
          },
          {
            "type": "text",
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=LGb3j1CyH0k"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.child-page.page-help .header{
	margin-bottom: 0;
}

@media screen and (min-width: 768px){


}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
