<div class="sixteen columns">
  <div class="section clearfix">
    <div class="section-header text-center">
      <h2 class="title"> {{ section.settings.heading }} </h2>
      <hr class="title" />
    </div>
    <div class="philosophy_text_image">
      {% for block in section.blocks %}
        {% if block.type == 'philosophy_block' %}
          {% capture image_layout %}
          <div class="philosophy-row_image desktop_image">
            {% if block.settings.image != blank %}
            {{ block.settings.image | img_url: '2048x2048' | img_tag: block.settings.image.alt, 'feature-row__image' }}
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="philosophy-row_image mobile_image">
            {% if block.settings.image_2 != blank %}
            {{ block.settings.image_2 | img_url: '2048x2048' | img_tag: block.settings.image_2.alt, 'feature-row__image' }}
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          {% endcapture %}
          <div class="philosophy-blocks__container">
            {% if block.settings.layout == 'left' %}
            {{ image_layout }}
            {% endif %}

            <div class="philosophy-block__content">
              <h2 class="title"> {{ block.settings.title | escape }} </h2>
              <p> {{ block.settings.text }} </p>
            </div>

            {% if block.settings.layout == 'right' %}
            {{ image_layout }}
            {% endif %}
          </div>
          {% elsif block.type == 'two_block' %}
          <div class="philosophy-block__two">
            <div class="philosophy-block__two-container">
              <div class="philosophy-block__item">
                <h2 class="title"> {{ block.settings.title_1 }} </h2>
                <p> {{ block.settings.text_1 }} </p>
                <div class="read__more"><span>Read More</span> {{ 'arrow_down.png' | asset_url | img_tag: 'Logo' }}</div>
              </div><!-- philosophy_block__item -->
              <div class="philosophy-block__item">
                <h2 class="title"> {{ block.settings.title_2 }} </h2>
                <p> {{ block.settings.text_2 }} </p>
                <div class="read__more"><span>Read More</span> {{ 'arrow_down.png' | asset_url | img_tag: 'Logo' }}</div>
              </div><!-- philosophy_block__item -->
            </div>
          </div>
          {% elsif block.type == 'philosophy_block_heading' %}
          <div class="philosophy_block_heading">
            <div class="section-header text-center">
              <h2 class="title">{{ block.settings.heading }}</h2>
              <hr class="title">
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Philosophy Blocks",
  "class": "philosophy-blocks",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "philosophy_block_heading",
      "name": "Philosophy heading text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Skylar Specifics"
        }
      ]
    },
    {
      "type": "philosophy_block",
      "name": "Philosophy Text Image",
      "settings": [
        {
          "type": "header",
          "content": "Philosophy Blocks"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ]
        }
      ]
    },
    {
      "type": "two_block",
      "name": "2 Blocks",
      "settings": [
        {
          "type": "text",
          "id": "title_1",
          "label": "Heading",
          "default": "MEET OUR SUPPLIER"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": "Text",
          "default": "<p>Alcohol is used in almost all perfumes, because it helps to bring out the scents in ingredients as it evaporates into the air. When it comes from a good source, alcohol can be natural and harmless. We use the highest quality alcohol available – an organic sugar cane alcohol that is 100% natural. It is sourced from a family-owned and Oregon-based micro-distillery that takes pride in using sustainable farming practices, renewable energy, and local sourcing of raw materials. </p>"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Heading",
          "default": "MEET OUR SUPPLIER"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "Text",
          "default": "<p>Alcohol is used in almost all perfumes, because it helps to bring out the scents in ingredients as it evaporates into the air. When it comes from a good source, alcohol can be natural and harmless. We use the highest quality alcohol available – an organic sugar cane alcohol that is 100% natural. It is sourced from a family-owned and Oregon-based micro-distillery that takes pride in using sustainable farming practices, renewable energy, and local sourcing of raw materials. </p>"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Philosophy Feature",
    "category": "Page"
  }
  ]
}
{% endschema %}
