<div class="sixteen columns">
  <div class="section clearfix">
    <div class="section-header text-center">
      <h2 class="title">{{ section.settings.heading }}</h2>
      <hr class="title" />
      <p>{{ section.settings.body }}</p>
    </div>
    <div class="feature">
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_1 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_1 }} </h6>
          <p> {{ section.settings.feature_content_1 }} </p>
        </div>
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_2 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_2 }} </h6>
          <p> {{ section.settings.feature_content_2 }} </p>
        </div>
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_3 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_3 }} </h6>
          <p> {{ section.settings.feature_content_3 }} </p>
        </div>
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_4 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_4 }} </h6>
          <p> {{ section.settings.feature_content_4 }} </p>
        </div>
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_5 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_5 }} </h6>
          <p> {{ section.settings.feature_content_5 }} </p>
        </div>
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="feature_image">
          <img src="{{ section.settings.feature_image_6 | img_url: '100x100' }}" alt="" />
        </div>
        <div class="feature_content">
          <h6> {{ section.settings.feature_title_6 }} </h6>
          <p> {{ section.settings.feature_content_6 }} </p>
        </div>
      </div><!-- feature_item -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Philosophy Feature",
  "class": "philosophy-feature",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Body Text",
      "default": "Text"
    },
    {
      "type": "image_picker",
      "id": "feature_image_1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "feature_title_1",
      "label": "Title 1"
    },
  {
      "type": "textarea",
      "id": "feature_content_1",
      "label": "Content 1"
    },
    {
      "type": "image_picker",
      "id": "feature_image_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "feature_title_2",
      "label": "Title 2"
    },
  {
      "type": "textarea",
      "id": "feature_content_2",
      "label": "Content 2"
    },
    {
      "type": "image_picker",
      "id": "feature_image_3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "feature_title_3",
      "label": "Title 3"
    },
  {
      "type": "textarea",
      "id": "feature_content_3",
      "label": "Content 3"
    },
    {
      "type": "image_picker",
      "id": "feature_image_4",
      "label": "Icon 4"
    },
    {
      "type": "text",
      "id": "feature_title_4",
      "label": "Title 4"
    },
  {
      "type": "textarea",
      "id": "feature_content_4",
      "label": "Content 4"
    },
    {
      "type": "image_picker",
      "id": "feature_image_5",
      "label": "Icon 5"
    },
    {
      "type": "text",
      "id": "feature_title_5",
      "label": "Title 5"
    },
  {
      "type": "textarea",
      "id": "feature_content_5",
      "label": "Content 5"
    },
    {
      "type": "image_picker",
      "id": "feature_image_6",
      "label": "Icon 6"
    },
    {
      "type": "text",
      "id": "feature_title_6",
      "label": "Title 6"
    },
  {
      "type": "textarea",
      "id": "feature_content_6",
      "label": "Content 6"
    }
  ],
  "presets": [
  {
    "name": "Philosophy Feature",
    "category": "Page"
  }
  ]
}
{% endschema %}
