<form data-productid="786052808791" method="post" class="clearfix product_form" data-money-format="${{amount}}" data-shop-currency="USD" id="product-form-786052808791"><div class="bold_options bold_options_loaded"></div>
    <input type="hidden" name="id" data-productid="786052808791" value="8332770836567">
    <button onClick="instantBuy()" name="add" class="action_button add_to_cart" data-label="Get My Sample">Get My Sample</button>
  </div>
</form>
<script>
function instantBuy(){
    $('#cart').hide();
    setTimeout(function() {
        window.location.href = "/checkout";
    }, 1000);
 }
function addToCart(){
    $('form.cart').submit();
}
</script>


{% schema %}
  {
"blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [

          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "checkbox",
            "id": "link_entire_slide",
            "label": "Link entire slide",
            "default": false
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label"
          }

        ]
      }
        ]


  }
{% endschema %}
