
  {% if section.settings.title != blank %}
  <div class="section-header">
    <h2 class="title">{{ section.settings.title }}</h2>
    <hr class="title" />
  </div>
  {% endif %}

  {% if section.settings.press_logos_image != blank %}
    {% if section.settings.section_link != blank %}
    <a href="{{ section.settings.section_link }}">
    {% endif %}
  	  <img class="desktop-img" src="{{ section.settings.press_logos_image | img_url : "master" }}" />
    	{% if section.settings.press_logos_image_mobile != blank %}
        <img class="mobile-img" src="{{ section.settings.press_logos_image_mobile | img_url : "master" }}" />
    	{% else %}
      	<img class="mobile-img" src="{{ section.settings.press_logos_image | img_url : "master" }}" />
    	{% endif %}
    {% if section.settings.section_link != blank %}
    </a>
    {% endif %}
  {% endif %}

<style>
  .press-logos {
    background-color: {{ section.settings.background_color }};
  }
</style>

{% schema %}
{
  "name": "Press Logos Image",
  "class": "press-logos",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Section title",
    "default": "Press"
  },
  {
    "type": "text",
    "id": "section_link",
    "label": "Section link",
    "default": "https://skylar.com"
  },
  {
    "type": "image_picker",
    "id": "press_logos_image",
    "info": "895px width png recommended",
    "label": "Press Logos image"
  },
  {
    "type": "image_picker",
    "id": "press_logos_image_mobile",
    "info": "640px width png recommended",
    "label": "Press Logos mobile image"
  },
  {
    "type": "color",
    "id": "background_color",
    "label": "Background Color"
  }
  ],
  "presets": [{
    "name": "Press Logos",
    "category": "Image"
  }]
}
{% endschema %}
