{% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="title">{{ section.settings.title }}</h2>
        <hr class="title" />
      </div>
{% endif %}
{% if section.settings.page_label != blank and section.settings.page_link != blank %}
<div class="faq-link-wrapper">
            <a href="https://skylar.com/pages/subscriptions-faq" target="_blank" class="faq-link">
              {{ section.settings.page_label}}
            </a>
</div>
{% endif %}


{% schema %}
  {
    "name": "Questions",
    "settings": [
	{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      },{
            "type": "url",
            "id": "page_link",
            "label": "Page link"
          },{
            "type": "text",
            "id": "page_label",
            "label": "Url label"
          }
          
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
