<div class="row hide step4 qa text-center generaQ" data-setp="4">
  <div class="question ">
    <h3 data-for="0" class="hide" >{{ section.settings.question2_1 }}</h3>
    <h3 data-for="1" class="hide" >{{ section.settings.question2_2 }}</h3>

  </div>
  <div class="answer row">
    {% for block in section.blocks limit: collection_limit %}
      <div class="one-third column" data-handle="{{ block.settings.product_handle }}" data-order="{{ block.settings.order_s }}" >
        <p>{{ block.settings.answer_option }}</p>
      </div>	
    {% endfor %}
  </div>
  <div class="hide showcont">
    
    <form id="quiz_signup" class="quiz-subscribe klaviyo_bare_embed_NJqnXK" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="NJqnXK">
      <input type="hidden" name="$fields" value="email,Result" />
      <input type="hidden" value="" name="Result" class="quiz-result-field">
      <div class="klaviyo_field_group">
        <label for="k_id_email">{{ section.settings.form_label }}</label>
        <input type="email" value="" name="email" id="k_id_email" placeholder="Enter your email address" />
      </div>
      <div class="klaviyo_messages">
        <div class="success_message" style="display:none;"></div>
        <div class="error_message" style="display:none;"></div>
        </div>
      <div class="klaviyo_form_actions">
        <button type="submit" class="action_button klaviyo_submit_button">Subscribe</button>
      </div>
    </form>

    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
    <script type="text/javascript">
      KlaviyoSubscribe.attachToForms('#quiz_signup', {
        hide_form_on_success: true,
        success_message: "Thank you for subscribing! Your results are on the way.",
        extra_properties: {
          $source: 'Quiz'
        },
        success: function(){
          var result = $('.quiz-result-field').val();
          var em = $('#quiz_signup input[type=email]');
          var email = em.val();
          $.cookie('steps','');
      	  $.cookie('selected','');
          $.cookie('steps1', '');
      	  em.val('');
      	  window.location.href = '/products/'+result+'#recommendation';
          fbq('track', 'CompleteRegistration'); // FB pixel
        }
      });
    </script>
    
  </div>
</div>



{% schema %}
  {
    "name": "Quiz Section4",
    "settings": [
	  {
        "type": "richtext",
        "id": "question2_1",
        "label": "Question for self",
		"default":"<p>4. When I wear Skylar, I want to feel _________. Pick up to 3.</p>"
      },
	  {
        "type": "richtext",
        "id": "question2_2",
        "label": "Question for gift",
		"default":"<p>4. When wearing Skylar, they want to feel _________. Pick up to 3.</p>"
      },
	  {
		"type": "text",
		"label": "Result form label",
		"id": "form_label",
		"default": "SIGN UP TO VIEW YOUR RESULTS"
	  }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Question Answer",
        "settings": [
		{
            "id": "answer_option",
            "type": "text",
            "label": "Answer option"
          },
		  {
            "id": "product_handle",
            "type": "product",
            "label": "Select product"
          },
		  {
            "type": "select",
            "id": "order_s",
            "label": "Select Priority",
            "options": [
              { "value": "1", "label": "1" },
              { "value": "2", "label": "2" },
              { "value": "3", "label": "3" },
              { "value": "4", "label": "4" },
              { "value": "5", "label": "5" }
            ]
          }


        ]
   	  }

]


  }
{% endschema %}