<div class="row hide step2 qa text-center generaQ" data-setp="2">
        <div class="question ">
          <h3 data-for="0" class="hide" >{{ section.settings.question2_1 }}</h3>
          <h3 data-for="1" class="hide" >{{ section.settings.question2_2 }}</h3>
        </div>
        <div class="answer row">
          {% for block in section.blocks limit: collection_limit %}
          <div class="one-third column ">
            <p>{{ block.settings.option_answer }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="hide showcont">
          <a class="continue_for3 action_button" onclick="continue_for(3)" >Continue</a>
        </div>
      </div>

{% schema %}
  {
    "name": "Quiz Section2",
    "settings": [
{
        "type": "richtext",
        "id": "question2_1",
        "label": "Question for self",
"default":"<p>2. Which words best describe you. Pick up to 3.</p>"
      },
{
        "type": "richtext",
        "id": "question2_2",
        "label": "Question for gift",
"default":"<p>2. Which words best describe the person you’re buying the gift for. Pick up to 3.</p>"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Question 1 Answer",
        "settings": [
          
{
            "id": "option_answer",
            "type": "text",
            "label": "Option Answer"
          }
        ]
       }

]


  }
{% endschema %}