<div class="row hide step3 qa text-center generaQ" data-setp="3">
        <div class="question ">
          <h3 data-for="0" class="hide" >{{ section.settings.question2_1 }}</h3>
          <h3 data-for="1" class="hide" >{{ section.settings.question2_2 }}</h3>
          
        </div>
        <div class="answer row">
          {% for block in section.blocks limit: collection_limit %}
          <div class="one-third column">
            {% comment %}
            <img src="{{ block.settings.image_pic | img_url : 'medium'}}" alt="" />
            {% endcomment %}
            <p>{{ block.settings.ans }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="hide showcont">
          <a class="continue_for4 action_button" onclick="continue_for(4)" >Continue</a>
        </div>
      </div>


{% schema %}
  {
    "name": "Quiz Section3",
    "settings": [
	  {
        "type": "richtext",
        "id": "question2_1",
        "label": "Question for self",
		"default":"<p>3. I feel the best when I’m _________. Pick up to 3.</p>"
      },
	  {
        "type": "richtext",
        "id": "question2_2",
        "label": "Question for gift",
		"default":"<p>3. They feel the best when they are _________. Pick up to 3.</p>"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Question Answer",
        "settings": [
          {
			"type": "text",
			"label": "Answer text",
			"id": "ans"
		  }
        ]
       }
	]
  }
{% endschema %}