<div class="row main step0" data-setp="0">
  <div class="">
    <div class="qiz1-section-text">
      <h1 class="hero__title home__title--csb">{{ section.settings.quiz_title }}</h1>
      <p class="hero__body-copy home__body-copy--csb">{{ section.settings.quiz_subtitle }}</p>
      <span class="seprator-title"></span>
    </div>
    <div class="text-center">
      <button class="action_button taketheqz">{{ section.settings.btn_text }}</button>
    </div>
  </div>
</div>
<div class="row hide step1 qa text-center" data-setp="1">
  <div class="question ">
    <h3>{{ section.settings.question_1 }}</h3>
  </div>
  <div class="answer row">
    {% for block in section.blocks limit: collection_limit %}
    <div class="eight columns alpha" onclick="showq(2,this)">
      <p>{{ block.settings.option_answer }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .qz_page {
    {% if section.settings.quiz_bg != blank %}
    background-image: url({{ section.settings.quiz_bg | img_url : "master" }});
    {% endif %}
    {% if section.settings.quiz_bgcolor != blank %}
    background-color: {{ section.settings.quiz_bgcolor }};
    {% endif %}
    min-height: 63.2vh;
  }
  .qz_page.startquiz {
    {% if section.settings.quiz_start != blank %}
    background-image: url({{ section.settings.quiz_start | img_url : "master" }});
    {% endif %}
    {% if section.settings.quiz_start_bgcolor != blank %}
    background-color: {{ section.settings.quiz_bgcolor }};
    {% endif %}
    min-height: 63.2vh;
  }
  .qz_body .step1,
  .qz_body .step2,
  .qz_body .step3,
  .qz_body .step4 {
    min-height:400px; 
  }
  .qz_body .step1, .qz_body .step3 {
    padding-top: 5%;
  }
  
  .answer > div {
    {% if section.settings.quiz_answer_bgcolor != blank %}
    background-color: {{ section.settings.quiz_answer_bgcolor }};
    {% else %}
    background-color: transparent;
    {% endif %}
    {% if section.settings.quiz_answer_border_color != blank %}
    border-color: {{ section.settings.quiz_answer_border_color }};
    {% endif %}
  }
  .answer > div p {
    {% if section.settings.quiz_answer_text_color != blank %}
    color: {{ section.settings.quiz_answer_text_color }};
    {% endif %}
  }
  
  .answer > div:hover {
    {% if section.settings.quiz_answer_bg_hover != blank %}
    background-color: {{ section.settings.quiz_answer_bg_hover }};
    {% else %}
    background-color: transparent;
    {% endif %}
    {% if section.settings.quiz_answer_border_hover != blank %}
    border-color: {{ section.settings.quiz_answer_border_hover }};
    {% endif %}
  }
  .answer > div:hover p {
    {% if section.settings.quiz_answer_text_hover != blank %}
    color: {{ section.settings.quiz_answer_text_hover }};
    {% endif %}
  }
  
  .answer .active {
    {% if section.settings.quiz_answer_bg_active != blank %}
    background-color: {{ section.settings.quiz_answer_bg_active }};
    {% else %}
    background-color: transparent;
    {% endif %}
    {% if section.settings.quiz_answer_border_active != blank %}
    border-color: {{ section.settings.quiz_answer_border_active }};
    {% endif %}
  }
  .answer .active p {
    {% if section.settings.quiz_answer_text_active != blank %}
    color: {{ section.settings.quiz_answer_text_active }};
    {% endif %}
  }

  @media screen and (max-width: 768px){
	.qz_page {
        {% if section.settings.quiz_bg_mobile != blank %}
    	background-image: url({{ section.settings.quiz_bg_mobile | img_url : "master" }});
        {% endif %}
    	padding-top: 40px;
  	}
    .qz_page.startquiz {
        {% if section.settings.quiz_start_mobile != blank %}
    	background-image: url({{ section.settings.quiz_start_mobile | img_url : "master" }});
        {% endif %}
    	padding-top: 40px;
  	}
    .qz_body .step0 {
     padding-top: 20vh; 
    }
   	.qz_body .step1,
    .qz_body .step2,
    .qz_body .step3,
    .qz_body .step4 {
      min-height:300px; 
    }
    
    .answer > div:hover {
      {% if section.settings.quiz_answer_bgcolor != blank %}
      background-color: {{ section.settings.quiz_answer_bgcolor }};
      {% else %}
      background-color: transparent;
      {% endif %}
      {% if section.settings.quiz_answer_border_color != blank %}
      border-color: {{ section.settings.quiz_answer_border_color }};
      {% endif %}
    }
    .answer > div:hover p {
      {% if section.settings.quiz_answer_text_color != blank %}
      color: {{ section.settings.quiz_answer_text_color }};
      {% endif %}
    }
    
      .answer .active, .answer .active:hover {
        {% if section.settings.quiz_answer_bg_active != blank %}
        background-color: {{ section.settings.quiz_answer_bg_active }};
        {% else %}
        background-color: transparent;
        {% endif %}
        {% if section.settings.quiz_answer_border_active != blank %}
        border-color: {{ section.settings.quiz_answer_border_active }};
        {% endif %}
      }
      .answer .active p, .answer .active:hover p {
        {% if section.settings.quiz_answer_text_active != blank %}
        color: {{ section.settings.quiz_answer_text_active }};
        {% endif %}
      }
  }
</style>

{% schema %}
  {
    "name": "Quiz start & step 1",
    "max_blocks": 2,
    "settings": [
      {
        "type": "image_picker",
        "id": "quiz_start",
        "label": "Quiz Start Image"
      },
      {
        "type": "image_picker",
        "id": "quiz_start_mobile",
        "label": "Quiz Start Mobile Image"
      },
      {
        "type": "color",
        "id": "quiz_start_bgcolor",
        "label": "Quiz Start Background Color"
      },
      {
        "type": "image_picker",
        "id": "quiz_bg",
        "label": "Quiz Background"
      },
      {
        "type": "image_picker",
        "id": "quiz_bg_mobile",
        "label": "Quiz Mobile Background"
      },
      {
        "type": "color",
        "id": "quiz_bgcolor",
        "label": "Quiz Background Color"
      },
      {
        "type": "color",
        "id": "quiz_answer_bgcolor",
        "label": "Quiz Answer Background Color"
      },
      {
        "type": "color",
        "id": "quiz_answer_border_color",
        "label": "Quiz Answer Border Color"
      },
      {
        "type": "color",
        "id": "quiz_answer_text_color",
        "label": "Quiz Answer Text Color"
      },
      {
        "type": "color",
        "id": "quiz_answer_bg_hover",
        "label": "Quiz Answer Hover Background"
      },
      {
        "type": "color",
        "id": "quiz_answer_border_hover",
        "label": "Quiz Answer Hover Border"
      },
      {
        "type": "color",
        "id": "quiz_answer_text_hover",
        "label": "Quiz Answer Hover Text"
      },
      {
        "type": "color",
        "id": "quiz_answer_bg_active",
        "label": "Quiz Answer Selected Background"
      },
      {
        "type": "color",
        "id": "quiz_answer_border_active",
        "label": "Quiz Answer Selected Border"
      },
      {
        "type": "color",
        "id": "quiz_answer_text_active",
        "label": "Quiz Answer Selected Text"
      },
	  {
        "type": "text",
        "id": "quiz_title",
        "label": "Quiz Title",
		"default":"Which Skylar scent is perfect for you?"
      },
	  {
        "type": "text",
        "id": "quiz_subtitle",
        "label": "Quiz Subtitle",
		"default":"Find out here."
      },
{
        "type": "text",
        "id": "btn_text",
        "label": "Btn Text",
"default":"GET STARTED"
      },
	  {
        "type": "text",
        "id": "question_1",
        "label": "Question 1 title",
"default":"1. You are buying this:"
      }

    ],
    "blocks": [
      {
        "type": "image",
        "name": "Question 1 Answer",
        "settings": [
          
		{
            "id": "option_answer",
            "type": "text",
            "label": "Option Answer"
          }
        ]
       }

	]


  }
{% endschema %}
