{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% for block in section.blocks %}
<section class="sample-hero collapse-both">
  {% if block.settings.sub_hero_image != blank %}
  <img class="desktop-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% if block.settings.sub_hero_image_mobile != blank %}
      <img class="mobile-img" src="{{ block.settings.sub_hero_image_mobile | img_url : "master" }}" />
    {% else %}
      <img class="mobile-img" src="{{ block.settings.sub_hero_image | img_url : "master" }}" />
    {% endif %}
  {% endif %}
  {% if block.settings.sub_hero_title != blank %}
  <div class="inner">
    <div class="inner-content">
    	<h2 class="title hero-header" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_title }}</h2>
    	<p class="hero-sheader" style="color: {{ block.settings.sub_hero_title_color }}">{{ block.settings.sub_hero_stitle }}</p>
    </div>
  </div>
  {% endif %}

</section>

<style>
  .sample-hero {
    {% if block.settings.sub_hero_bgcolor != blank %}
    background-color: {{ block.settings.sub_hero_bgcolor }};
    {% endif %}
    min-height: 200px;
  }
</style>
{% endfor %}

{% schema %}
  {
    "name": "Sample Hero",
	"class": "index-section no-gutter",
    "settings": [],
    "blocks": [
      {
        "type": "hero_block",
        "name": "Hero",
        "settings": [
            {
              "type": "header",
              "content": "Banner Image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image",
              "info": "2000x392px recommended",
              "label": "Banner image"
            },
            {
              "type": "image_picker",
              "id": "sub_hero_image_mobile",
              "info": "800x430px recommended",
              "label": "Mobile Banner image"
            },
            {
              "type": "color",
              "id": "sub_hero_bgcolor",
              "label": "Background color"
            },
            {
              "type": "text",
              "id": "sub_hero_title",
              "label": "Title",
              "default": "WE'VE GOT YOU COVERED."
            },
            {
              "type": "text",
              "id": "sub_hero_stitle",
              "label": "Subtitle",
              "default": "Got a question or feedback for us? Shoot us a note at help@buyskylar.com."
            },
            {
              "type": "color",
              "id": "sub_hero_title_color",
              "label": "Text color"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .sample-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
  }

  .sample-hero .mobile-img {
    display: none;
  }
  
  .sample-hero .hero-header {
    font-size: 35px;
    line-height: 1.2;
    letter-spacing:1px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .sample-hero .hero-sheader {    
    line-height: 1.2;
    color: white;
    letter-spacing: 0px;
    text-transform: normal;
    font-weight: 300;
}
 
  .sample-hero .inner {
    position: absolute;
    width: 100%;
	height: 100%;
    padding: 30px 0;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }


  @media screen and (max-width: 639px){
    
   .sample-hero .mobile-img {
    	display: block;
  	}

   .sample-hero .desktop-img {
    	display: none;
  	}
    
    .sample-hero .hero-header {
      font-size: 110%;
    }

  }


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
