<div class="modal fade sub-save-modal" id="subscribe-save">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">                  
                    <h5 style="color:{{ section.settings.background_color-06}}">{{ section.settings.title-1 }} {{ section.settings.font_size-06.baseline_ratio}}</h5>
                    <p style="color:{{ section.settings.background_color-05}}" class="sub-title">{{ section.settings.title-sub-1 }}</p>
                  <p style="color:{{ section.settings.background_color-04}}" class="sub-title">{{ section.settings.title-sub-2 }}</p>
                  <div class="subscribtion-period">
                  <hr>
                    <div class="subscribtion-period-inner">
                      <div class="subscribtion-period-icon">
                        
                        {% if section.settings.image-1 != blank %}
                {{ section.settings.image-1 | img_url: "master" | img_tag: 'heart_preview' }}
               
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
                        
                       
                        </div>
                      <div class="subscribtion-period-text">
                    <h6 style="color:{{ section.settings.background_color-03}}">{{ section.settings.image-title-1 }}</h6>
                  <p style="color:{{ section.settings.background_color-02}}">{{ section.settings.text-title-1 }}</p>
                      </div>
                      </div>
                      <hr>
                    <div class="subscribtion-period-inner">
                    <div class="subscribtion-period-icon">
                       {% if section.settings.image-2  != blank %}
                {{ section.settings.image-2 | img_url: "master" | img_tag: 'sun_preview' }}
               
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
                        
                        </div>
                      <div class="subscribtion-period-text">
                      <h6 style="color:{{ section.settings.background_color-01}}">{{ section.settings.image-title-2 }}</h6>
                    <p style="color:{{ section.settings.background_color-0}}">{{ section.settings.text-title-2 }}</p>                    
                    </div>
                    </div>
                      <hr>
                    <div class="subscribtion-period-inner">
                    <div class="subscribtion-period-icon">
                      {% if section.settings.image-3  != blank %}
                {{ section.settings.image-3 | img_url: "master" | img_tag: 'stars_preview' }}
               
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
                        
                        </div>
                      <div class="subscribtion-period-text">
                    <h6 style="color:{{ section.settings.background_color-2}}">{{ section.settings.image-title-3 }}</h6>
                    <p style="color:{{ section.settings.background_color-3}}">{{ section.settings.text-title-3 }}</p>
                    </div>
                    </div>
                    <hr>
                    </div>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>




{% schema %}
  {
    "name": "Save and subscribe",
    "settings": [
				
			{
            "type": "text",
            "id": "title-1",
            "label": "Main Heading",
            "default": "Subscribe & Save"
          },
			{
          "type":      "range",
          "id":        "font_size-06",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-06",
             "label": "Font color",
             "default": "#000"
          },
			{
            "type": "text",
            "id": "title-sub-1",
            "label": "First Sub Heading",
            "default": "Don’t worry about running out! We’ll automatically ship your selection on the schedule you choose."
          },{
          "type":      "range",
          "id":        "font_size-05",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-05",
             "label": "Font color",
             "default": "#000"
          },
			{
            "type": "text",
            "id": "title-sub-2",
            "label": "Second Sub Heading",
            "default": "<span>SAVE 15%</span> on your full-sized scent(s). You can cancel, modify or postpone at any time."
          },{
          "type":      "range",
          "id":        "font_size-04",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-04",
             "label": "Font color",
             "default": "#000"
          },
			{
            "type": "image_picker",
            "id": "image-1",
            "label": "Image"
          },
			{
            "type": "text",
            "id": "image-title-1",
            "label": "First Image Heading",
            "default": "Every 3 months"
          },{
          "type":      "range",
          "id":        "font_size-03",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-03",
             "label": "Font color",
             "default": "#000"
          },{
            "type": "richtext",
            "id": "text-title-1",
            "label": "Text",
            "default": "<p>You are obsessed with scents and love spritzing every day.</p>"
          },{
          "type":      "range",
          "id":        "font_size-02",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-02",
             "label": "Font color",
             "default": "#000"
          },
	        {
            "type": "image_picker",
            "id": "image-2",
            "label": "Image"
          },
			{
            "type": "text",
            "id": "image-title-2",
            "label": "Second Image Heading",
            "default": "Every 6 months"
          },{
          "type":      "range",
          "id":        "font_size-01",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-01",
             "label": "Font color",
             "default": "#000"
          },{
            "type": "richtext",
            "id": "text-title-2",
            "label": "Text",
            "default": "<p>You love scents and spritz every so often to brighten your day.</p>"
          },{
          "type":      "range",
          "id":        "font_size-0",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-0",
             "label": "Font color",
             "default": "#000"
          },
			{
            "type": "image_picker",
            "id": "image-3",
            "label": "Image"
          },
			{
            "type": "text",
            "id": "image-title-3",
            "label": "First Image Heading",
            "default": "Every 9 months"
          },{
          "type":      "range",
          "id":        "font_size-2",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "background_color-2",
             "label": "Font color",
             "default": "#000"
          },{
            "type": "richtext",
            "id": "text-title-3",
            "label": "Text",
            "default": "<p>Scents make your day (or night) special. It helps you feel amazing for those special occasions.</p>"
          },{
          "type":      "range",
          "id":        "font_size-3",
          "min":       12,
          "max":        30,
          "step":       1,
          "unit":       "px",
          "label":     "Font size",
          "default":   16
			},
          {
             "type": "color",
             "id": "font_color-3",
             "label": "font color",
             "default": "#000"
          }


	

        ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
