{{ section.settings.shipping_date }} 
{% schema %}
  {
    "name": "Product Shipping Date",
    "settings": [
	{
        "type": "text",
        "id": "shipping_date",
        "label": "Shipping Date",
        "default": "Enter Shipping Date"
      }
          
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %} 
{% endjavascript %}
