{{ section.settings.subscription_info }} 
{% schema %}
  {
    "name": "Product Subscription Info",
    "settings": [
	{
        "type": "html",
        "id": "subscription_info",
        "label": "Subscription Info",
        "default": "Enter Subscription info"
      }
          
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %} 
{% endjavascript %}