<div class="container">
  <div class="main">
    <div class="text-column">
      <div class="inner">
        {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
        <div class="text">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn action_button">
          {{ section.settings.button_label }}
        </a>
        {% endif %}
      </div>
    </div>
    <div class="image-column">
      {{ section.settings.image | img_url: '800x800' | img_tag: section.settings.image.alt, 'image' }}
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Text With Image",
    "class": "text-with-image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
	"presets": [{
		"name": "Text With Image",
		"category": "Image"
	}]
  }
{% endschema %}

{% stylesheet %}

.two-image-hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.two-image-hero .hero-image-left,
.two-image-hero .hero-image-right {
  -webkit-flex: 0 1 40%;
  -moz-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  padding: 0 15px;
}
.two-image-hero .hero-text-column {
  -webkit-flex: 0 1 20%;
  -moz-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding: 0 15px;
}

@media screen and (max-width: 767px){
  .two-image-hero {
    display: block;
    width: 100%;
  }
  .two-image-hero .hero-image-left,
  .two-image-hero .hero-image-right,
  .two-image-hero .hero-text-column {
    display: block;
    text-align: center;
    padding: 15px;
    width: 100%;
  }
}

{% endstylesheet %}
