<div class="container width-full-img three-image">
  <div class="sixteen columns">
    {%- assign grid_item_width = 'four columns' -%}
    {%- assign image_size = '345x' -%}
    {% case section.blocks.size %}
    {% when 1 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
    {%- assign image_size = '530x' -%}
    {% when 2 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
    {%- assign image_size = '530x' -%}
    {% when 3 %}
    {%- assign grid_item_width = 'one-third column' -%}
    {%- assign image_size = '530x' -%}
    {% endcase %}
    {% for block in section.blocks %}
    {% if section.blocks.size == 5 %}
    {%- assign column_width = 'one-fifth column ' -%}
    {% else %}
    {%- assign column_width = grid_item_width -%}
    {% endif %}
    <div class="column-item {{ column_width }} {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %} center  text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
      <div class="inner overText">
        <a href="{{ block.settings.url }}" >
          {{ block.settings.product_home | img_url: '640x640' | img_tag: 'feature-row__image' }}
          <p><span class="action_button">{{ block.settings.title }}</span></p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Three Images",
    "max_blocks": 5,
    "settings": [
    ],
    "presets": [{
      "name": "Three Images no effect",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }],
    "blocks": [
      {
        "type": "image",
        "name": "Three Images no effect",
        "settings": [
          {
            "id": "product_home",
            "type": "image_picker",
            "label": "Product Image"
          },
		  {
			"type": "text",
			"label": "block title",
			"id": "title"
		  },
		  {
			"type": "url",
			"label": "block link",
			"id": "url"
		  }
        ]
       }

]


  }
{% endschema %}

{% stylesheet %}
  @media screen and (max-width: 767px){
	.three-image img {
		margin-bottom: 10px;
	}
  }
{% endstylesheet %}