@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-ExtraBold.eot' | file_url }});
  src: url({{ 'Montserrat-ExtraBold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-ExtraBold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-ExtraBold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-ExtraBold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-ExtraBold.svg#Montserrat-ExtraBold' | file_url }}) format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Medium.eot' | file_url }});
  src: url({{ 'Montserrat-Medium.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Medium.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Medium.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Medium.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Medium.svg#Montserrat-Medium' | file_url }}) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-ExtraLight.eot' | file_url }});
  src: url({{ 'Montserrat-ExtraLight.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-ExtraLight.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-ExtraLight.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-ExtraLight.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-ExtraLight.svg#Montserrat-ExtraLight' | file_url }}) format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Light.eot' | file_url }});
  src: url({{ 'Montserrat-Light.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Light.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Light.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Light.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Light.svg#Montserrat-Light' | file_url }}) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Thin.eot' | file_url }});
  src: url({{ 'Montserrat-Thin.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Thin.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Thin.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Thin.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Thin.svg#Montserrat-Thin' | file_url }}) format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Regular.eot' | file_url }});
  src: url({{ 'Montserrat-Regular.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Regular.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Regular.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Regular.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Regular.svg#Montserrat-Regular' | file_url }}) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Bold.eot' | file_url }});
  src: url({{ 'Montserrat-Bold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Bold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Bold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Bold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Bold.svg#Montserrat-Bold' | file_url }}) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Black.eot' | file_url }});
  src: url({{ 'Montserrat-Black.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Black.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Black.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Black.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Black.svg#Montserrat-Black' | file_url }}) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-SemiBold.eot' | file_url }});
  src: url({{ 'Montserrat-SemiBold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-SemiBold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-SemiBold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-SemiBold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-SemiBold.svg#Montserrat-SemiBold' | file_url }}) format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FO-Icons";
  src: url({{ 'fo_i.eot' | file_url }});
  src: url({{ 'fo_i.eot?#iefix' | file_url }}) format("embedded-opentype"),
    url({{ 'fo_i.woff2' | file_url }}) format("woff2"),
    url({{ 'fo_i.woff' | file_url }}) format("woff"),
    url({{ 'fo_i.ttf' | file_url }}) format("truetype"),
    url({{ 'fo_i.svg#fo_i' | file_url }}) format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  @media screen and (max-width: 992px) {
    padding-bottom: 60px;
  }
}

#blog{
  width: 100%;
  max-width: 98%;
  margin: 0 auto;
  float: none;
  display: table;
}

.article-container{
  @extend #blog;
}

.sidebar_content {
  border-left: none;
  padding: 20px;
  background: #f5f5f5;

}

.blog-title{
  margin-left: 0.75%;
  margin-right: 0.75%;
  h1{
    color: #000;
    a{
      color: #000;
    }
  }
}
.blog-subtitle {
  font-size: 16px;
}

.excerpt{
  font-size: 14px;
}

.breadcrumb_text {
  color: #555;
  span{
    color: #555;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    a{
      color: #555;
    }
  }

}

#blog{
  .article{
    .post-date{
      text-transform: uppercase;
      color: #000;
      font-size: 15px;
    }
    img{
      width: 100%;
    }

    h2{
      font-size: 20px;
      margin: 0 0 10px;
    }

    a{
      display: table;
      position: relative;


      .article-video{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &::before {
          content: '';
          display: block;
          background: url({{ "button-play.svg" | asset_url }}) no-repeat;
          background-size: contain;
          width: 45px;
          height: 45px;
          margin: 0;
          z-index: 2;
          position: relative;
        }
      }
    }
  }
  &.press .article a {
    display: block;
    text-align: center;
    img {
      width: auto;
      height: 240px;
      margin: 0 auto 5px;
    }
  }
}

.press-logos img {
  margin: 0 auto;
}

body.article iframe {
  max-width: 100%;
}


h2.resp-tab-active{
  font-weight: bold;
  color: #000;
}

.help-faq h2.resp-accordion {
  text-transform: uppercase;
  font-size: 17px;
}

.help-faq h2.resp-accordion {
  text-transform: uppercase;
  border: none!important;
}

.resp-vtabs .resp-tab-content {
  border: none!important;
}

.nav ul.menu li {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  margin-top: 0;
  top: 100%;
}

.dropdown_links {
  margin-top: 0;
}

.index_fixed.container{
  padding-top: 0;
  padding-bottom: 0;
}


.search-popup{
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  max-width: 500px;
}

#search .search-popup form input {
  height: 50px;
  border: solid 1px #8a898a;
  font-size: 20px;
  margin: 0;
  padding: 0 50px;
}

#search .search-popup form {
  z-index: 950;
  padding: 0;
  clear: both;
}

.search-popup .search-submit {
  float: left;
  font-size: 28px;
  position: absolute;
  padding: 0!important;
  margin: 0;
  cursor: pointer;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

}

.search-popup .search-close.ss-icon {
  padding: 0!important;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  right: 15px;
  font-size: 25px;
  margin: 0;
}

button.sign_up[type="submit"],
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="color"], select, textarea{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;

}

.footer h6{
  text-transform: uppercase;
}

.nav ul.menu.right a:hover{
  opacity: 0.5;
  color: {{ settings.nav_color_home }} !important
}

.nav li a.ico-search svg{
  width: 16px;
  vertical-align: middle;
}

.nav li a.ico-search span {
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 300;
}

img {
  max-width: 100%;
  border: 0;
  display:block;
}

.index-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  width: 100%;
}

.index-section.no-gutter {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  width: 100%;
}

.header {

  width: 100%!important;
  top: 0!important;
  left: 0!important;
  transition: background-color 0.25s;
  z-index: 1000;
}

.header.scrolling {
  position: fixed!important;
  background-color: #fff;
  /* box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);*/
}

.header:hover {
  background-color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}

.child-page .header{
  margin-bottom: 30px;
  /*box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);*/
}
.child-page.product-gift-card .header,
.child-page.product .header
{
  margin-bottom:0;
}

.header.scrolling .promo_banner{
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  display: none;
}

.nav ul.menu {
  padding-top: 6px;
}

.menu li:hover>.dropdown {
  display: block;
  z-index: 9;
}

.header div.container {
  padding-bottom: 20px;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.header.scrolling div.container {
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav a{
  letter-spacing: 0.02em;
}

.nav ul.menu.align_left li {
  padding: 5px 3px 5px 0;
  line-height: 1;
}

.nav ul.menu.align_left li a {
  padding: 10px 15px 10px 0px;
}

.dropdown_links {
  border-top: 1px solid #ddd;
}

.scroll-arr {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 25px;
  left: 50%;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  display: none;

  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

  z-index: 9;
  background-color: #fff;
  background-image: url({{ "nav-size.svg" | asset_url }});
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}


#pagecontent{
  height: 0px;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.footer{
  padding-bottom: 0;
}

.footer-bottom{
  background: #4a4a4a;
}

.footer-bottom .footer_menu{
  text-align: right;
}

.footer-bottom .footer_menu li {
  text-align: right;
  display: inline-block;
  margin: 0;
}

.footer_menu li {
  display: block;
  padding-right: 0;
  padding-left: 20px;
  margin: 0 0 5px;
}

.footer_menu li a {
  text-transform: uppercase;
  font-size: 14px;
}

.footer-bottom .footer_menu li a {
  text-transform: uppercase;
  font-size: 12px;
}

.footer-bottom div.container {
  margin: 0 auto;
  padding: 10px 0;
}

.footer-bottom p{
  line-height: 30px;
  margin: 0;
}

.payment_methods {
  margin: 0;
  filter: alpha(opacity=80);
  opacity: 0.9;
  text-align: right;
}

.headline, p.subtitle,
.feature_image .header .nav a, .feature_image .header .nav a.icon-cart, .feature_image .header .nav a.cart-button span, .feature_image .header select.currencies{
  text-shadow: none;

}

h2.title, .h2size {
  font-size: 35px;
  line-height: 2.475rem;
  margin: 0 auto 15px 0;
  text-transform: uppercase;
}

/*================ Sizing Variables ================*/
$width-site: 1200px;
$gutter-site: 55px;
$gutter-site-mobile: 22px;
$section-spacing: 55px;
$section-spacing-small: 35px;
$border-radius: 2px;

/*================ Hero ================*/
$color-background-hero-button: #fff;
$color-text-hero-button: #000;

/*================ Hero Slider ================*/
$color-slideshow-arrows: #000;
$color-slideshow-dots: #fff;

$transition-text-slideshow: all 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
$transition-image-slideshow: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);

// Button colors
$color-btn-primary: #000;
$color-btn-primary-text: #fff;

/*================ Z-Index ================*/
$z-index-dropdown : 7;
$z-index-sub-nav: 8;
$z-index-drawer: 9;
$z-index-notification-bar: 10;
$z-index-skip-to-content: 10000; // really high to be safe of app markup

// Overlays
$color-overlay-title-text: .5;
$color-image-overlay: .5;
$opacity-image-overlay: .5;


@mixin overlay($z-index: null) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-image-overlay;
    opacity: $opacity-image-overlay;

  }
}

/*============================================================================
Prefix mixin for generating vendor prefixes.
Based on https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss

Usage:
// Input:
.element {
@include prefix(transform, scale(1), ms webkit spec);
}

// Output:
.element {
-ms-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}
==============================================================================*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin transform($transform) {
  @include prefix(transform, $transform, ms webkit spec);
}
@mixin spinner($size: 20px, $color: $color-btn-primary-text) {
  content: '';
  display: block;
  width: $size;
  height: $size;
  position: absolute;
  margin-left: - $size / 2;
  margin-top: - $size / 2;
  border-radius: 50%;
  border: 3px solid $color;
  border-top-color: transparent;
}
/*============================================================================
Animation Classes and Keyframes
==============================================================================*/
.is-transitioning {
  // sass-lint:disable no-important
  display: block !important;
  visibility: visible !important;
}

@mixin animation($animation) {
  @include prefix(animation, #{$animation}, moz o webkit spec);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}


/*================ VARIABLES ================*/
/*============================================================================
Grid Breakpoints and Class Names
- Do not change the variable names
==============================================================================*/
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

/*============================================================================
#Grid
==============================================================================*/

// The `$grid-breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$grid-breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

/*================ Media Query Mixin ================*/
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $grid-breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
  }
}

@if $breakpoint-found == false {
  @warn 'Breakpoint "#{$media-query}" does not exist';
}
}


/*============================================================================
Hero slider

Extends default slick slider styles.
Extra specificity in selectors is used to override defaults.
==============================================================================*/
$slideshow-height-small: 475px;
$slideshow-height-medium: 650px;
$slideshow-height-large: 80vh;
$slideshow-loader: #fff;
$z-index-slideshow-image: 1;
$z-index-slideshow-video: 2;
$z-index-slideshow-text: 3;
$z-index-slideshow-controls: 4;
$color-slideshow-close-bg: #fff;
$color-slideshow-close-text: #000;

.slideshow-wrapper {
  position: relative;
}

.slideshow {
  overflow: hidden;
  margin-bottom: 0;


  // Make sure slides fill full height
  .slideshow__slide,
  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slick-prev,
  .slick-next {
    top: 0;
    height: 100%;
    margin-top: 0;
    width: 40px;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    bottom: $gutter-site-mobile;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    // sass-lint:disable SelectorDepth
    li button::before {
      color: $color-slideshow-dots;
    }
  }
}

.video-is-playing .slick-dots {
  // sass-lint:disable no-important
  display: none !important;
}

// Pause button (focusable by keyboard only)
.slideshow__pause:focus {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  color: $color-btn-primary-text;
  background-color: $color-btn-primary;
  padding: $gutter-site / 2;
  z-index: $z-index-skip-to-content;
  transition: none;

  .video-is-playing & {
    display: none;
  }
}

.slideshow__pause-stop {
  display: block;

  .is-paused & {
    display: none;
  }
}

.slideshow__pause-play {
  display: none;

  .is-paused & {
    display: block;
  }
}

/*================ General slide styles ================*/
.slideshow__slide {
  position: relative;
  overflow: hidden;
}

.slideshow__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:active,
  &:focus {
    opacity: 1;
  }
}

.slideshow__overlay {
  @include overlay($z-index-slideshow-text);
}

/*================ Slide images ================*/
.slideshow__image {
  transition: $transition-image-slideshow;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: $z-index-slideshow-image;

  .slick-initialized &,
  .no-js & {
    opacity: 1;
  }

  .slideshow__slide--background-video & {
    opacity: 0;
  }

  .no-autoplay & {
    opacity: 1;
  }
}

// z-index stacking issues in oldIE
.ie9 {
  .slideshow__slide {
    // sass-lint:disable no-important
    z-index: 1 !important;
  }

  .slick-dots {
    z-index: 2;
  }
}

/*================ Slide text ================*/
.slideshow__text-wrap {
  height: 100%;

  .slideshow__link & {
    cursor: inherit;
  }

  .slideshow__slide--has-background-video & {
    padding-top: $gutter-site * 3;
  }

  .video-is-playing & {
    display: none;
  }

  .slideshow__slide.video-is-paused & {
    display: none;
  }
}

.slideshow__text-content {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  @include transform(translateY(-40%));
  opacity: 0;
  transition: $transition-text-slideshow;
  transition-delay: 0.3s;
  z-index: $z-index-slideshow-text;

  .slick-active &,
  .no-js & {
    @include transform(translateY(-50%));
    opacity: 1;
  }

  &::after {
    content: '';
    @include spinner(40px, $slideshow-loader);
    @include animation(spin 0.65s infinite linear);
    opacity: 1;
    transition: all 1s cubic-bezier(0.29, 0.63, 0.44, 1);
    bottom: -$gutter-site;
    left: 50%;
  }

  .slick-initialized &,
  .no-js & {
    &::after {
      opacity: 0;
      visibility: hidden;
      content: none;
    }
  }
}

.slideshow__title {
  color: $color-overlay-title-text;
}

.slideshow__subtitle {
  display: block;
  color: $color-overlay-title-text;
}

/*================ Video styles ================*/
.slideshow__slide--has-background-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-slideshow-video;
}

.slideshow__video {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: $z-index-slideshow-video;
}

// Background video
.slideshow__video--background {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;

  .autoplay &.video-is-loaded {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

// Place invisible element over video to prevent clicks
.slideshow__slide--background-video::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-slideshow-video;
}

.slideshow__video--chrome {
  display: none;
  opacity: 0;
  visibility: none;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;

  // YouTube video will not load if iframe is display: none
  .ie9 & {
    display: block;
  }

  .slideshow__slide.video-is-playing &,
  .slideshow__slide.video-is-paused & {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

/*================ Video control buttons ================*/
.slideshow__video-control {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 5px;
  z-index: $z-index-slideshow-controls;
  transition: all 0.1s ease-out;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

// Video loader shown when initializing
.video-loader {
  @include spinner(40px, $slideshow-loader);
  @include animation(spin 0.65s infinite linear);
  transition: all 0.1s ease-out 0.5s;
  z-index: $z-index-slideshow-controls;
  top: 50%;
  left: 50%;

  .ie9 &,
  .video-is-loaded &,
  .video-is-playing &,
  .video-is-paused &,
  .autoplay &,
  .no-autoplay & {
    content: none;
    display: none;
  }

  .video-is-loading &,
  .autoplay .video-is-loading &,
  .no-autoplay .video-is-loading & {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.slideshow__video-control--play-wrapper {
  height: 30px;

  @include media-query($medium-up) {
    height: 45px;
  }
}

@include media-query($medium-up) {
  .slideshow__video-control--play-wrapper--push {
    margin-top: $grid-gutter;
  }
}

.slideshow__video-control--play {
  opacity: 0;
  color: $color-overlay-title-text;
  position: relative;
  margin: 0 auto;

  .slideshow__video--background {
    top: 50%;
    @include transform(translateY(-50%));
  }

  .video-is-loaded & {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .video-is-loading &,
  .video-is-playing &,
  .slideshow__slide.video-is-paused & {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .icon {
    width: 42px;
    height: 100%;

    @include media-query($medium-up) {
      width: 65px;
    }
  }
}

.slideshow__video-control--close {
  top: 10px;
  right: 10px;


  .video-is-playing &,
  .slideshow__slide.video-is-paused & {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}


.footer form {
  margin-bottom: 0;
  position: relative;
}

.footer_menu li {
  display: block;
  padding-right: 0;
  padding-left: 20px;
}

input.contact_email[type="email"] {
  width: 100%;
  font-family: Montserrat;
  display: inline-block;
}

button.sign_up[type="submit"] {
  margin-left: 0;
  display: inline-block;
  width: 40px !important;
  font-size: 15px !important;
  position: absolute;
  top: 0;
  padding: 10px;
  right: 0;
  height: 40px;
}

.logo{
  @media(min-width: 992px) {
    /*	margin-left: 0.65% !important;*/
  }
}

/*.header div.logo a{
margin: 0;
text-align: left;
@media(min-width: 992px) {

}
}*/


.nav.menu_center{

}

.footer .footer_menu a{
  vertical-align: middle;
}

.footer .footer_menu a{
  margin-bottom: 0;
}

.footer h6, .footer .footer_menu a {
  margin-bottom: 0;
  color: #4a4a4a;
}
.footer .footer_menu a:hover{
  color:#8a898a;
}
.footer .footer-bottom p, .footer .footer-bottom a {
  margin-bottom: 0;
  color: #a5a5a5;
}

.footer a.ss-icon {
  font-size: 30px;
  margin: 15px 10px 15px 0;
}

.footer > .container{
  padding-top: 30px;
  padding-bottom: 30px;
}

.loop-purchase{
  border: 2px solid #222;
}


.loop-purchase:hover{
  border: 2px solid #ff7354;
}

.thumbnail .title {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin: 2px auto 0px;
}

.thumbnail .price{
  display: block;
  margin: 0 0 10px;
  font-weight: normal;
}

.loop-purchase form {
  margin-bottom: 0!important;
}

.loop-purchase:hover  form input.action_button{
  background: #ff7354;
  opacity: 1;
}

.loop-purchase form input.action_button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #000;
  margin: 0 !important;
}

.owl-controls{

}

.owl-controls .owl-dots {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}

.owl-controls .owl-dots .owl-dot{
  background-color: #9F9F9E;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  display: inline-block;
  margin: 0 5px;
  height: 10px;
  width: 10px;
}
.owl-controls .owl-dots .owl-dot.active{
  opacity: 1;
  background-color: #4A4A4A;
}


.slideshows.owl-carousel .owl-item .item{
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  /*height: 550px !important;
  {% if settings.layout_option == "fixed" %}
  height: 580px;
  {% endif %}*/
}
.homepage.owl-carousel .item.slideshow {
  height: inherit !important;
}
.homepage.owl-carousel .action_button{
  font-weight:400;
}
.homepage.owl-carousel .action_button:hover{
  background:#8a898a;
}
.seprator-title {
  background: #4a4a4a none repeat scroll 0 0;
  display: block;
  height: 3px;
  margin: 0 auto 25px;
  width: 100px;
}
.slideshows.owl-carousel .owl-item{
  width: 100%;
  margin: 0!important;
  {% unless settings.layout_option == "fixed" %}
  min-height: 300px;
  {% endunless %}
}


.slideshows.owl-carousel .owl-controls .owl-nav > div {
  height: 40px;
  width: 40px;
  background-size: 25px;
  display: block !important;
  text-indent: -999999px;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #4A4A4A;
  padding: 10px;
  background-position: center center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.slideshows.owl-carousel .owl-controls .owl-nav > div:hover{
  opacity: 0.9
}

.slideshows.owl-carousel .owl-controls .owl-nav .owl-next{
  background-image: url({{ "next.svg" | asset_url }});
  right: 15px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
}

.slideshows.owl-carousel .owl-controls .owl-nav .owl-prev{
  background-image: url({{ "back.svg" | asset_url }});
  left: 15px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
}

.collection-grid-item__title-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 100%;
  max-width: 90%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.collection-grid-item__title-wrapper h3 {
  color: #fff;
  margin: 0;
  width: 100%;
  text-align: center;
}

.collection-grid-item__overlay{
  display: inline-block;
}

.thumbnail img {
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
}

.promo_banner.promo_banner-close{
  display: none;
}

.promo_banner a{
  color: #fff;
  font-weight: bold;
}

.header .promo_banner div.container{
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}



.promo_banner button.close {
  padding: 0;
  margin: 0;
  font-size: 20px;
  background: none;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

}

#header a.right svg{
  padding-left: 5px;
  width: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
}

#header a.right span {
  padding: 0;
  padding-left: 0;
  top: -1px;
  vertical-align: middle;
  display: inline-block;
}

#header a.right {
  left: auto;
  right: 15px;
  font-size: 20px;
  padding-top: 0;
  top: 0;
}


form#contact_form.contact-form{
  position: relative;
}

.nav ul.menu li{
  vertical-align: top;
}

.nav ul.menu.right {
  padding-top: 6px;
  width: 100%;
  text-align: right;
}

.quick_shop{
  font-family: 'Montserrat';
  right: 10%;
  z-index: 19;
}

.quick_shop svg{
  width: 80px;
}

.product_image img.hidden{
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}

.product_image:hover img.hidden{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.product_image:hover img.main_img{
  opacity: 0;
  visibility: hidden;
}

.newsletter button img {
  width: 20px;
  vertical-align: middle;
}

.quantity-box {
  display: table;
  border: none;
  padding: 0;
  vertical-align: middle;
  width: 100px;
  border: 1px solid #000;
}

.quantity-box>span {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0;
}

.quantity-box > input{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  text-align: center;
  padding: 0;
  border-right: 1px solid #000!important;
  border-left: 1px solid #000!important;
  border-top: none!important;
  border-bottom: none!important;
}

.inline_purchase {
  display: inline-block;
  margin-left: 20px;
  margin-top: 0;
}

.flex-control-thumbs {
  width: 10% !important;
  float: left;
  margin: auto 2% auto 0 !important;
}

.slides {
  float: right;
  width: 88%!important;
}

.flex-control-thumbs li {
  margin-top: 0 !important;
  width: 40px!important;
  height: 40px !important;
  overflow: hidden !important;
  border-radius: 100%;
  margin: 10px 0 !important;
  border: 1px solid #eee !important;
}

.title{
  text-transform: uppercase;
  text-align: center;
}

.related-products{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.collection-image {
  background-size: cover;
  height: 400px;
  background-position: center;
}

.collection-header{

}

.collection-header > div{

}

.collection-products{
  margin-top: 20px;
}



.footer-section{
  width: 100%;
}

.collection-image {
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 400px;
  background-position: center;
  position: relative;
}

.child-page.collection .header,
.child-page.blog .header{
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}

@media screen and (min-width: 768px){
  .collection-title {
    width: 100%;
    max-width: 50%;
  }

  #product-page {
    width: 100%;
    margin: 30px auto 0;
    padding: 0 50px;
  }

  .footer>.container{
    padding: 30px;
  }

}

.collection-title {
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 30px;
  max-width: 480px;
  text-align:center;
}
.collection-image{
  min-height:inherit;
  height:inherit !important;
}
.collection_description p {
  font-size: 15px;
  line-height: normal;
}
.sub-hero > img {
  display: block;
  width: 100%;
}
.collection-title .title.h2size {
  padding: 0 40px;
}
.i {
  font-family: "FO-Icons" !important;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal !important;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#perks .perks-side i {
  color: #999;
  font-size: 2rem;
}
.i_arrow_left:before {
  content: "\f101"; }

.i_arrow_right:before {
  content: "\f102"; }

.i_bag:before {
  content: "\f103"; }

.i_bold-check:before {
  content: "\f104"; }

.i_bold-cross:before {
  content: "\f105"; }

.i_burger:before {
  content: "\f106"; }

.i_caret-down:before {
  content: "\f107"; }

.i_caret-left:before {
  content: "\f108"; }

.i_caret-right:before {
  content: "\f109"; }

.i_caret-up:before {
  content: "\f10a"; }

.i_cashback:before {
  content: "\f10b"; }

.i_chat_bubble:before {
  content: "\f10c"; }

.i_check-in-circle:before {
  content: "\f10d"; }

.i_express-shipping:before {
  content: "\f10e"; }

.i_facebook:before {
  content: "\f10f"; }

.i_flame:before {
  content: "\f110"; }

.i_gear:before {
  content: "\f111"; }

.i_heart-filled:before {
  content: "\f112"; }

.i_heart_check:before {
  content: "\f113"; }

.i_info:before {
  content: "\f114"; }

.i_instagram:before {
  content: "\f115"; }

.i_international:before {
  content: "\f116"; }

.i_large_chevron_down:before {
  content: "\f117"; }

.i_large_chevron_left:before {
  content: "\f118"; }

.i_large_chevron_right:before {
  content: "\f119"; }

.i_large_chevron_up:before {
  content: "\f11a"; }

.i_magnifier:before {
  content: "\f11b"; }

.i_map_pin:before {
  content: "\f11c"; }

.i_messenger:before {
  content: "\f11d"; }

.i_pen-line:before {
  content: "\f11e"; }

.i_play:before {
  content: "\f11f"; }

.i_refresh-large:before {
  content: "\f120"; }

.i_refresh-small:before {
  content: "\f121"; }

.i_return:before {
  content: "\f122"; }

.i_security:before {
  content: "\f123"; }

.i_shipping:before {
  content: "\f124"; }

.i_snapchat:before {
  content: "\f125"; }

.i_thin-check:before {
  content: "\f126"; }

.i_thin-cross:before {
  content: "\f127"; }

.i_token:before {
  content: "\f128"; }

.i_trash-can:before {
  content: "\f129"; }

.i_triangle_down:before {
  content: "\f12a"; }

.i_triangle_up:before {
  content: "\f12b"; }

.i_twitter:before {
  content: "\f12c"; }

.i_two-hour-delivery:before {
  content: "\f12d"; }

.i_ultrabold-cross:before {
  content: "\f12e "; }
.col-md-3 {
  width: 25%;
}
#perks .perks-item {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  .perks-image {
    width: 30px;
    height: 60px;
    img {
      position: relative;
      top: 50%;
      margin-top: -16px;
    }
  }
}
#perks > div {
  float: left;
  padding: 0 15px;
}
#perks {
  background-color: #E8E6E6;
  border-top: 2px solid #8a898a;
  border-bottom: 2px solid #8a898a;
  color: #333;
  padding: 30px;
}
#perks .perks-side {
  display: inline-block;
  vertical-align: middle;
}
#perks .perks-side.perks-content {
  text-align: left;
  max-width: calc(100% - 3.5rem);
  margin-left: .5rem;
}
#perks h6 {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
}
#perks .small {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
#perks h3 {
  margin: 26px 0 11px;
  font-size:24px;
  text-transform: uppercase;
  @media screen and (max-width: 1100px) {
    margin-top: 11px;
  }
}
.full_width {
  padding: 0 15px;
}
.width-full-img .inner img {
  width: 100%;
}
.overText {
	position: relative;
}
.overText a {
  display: block;
  &.button {
    display: inline-block;
  }
}
.overText p {
	margin: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
  	margin-top: -30px;
	font-size: 34px;
	color: #4a4a4a;
  	span {
      display: inline-block;
      min-width: 140px;
    }
  @media screen and (max-width: 480px){
    font-size: 20px;
  }
}
.overText a:hover {
  p {
  	color: #9F9F9E;
    span {
      background: #a3a3a3;
    }
  }
}
div.content.padding-bototm20{
  padding-bottom:20px;
}
.product-grd-img {
  background: #000 none repeat scroll 0 0;
  display: inline-block;
}
.quick_shop.ss-icon {
  border: 2px solid #fff;
  color: #fff;
  font-size: 17px;
  left: 50%;
  min-width: 132px;
  margin: 0;
  padding: 3px 10px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  line-height: normal;
  height: 40px;
  line-height: 31px;
  text-align: center;
  transition:0.3s all;
  -webkit-transition:0.3s all;
}
.quick_shop.ss-icon:hover{
  background:#a3a3a3;
  color:#fff;
  border-color:#a3a3a3;
}
.thumb_grd_product:hover .product-grd-img .main_img {
  opacity: 0.7 !important;
}
.grid-sapretor-title {
  background: #4a4a4a none repeat scroll 0 0;
  display: block;
  height: 3px;
  margin: 3px auto;
  width: 100px;
}
share-button .sb-social {
  z-index: 10;
}
.footr-social_media > a{
  display:inline-block;
  margin-right:7px;
}
.footr-social_media > a img{
  transition:0.3s all;
  -webkit-transition:0.3s all;
  max-width:30px;
}
.footr-social_media > a:hover img{
  opacity:0.7;
}
.footr-social_media {
  margin-top: 10px;
}
.footr-social_media .hashtag {
  position: relative;
  top: -8px;
}
@media screen and (max-width: 1100px){
  .col-md-3 {
    width: 100%;
    text-align: center;
  }
  .col-xs-4.col-md-3 {
    width: 33.33%;
  }
}
@media screen and (max-width: 992px){
  .tag-text{
    font-size:13px;
  }
  .slides {
    float: none;
    width: 100%!important;
  }

  .child-page.product .action_button{
    font-size: 18px;
  }

  .flexslider {
    overflow: visible;
    margin-bottom: 60px;
  }
  .flex-control-thumbs {
    width: 100% !important;
    float: left;
    position: absolute;
    top: initial;
    bottom: -60px;
    z-index: 9;
    margin: 0!important;
    & > li {
      display: inline-block !important;
      margin-right: 10px !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  .child-page div.content {
    padding: 60px 0px 0px 0px;
  }

  #header a.mobile_logo {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 34px;
    z-index: 0;
    width: 50%;
  }

  .header {
    display: none!important;
  }

  #header {
    display: block!important;
  }

  #header a.mobile_logo img {
    width: auto;
    max-width: 100%;
    max-height: 25px;
    padding-top: 5px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px){
  div.content.padding-bototm20{
    padding-bottom:10px;
  }
  .col-xs-4.col-md-3 {
    width: 100%;
  }
  #perks .perks-item {
    margin-bottom: 10px;
  }
  #perks h6 {
    line-height: 16px;
    font-size: 12px;
  }
  #perks .perks-item {
    padding-top: 0;
    padding-bottom: 3px;
    text-align: left;
    margin: 0 auto;
    max-width: 250px;
    float: none;
  }

  .collection-title {
    width: 100%;
    max-width: 100%;
  }

  .index_fixed.container {
    width: 100%;
    padding: 0 20px;
  }

  .slideshows.owl-carousel .owl-item .item{
    {% if settings.layout_option == "fixed" %}
    height: 480px;
    {% endif %}
  }

  form input.action_button {
    font-size: 13px!important;
  }
  #cart a.action_button.edit_cart, #cart .action_button {
    font-size: 13px;
    width: auto;
  }

  .index-section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 100%;
  }


  h2.title, .h2size {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 auto 15px;
  }


  .slideshows.owl-carousel .owl-controls .owl-nav>div {
    height: 25px;
    width: 25px;
    background-size: 15px;
  }


}

@media screen and (max-width: 479px){
  .slideshows.owl-carousel .owl-item .item{
    {% if settings.layout_option == "fixed" %}
    height: 380px;
    padding: 0;
    {% endif %}
  }

  .index_fixed.container {
    padding: 0;
  }


}

#product-page-giftcard {

  h1.product_name {
    /*   	margin-top: 20px; */
  }
  .product_section  {
    margin-top: 80px;
    @media screen and (max-width: 639px){
      margin-top: 3em;
      padding: 0 10px;
    }
  }
  .gctop .overlay_text h3 {
    font-size: 35px;
    @media screen and (max-width: 639px){
      font-size: 110%;
    }
    line-height: 1.25em;
    margin: 0 auto 15px;
    clear: both;
    font-weight: normal;
    padding-top: 4px;
  }
  @media screen and (min-width: 639px){
    share-button {
      margin-top: 40px;
    }
  }
}
.page-about .sub-hero .hero-header {
  display: inline-block;
}
/* #refcandy-candyjar {height: auto !important;} */

.featured_products .homepage_content h2 a {
  font-size: 18px;
  @media(min-width: 639px) {
    font-size: 35px;
  }
}

.mm-list>li>a, .mm-list>li>span {text-transform: uppercase;}

@media screen and (max-width: 992px) {
  #header, #header a {
    height: 60px;
  }
  #header a {
    padding-top: 18px;
  }
  #header a.right {
    top: 6px;
  }
  #header a.right svg {
    margin-top: 3px;
  }
  #header a.right span {
    top: 3px;
  }
}

@media(min-width: 639px) {
  .shopify-section.index-section.video-section {
    padding-top: 10px;
  }
  .shopify-section.index-section.instagram-section {
    padding-top: 50px;
  }
  .child-page.collection .collection-new-container {padding: 40px 0 15px;}
}
.gc_section, .collection-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}
@media screen and (max-width: 639px) {

}

/*================ Refer Page ================*/
.referral-page {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  .title {
    font-size: 35px;
  }
  .refer-form {
    max-width: 50%;
    margin: 20px auto 10px;
  }
  label {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
  }
  .button {
    max-width: initial !important;
  }
  .note {
    font-size: .9em;
    margin-top: 10px;
  }
}

/*================ Scent Quiz ================*/

.quiz-subscribe {
  margin: 0 auto;
  max-width: 50%;
}
@media screen and (max-width: 480px) {
  .quiz-subscribe {
    max-width: 100%;
  }
}


/*================== Helper Classes =============*/
.mobile-img {
  display: none;
}
@media screen and (max-width: 639px){
  .mobile-img {
    display: block;
  }
  .desktop-img {
    display: none;
  }
}

/* ADDON.CSS */

/*.slideshow-section, .video-section {
  padding: 0 10px;
}*/
/*.container {
  width: 100%;
}*/
.collection .index-section {
  padding-top: 0;
}
/*.collection-content {
  padding: 0 10px;
}*/
.flex-control-nav.flex-control-thumbs > li {
  display: block;
}
.cart #cart_form {
  margin: 0 auto;
  max-width: 1400px;
}
.cart_page_image > img {
  max-height: 130px;
}
.cart #cart_form .clear {
  margin-bottom: 10px;
}
.search .container.main.content {
  max-width: 1400px;
}
.search .four.columns.alpha img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}
input[type="text"], input[type="email"] textarea {
  box-shadow: none !important;
  background: #fff none repeat scroll 0 0 !important;;
}


#shopify-section-collection-template .collection-content {
  margin-bottom: 15px;
}
.frg_icons {
  margin-bottom: 50px;
}
#product-page-giftcard .selector-wrapper, #product-page-giftcard .select {
  display: block;
}
.gc_section {
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 25px 15px;
}
.gc_section.rightside.gctop {
  margin-bottom: 4.5em;
}
.overlay_text {
  display: inline-block;
  position: relative;
  text-align: left;
  top: 00%;
 /* transform: translateY(-50%);
  -webkit-transform: translateY(-50%); */
  width: 33%;
}
.rightside {
  text-align: right;
}
.middleblock {
  text-align: center;
}
.overlay_text h3 {
  font-size: 26px;
}
.subtext > p {
  font-size: 18px;
}
/*#shopify-section-giftcard_top, #shopify-section-giftcard_bottom {
  padding: 0 10px;
}*/
#product-page-giftcard .single-option-selector {
  max-width: 286px;
}
#product-page-giftcard .product_section {
  padding: 0 50px;
}
.description {
  margin-top: 15px;
}
p.mm-counter {
  width: inherit !important;
}
.popupOverlay {
  display: none;
}
.popupOverlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.popupBox {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px #000;
  padding: 20px;
  z-index: 9999;
  margin: 100px auto 0;
  max-width: 500px;
  position: relative;
  max-height: 80vh;
  overflow: auto;
}
.closePopup {
  color: #999;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  right: 9px;
  top: 5px;
}
.cls_popup {
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 10px 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.hasmsg {
  text-align: center;
  margin: 0;
}
.openmsg_popup {
  color: #000;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
}
.openmsg_popup > span, .openmsg_popup > img {
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}
.openmsg_popup > span b {
 color: #FFBFAA;
}
.popuplogo img {
  max-width: 150px;
}
.green {
  color: green;
}
.popupBox > hr {
  border-color: #eee;
  margin: 5px 0;
}
.red {
  color: red;
}
.image-grid-section .wrapper .box {
  padding: 0 !important;
}
#instafeed .insta-item {
  padding: 3px;
}
#instafeed .insta-item:nth-of-type(4n) {
  clear: left;
}
.menu.right li a, .menu.align-left li a {
  padding: 10px;
}
.about-two-blocks .row {
  margin: 0 !important;
}
.middleblock .overlay_text {
  text-align: center;
}
.scrolling .four.columns.logo img {
  max-height: 55px;
  padding: 10px;
}
.header.scrolling .nav {
  margin-top: 5px;
}
.image-grid-section .box {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
}
/*.image-grid-section .wrapper .box .box-content {
  height: 100%;
}
.image-grid-section .action_button {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}*/
.header .logo {
  padding-top: 7px;
}
.header.scrolling .logo {
  padding-top: 10px;
}
.po-close.ss-icon:hover {
  background: none;
}
#giftbottom {
  background: #a5a5a5 none repeat scroll 0 0;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}
#giftbottom h2 {
    color: #fff;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}
#giftbottom > .container {
    max-width: 50%;
    padding: 0;
    width: 100%;
}
#giftbottom a.button {
  max-width: inherit !important;
}
#giftbottom p {
  margin-bottom: 26px;
}
.position-role > a, .hero-sheader > a {
  color: #000;
}
.instagram-title {
  font-size: 35px;
}

/**/
.image-grid-section .wrapper .box-content .action_button {
  display: none;
}
.image-grid-section .wrapper .box .box-content {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  padding: 6px 15px !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  width: auto !important;
}
.image-grid-section .wrapper .box-content span {
  margin: 0 !important;
}
.container-small {
  max-width: 1280px;
  margin: 0 auto;
}
.step0 .eight.columns {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.hide {
  display: none;
}
.answer {
  margin: 0 auto;
  max-width: 700px;
}
.answer > div {
 /* background: #e4e4e4 none repeat scroll 0 0;*/
  border: 2px solid;
  cursor: pointer;
  margin-bottom: 15px;
}

.answer .active {
  border-color: #fff;
  background: #fff;
}
.step3 .answer {
  max-width: 912px;
}
.step3.generaQ .answer > div {
  padding: 0;
}
.step3 .answer img {
  display: block;
  margin: 0 auto;
  max-height: 130px;
}
.container .step3 .one-third.column {
  margin-bottom: 8px;
  width: 23.5%;
}
.answer > div p {
 /* background: #fff none repeat scroll 0 0;*/
  color: #4a4a4a;
  font-size: 16px;
  margin: 0;
  padding: 20px 10px;
  text-transform: uppercase;
}

.question h3 {
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 0;
}
.showcont {
  margin: 5px 0 15px;
  clear:both;
}
.page-quiz .header.normal-header {
  margin-bottom: 0;
}

.qz_header .action_button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #4a4a4a;
}
.qz_header .action_button:hover {
  text-decoration: underline;
  color:#8a898a;
}
.answer > div:hover{
	border-color: #fff;
  	background: #fff;
    transition: all .2s linear;
}
.fromqz {
  text-align: center;
}
#mce-responses a:hover {
  color: #000;
  text-decoration: underline;
}
#mce-responses a {
  color: #000;
}

#mce-responses {
  font-size: 14px;
  line-height: 22px;
}
.traingle {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  display: inline-block;
  vertical-align: middle;
}
.promo_banner + .withPromo {
  margin-top: 34px;
}
.scrolling .promo_banner + .withPromo {
  margin-top: 0;
}
.mobileOnly {
  display: none;
}
.perks-image img {
  display: block;
}
.for_qz_contaner {
  position: relative;
  min-height: 652px;
}
.for_qz_page {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
}
.step0 img {
  display: block;
}
.qz_body .row.main {
  margin: 0;
}
.qz_page {
  background-size: cover;
  background-position: center;
}
.qiz1-section-text {
  max-width: 480px;
  margin: 0 auto;
 text-align:center;
}
.hero__container {
  text-align: center;
}
.item__bg img {
  display: block;
}
.product_section li img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.il-photo__img {
  width: 100%;
}
.hero__title.home__title--csb {
  font-size: 35px;
  text-transform: uppercase;
}
.hero__body-copy.home__body-copy--csb {
  font-size: 20px;
}
.pro_ing img {
  border-radius: 50%;
}
.for_mobile {
  display: none !important;
}
@media(max-width:1200px) {
  .nav ul.menu li {
    line-height: 1;
    padding: 5px 0;
  }
  .nav .menu.right a {
    padding: 10px 5px;
  }
  .nav ul li.user svg {
    padding-left: 0;
    width: 18px;
  }
  .cart-button svg {
    width: 18px;
  }
  [class^="icon-"]::before, [class*=" icon-"]::before, .icon-menu, .icon-cart, .icon-cart, .icon-search, .icon-search {
    margin-right: 0;
  }
  /*.section.product_section {
    margin-bottom: 80px;
  }*/
  #featured_links, #featured_icons {
    padding: 0 !important;
  }
  .menu.right li a, .menu.align-left li a {
    padding: 10px 5px;
  }
}
@media(max-width:1100px) {
  .menu.align-left li a {
    font-size: 14px;
  }
}
@media(max-width:992px) {
  .overlay_text {
    width: 50%;
  }
  .promo_banner .container {
    padding: 0 5px;
    line-height: 25px;
  }
  .mobileOnly {
    display: inherit;
  }
  .promo_banner + .mm-fixed-top {
    margin-top: 29px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
  }
  .withPromo {
    padding-top: 29px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
  }
}
@media(max-width:767px) {
  .for_mobile {
    display: inherit !important;
  }
  .for_desktop {
    display: none !important;
  }
  .page-quiz .container.main.content {
    padding: 50px 0 0 !important;
  }
  .question h3 {
    font-size: 14px;
  }
  .answer > div p {
    font-size: 12px;
    text-transform: capitalize;
    padding: 15px 5px;
  }
  .answer > div {
    border: 1px solid;
  }
  .step0 img {
    display: block;
    margin: 0 auto;
    max-height: 222px;
  }
  .showcont {
    margin: 15px 0 0;
  }
  .generaQ.step3 .answer > div {
    margin: 1px !important;
    width: calc(25% - 2px) !important;
  }
  .generaQ .answer > div {
    margin: 1px;
    width: calc(33.33% - 2px) !important;
  }
  .step1 .answer .columns {
    margin-bottom: 5px;
  }
  .step0 p {
    font-size: 14px;
    text-align: center;
  }
  .fromqz h5 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .product_slider {
    margin-bottom: 60px;
  }
  .product h1.product_name {
    margin-bottom: 0;
  }
  .product .clearfix.breadcrumb {
    display: none;
  }
  .product_slider .slides img {
    max-height: 300px;
  }
  .product .modal p.modal_price, .product p.modal_price {
    font-size: 20px;
    margin-bottom: 0;
  }
  .for_qz_page {
    position: static;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  .for_qz_contaner {
    min-height: inherit;
  }
  .hero__container {
    padding: 10px;
  }
  .hero__container .hero__title {
    margin-bottom: 5px;
  }
  .seprator-title {
    margin: 0 auto 15px;
  }
  .hero__container p {
    margin: 0 0 10px;
  }
  .item.slideshow {
    position: relative;
  }
  #header a.icon-menu::before {
    margin-left: 31px;
  }
  .hero__body-copy.home__body-copy--csb {
    font-size: 16px;
  }
}
@media(max-width:639px) {
  .homepage .owl-nav {
    display: none;
  }
  #giftbottom h2 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  #featured_links h2, .slideshows.owl-carousel h1.hero__title,
  #product-page-giftcard .gctop .overlay_text h3, .sub-hero .hero-header,
  .instagram-title {
    font-size: 1.1rem !important;
    line-height: 1.6rem !important;
    padding-top: 0  !important;
  }
  .sub-hero .inner, .sub-hero .inner {
    padding: 30px 10px  !important;
  }

  div#header a span {
    display: none;
  }
  #header, #header a {
    height: 70px;
  }
  #header a.mobile_logo img {
    max-height: 100%;
    max-width: 140px;
     padding: 0;
    margin: 0 auto;
  }
  #header a.mobile_logo {
    padding-top: 16px;
   /* width: 180px;*/
  }
  #header a.mobile_logo img {

  }
  #header a.right {
    padding-top: 6px;
  }
  #header a.icon-menu {
    padding-top: 24px;
  }
  .child-page div.content {
    padding: 70px 0 0;
  }
  .featured-row__subtext p {
    line-height: 26px;
  }
  div.container.collection-new-container {
    padding: 20px 5px !important;
  }
  form#contact_form.contact-form, .newsletter form {
    max-width: 300px !important;
    margin: 20px auto;
  }
  .newsletter input.contact_email[type="email"]:focus, .newsletter input.contact_email[type="email"] {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: #fff none repeat scroll 0 0 !important;
  }
  .collection-title {
    padding: 30px 10px 30px;
  }
  .image-grid-section .box.left.number-2, .image-grid-section .box.right.number-3 {
    display: none;
  }
  .container.featured_products {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .slideshow-section {
    padding-top: 70px;
  }
  .image-grid-section .wrapper .box-wrapper {
    overflow: hidden;
  }
  #product-page-giftcard .product_section {
    padding: 0;
  }
  section.sub-hero, .giftcard_top, #giftbottom, #team, .collapse-both  {
    margin: 0 -10px;
  }
  #giftbottom > .container {
    max-width: 100%;
  }
  .section.product_section {
    margin-bottom: 3em;
  }
  .page-our-product .container.main.content,
  .page-about .container.main.content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
  }
  .page-our-product .sub-hero, .page-about .sub-hero {
    margin-bottom: 15px;
  }
  h4.instafeed-title {
    display: none;
  }
  .image-grid-section .left .top, .image-grid-section .wrapper .right .bottom {
    display: none !important;
  }
}
@media(max-width:480px) {
  .overlay_text {
    width: 100%;
  }
  .slideshows.owl-carousel .owl-item{
    height: 340px;
    min-height: 340px;
  }
  #featured_links {
    padding: 0 !important;
  }
  .slideshows.owl-carousel .owl-item .item {
    background-size: auto 360px;
    height: 340px !important;
  }
  .hero__container {
    padding: 10px !important;
  }
  .hero__title.home__title--csb {
    font-size: 20px;
  }
}
