var app = new Vue({
    el: '#account',
    data: {
       showTab: 1,
       arrowSpicy:'{{ 'product3.png' | asset_url | img_tag }}',
       coralFruity:'{{ 'product2.png' | asset_url | img_tag }}',
       isleClean:'{{ 'product4.png' | asset_url | img_tag }}',
       meadowFloral:'{{ 'product5.png' | asset_url | img_tag }}',
       frequency:[],
       orders :[],
       addresses:[],
       address:[],
       product_frequency:'',
       order:[],
       prod_image:[],
       quantity:[],
       products : [
        {id: 524819071036, handle:"arrow-1"},
        {id: 539933048892, handle:"arrow-onetime"},
        {id: 524819726396, handle:"coral-3"},
        {id: 539933966396, handle:"coral-onetime"},
        {id: 524819923004, handle:"isle-3"},
        {id: 539934490684, handle:"isle-one-time"},
        {id: 524820021308, handle:"meadow-3"},
        {id: 539934818364, handle:"meadow-one-time"},       
      ]
    },
  	mounted(){       
    	this.tabTitleClicked(1);       
    },
    methods:{
      tabTitleClicked:function(index){
          this.showTab = index;
          if(this.showTab == 1){            
           	 this.fetchSubcriptionList();
          }else if(this.showTab == 2){

          }else if(this.showTab == 3){
             this.fetchAllCustomerAddresses();
          }else if(this.showTab == 4){

          }else if(this.showTab == 5){

          }else if(this.showTab == 6){

          }else if(this.showTab == 7){
            
          }else if(this.showTab == 8){
            
      	  }else{
          
          }       
      },
      orderDetailPage: function(orderId){            
      		this.showTab = 7;
        	var url = 'http://ec2production.skylar.com//account.php';       
			$.ajax({
                url: url,
                type: 'GET', 
                data:{index:7,order_id:orderId},               
                success: function (result) {
                  console.log(result);
                  result =  $.parseJSON(result);
//                   console.log(result.order);
                  this.order = result.order;
                }.bind(this),
                error: function (error) {

                }
        	});	           
      },
      fetchSubcriptionList:function(){
            var customerId = 410507739196;         
      		var url = 'http://ec2production.skylar.com//account.php';       
			$.ajax({
                url: url,
                type: 'GET', 
                data:{index:1,customer_id:customerId},               
                success: function (result) {
                  console.log(result);
                  result =  $.parseJSON(result)
                  this.orders = result.orders;
                }.bind(this),
                error: function (error) {

                }
        	});	
      }, 
      getProductImagebyProductId:function(productId){
        var productSlug = ' ';
        var productImage = ' ';
        for(product in this.products){
          if(this.products[product].id == productId){
      			productSlug = this.products[product].handle;
          }
        }                  
        if(productSlug){          
          $.ajax({
            url:'/products/'+productSlug+'.js',           
            dataType:'json',
            async: false,
            success:function(result){
           		productImage = result.featured_image;                
            }  
          })
		}
        return productImage;        
      },
      changeSubscriptionInterval:function(event,subscriptionId){        
           var url = 'http://ec2production.skylar.com//account.php';
           var frequency = event.target.value;
			$.ajax({
                url: url,
                type: 'GET', 
                data:{subscription_id:subscriptionId, frequency:frequency},               
                success: function (result) {
                  console.log(result);
                  result =  $.parseJSON(result)
                  this.orders = result.orders;
                }.bind(this),
                error: function (error) {

                }
        	});	
      },  
      fetchFrequencyBySubscriptionId:function(subscriptionId,index){        
		   var url = 'http://ec2production.skylar.com//account.php';           
           var subscriptionDuration = ' '; 
		   $.ajax({
                url: url,
                dataType:'json',
                async: false,
                type: 'GET', 
                data:{subscription_id:subscriptionId,index:8},               
                success: function (result) {
                  if(result != 'Subscription not found'){
//                        result =  $.parseJSON(result);
//                        this.frequency[index] = result.order_interval_frequency;
                       subscriptionDuration = result.order_interval_frequency;
                    alert(index);
                    setTimeout(function(){
                    	$('.product-frequency-'+index+' option[value='+subscriptionDuration+']' ).attr('selected','selected');
                    },5000);                  
                                        
                  }
                }.bind(this),
                error: function (error) {

                }
        	});
           return subscriptionDuration;	        
      }, 
      fetchQuantityBySubscriptionId:function(subscriptionId,index){
		   var url = 'http://ec2production.skylar.com//account.php';           
           var subscriptionQuantity = ' '; 
		   $.ajax({
                url: url,
                dataType:'json',
                async: false,
                type: 'GET', 
                data:{subscription_id:subscriptionId,index:8},               
                success: function (result) {
                  if(result != 'Subscription not found'){
                    subscriptionQuantity = result.quantity; 
                                     
                  }
                }.bind(this),
                error: function (error) {

                }
        	});
        return subscriptionQuantity;        
      }, 
      decreaseQuantity:function(index){
           var url = 'http://ec2production.skylar.com//account.php';      	           
           $.ajax({
                url: url,
                dataType:'json',
                async: false,
                type: 'GET', 
                data:{subscription_id:this.order.line_items[index].subscription.id,quantity:parseInt(this.order.line_items[index].subscription.quantity)-1},               
                success: function (result) {
//                   if(result != 'Subscription not found'){
                        this.order.line_items[index].subscription.quantity = parseInt(this.order.line_items[index].subscription.quantity)-1;  
//                   }
                }.bind(this),
                error: function (error) {

                }
        	});
      }, 
      increaseQuantity:function(index){
        var url = 'http://ec2production.skylar.com//account.php';      	           
           $.ajax({
                url: url,
                dataType:'json',
                async: false,
                type: 'GET', 
                data:{subscription_id:this.order.line_items[index].subscription.id,quantity:parseInt(this.order.line_items[index].subscription.quantity)+1},               
                success: function (result) {
                     console.log(result);
//                   if(result != 'Subscription not found'){
                        this.order.line_items[index].subscription.quantity = parseInt(this.order.line_items[index].subscription.quantity)+1;  
//                   }
                }.bind(this),
                error: function (error) {

                }
        	});     
      },
      cancelSubscription:function(submitEvent){
         var subscriptionId = submitEvent.target.elements.susbcription_id.value;
         var reason = submitEvent.target.elements.choose_subscription.value;
         var url = 'http://ec2production.skylar.com//account.php';      	           
         $.ajax({
            url: url,
            dataType:'json',
            async: false,
            type: 'GET', 
            data:{subscription_id:subscriptionId,reason:reason,action:'cancel-subscription'},               
            success: function (result) {
                $('#custom-modal-'+subscriptionId).modal('toggle');
                this.orderDetailPage(this.order.id);
               console.log(result);
            }.bind(this),
                error: function (error) {
            }
        }); 
      },
      activateSubscription:function(subscriptionId){
         var subscriptionId = subscriptionId;         
         var url = 'http://ec2production.skylar.com//account.php';      	           
         $.ajax({
            url: url,
            dataType:'json',
            async: false,
            type: 'GET', 
            data:{subscription_id:subscriptionId,action:'activate-subscription'},               
            success: function (result) {
               this.orderDetailPage(this.order.id);
               console.log(result);
            }.bind(this),
                error: function (error) {
            }
        });
      },
      openDateModal:function(subscriptionId){
           $("#date-model-"+subscriptionId).modal();
           var vm = this;
           function onClickHandler(date, obj) {
            var url = 'http://ec2production.skylar.com//account.php';       
            $.ajax({
              url: url,
              dataType:'json',
              async: false,
              type: 'GET', 
              data:{subscription_id:subscriptionId,date:date[0].format('YYYY-MM-DD'),action:'update-next-charge-date'},               
              success: function (result) {
                 $("#date-model-"+subscriptionId).modal('toggle'); 
                 vm.orderDetailPage(vm.order.id);
                 console.log(result);
              }.bind(this),
                  error: function (error) {
              }
        	});
             
            /**
             * @date is an array which be included dates(clicked date at first index)
             * @obj is an object which stored calendar interal data.
             * @obj.calendar is an element reference.
             * @obj.storage.activeDates is all toggled data, If you use toggle type calendar.
             * @obj.storage.events is all events associated to this date
             */

           
           }   
           $("#date-model-"+subscriptionId).on('shown.bs.modal', function() {             
                $('.calendar').pignoseCalendar({                        
          				select: onClickHandler
       		 	}); 
		   })
      },
      updateProductVariantSubscription:function(productId,variantId,productTitle,variantTitle){
          var subscriptionId = this.order.line_items[0].subscription_id;
          var url = 'http://ec2production.skylar.com//account.php';       
          $.ajax({
              url: url,
              dataType:'json',
              async: false,
              type: 'GET', 
              data:{subscription_id:subscriptionId,product_id:productId,variant_id:variantId,product_title:productTitle,variant_title:variantTitle,action:'change-product-subscription'},               
              success: function (result) {
                  this.orderDetailPage(this.order.id);
              }.bind(this),
                  error: function (error) {
              }
          });
      },
      fetchAllCustomerAddresses:function(){
         var customerId= '{{ customer.id }}';            
      	 var url = 'http://ec2production.skylar.com//account.php';       
		 $.ajax({
            url: url,
            type: 'GET',
            dataType:'json',
            data:{customer_id:customerId,action:'fetch-customer-address'},               
            success: function (result) {
              console.log(result);
               this.addresses = result;
            }.bind(this),
            error: function (error) {

            }
         });	
      },
      fetchCustomerAddressById:function(id){
          this.showTab = 8;
          var url = 'http://ec2production.skylar.com//account.php';       
		  $.ajax({
            url: url,
            type: 'GET',
            dataType:'json',
            data:{address_id:id,action:'fetch-customer-address-by-id'},               
            success: function (result) {                 
               this.address = result;
            }.bind(this),
            error: function (error) {

            }
          });  
      }, 
      addAndUpdateCustomerAddress : function(submitEvent){
          var formdata = $('#address-form').serialize();
          var customerId = '{{ customer.id }}';
          var url = 'http://ec2production.skylar.com//account.php';       
		  $.ajax({
            url: url,
            type: 'POST',
            dataType:'json',
            data:{customer_id:customerId,form_data:formdata,action:'add-and-update-customer-address'},               
            success: function (result) {                 
                 this.showTab = 3;
            }.bind(this),
            error: function (error) {

            }
          });          
       }
    }          
})
     