@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-ExtraBold.eot' | file_url }});
  src: url({{ 'Montserrat-ExtraBold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-ExtraBold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-ExtraBold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-ExtraBold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-ExtraBold.svg#Montserrat-ExtraBold' | file_url }}) format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Medium.eot' | file_url }});
  src: url({{ 'Montserrat-Medium.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Medium.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Medium.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Medium.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Medium.svg#Montserrat-Medium' | file_url }}) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-ExtraLight.eot' | file_url }});
  src: url({{ 'Montserrat-ExtraLight.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-ExtraLight.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-ExtraLight.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-ExtraLight.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-ExtraLight.svg#Montserrat-ExtraLight' | file_url }}) format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Light.eot' | file_url }});
  src: url({{ 'Montserrat-Light.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Light.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Light.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Light.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Light.svg#Montserrat-Light' | file_url }}) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Thin.eot' | file_url }});
  src: url({{ 'Montserrat-Thin.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Thin.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Thin.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Thin.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Thin.svg#Montserrat-Thin' | file_url }}) format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Regular.eot' | file_url }});
  src: url({{ 'Montserrat-Regular.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Regular.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Regular.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Regular.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Regular.svg#Montserrat-Regular' | file_url }}) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Bold.eot' | file_url }});
  src: url({{ 'Montserrat-Bold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Bold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Bold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Bold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Bold.svg#Montserrat-Bold' | file_url }}) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-Black.eot' | file_url }});
  src: url({{ 'Montserrat-Black.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-Black.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-Black.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-Black.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-Black.svg#Montserrat-Black' | file_url }}) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url({{ 'Montserrat-SemiBold.eot' | file_url }});
  src: url({{ 'Montserrat-SemiBold.eot?#iefix' | file_url }}) format('embedded-opentype'),
    url({{ 'Montserrat-SemiBold.woff2' | file_url }}) format('woff2'),
    url({{ 'Montserrat-SemiBold.woff' | file_url }}) format('woff'),
    url({{ 'Montserrat-SemiBold.ttf' | file_url }}) format('truetype'),
    url({{ 'Montserrat-SemiBold.svg#Montserrat-SemiBold' | file_url }}) format('svg');
  font-weight: 600;
  font-style: normal;
}

header#header {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
}

header#header .password-logo {
  max-width: 145px;
  margin: 0px auto;
  vertical-align: middle;
}

header#header a {
  text-align: center;
  position: relative;
  padding: 0!important;
  height: auto;
  left: auto;
  top: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

#pw_story{
  padding: 50px 10px; 
}


#pw_hero .slideshow {
  background-size: cover;
  position: relative;
  background-position: center center;
}

.hero__container  {
  position: absolute;
  top: 55%;
  left: 50%;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero__container form.contact-form {
  margin-bottom: 0;
  position: relative;

}
.form_container {
  position: relative;
  clear: both;
}

.hero__container form.contact-form input.contact_email[type="email"]{
  border: 1px solid #fff;
  margin: 0;
  height: 40px;
  padding-right: 82px;
  box-shadow: none !important;
  background: #fff none repeat scroll 0 0 !important;
}

.hero__container form.contact-form button.sign_up[type="submit"] {
  margin-left: 0;
  display: inline-block;
  width: auto !important;
  font-size: 15px !important;
  position: absolute;
  top: 0;
  padding: 10px;
  right: -2px;
  height: 41px;
  background: #000;
  margin-right: 0;
}


.hero__container h1 {
  color: #000;
  font-size: 35px;
  width: 100%;
}

.hero__container p {
  color: #000;
  font-size: 23px;
  width: 100%;
}

.hero__container .newsletter {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  display: inline-block;
}

.footer .password-social a {
  color: #4a4a4a;
  font-size: 30px!important;
  margin: 0 10px;
}

.password-footer{
  margin: 5px 0; 
}

.password-footer .powered {
  margin: 0;
}

.footer {
  margin-top: 0;
  padding: 15px;
  border-top: solid 1px #ffffff;
  background-color: #ffffff;
  color: #a5a5a5;
  background: #000;
  text-align: center;
}

#password-page-bg{
  background: {{ settings.pw_page_bg }}; 
}


.password-page-content {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.controls {
  display: none;
  margin: 1em 2em 1em auto;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
}

.instagram-section-wrapper{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.instagram-section-wrapper > div {
  height: 100%;
  width: 50%;
  padding: 10px;
  position: relative;
}

.instagram-section-wrapper > div.signup-section{
  -webkit-flex: 0 1 30%;
  -moz-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

.instagram-section-wrapper > div.insta-widget{
  -webkit-flex: 0 1 70%;
  -moz-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
}


#instafeed {
  display: table;
  width: 100%;
}

#instafeed img{
  vertical-align: middle;
  margin: 0;
}

#instafeed img:hover {

} 

#instafeed img {
  width: 100%;
}

#instafeed .insta-item,
#instafeed .il-item{
  width: 33.333333333%;
  display: block;
  margin: 0;
  float: left;
  padding: 3px;
}

.instafeed-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 35px;
  display: none;
}

.instafeed-title a{

}

.instagram-section{
  position: relative;
}

.signup-section{

}

.signup-section h2{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  margin: 0 0 5px;
}

.signup-section p {
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 10px;
  text-align: center;
}

.signup-section .newsletter{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}

.signup-section form#contact_form.contact-form {
  position: relative;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  display: table;
}


.signup-section .action_button svg{
  width: 30px;
}

.signup-section form input.contact_email[type="email"] {
  width: 100%;
  display: inline-block;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  border: 1px solid #000;
  padding-right: 42px;
  background: #fff none repeat scroll 0 0 !important;
}

.password-social {
    margin: 15px auto;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.password-social h3{
    margin: 0;
}

button.sign_up[type="submit"],
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="color"], select, textarea{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;

}

input.contact_email[type="email"] {
  width: 100%;
  display: inline-block;
}

button.sign_up[type="submit"] {
  margin-left: 0;
  display: inline-block;
  font-size: 15px !important;
  position: absolute;
  top: 0;
  padding: 10px;
  right: -2px;
  width: auto;
  height: 40px;
  background: #000;
}

.newsletter button img {
  width: 20px;
  vertical-align: middle;
}

.contact-form {
  margin-bottom: 0;
  position: relative;
}
#mce-responses {
  font-size: 14px;
}
.item.slideshow {
  height: 100vh;
}
#mce-responses a:hover {
  color: #000;
  text-decoration: underline;
}
#mce-responses a {
  color: #000;
}
#mce-responses {
  line-height: 22px;
}
@media screen and (max-width: 992px){
  .instagram-section-wrapper > div{
    padding: 10px;
  }
}

@media screen and (max-width: 767px){
  .instagram-section-wrapper > div {
    padding: 20px;
    display: inline-block;
    width: 100%;
  }
  .instagram-section-wrapper{
    display: block;
    width: 100%;
  }

  .hero__container p{
    font-size: 14px; 
  }

  .hero__container h1{
    font-size: 23px; 
  }
  
  .hero__container  {
  top: 45%;
}
}

@media screen and (max-width: 639px){

}


.columns-section{
  padding-bottom: 0;
}

#featured_links {
  padding: 20px 0 0;
}

.columns-section div.section {
  margin: 10px 0 0;
}

#featured_links .column-item{

}

#featured_links img{
  max-height: 70px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}


#featured_links .inner:hover img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  opacity: 1;
} 

#featured_links h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #4A4A4A;	
}

#featured_links h2{
  font-size: 35px;
  line-height: 45px;
}

#featured_links .inner .column-content{
  position: relative;
}

#featured_links .inner .rte-setting {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}

#featured_links .inner .rte-setting p{
  margin: 0;
}

#featured_links .inner {
  padding: 0 10px;
  margin: 15px 0 20px;
}

#featured_links .inner:hover .rte-setting{
  opacity: 1;
  color: #000;	
  top: 10px;
}


#featured_links .inner:hover h3{
  opacity: 0;
}


@media screen and (max-width: 1200px){
  #featured_links h3{

  }

  #featured_links .inner:hover .rte-setting{

  }
}


@media screen and (max-width: 992px){
  #featured_links h3 {

  }

  .nav ul.menu.right li span{
    display: none;
  }

}


@media screen and (max-width: 767px){
  #featured_links img{
    max-height: 60px;
  }

  #featured_links h2 {
    font-size: 25px;
    line-height: 35px;
  }

  #featured_links .column-item {
    width: 50%;
    padding: 0 10px 10px 10px;
  }

  #featured_links h3 {
    font-size: 12px;
  }


  #featured_links .inner .rte-setting, #featured_links .inner:hover .rte-setting{
    color: #000;	
  }

  #featured_links .inner > p{
    margin: 0 0 5px;
  }

  #featured_links .inner .rte-setting p {
    margin: 0;
    font-size: 12px;
  }

}