#customers-wrapper .slick-next, #customers-wrapper .slick-prev{position:relative;}
#customers-wrapper .slick-prev:before{content:"";position:absolute;left:0;top:0;background:url({{ 'back1.png' | asset_url }});width:11px;height:18px;background-repeat: no-repeat;background-position: center center;}
#customers-wrapper .slick-prev{left:0;z-index:99;}
#customers-wrapper .slick-next{right:0;}
#customers-wrapper .slick-next:before{content:"";position:absolute;right:0;top:0;  background:url({{ 'forword1.png' | asset_url }});width:11px;height:18px;background-repeat: no-repeat;background-position: center center;}
.step-2-container {padding-left: 68px;width: 90%;margin: auto;}
/* .mobile-trial{display:none} */
.continue.ss-icon img{display:inline-block;}
.sub-menu + .dropdown{position:absolute !important;}
.ship-top-wrapper .select-month {background: none !important;}