.compare-skylar {
  text-align: center;
  margin: 64px 0;
  @include media-query($medium-down) {
    margin: 0;
  }
  p {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0;
  }

  .chart {
    margin: 64px auto;
    @include media-query($medium-down) {
      margin: 32px auto;
    }
    max-width: 1084px;
  }
}
