.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  z-index: 9999;
  overflow: scroll;
  display: none;
  background-color: rgba(51, 51, 51, 0.8);
  .gdpr-modal {
    background-color: white;
    position: absolute;
    max-width: 540px;
    padding: 30px;
    left: 0;
    right: 0;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .buttons {
      width: 100%;
      margin-top: $space-lg;
      display: flex;
      justify-content: space-between;
    }
  }
}
