.thumbnail {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
  img {
    display: block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 2px auto 0px;
  }
  .tag-text {
    display: block;
    line-height: 15px;
    margin: $space-sm 0;
  }
  .price {
    display: block;
    margin: 0 0 10px;
    font-weight: normal;
  }
  .spr-badge {
    margin: 0;
  }
}

.products-flex-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .thumbnail {
    margin-bottom: $space-xl;
    display: block;
    width: 25%;
    padding: 0 $space-md;
    @include media-query($small) {
      width: 50%;
    }
  }
}
