<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>

<div class="section clearfix search_page">  
  <div class="sixteen columns center">
    <p class="extra_padding">
      <!--{{ 'general.404.continue_shopping_html' | t }}-->
      <a href="https://skylar.com/">continue shopping →</a>
    </p>
  </div>
    </p>
  </div>    
  <!--<div class="six columns offset-by-five">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
    </form>
  </div>-->
</div>