{% comment %}
{% if article.image and settings.slideshow_article_enabled %}
  <div id="slide-article">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-article"
        style="background-image: url({{ article.image | img_url: 'master' }});">
        <div class="hsContainer">
            <div class="hsContent center">
              <div>
                <h1 class="headline" style="color:{{settings.banner_color}}">{{ article.title }}</h1>
              </div>
            </div>
        </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
  <br class="clear" />
{% endif %}
    {% endcomment %}

{% paginate article.comments by 100 %}
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Article",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{ article.url }}",
    "url":"{{ article.url }}"
  },
  "headline":"{{ article.title }}",
  "image":{
    "@type":"ImageObject",
    "url":"{{ article.image.src | img_url: 'medium' }}"
  },
  "datePublished":"date time published",
  "dateModified":"{{ article.published_at }}",
  "author":{
    "@type":"Person",
    "name":"Skylar Body Staff"
  },
  "publisher":{
    "@type":"Organization",
    "name":"Skylar Body",
    "logo":{
      "@type":"ImageObject",
      "url":"https://cdn.shopify.com/s/files/1/1445/2216/t/52/assets/logo.png?12989721676410852133"
    }
  }
}
</script>

    <div class="article-container">
      <div class="twelve columns">
      {% if settings.blog_breadcrumb %}
        <div class="clearfix breadcrumb">
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            &nbsp;<span class="icon-right-arrow"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a></span>
            &nbsp;<span class="icon-right-arrow"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">{{ article.title }}</span></span>
          </div>
        </div>
      {% endif %}

      {% if settings.blog_tags and settings.sidebar_enabled %}
        <div class="blog_meta tags {% if article.image and settings.slideshow_article_enabled %}right{% endif %}">
          {% for tag in article.tags %}
            <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
          {% endfor %}
        </div>
      {% endif %}

      {% unless article.image and settings.slideshow_article_enabled %}
        <h1 class="{% unless settings.sidebar_enabled %}center{% endunless %} article_title">{{ article.title }}</h1>
        {% unless settings.sidebar_enabled %}
          <div class="feature_divider"></div>
        {% endunless %}
      {% endunless %}

        {% if settings.blog_tags and settings.sidebar_enabled == false %}
          <div class="blog_meta tags right">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}

        <p class="blog_meta">
          {% if settings.blog_author %}
            <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}

          {% if settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>
    </div>
    </div>

  <div class="article-container">
  <div class="twelve columns {% if settings.sidebar_enabled == false %}offset-by-two{% endif %}">
    <div class="clearfix">


        {% if article.image and blog.handle == "press" %}
          <p>
            <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title | escape }}" />
          </p>
        {% endif %}


        {{ article.content }}

        <span class="clear"></span>

        {% if settings.display_social_buttons %}
          <share-button></share-button>
        {% endif %}
        <br class="clear" />

        {% if settings.blog_author %}
          <br class="clear" />
          <hr />
          <div class="gravatar two columns alpha center" data-email="{{ article.user.email }}">
            <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=80&r=G" alt="{{ article.author }}" />
          </div>
          <div class="comment-body eight columns omega">
            <h6>{{ article.author }}</h6>
            <p class="meta">
              <span class="label">{{ 'blogs.article.author' | t }}</span>
            </p>
            <p>
              {{ article.user.bio }}
            </p>
          </div>
          <hr />
        {% endif %}

        <div class="clear" id="comments"></div>
        <br class="clear" />

        {% if settings.disqus_enabled %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = "{{ canonical_url }}";
                  this.page.identifier = "{{ article.id }}";
              };
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% elsif blog.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>

            {% for comment in article.comments %}
              <div id="comment-{{ comment.id }}" class="comment clearfix">
                <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                  <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
                </div>
                <div class="comment-body eight columns omega">
                  <h6>{{ comment.author }}</h6>
                  <p class="meta">
                    <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                  </p>

                  {{ comment.content }}
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if comment and comment.created_at %}
            {% if article.comments_count == 0 %}
              <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>
            {% endif %}
            <div id="comment-{{ comment.id }}" class="comment clearfix">
              <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
              </div>
              <div class="comment-body eight columns omega">
                <h6>{{ comment.author }}</h6>
                <p class="meta">
                  <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                </p>

                {{ comment.content }}
              </div>
            </div>
          {% endif %}

          {% include 'pagination' with settings.sidebar_enabled %}

          <div class="clear" id="new-comment"></div>
          <h4>{{ 'blogs.comments.title' | t }}</h4>

          {% if blog.moderated? %}
            <p><em>{{ 'blogs.comments.moderated' | t }}</em></p>
          {% endif %}

          {% form article %}
            {% if form.posted_successfully? %}
              {% if blog.moderated? %}
                <p class="quote align_left">{{ 'blogs.comments.success_moderated' | t }}</p>
              {% else %}
                <p class="quote align_left">{{ 'blogs.comments.success' | t }}</p>
              {% endif %}
            {% endif %}

            {% if form.errors %}
              <p class="quote align_left">{{ 'general.forms.post_error' | t }}</p>
            {% endif %}

            <div class="six columns alpha">
              <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
            </div>

            <div class="six columns omega">
              <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
            </div>

            <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
            <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>

            <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button add_to_cart" />
          {% endform %}
        {% endif %}
    </div>

    {% if settings.blog_additional_articles and blog.articles_count > 1 %}
      <div class="section clearfix additional-articles">
        <hr />
        <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>

        {% assign article_found = false %}
        {% for a in blog.articles limit: 4 %}
          {% assign skip_article = false %}
          {% if article_found == false and forloop.last %}
            {% assign skip_article = true %}
          {% endif %}
          {% if article.id == a.id %}
            {% assign article_found = true %}
            {% assign skip_article = true %}
          {% endif %}
          {% unless skip_article %}
            <div class="four columns {% cycle 'alpha', ' ', 'omega' %} article">
              {% if a.image %}
                <a href="{{ a.url }}" title="{{ a.title | escape }}" class="no-underline">
                  <img src="{{ a.image | img_url: 'grande' }}" alt="{{ a.title | escape }}" />
                </a>
              {% endif %}

              {% if settings.blog_tags %}
                <div class="blog_meta tags">
                  {% for tag in a.tags %}
                    <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
                  {% endfor %}
                </div>
              {% endif %}

              <h5 class="sub_title">
                <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
              </h5>
              <p class="blog_meta">
                {% if settings.blog_author %}
                  <span>{{ 'blogs.article.by_author' | t: author: a.author }}</span>
                {% endif %}

                {% if settings.blog_date %}
                  <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                {% endif %}

                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif a.comments_enabled? and a.comments_count > 0 %}
                  <span>
                    <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                  </span>
                {% endif %}
              </p>

              {% if a.excerpt != blank %}
                  <div class="excerpt">{{ a.excerpt }}</div>
              {% endif %}
              {% if settings.read_more_link %}
                <p>
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
                </p>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% include "blog-sidebar" with blog.handle %}
    </div>
  <script type="text/javascript">
    // <![CDATA[
      $(function() {
        if(window.location.pathname.indexOf('/comments') != -1) {
          $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
        }
      });
    // ]]>
  </script>
{% endpaginate %}
