{% if blog.handle == "press" %}
{% section "press-hero" %}
{% else %}
{% section "blog-hero" %}
{% endif %}

{% if settings.slideshow_blog_enabled %}
  <div id="slide-blog">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-blog">
        <div class="hsContainer">
            <div class="hsContent center">
              <div>
                {% if current_tags %}
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ current_tags }}</h1>
                {% else %}
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ settings.image_blog_headline }}</h1>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_blog_subtitle }}</p>
                {% endif %}
              </div>
            </div>
        </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
{% endif %}

{% paginate blog.articles by settings.blog_posts_per_page %}

  <div id="blog" class="{% if settings.sidebar_enabled %}twelve{% else %}sixteen{% endif %} columns {{blog.handle}}">
    <div class="section clearfix">
      <div class="sixteen columns clearfix breadcrumb">
        <div class="text-center">
          
          {% if blog.handle == "press" %}
          {% section "press-logos" %}
          {% endif %}
          
          {% comment %}
          {% if paginate.pages != 0 %}
          {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
          {% endcomment %}
        </div>
        
        {% if settings.blog_breadcrumb %}
        <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">         
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
          &nbsp;<span class="icon-right-arrow"></span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a></span>
          {% if current_tags %}
          {% for tag in current_tags %}
          &nbsp;<span class="icon-right-arrow"></span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
          {% endfor %}
          {% endif %}                   
        </div>
        {% endif %}

        {% if settings.blog_tags %}
        <div class="four offset-by-four columns section_select omega">
          <select name="tag_filter" id="tag_filter" class="blog_filter">
            <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
            {% for tag in blog.all_tags %}
            <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
      </div>
    </div>


    <br class="clear" />

    
    
    {% for article in blog.articles %}
      {% if settings.blog_articles_per_row == "1" %}
        {% if article.image %}
          <div class="{% if settings.sidebar_enabled %}seven{% else %}nine{% endif %} columns alpha article_image">
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              <img src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.title | escape }}" />
              {% if article.content contains "<iframe" %}<span class="article-video"></span>{% endif %}
            </a>
          </div>
          <div class="{% if settings.sidebar_enabled %}five{% else %}seven{% endif %} columns omega article">
        {% else %}
          <div class="{% if settings.sidebar_enabled %}eight{% else %}sixteen{% endif %} columns alpha omega article">
        {% endif %}
      {% else %}
        {% if settings.sidebar_enabled %}
          <div class="{% if settings.blog_articles_per_row == "2" %}six columns {% cycle 'alpha', 'omega' %}{% elsif settings.blog_articles_per_row == "3" %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% else %}
          <div class="{% if settings.blog_articles_per_row == "2" %}eight columns {% cycle 'alpha', 'omega' %}{% elsif settings.blog_articles_per_row == "3" %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% endif %}

            {% if settings.blog_date %}
            <span class="post-date">{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

			{% if blog.handle != "press" %}
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            {% endif %}
            
        {% if article.image %}
          <a href="{{ article.url }}" title="{{ article.title | escape }}">
            <img src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title | escape }}" />
            {% if article.content contains "<iframe" %}<span class="article-video"></span>{% endif %}
          </a>
        {% endif %}
            
         {% if blog.handle == "press" %}
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
         {% endif %}
      {% endif %}

        {% if settings.blog_tags %}
          <div class="blog_meta tags">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}
            


        <span class="blog_meta">
          {% if settings.blog_author %}
            <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          
          {% if settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </span>

        {% if article.excerpt != blank %}
            <div class="excerpt"> {{ article.excerpt }}</div>
        {% endif %}
        {% if settings.read_more_link %}
          <p>
            <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
          </p>
        {% endif %}
      </div>

      {% if settings.blog_articles_per_row == "2" %}
        {% cycle "article_row": '', '<br class="clear" />' %}
      {% elsif settings.blog_articles_per_row == "3" %}
        {% cycle "article_row": '', '', '<br class="clear" />' %}
      {% elsif settings.blog_articles_per_row == "4" %}
        {% cycle "article_row": '', '', '', '<br class="clear" />' %}
      {% else %}
        <br class="clear" />
      {% endif %}
    {% else %}        
      <h1 class="hero__title home__title--csb" style="color: #4a4a4a;text-align:center;">Coming Soon</h1>
    {% endfor %}
  </div>

            {% comment %}
  {% include "blog-sidebar" with blog.handle %}
            {% endcomment %}

  <br class="clear" />
  <div class="sixteen columns">
    {% include 'pagination' %}
  </div>
{% endpaginate %}
