{%- include 'bold-cart' -%}
{% include 'subscription-cart-footer' %}
<div class="content-wrapper" data-scope="cart">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="center">{{ 'cart.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>

  {% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
      <br class="clear" />

      {% assign collection = '' %}
      {% assign products = collections[settings.frontpage_collection].products %}
      {% assign products_per_row = settings.frontpage_products_per_row %}
      {% include 'product-loop' %}
    </div>
  </div>
  {% else %}

  <form action="/checkout" method="post" id="cart_form">
    <div class="section clearfix">
      <div class="ten columns cart_items">
        <h4 class="title">{{ 'cart.general.products' | t }}</h4>

        {% for item in cart.items %}

        {% include 'bold-cart-item' with item %}

        <div class="five columns alpha">
          <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
            <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ item | img_url: 'medium' }}" data-src-retina="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}" />
          </a>
        </div>

        <div class="five columns omega">
          <p>
            <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
            {{ bold_recurring_desc }}
          </p>
          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>{% if item.properties %}
          <p>

            {%- comment -%}
            {% for p in item.properties %}
            {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
            {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
            {% if p.last contains '/uploads/' %}
            {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
            {% else %}
            {{ p.first }}: {{ p.last }}<br />
            {% endif %}
            {% endunless %}
            {% endfor %}
            {%- endcomment -%}
            {{ bold_item_properties }}
          </p>
          {% endif %}

          <p class="price_total">

            {{ bold_item_price | money_with_currency }}
            <!--               {% if bold_item_price > 0 %}
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>-----{{ bold_item_price | money_with_currency }}
            {% else %}
            ++++++++++++++{{ settings.free_price_text }}
            {% endif %} -->
          </p>
          <p id="quantity_{{ forloop.index }}">
            <label for="updates_{{ item.id }}" class="quantity_label">{{ 'cart.general.quantity' | t }}:</label>
            <input type="number" min="0" size="3" maxlength="3" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" {{ bold_qty_attr }} />
          </p>

          <p class="remove_item">
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">{{ 'cart.general.remove' | t }}</a>
          </p>
        </div>
        <br class="clear" />
        <br class="clear" />
        {% endfor %}
      </div>

      <div class="five columns offset-by-one">
        <h4 class="subtotal">
          {{ 'cart.general.subtotal' | t }}
        </h4>

        <p class="subtotal_amount">
          <strong><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ bold_cart_total_price | money_with_currency }}</strong>
          {% comment %}
          <small id="estimated-shipping" style="display:none">+ <em>{{ 0 | money }} {{ 'cart.shipping_calculator.estimated_shipping' | t }}</em></small>
          {% endcomment %}

          <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>
        </p>

        {% if settings.show_multiple_currencies %}
        <p>
          <small>
            {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
          </small>
        </p>
        {% endif %}

        {% if settings.display_special_instructions %}
        <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
        <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
        {% endif %}

        {% if settings.display_tos_checkbox %}
        <p>
          <input type="checkbox" class="tos_agree" id="cart_agree" required />
          <label class="tos_label" for="cart_agree">
            {{ 'cart.general.agree_to_terms_html' | t }}
          </label>
        </p>
        {% endif %}

        {% if settings.display_add_giftwrap_checkbox %}
        <p class="giftwrap_message">
          <input type="checkbox" class="add_giftwrap_message" id="add_giftwrap_message"/>
          <label class="giftwrap_label" for="add_giftwrap_message">
            {{ 'cart.general.giftwrap_message_html' | t }}
          </label>
        </p>
        {% endif %}

        <p>
          {{ bold_ro_cart }}
          <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
        </p>

        {% if content_for_additional_checkout_buttons and settings.cart_action != 'ajax' %}
        <div class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
        </div>
        {% endif %}

        {% if cart.item_count > 0 %}
        <p class="continue_shopping">
          <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
        </p>
        {% endif %}

      </div>
    </div>
    <input type="hidden" name="attributes[to]" class="cato" value="{{ cart.attributes.to }}" />
    <input type="hidden" name="attributes[from]" class="cafrom" value="{{ cart.attributes.from }}" />
    <span style="display:none"><textarea name="attributes[gift_message]" class="camsg" >{{ cart.attributes.gift_message }}</textarea></span>
    
  </form>

  {% include 'cart-shipping-calculator' %}
  <br class="clear" />
  <br class="clear" />
  {% endif %}
</div>
