{% section 'collection-shop-all-banner' %}

<div class="collections">
  {% assign products_per_row = 4 %}
  <!-- collection -->
  <div class="section-header text-center">
    <h2 class="title">Fine Fragrance</h2>
    <hr class="title">
  </div>

  {% assign products = collections['fine-fragrance'].products %}
  {% include 'product-loop-flex' %}

  <div class="section-header text-center">
    <h2 class="title">Home Fragrance</h2>
    <hr class="title">
  </div>

  {% assign products = collections['home-fragrance'].products %}
  {% include 'product-loop-flex' %}
  <!-- end collection -->
</div>

{% section 'feature-columns' %}
{% section 'collection-feature-video' %}
{% section 'banner-dual-shop-all' %}
{% include 'about-graph-bar' %}
