{% section 'collection-shop-body-banner' %}

<!-- collection -->
{% assign products_per_row = 4 %}
{% assign products = collection.products %}
{% include 'product-loop-flex' %}
<!-- end collection -->


{% section 'feature-columns' %}
{% section 'collection-fine-fragrance-video' %}
{% section 'banner-dual-fine-fragrance' %}
{% include 'about-graph-bar' %}
