{% section 'collection-shop-home-banner' %}

<!-- collection -->
{% assign products_per_row = 4 %}
{% assign products = collection.products %}
{% include 'product-loop-flex' %}
<!-- end collection -->


{% section 'feature-column-shop-home' %}
{% section 'collection-home-fragrance-video' %}
{% section 'banner-dual-home-fragrance' %}
