<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://skylar.com",
      "name": "Skylar",
      "description": "At Skylar Body, we offer natural, hypoallergenic, and cruelty-free perfumes with at-home sampling. A team of experienced and passionate artisans create every bottle with care, right here in Los Angeles. Better sourced, better made, and better priced.",
      "image": [
      "https://cdn.shopify.com/s/files/1/1445/2216/files/01082018-desktop-hp.jpg?v=1515440392",
  "https://cdn.shopify.com/s/files/1/1445/2216/products/Skylar_Product_BottlesFront_Coral2_2048x2048.jpg?v=1514785324",    "https://cdn.shopify.com/s/files/1/1445/2216/products/Coral_ad33fd37-92fb-4a38-8e2f-b806b5fd80e6_2048x2048.jpg?v=1514785324"],
      "founder": [
 {
 "@type": "Person",
 "name": "Cat Chen"
 }],

  "aggregateRating": {
  "@type": "AggregateRating",
  "ratingValue": "5",
  "reviewCount": "648"
},
  "sameAs": [
  "https://instagram.com/skylarbody",
  "https://facebook.com/skylarbody",
  "https://www.twitter.com/skylarbody",
  "https://pinterest.com/skylarbody"]
}
</script>

{% if settings.layout_option == "fixed" %}
<div class="index_fixed container">
  {{ content_for_index }}
</div>
{% else %}
  {{ content_for_index }}
{% endif %}
