{%layout none%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta property="og:url" content="https://skylar.com/pages/skylar-chelsea-giveaway"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Skylar Body x Chelsea Ma Summer Giveaway"/>
<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1498000346/z4m3n4bt7zymngrjeldh.jpg"/>
<meta property="og:site_name" content="Skylar Body x Chelsea Ma Summer Giveaway"/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
<meta property="og:description" content="Win an entire Skyler perfume collection (4 full sized bottles, valued at over $300) + a customized piece of clothing by Chelsea Ma (priceless)."/>
<title>Skylar Body x Chelsea Ma Summer Giveaway</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<script async id="vsscript_20858_865744" type="text/javascript" src="https://app.viralsweep.com/vsa-full-5b84f7-20858.js?sid=20858_865744"></script>
</body>
</html>