{% layout 'theme.tvp' %}
<div class="step-2-container">
    <div class="step-2 wrapper">
        <div class="stepwizard mobile-hide">
            <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle"></button>
                            <p><a href="https://skylar.com/products/sample-step-1">Pick<br> scent</a></p>
                        </div>
                        <div class="stepwizard-step active">
                            <button type="button" class="btn btn-primary btn-circle"></button>
                            <p><a href="">Choose delivery <br>frequency</a></p>
                        </div>
                        <div class="stepwizard-step review-click">
                            <button type="button" class="btn btn-default btn-circle"></button>
                            <p><a class= "review-click" href="javascript:void(0);">Review <br> Order</a></p>
                        </div>
                    </div>
        </div>
        <div class="desktop-view choose-delivery mobile-hides">
            <h3 style="font-size:20px;font-weight:600;">Change frequency</h3>
            <hr>
        </div>
        <div class="step2-wrapper">
            <div class="left-side-step-2">
                <div class="stepwizard desktop-hide">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle"></button>
                            <p><a href="https://skylar.com/products/sample-step-1">Pick<br> scent</a></p>
                        </div>
                        <div class="stepwizard-step active">
                            <button type="button" class="btn btn-primary btn-circle"></button>
                            <p><a href="">Choose frequency</a></p>
                        </div>
                        <div class="stepwizard-step review-click">
                            <button type="button" class="btn btn-default btn-circle"></button>
                            <p><a class= "review-click" href="javascript:void(0);">Review <br> Order</a></p>
                        </div>
                    </div>
                    <div class="mobile-view">
                         {% assign d = "now" | date: "%s" | plus: 1468800 | date: "%B %02d" %}
<!--                      {{ now | date: "%B" }}  -->
                      	 {% assign d1 = "now" | date: "%s" | plus: 1468800 | date: "%02d" %}
                     
                      <h3 style="font-size:18px;font-weight:300;">Great! We can't wait for you to try ALL 5 of our signature scents.</br></br>
                      After playing with your scents, we will send you the perfume bottle that best fits your scent preference on {% case d1 %}{% when "01" or "11" or "21" or "31" %}{{ d }}st{% when "02" or "22" %}{{ d }}nd{% when "03" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, with your $20 credit automatically applied. You can modify any time. No subscription required, love!</h3>
                  
                        <hr>
                    </div>
                    <div class="ships-charges">
                       <h3 style="font-size:20px;font-weight:600;">Want to get more sweet savings & have your scent replenished on the regular?</h3> 
                      <div class="one-time-only">
                            <label class="radio-wrapper">No thanks
                                <input type="radio" name="radio" class="one-time-only radio-step-2" value="One time only"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="every">
                            <div class="radio-wrapper-step-2">
                                <label class="radio-wrapper">Every
                                    <input class="radio-step-2" type="radio" checked="checked" name="radio" value="Every"/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="select-wrapper-subscribe">
                                <select class="select-subscribe">
                                    <option value="3">3 months</option>
                                    <option selected="selected" value="6">6 months</option>
                                    <option value="9">9 months</option>
                                </select>
                                <label class="save-15">Save 15%</label>
                              <label class="subscribe-save" data-toggle="modal" data-target="#subscribe-save">How to save more!</label>
                            </div>
                        </div>

                  </div>
                  <div class="upcoming-charges">
                  <h3 style="font-size:20px;font-weight:600;">Your Skylar Scent Preference</h3> 
                  <p style="font-size:16px;font-weight:300;">It’s easy to update online once you’ve tried our scents. Plus, FREE returns!</p>
                  </div>
                    <div class="wrapper-step-2">
                        <div class="product-images-wrap">
                            <img class="product-img-stop-2" src="" />
                            <span>Total </span>
                        </div>
                        <div class="product-left-wrap">
                            <h4 class="product-title-step-2">
                            </h4>
                         {% section "section-step-2" %}
                        </div>
                    </div>
                </div>
                <div class="right-side-next-wrapper">
                <div class="desktop-view" style="margin-bottom:25px;">    
                  
                                          <h3>Great! We can't wait for you to try ALL 5 of our signature scents.</h3>
                  </div>
                  
                  <div class="today-order">
                        <h3>Today’s order</h3>
                        <div class="sample-wrap-order">
                            {{ all_products['sample-palette'].featured_image | img_url: '58x58' | img_tag}}
                            <h4>Sample Palette </h4>
                            <h5 class="cart_total-new">$20</h5>
                        </div>
                        <hr class="for-mobile">
                        <div class="text-center next-wrap mobile-view">
                            <a href="#" class="add-to-cart-btn btn next-btn action_button" id="add-to-cart-button">Next</a>
                        </div>
                                                <div class="reminder-email mobile-view" style="margin-top:30px;">
                            <img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/message.png?3781316054679251159">
                            <p class="text-center" style="font-size:14px;line-height:20px;">We’ll send a reminder email before each shipment so you have enough time to modify.</br></br></p>
        				  </div>
                    </div>
                </div>
              <div class="desktop-view choose-delivery desktop-hides">
                                      <h3  style="font-size:18px;font-weight:300;">After playing with your scents, we will send you the perfume bottle that best fits your scent preference on {% case d1 %}{% when "01" or "11" or "21" or "31" %}{{ d }}st{% when "02" or "22" %}{{ d }}nd{% when "03" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, with your $20 credit automatically applied. You can modify any time. No subscription required, love!</h3>
            <h3 style="font-size:20px;font-weight:600;">Want to get more sweet savings & have your scent replenished on the regular?</h3>
            
        </div>
                <div class="stepwizard">
                  <!----for mobile---->
                   <div class="ships-charges desktop-view">
                        <div class="one-time-only">
                            <label class="radio-wrapper">No thanks
                                <input type="radio" name="radio-new" class="one-time-only radio-step-2" value="One time only"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="every">
                            <div class="radio-wrapper-step-2">
                                <label class="radio-wrapper">Every
                                    <input class="radio-step-2" type="radio" checked="checked" name="radio-new" value="Every"/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="select-wrapper-subscribe">
                                <select class="select-subscribe">
                                    <option value="3">3 months</option>
                                    <option selected="selected" value="6">6 months</option>
                                    <option value="9">9 months</option>
                                </select>
                              <label class="save-15">Save 15%</label></br>
                              <a href="#" :data-target="#subscribe-save" data-toggle="modal"><label class="subscribe-save" data-toggle="modal" data-target="#subscribe-save">How to save more!</label></a>

                          </div>
                     </div>
                    </div>
                  <div class="upcoming-charges desktop-view">
                            <div class="reminder-email desktop-view">
            <img src="{{'message.png'|asset_url}}" />
            <p class="text-center">We’ll send a reminder email before each shipment so you have enough time to modify.</br></br></br></br></p>
        </div>
                  <h3 style="font-size:20px;font-weight:600;">Your Skylar Scent Preference</h3> 
                  <p style="font-size:16px;font-weight:300;">It’s easy to update online once you’ve tried our scents. Plus, FREE returns!</p>
                  </div>
                    <div class="wrapper-step-2 desktop-view">
                        <div class="product-images-wrap">
                            <img class="product-img-stop-2" src="" />
                            <span>Total </span>
                        </div>
                        <div class="product-left-wrap">
                            <h4 class="product-title-step-2">
                            </h4>
                            {% section "section-step-2" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center next-wrap desktop-view">
            <button class="add-to-cart-btn btn next-btn add-to-cart-button action_button" >Proceed to Checkout</button>
        </div>
    </div>
</div>
    <script>
      var prodPrice, prodTitle, prodImagesrc;
      function getParameterByName(name, url) {
            if (!url)
                url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results)
                return null;
            if (!results[2])
                return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      var sample = getParameterByName('sample');
      var prodoneTimevarid = getParameterByName('prodonetime-var-id');
      var prodsubsVarid = getParameterByName('prodsubs-var-id');
      var prodHandle = getParameterByName('prod-handle');
      var prodVarhandle=getParameterByName('prod-var-handle');


      jQuery.getJSON("/cart.js", function (response) {
            var p = parseFloat(response.total_price / 100);
            jQuery("h5.cart_total").text("$" + p);
      });


      function addItemToCartSubs(variant_id, quantity, shipping_interval_frequency, shipping_interval_unit_type, subscription_id, pvid, price) {
//           var items = json_stringify([{id: pvid, name: prodTitle, qty: 1}]);
            data = {
               "quantity": quantity,
               "id": variant_id,
               "properties[shipping_interval_frequency]": shipping_interval_frequency,
               "properties[shipping_interval_unit_type]": shipping_interval_unit_type,
               "properties[subscription_id]": subscription_id,
               "properties[charge_delay]": 17,
               "properties[recurring_price]": price,
               "properties[handle_1]":prodVarhandle,
               "properties[qty_1]" : 1,
               "properties[total_items]": 1
//                "properties[order_interval_count]": 1
            }
            console.log(data);
            jQuery.ajax({
                type: 'POST',
                url: '/cart/add.js',
                data: data,
                dataType: 'json',
                success: function () {
                    try {
                        // Cross-domain tracking with Google Analytics
                        var ga_linker = ga.getAll()[0].get('linkerParam');
                    } catch (e) {
                        // 'ga' is not available
                        var ga_linker = '';
                    }
                    jQuery.getJSON("/cart.js", function (response) {
                        var siteurl = 'maven-and-muse.myshopify.com';
                        var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
                        try {
                            // Cross-domain tracking with Google Analytics
                            var ga_linker = ga.getAll()[0].get('linkerParam');
                        } catch (e) {
                            // 'ga' is not available
                            var ga_linker = '';
                        }
                        window.location.href = 'https://checkout.rechargeapps.com/r/checkout?myshopify_domain=' + siteurl + '&cart_token=' + response.token + '&' + ga_linker + '&' + customer_param;
//                         window.location.href = "https://skylar.com/cart"
                    });
                }
            });
        }
        function addItemToCart(variant_id, quantity, pvid) {
            data = {
                "quantity": quantity,
                "id": variant_id
            }
// 			console.log(data);
            jQuery.ajax({
                type: 'POST',
                url: '/cart/add.js',
                data: data,
                dataType: 'json',
                success: function () {
                    if ($(".one-time-only").is(":checked")) {
                          addItemToCartSubs('8101588598871', 1, 1, "Months", 115493, pvid, 58);
                    } else {
                        var freq = $('.select-subscribe').val();
                       addItemToCartSubs('8102646087767', 1, freq, "Months", 119647, pvid, 49.30);
                    }
                }
            });
        }
        $(document).ready(function () {
          jQuery.getJSON('/products/' + prodVarhandle + '.js', function (product) {
                prodPrice = product.price;
                prodTitle = product.title;
                prodImagesrc = product.featured_image;
                $('.product-title-step-2').text(prodTitle);
                $('.step-3-price').text("$" + prodPrice);
                $('.product-img-stop-2').attr('src', prodImagesrc);
                $("#add-to-cart-button,.add-to-cart-button,.review-click").click(function () {
                    $.ajax({
                        type: "POST",
                        url: '/cart/clear.js',
                        data: '',
                        dataType: 'json',
                        success: function () {
                            if ($(".one-time-only").is(":checked")) {
                                addItemToCart(sample, 1, prodoneTimevarid);
                            } else {
                                addItemToCart(sample, 1, prodsubsVarid);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus) {
                            /* error code */
                        }
                    });
                });
          });
          jQuery('.radio-step-2').change(function () {
                if ((jQuery(this).attr('value')) == 'One time only'){
                    $('.one-time').show();
                    $('.every-step-2').hide();
                } else {
                    $('.every-step-2').show();
                    $('.one-time').hide();
                }
          });
                       //addItemToCart(sample , 1, prodVarID);
        });
    </script>
    <style>
        .one-time{display:none;}
        .yotpo {display: none;}
        .related-products {display: none;}
    </style>
<div id="shopify-section-mobile-start-button" class="shopify-section">
<div class="mobile-trial text-center next-wrap">
                   <button style="min-width:280px !important" class="add-to-cart-btn btn next-btn add-to-cart-button action_button" >Proceed to Checkout</button>
                  </div>
  </div>
