{% assign product = all_products['sample-palette'] %}

{% layout 'theme.tvp' %}
{% section "hero-new" %}
{% section "from-our-customers" %}
{% section "feature-columns-new" %}
{% section "clean-and-modern" %}
{% section "natural" %}
{% section "cruelty-free" %}

{% section "featured-in" %}
{% section "landing-instagram" %}

<div class="yotpo yotpo-slider"
data-product-id="{{ product.id }}"
data-auto-slide="1"
data-source="all"
data-title="1"
data-title-text="#skylarbody"
data-title-color="#4A4A4A"
data-title-alignment="center"
data-title-font-size="25"
data-title-mobile-font-size="18"
data-hover-color="#4A4A4A"
data-hover-opacity="0.8"
data-hover-icon="true"
></div>
<!-- Yotpo Reviews Widget -->
<div class="yotpo yotpo-main-widget"
data-product-id="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}"
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
data-description="{{ product.description | escape }}">
</div>

{% section "mobile-start-button" %}

{% assign active_page = page.url | remove: 'pages/' | camelcase | downcase %}

{% if active_page == "card" or active_page == "mail" %}
<style>
.page-landing-new .promo_banner {
  display: none;
}
</style>
{% endif %}
