<div class=" page clearfix full_width">
  <div class="section-header text-center">
    <h2 class="title">{{ page.title }}</h2>
    <hr class="title">
  </div>
  <div>
    {% include 'page-multi-column', content: page.content %}

    {% if page.handle == 'slider-test' %}
    	{% section "review-carousel" %}
    {% endif %}
  </div>
</div>
