{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick.js' | asset_url | script_tag }}
<div class=" page clearfix">

  {% section 'give_a_gift' %}
  
 
</div>

<script>
  $(window).load(function() {
    $('#instafeed a img').each(function(){
      var src = $(this).attr('src');
      $(this).attr('src',src.replace('150x150', '480x480'));
    });
  });
  $(document).ready(function(){
    $('.quoteList').slick({
      adaptiveHeight: false,
      autoplay: true,
      autoplaySpeed: 4000,
      fade: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 1000,
    });
    $('.btn-goto').click(function(){
      var gt = $(this).attr('data-id');
      var fd = $('#'+gt).offset();
      $("html, body").animate({ scrollTop: fd.top }, "slow");      
    });
  });
</script>