<div class="sixteen columns page clearfix qz_page startquiz">
  <h1 class="center" style="display:none">
    {{ page.title }}
  </h1>
  <div class="feature_divider" style="display:none"></div>
  <script type="text/javascript">
    function showq(a,b) {
      $('.step1').fadeOut(function(){
        $('.hide').hide();
        $('.step'+a).fadeIn();        
        $('.qz_header').show();
        $('.goback').attr('data-cstep',1);
        $('.step1 .answer div').removeClass('active');
        $.cookie('steps1', '');
        $.cookie('steps1',$(b).index(), { expires: 1 });
        $(b).addClass('active');  
        $('h3[data-for="'+$(b).index()+'"]').show();
        $.cookie('steps',a, { expires: 1 });
        var selected = $.cookie('selected');
        if(selected && selected != null) {
          var ary = selected.split(',');
          var arrayLength = ary.length;
          for (var i = 0; i < arrayLength; i++) {
            $('.step'+parseInt(ary[i].split('_')[0])+ ' .showcont').show();
          }
        }
      });
    }

    function continue_for(a) {
      $('.step'+(a-1)).fadeOut(function(){
        $('.step'+a).fadeIn();
        $('.goback').attr('data-cstep',(a-1));
        $.cookie('steps', a, { expires: 1 });
      });
    };

    $(document).ready(function(){
       
      var stp1 = $.cookie('steps1');
      if(stp1 && stp1 != null) {
        $('h3[data-for="'+stp1+'"]').show();
        stp1 = parseInt(stp1)+1;
        $('.step1 .answer div:nth-child('+ stp1 +')').addClass('active');

      }
      var currentstep = $.cookie('steps');
      if(currentstep && currentstep != null) {
        $('.step0').fadeOut(function(){
          $('.step'+currentstep).fadeIn();
          $('.qz_header').show();
          $('.goback').attr('data-cstep',(currentstep-1));
        });
        $('.qz_page').removeClass('startquiz');
      }
      var selected = $.cookie('selected');
      if(selected && selected != null) {
        var ary = selected.split(',');
        var arrayLength = ary.length;
        for (var i = 0; i < arrayLength; i++) {
          $('.step'+parseInt(ary[i].split('_')[0])+ ' .answer div:nth-child('+(parseInt(ary[i].split('_')[1])+1)+')').addClass('active');
          $('.step'+parseInt(ary[i].split('_')[0])+ ' .showcont').show();
        }
      }

      $('.taketheqz').on('click', function(){
        $('.step0').fadeOut(function(){
          $('.answer div').removeClass('active');
          $('.hide').hide();
          $('.step1').fadeIn();
          $('.qz_header').show();
          $.cookie('steps','1', { expires: 1 });
          $.cookie('selected','');
          $.cookie('steps1', '');
          $('.qz_page').removeClass('startquiz');
        });
      });

      $('.startover').on('click', function(){
        $('.step0').fadeIn();
        $('.hide').hide();
        $.cookie('steps','');
        $.cookie('selected','');
        $.cookie('steps1', '');
        $('.answer div').removeClass('active');
        $('.qz_page').addClass('startquiz');
      });


      Array.prototype.remove = function() {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
          what = a[--L];
          while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
          }
        }
        return this;
      };
      var gsa = [];
      $('.generaQ .answer .column').on('click', function(){
        var s = parseInt($(this).parent().parent().attr('data-setp'));

        var x = $('.step'+s+' .answer .column.active').length;
        if($(this).hasClass('active')) {
          $(this).removeClass('active');
          gsa.remove(s+'_'+$(this).index());
        } else {
          if(x > 2) {
            return false;
          }     
          gsa.push(s+'_'+$(this).index());
          $(this).addClass('active');
        }
        $.cookie('selected',gsa);
        var x = $('.step'+s+' .answer .column.active').length;
        if(x > 0) {
          $('.step'+s+' .showcont').fadeIn();
        } else {
          $('.step'+s+' .showcont').fadeOut();
        }
      });


      $('.goback').on('click', function(){
        var cs = parseInt($(this).attr('data-cstep'));
        if(cs==0) {
          $('.hide').hide();
          $('div[data-setp="0"]').show();
          $.cookie('steps', '');
          $('.qz_page').addClass('startquiz');
        } else {
          $('div[class*="step"]').hide();
          $('div[data-setp="'+cs+'"]').show();
          $(this).attr('data-cstep',(cs-1));
          $.cookie('steps', cs, { expires: 1 });
        }
      });
      function chkDuplicates(arr,justCheck){
        var len = arr.length, tmp = {}, arrtmp = arr.slice(), dupes = [];
        arrtmp.sort();
        while(len--){
          var val = arrtmp[len];
          if (/nul|nan|infini/i.test(String(val))){
            val = String(val);
          }
          if (tmp[JSON.stringify(val)]){
            if (justCheck) {return true;}
            dupes.push(val);
          }
          tmp[JSON.stringify(val)] = true;
        }
        return justCheck ? false : dupes.length ? dupes : null;
      }   

      $('.step4 .answer > div').on('click', function(){
       
        var active = $('.step4 .answer .active').length;

        if(active==1) {
          var ph = $('.step4 .answer .active').attr('data-handle');

        } else if(active==2) {
          var z = [];
          $('.step4 .answer .active').each(function(){
            z.push($(this).attr('data-order'));
          });
          var min = Math.min.apply(Math, z);
          var ph = $('.step4 .answer div[data-order="'+min+'"]').attr('data-handle');
        } else {
          var z = [];
          $('.step4 .answer .active').each(function(){
            z.push($(this).attr('data-order'));
          });
          var min = Math.min.apply(Math, z);

          var check = chkDuplicates(z,true);
          if(check) {
            var sorted_arr = z.slice().sort();
            var results = [];
            for (var i = 0; i < z.length - 1; i++) {
              if (sorted_arr[i + 1] == sorted_arr[i]) {
                results.push(sorted_arr[i]);
              }
            }
            var ph = $('.step4 .answer div[data-order="'+results.toString()+'"]').attr('data-handle');
          } else {
            var ph = $('.step4 .answer div[data-order="'+min+'"]').attr('data-handle');
          }
        }
       
        console.log(ph);
   		$('.quiz-result-field').val(ph);

      });
      
      
      $('.old-quiz-subscribe').submit(function(e) {

        var $this = $(this);
        $this.find('#mce-responses').html('');
        var result = $('.quiz-result-field').val();
        var em = $(this).find('#mce-EMAIL');
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(em.val().trim() == '' || !regex.test(em.val())) {
          $this.find('#mce-responses').html('<p>Please enter a valid email to view your results.</p>');
          return false;
        }

        $.ajax({
          type: "GET",
          url: '//service.skylar.com/',
          data: $this.serialize(),
          dataType:"html",
          crossDomain: true,
          success:function(json){
            $.cookie('steps','');
            $.cookie('selected','');
            $.cookie('steps1', '');
            em.val('');
            window.location.href = '/products/'+result+'#recommendation';
          },
          error:function(){
            $this.find('#mce-responses').html('<p>Please try again after some time!</p>');
          }  
        });
        return false;
      });
    });
  </script>

  <div class="container container-small for_qz_contaner">
    <div class="for_qz_page">
      <div class="qz_body ">
        {% section 'quiz-section1' %}

        {% section 'quiz-section2' %}

        {% section 'quiz-section3' %}

        {% section 'quiz-section4' %}

      </div>
      <div class="qz_header hide row">
        <a class="goback action_button" data-cstep="0">Go back</a>
        <a class="startover action_button right" data-step="1">Start over</a>
      </div>
    </div>
    
  </div>
</div>

