{% layout 'contest' %}
<div class="sixteen columns page clearfix contest content-wrapper" data-scope="contest">
  {% section "banner-top-sprinkles" %}

  <div class="section-header contest">
    <h3 style="font-size: 32px;text-align: center;max-width: 900px;display: block; margin: 24px auto;">And The Winner Is...</h3>
    <hr class="title" />
  </div>
  {% section "contest-text" %}
  <div class="sixteen columns vote-results">



    <div class="column-item column omega center  text-left" data-target="#choice-3">
      <div class="inner">
        <div class="column-top">

          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/TripleCinnamon_d65253f9-6015-44fd-a4aa-878fcd16004a_480x480.jpg?v=1529379863" alt="column__image">

        </div>

        <div class="column-content">
          <div class="smells-like">
            <img src="//cdn.shopify.com/s/files/1/1445/2216/files/Step2_7b9b5f9d-5e89-410e-a7f1-7423e24856e2_480x480.png?v=1529020674"/>

            <p>Vanilla Triple Cinnamon</p>
          </div>
          <div class="winner-quote">
            Classic Vanilla combined with a pinch of Triple Cinnamon creates the perfect blend of sugar and spice - making everything nice.
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section-header">
    <h3 style="font-size: 32px;text-align: center;max-width: 900px;display: block; margin: 24px auto;">Stay Tuned</h3>
    <hr class="title" />
  </div>
  <div class="container">
      <div class="sixteen columns">
        <div class="section clearfix">
          <p class="center">Enter your email for updates on the development of this limited-edition Sprinkles x Skylar candle (and get access to exclusive pre-sales).</p>
        </div>
      </div>
  </div>

    <div class="container">
          <div class="sixteen columns">
              <div class="contest-counting-newsletter">
                  <form id="stay-in-touch" action="" method="post" target="_blank">
                      <input type="text" name="email" placeholder="Email Address" />
                      <button id="stay-in-touch-trigger" class="button secondary" type="submit">Keep Me Posted</button>
                   </form>
              </div>
          </div>
    </div>
    <style>
        .contest-counting-newsletter {text-align: center;}
        .contest-counting-newsletter form {width: 30%; margin: 0 auto;}
        .contest-counting-newsletter button{font-size: 18px !important;height: auto !important;margin: 20px auto;padding: 10px 20px;position: relative;width: auto !important;}
        .contest-counting-newsletter #footer_signup {text-align: center;}
        .vote-results .inner {width: 100%;margin: 50px 0px;}
        .vote-results .column-top {display: inline-block;}
        .vote-results .column-top img {display: inline-block;width: 75%;float: right;}
        .vote-results .column-content {display: inline-block;height: auto;vertical-align: top;width: 25%;margin: 50px 20px;}
        .vote-results .inner .smells-like p {font-size: 20px;font-weight: bold;margin-bottom: 0;}
        .vote-results .inner .smells-like img {width: 40px;margin: 20px auto;}
        .contest-complete-text {width: 70%; margin: auto !important;}
        #shopify-section-banner-top-sprinkles .mobile-only {width: 75%; padding-bottom: 20px;}
        .feature-columns-alt .column-item .column-content h3 {font-size: 20px; font-weight:bold;}

        @media(max-width:767px) {
            .contest-counting-newsletter form {width: 100%; margin: 0 auto;}
            .contest-counting-newsletter button{width: 60% !important; margin: 20px 20% 0px 20%; padding: 10px 0px !important;}
            .page-contest-counting .section-header hr.title {margin: 10px auto;}
            .vote-results .column-top img {width: 100%; float: none;}
            .vote-results .column-content {width: auto; margin: 20px}
            .vote-results .inner {margin: 20px 0px;}
            .contest-complete-text {width: 100%;}
            .feature-columns-alt .column-item {margin-top: 20px;}
            .feature-columns-alt .column-item .column-top img {width: 70px;}
            .feature-columns-alt .column-item .column-content h3 {font-size: 20px; font-weight:bold;}
        }
}

    </style>

    <script>
    $('.contest-counting-newsletter .klaviyo_submit_button').html('Keep Me Posted');
    </script>

  {% section "contest-complete-instructions" %}
</div>

{% section "contest-modal" %}
