{% if customer.metafields.subscriptions.customer_string %}
<!-- Begin ReCharge code -->
<p><a href="/tools/recurring/customer/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/">Manage Subscriptions</a></p>
<!-- End ReCharge code -->
{% endif %}
<!-- <div class="sixteen columns clearfix collection_nav">
    <h1 class="center">{{ 'customer.account.details' | t }}</h1>
    <div class="feature_divider"></div>
</div> -->
<div class="row my-account-wrapper">
    <div class="my-account">  
        <div class="sidebar">
            {% include 'left-sidebar' %}    
            <div class="right-sidebar">
                <div class="tab-content">                    
                    <div class="tab-pane active" id="my-sub">
                        <div class="twelve columns">
                            <div id="customer_orders">
<!--                                 <h4>{{ 'customer.orders.title' | t }}</h4> -->
                                {% if customer.orders.size != 0 %}
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th>{{ 'customer.orders.order_number' | t }}</th>
                                            <th>{{ 'customer.orders.date' | t }}</th>
<!--                                             <th>{{ 'customer.orders.payment_status' | t }}</th>
                                            <th>{{ 'customer.orders.fulfillment_status' | t }}</th> -->
                                            <th>{{ 'customer.orders.total' | t }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in customer.orders %}
                                        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                                            <td>{{ order.name | link_to: order.customer_url }}</td>
                                            <td>{{ order.created_at | date: format: "month_day_year" }}</td>
<!--                                             <td>{{ order.financial_status_label }}</td>
                                            <td>{{ order.fulfillment_status_label }}</td> -->
                                            <td>{{ order.total_price | money }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <p>{{ 'customer.orders.none' | t }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="order-history">order-history</div>
                    <div class="tab-pane" id="shipaddress">
                        <div class="four columns">
                            <div id="customer_detail" class="group">
                              <h4>Shipping Address</h4>
                              <div class="shipping-box">
                                <div class="shipping-btn">
                                  <span class="shipping-default-btn">Default</span>
                                  <span class="shipping-edit-btn">Edit</span>
                                </div>
                                <div class="shipping-address">
                                  <div class="address note">
                                    {% if customer.default_address != nil %}
                                    <p>{{ customer.default_address.address1 }}</p>
                                    {% if customer.default_address.address2 != "" %}
                                    <p>{{ customer.default_address.address2 }}</p>
                                    {% endif %}
                                    <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
                                    <p>{{ customer.default_address.zip}}</p>
                                    <p>{{ customer.default_address.phone }}</p>
                                    {% endif %}
<!--                                     <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
                                    <p><a class="swell-trigger" href="javascript:swellAPI.showRewardsPopup()">View Referrals</a></p> -->
                                </div>
                                </div>
                              </div>
<!--                               <h4 class="name">{{ customer.name }}</h4> -->
<!--                                 <p class="email note">{{ customer.email }}</p> -->
                                 
                            </div>
                        </div>        
                    </div>
                    <div class="tab-pane" id="payment">
                  		<div class="payment-method">
                            <h4>Payment Method</h4>
                            <div class="shipping-box">
                                <div class="shipping-btn">
                                  <span class="shipping-default-btn">Default</span>
                                  <span class="shipping-edit-btn">Edit</span>
                                </div>
                                <div class="shipping-address">
                                  <div class="row">
                                    <div class="col-sm-6 text-center address1">MIDORI SAKANO<br>**** - **** - **** - 1122<br>EXP : 5 / 2020</div>
                                    <div class="col-sm-6 text-center address2">Midori Sakano<br>1600 Main St.<br>Venice, CA 90291</div>
                                  </div>
                                </div>
                            </div>                                 
                         </div>
                     </div>
                     <div class="tab-pane" id="profile">Profile</div>
                     <div class="tab-pane" id="cont">Contact Us</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="sixteen columns breadcrumb">
    <div class="clearfix breadcrumb_text">
        <div class="center">
            <a href="/account" title="{{ 'layout.customer.my_account' | t }}">{{ customer.name }}</a> 
            &nbsp; / &nbsp;
            {{ 'layout.customer.log_out' | t | customer_logout_link }}

            <p><a href="/tools/checkout/front_end/login" class="text-link">Manage Subscription</a></p>
        </div>
    </div>
</div> -->







