
{% section "banner-top-spring" %}
<div class="sixteen columns page clearfix contest content-wrapper" data-scope="contest">
  {% section "contest-text" %}
  {% section "contest-vote-form" %}
</div>

{% section "contest-vote-modal" %}
