{% section 'banner-top-mothers-day' %}
{% section 'banner-callout-mothers-day' %}

<!-- collection -->
<div class="section-header text-center">
  <h2 class="title">Mother's Day Gift Sets</h2>
  <hr class="title">
</div>
{% assign products_per_row = 4 %}
{% assign products = collections['mothers-day-2018'].products %}
{% include 'product-loop-flex' %}
<!-- end collection -->

{% section 'feature-review' %}
{% section 'feature-columns-mothers-day' %}
{% section 'banner-dual-mothers-day' %}
{% section 'banner-mid-mothers-day' %}

<!-- collection -->
<div class="section-header text-center">
  <h2 class="title">Gifts Under $50</h2>
  <hr class="title">
</div>
{% assign products_per_row = 4 %}
{% assign products = collections['products-0-50'].products %}
{% include 'product-loop-flex' %}
<!-- end collection -->

<!-- collection -->
<div class="section-header text-center">
  <h2 class="title">Gifts $50 - $100</h2>
  <hr class="title">
</div>
{% assign products_per_row = 4 %}
{% assign products = collections['products-50-100'].products %}
{% include 'product-loop-flex' %}
<!-- end collection -->

<!-- collection -->
<div class="section-header text-center">
  <h2 class="title">Gifts $100+ </h2>
  <hr class="title">
</div>
{% assign products_per_row = 4 %}
{% assign products = collections['products-100-150'].products %}
{% include 'product-loop-flex' %}
<!-- end collection -->
