<div class=" page clearfix full_width">
    <h1 class="center">
        {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Choose New Ship Date
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#custom-modal">
        We'll Miss You!
    </button>

<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scent-chart">
        Scent Chart
    </button> -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-more-save">
        Add More & Save
    </button>
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribe-save">
        subscribe & Save
    </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#choose-scent">
        choose-a-scent
    </button>


    <!--   **********************Add More & Save******************************* -->


    <div class="modal fade scent-cht-modal" id="add-more-save">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Add More & Save</h5>
                    <h6>Layer multiple scents to create your own, or stock up on your fave.</h6>
                    <div class="add-more-popup">
                        <ul class="list-inline">
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Arrow - spicy" type="radio">                          
                              <span class="pro-title">Arrow - spicy</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Isle - clean" type="radio">                          
                              <span class="pro-title">Isle - clean</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Coral - fruity" type="radio">                          
                              <span class="pro-title">Coral - fruity</span><span class="add-checkmark"></span>
                                </label></li>
                            <li><label class="radiobox-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Meadow - floral" type="radio">                          
                              <span class="pro-title">Meadow - floral</span><span class="add-checkmark"></span>
                                </label></li>
                        </ul>
                    </div>
                  <div class="add-save-btn"><a href="#">add</a></div>
                  <div class="price-list">
                  
                  <div class="row bottle">
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle1.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">1 bottle</p>
                        <p class="bottle-price">$78</p>
                    </div>
                </div>
                <div class="col-sm-6 bottle-item">
                    <p class="bottle-img">{{ 'a-bottle2.png' | asset_url | img_tag }}</p>
                    <div class="bottle-doc">
                        <p class="bottle-qty">2 bottle</p>
                        <p class="bottle-price"><span>$156</span><span>$120</span><span>$36 savings</span></p>
                    </div>
                </div>
                    </div>
                <div class="row bottle">
                  <div class="col-sm-6 bottle-item">
                      <p class="bottle-img">{{ 'a-bottle3.png' | asset_url | img_tag }}</p>
                      <div class="bottle-doc">
                          <p class="bottle-qty">3 bottle</p>
                          <p class="bottle-price"><span>$234</span><span>$175</span><span>$56 savings</span></p>
                      </div>
                  </div>
                  <div class="col-sm-6 bottle-item">
                      <p class="bottle-img">{{ 'a-bottle4.png' | asset_url | img_tag }}</p>
                      <div class="bottle-doc">
                          <p class="bottle-qty">4 bottle</p>
                          <p class="bottle-price"><span>$312</span><span>$200</span><span>$112 savings</span></p>
                      </div>
                  </div>
            	</div>
              </div>
           </div>
                <!-- Modal footer -->
       </div>
    </div>
 </div>







    <!--   **********************scent-chart******************************* -->


    <div class="modal fade scent-cht-modal" id="scent-chart">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Scent Guide</h5>
                    <div class="scent-cht">
                        <div class="scent-cht-header">
                            <ul class="list-inline">
                                <li class="list-inline-item">Light</li>
                                <li class="list-inline-item">Strength</li>
                                <li class="list-inline-item">Strong</li>                
                            </ul>
                        </div>
                        <div class="scent-cht-body">
                            <div class="scent-cht-leftside scent-cht-body-inner">
                                <ul class="list-inline">
                                    <li class="list-inline-item">Neutral</li>
                                    <li class="list-inline-item">Style</li>
                                    <li class="list-inline-item">Feminine</li>                
                                </ul>
                            </div>
                            <div class="scent-cht-rightside scent-cht-body-inner">
                                <div class="row rightside-inner-wrapper">
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-title">
                                            <ul class="list-inline">
                                                <li>floral</li>
                                                <li>•</li>
                                                <li>elegant</li>
                                                <li>•</li>
                                                <li>beautiful</li>
                                            </ul>
                                        </div>
                                        <div class="scent-product-image">
                                            {{ 'scent-product1.png' | asset_url | img_tag }}
                                        </div>

                                    </div>
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-title">
                                            <ul class="list-inline">
                                                <li>floral</li>
                                                <li>•</li>
                                                <li>elegant</li>
                                                <li>•</li>
                                                <li>beautiful</li>
                                            </ul>
                                        </div>
                                        <div class="scent-product-image">
                                            {{ 'scent-product2.png' | asset_url | img_tag }}
                                        </div>                  
                                    </div>            
                                </div>
                                <div class="row rightside-inner-wrapper">
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-product-image">
                                            {{ 'scent-product3.png' | asset_url | img_tag }}
                                        </div>
                                        <div class="scent-title">
                                            <ul class="list-inline">
                                                <li>clean</li>
                                                <li>•</li>
                                                <li>dewy</li>
                                                <li>•</li>
                                                <li>fresh</li>
                                            </ul>
                                        </div>                
                                    </div>
                                    <div class="col-sm-6 rightside-inner">
                                        <div class="scent-product-image">
                                            {{ 'scent-product4.png' | asset_url | img_tag }}
                                        </div>
                                        <div class="scent-title">
                                            <ul class="list-inline">
                                                <li>floral</li>
                                                <li>•</li>
                                                <li>elegant</li>
                                                <li>•</li>
                                                <li>beautiful</li>
                                            </ul>
                                        </div>                
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>
    </div>


    <!--   **********************we will miss u******************************* -->

    <!-- The Modal -->
    <div class="modal fade custom-modal" id="custom-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>We'll Miss You!</h5>
                    <h6>Your cancellation is complete.<br>Come back any time.</h6>
                    <div class="modal-list-wrapper">
                        <p class="list-title">Please tell us the reason.</p>
                        <ul class="modal-list">
                            <li class="modal-list-item">
                                <label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label>
                                <span class="modal-list-text">Don’t need to replenish</span></li>
                            <li class="modal-list-item"><label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label> <span class="modal-list-text">Scents were not a good match</span></li>
                            <li class="modal-list-item"><label class="radio-wrapper">
                                    <input checked="checked" name="choose_subscription" value="Don’t need to replenish" type="radio">                          
                                    <span class="checkmark"></span>
                                </label> <span class="modal-list-text">Other</span></li>
                        </ul>
                    </div>
                    <p class="modal-submit"><a href="#">submit</a></p>

                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>

  
  
  
  
  <div class="modal fade sub-save-modal" id="subscribe-save">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Subscribe & Save</h5>
                    <p class="sub-title">Don’t worry about running it out!<br>We’ll automatically ship your selection at your schedule.</p>
                  <p class="sub-title"><span>SAVE 15%</span> on your all full-sized scent(s). You can cancel, modify or postpone any time.</p>
                  <div class="subscribtion-period">
                  <hr>
                    <h6>Every 3 months</h6>
                  <p>You are obsessed with your Skylar scent and love spritzing it every day.</p>
                    <hr>
                    <h6>Every 6 months</h6>
                    <p>You love your Skylar scent and spritz every so often to brighten your day.</p>                    
                  <hr>
                    <h6>Every 9 months</h6>
                    <p>Skylar makes your day (or night) special. It helps you feel amazing for those special occasions.</p>
                  </div>
                    

                </div>

                <!-- Modal footer -->
            </div>
        </div>
    </div>
  
<!--   /*****************************Choose-a-scent****************************/ -->
  
  
  
  <div class="modal fade choose-a-scent" id="choose-scent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>
                <div class="modal-body text-center">                  
                    <h2>Choose a Scent</h2>                    
                  <div class="choose-a-scent-inner">
                    <div class="col-sm-8 product-select-list">
            <div class="subscription-product-lists">
                <p class="arrow-product">
                    <label class="radio-wrapper">Arrow -  
                        <input class="radio-custm-button" name="radio-subs" value="arrow" type="radio">
                        <span class="checkmark"></span>
                    </label>
                    <span>spicy</span>
                </p>
                <p class="coral-product">
                    <label class="radio-wrapper">Coral -  
                        <input class="radio-custm-button" name="radio-subs" value="coral" type="radio">
                        <span class="checkmark"></span>
                    </label>
                    <span>fruity</span>
                </p>
                <p class="isle-product">
                    <label class="radio-wrapper">Isle -  
                        <input class="radio-custm-button" checked="" name="radio-subs" value="isle" type="radio">
                        <span class="checkmark"></span>
                    </label>
                    <span>clean</span>
                </p>
                <p class="meadow-product"> 

                    <label class="radio-wrapper">Meadow - 
                        <input class="radio-custm-button" name="radio-subs" value="meadow" type="radio">

                        <span class="checkmark"></span>
                    </label>
                    <span>floral</span>
                </p>
            </div>
        </div>
                    <div class="col-sm-4 text-center product-img-wrap">
                    {{ 'scent-product-a.png' | asset_url | img_tag }}
                    </div>
                    <div class="save-btn"><a href="#">save</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
  
  
  

    <!-- The Modal -->
    <div class="modal fade custom-modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">{{ 'close.png' | asset_url | img_tag }}</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5>Can We Help?</h5>
                    <p>Do you need more time to play with your new scents? <br>
                        You can push back the next order shipment date. <br>
                        You will still be able to apply your $20 credit. 
                    </p>
                    <div class="calender-wrapper">
                        <label>Choose New Ship Date</label>
                        <div class="calendar"></div>
                    </div>
                    <div class="last-section">
                        <h5>No thanks! I want to cancel</h5>         
                    </div>
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div> 
</div>

<style>

    .pignose-calendar .pignose-calendar-top,.pignose-calendar{box-shadow:none;max-width: 320px;border:none;background:#fafafa;}
    .pignose-calendar .pignose-calendar-top{padding:2px 0;}
    .pignose-calendar-top-date > span { display: inline-block !important;}
    .pignose-calendar .pignose-calendar-unit{height: 37px;}
    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-date{padding:0;}
    .pignose-calendar .pignose-calendar-unit a ,.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a{color: #000000;font-family: "Helvetica Neue";font-size: 12px;font-weight: 500;}
    .pignose-calendar-top-date {text-align: left !important; padding-left: 30px !important;}
    .pignose-calendar-top-nav.pignose-calendar-top-prev {position: absolute !important; right: 60px;}
    .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{background-color: #f7c5ca;box-shadow:none!important;;}
    .pignose-calendar .icon-arrow-left::before{background:url('')}

</style>


<script type="text/javascript">

//     function onClickHandler(date, obj) {
//         /**
//          * @date is an array which be included dates(clicked date at first index)
//          * @obj is an object which stored calendar interal data.
//          * @obj.calendar is an element reference.
//          * @obj.storage.activeDates is all toggled data, If you use toggle type calendar.
//          * @obj.storage.events is all events associated to this date
//          */

//         var $calendar = obj.calendar;
//         var $box = $calendar.parent().siblings('.box').show();
//         var text = 'You choose date ';

//         if (date[0] !== null) {
//             text += date[0].format('YYYY-MM-DD');
//         }

//         if (date[0] !== null && date[1] !== null) {
//             text += ' ~ ';
//         } else if (date[0] === null && date[1] == null) {
//             text += 'nothing';
//         }

//         if (date[1] !== null) {
//             text += date[1].format('YYYY-MM-DD');
//         }

//         $box.text(text);
//     }

//     $('.calendar').pignoseCalendar({
//         select: onClickHandler
//     });

</script>