{% section 'banner-top-philosophy' %}
<div class="sixteen columns page clearfix page-philosophy content-wrapper" data-scope="philosophy">
  <div class="page-content mobile-only">
    {{ page.content }}
  </div>
  {% section 'philosophy-feature-columns' %}
  {% section 'philosophy-text-image-rows' %}
</div>
