<div class=" page clearfix full_width">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div class="twelve columns center-block">
    {{ page.content }}
  </div>
</div>
