<div class=" page clearfix full_width">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% include 'page-multi-column', content: page.content %}
    
	<div class="newsletter newsletter-test">
      <form id="email_signup" class="contact-form klaviyo_bare_embed_KhY2eb" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" action="//manage.kmail-lists.com/subscriptions/subscribe"><input type="hidden" name="g" value="KhY2eb" /> <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" /><button type="submit" class="action_button sign_up klaviyo_submit_button"><img src="//cdn.shopify.com/s/files/1/1445/2216/t/21/assets/next.svg?10761449178339843124" alt="" /></button>
      <div class="klaviyo_messages">
      <div class="success_message" style="display: none;"></div>
      <div class="error_message" style="display: none;"></div>
      </div>
      </form>
      <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script><script type="text/javascript">// <![CDATA[
      KlaviyoSubscribe.attachToForms('#email_signup', {
          hide_form_on_success: true,
          success_message: "Thank you for subscribing!"
        });
      // ]]></script>
    </div>
  </div>
</div>

<style type="text/css">
  #email_signup {
    position: relative;
  }
  .newsletter-test {
    max-width: 33%;
    margin: 20px auto;
  }
</style>
