{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>  
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>Organic Perfume - Cruelty Free Perfume | Skylar</title>

  <meta name="description" content="At Skylar, our mission is to create a collection of high-quality, safe, and freshly scented Organic Perfume and Cruelty Free Perfume that inspire confidence." />

  {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' %}
  <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
  {% endif %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

  <!-- Stylesheets for Parallax 2.4.2 -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'password.css' | asset_url | stylesheet_tag }}
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}" />
  <link rel="canonical" href="{{ canonical_url }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  {{ 'password.js' | asset_url | script_tag }}

</head>
<body id="password-page-bg">
  <div class="controls">
    <div id="open-me">
      <a href="#">{{ 'general.password_page.login_form_heading' | t }}</a>
    </div>
  </div>
  <header id="header">
    <div class="container">
      {% if settings.use_logo %}
      <a href="/">
        <img class="password-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" />
      </a>
      {% else %}
      <a href="/">
        <h1 class="logo">{{ shop.name }}</h1>
      </a>
      {% endif %}
    </div>
  </header>

  <section id="pw_hero" {% if settings.pw_hero_bg_color != blank %}style="background-color: {{ settings.pw_hero_bg_color }};"{% endif %}>
    <div class="slideshow-section">
      <div class="item slideshow" style="background-image: url({{ settings.pw_hero_image | img_url: "original" }});">
        <div class="hero__container ">
          <h1 class="hero__title home__title--csb" style="color: {{ settings.pw_hero_title_color }}">{{ settings.pw_hero_title }}</h1>
          <p class="hero__body-copy home__body-copy--csb" style="color: {{ settings.pw_hero_stitle_color }}">{{ settings.pw_hero_stitle }}</p>
          <div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
            <p class="message"></p>
            {% if settings.mailchimp_link != blank %}
            <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" class="contact-form" id="contact_form" target="_blank">
              <input type="email"  name="EMAIL" class="contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
              <button type='submit' class="action_button sign_up">want</button>
              <div id="mce-responses" >
              </div> 
            </form>
            {% else %}    
            {% form 'customer' %}
            {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.success_text' | t }}</p>
            {% elsif form.errors %}
            {% for field in form.errors %}
            <p>{{ field | capitalize }} {{ form.errors.messages[field] }}</p>
            {% endfor %}
            {% endif %}
            <div class="form_container">
              <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>         
              <input type="email" class="contact_email" name="contact[email]" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
              <button type='submit' class="action_button sign_up">want</button>
            </div>
            {% endform %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "pw_column" %}

  <section id="pw_story" {% if settings.pw_story_bg_color != blank %}style="background-color: {{ settings.pw_story_bg_color }};"{% endif %}>
    <div class="container">
      <div class="password-page-content">
        <h2 style="color: {{ settings.pw_story_title_color }};" class="title">{{ settings.pw_story_title }}</h2>
        <span style="color: {{ settings.pw_story_stitle_color }};">{{ settings.pw_story_stitle }}</span>
      </div>
    </div>
  </section>

  <section id="pw_instafeed">
    <div class="instagram-section-wrapper" {% if settings.pw_insta_bg_color != blank %}style="background-color: {{ settings.pw_insta_bg_color }};"{% endif %}>
      <div class="signup-section">
        {% if settings.pw_newsletter_box_title != blank %}
        <h2 style="color: {{ settings.pw_newsletter_box_title_color }};" class="title">{{ settings.pw_newsletter_box_title }}</h2>
        {% endif %}
        {% if settings.pw_newsletter_box_stitle != blank %}
        <p style="color: {{ settings.pw_newsletter_box_stitle_color }};">{{ settings.pw_newsletter_box_stitle }}</p>
        {% endif %}

        {% include 'password-newsletter' %}
        
        <div class="password-social">
        <h3 class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</h3>
        {% if settings.twitter_link != '' %}
        <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="ss-password" rel="me" target="_blank">
          &#xF611;
        </a>              
        {% endif %}

        {% if settings.facebook_link != '' %}
        <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="ss-password" rel="me" target="_blank">
          &#xF610;
        </a>              
        {% endif %}

        {% if settings.google_link != '' %}
        <a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="ss-password" rel="publisher" target="_blank">
          &#xF613;
        </a>              
        {% endif %}

        {% if settings.youtube_link != '' %}
        <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="ss-password" rel="me" target="_blank">
          &#xF630;
        </a>              
        {% endif %}

        {% if settings.vimeo_link != '' %}
        <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="ss-password" rel="me" target="_blank">
          &#xF631;
        </a>              
        {% endif %}

        {% if settings.pinterest_link != '' %}
        <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="ss-password" rel="me" target="_blank">
          &#xF650;
        </a>              
        {% endif %}

        {% if settings.tumblr_link != '' %}
        <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="ss-password" rel="me" target="_blank">
          &#xF620;
        </a>              
        {% endif %}

        {% if settings.instagram_link != '' %}
        <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="ss-password" rel="me" target="_blank"> 
          &#xF641;
        </a>              
        {% endif %}

        {% if settings.linkedin_link != '' %}
        <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" class="ss-password" rel="me" target="_blank">
          &#xF612;
        </a>              
        {% endif %}

        {% if settings.flickr_link != '' %}
        <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" class="ss-password" rel="me" target="_blank">
          &#xF640;
        </a>              
        {% endif %}

        {% if settings.email_link != '' %}
        <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" class="ss-password" target="_blank">
          &#x2709;
        </a>              
        {% endif %}
      </div>

      </div>

      <div class="insta-widget">
        <h4 class="instafeed-title">
          {% if settings.instagram_link != blank %}
          <a href="{{ settings.instagram_link }}" target="_blank">
            {% endif %}
            {{ settings.instagram_title }}
            {% if settings.instagram_link != blank %}
          </a>
          {% endif %}
        </h4>

        <div id="instafeed" data-client-id="{{ settings.instagram_client_id | strip }}" data-count="{{ settings.instagram_count | strip }}"></div>

      </div>
    </div>
  </section>

  <div class="footer">
    <div class="password-footer">

      

      <div class="powered">        
        &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.
      </div>

    </div>





  </div>



  <div class="overlay overlay-data">
    <span class="close-me controls"><div class="pass-close ss-icon"><a href="#">␡</a></div></span>
    <div class="modalbox">
      <div class="inputbox">
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
        {% endif %}
        <label for="password">{{ 'general.password_page.login_form_password_label' | t }} </label>

        <input type="password" name="password" id="password" autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
        <div class="actions">
          <input class="action_button sign_up" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
        </div>
        {% endform %}

        <div id="owner">{{ 'general.password_page.admin_link_html' | t }} or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div> 
      </div>
    </div>
  </div>

  <style>
    .signup-section h2{
      color: {{ settings.pw_newsletter_box_title }};
    }

    .signup-section p{
      color: {{ settings.pw_newsletter_box_stitle }};
    }

    .instafeed-title, 
    .instafeed-title a{
      color: #fff;
    }

  </style>

  <script>
    $( document ).ready(function() {
      $( "#open-me" ).click(function() {
        $( ".overlay" ).addClass('overlay-open');
        $("#password").focus();
      });

      $( ".close-me" ).click(function() {
        $( ".overlay" ).removeClass( 'overlay-open' ); 
      });
      
      $('form[name="mc-embedded-subscribe-form"]').on('submit',function(e){
        var form = $(this);
        var email = $(this).find('input[name="EMAIL"]');
        e.preventDefault();
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(email.val().trim() == '' || !regex.test(email.val())) {
          form.find('#mce-responses').text('please enter valid email...');
          return false;
        } else {
          form.find('#mce-responses').text('');
        }
        $.ajax({
          type: "GET",
          url: '//service.skylar.com/',
          data: form.serialize(),
          dataType:"html",
          crossDomain: true,
          success:function(json){
            email.val('');
            if(json == 'Okay' ) {
              form.find('#mce-responses').html('{{settings.mailchimp_mess}}');
            } else {
              form.find('#mce-responses').html(json);
            }
          },
          error:function(){
            form.find('.error_message').html('<p>Please try again after some time!</p>');
          }  
        });
      });


    });
    
    
  </script>
</body>

</html>