<div id="product-page">
  <div class="sixteen columns">
    <div class="clearfix breadcrumb">
      <div class="nav_arrows">
        {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev">&#x25C5;</a>
        {% endif %}

        {% if collection.next_product %}
        <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next">&#x25BB;</a>
        {% endif %}
      </div>

      {% if settings.product_breadcrumb %}
      <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
          {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
          {% endif %}
        </span>
        &nbsp;<span class="icon-right-arrow"></span>
        {{ product.title }}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="sixteen columns">

    <div class="product-{{ product.id }}">

      {% comment %}
      <div class="giftcard_top">
        {% section 'giftcard_top' %}
      </div>
      {% endcomment %}

      <div class="section product_section clearfix" itemscope itemtype="http://schema.org/Product">

        <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if settings.product_images_position == 'right' %}mobile_only{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="{% if settings.product_sidebar %}five{% else %}seven{% endif %} columns {% if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}
          <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

          <!-- Yotpo Star Rating -->
          <div class="yotpo bottomLine"
          style="display:inline-block;"
          data-product-id="{{ product.id }}"
          data-url="{{ shop.url }}{{ product.url }}">
          </div>

          {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
          {% endif %}

          {% if variant.sku != blank and settings.display_sku %}
          <p class="sku">
            <span itemprop="sku">{{ variant.sku }}</span>
          </p>
          {% endif %}

          {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}

          {% if settings.size_chart != blank %}
          <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                {{ variant.price | money }}
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
              {{ variant.compare_at_price | money }}
              {% endif %}
            </span>
          </p>

          {% include 'product-notify-me' %}
          {% endunless %}

          {% if settings.product_description_position == "top" %}
          {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
          {% endif %}
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
          {% if product.available %}
          <form action="/cart/add" data-productid="{{product.id}}" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">

            {% if settings.display_inventory_left %}
            <div class="items_left">
              {% if product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 %}
              {% capture items_left_text %}
              {% if product.variants.first.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
              {% else %}
              {{ 'products.product.items_left_count.other' | t }}
              {% endif %}
              {% endcapture %}

              <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
              {% endif %}
            </div>
            {% endif %}

            {% if product.options.size > 1 %}
            <div class="select">
              <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}" class="multi_select">
                {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
                {% endfor %}
              </select>
            </div>
            {% elsif product.options.size == 1 and  product.variants.size > 1 or product.options[0] != "Title"  %}
            <div class="select">
              <label>{{ product.options[0] }}</label>
              <select id="product-select-{{ product.id }}{{ product-form }}" name="id" data-productid="{{product.id }}">
                {% for variant in product.variants %}
                <option {% if variant.title contains '75'  %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
                {% endfor %}
              </select>
            </div>
            {% else %}
            <input type="hidden" name="id" data-productid="{{product.id }}" value="{{ product.variants.first.id }}" />
            {% endif %}

            {% if settings.product_form_style == "swatches" and  product.variants.size > 1 or product.options[0] != "Title" %}
            <div class="swatch_options">
              {% for option in product.options %}
              {% include 'product-swatch' with option %}
              {% endfor %}
            </div>
            {% endif %}

            {% if settings.display_product_quantity %}
            <label for="quantity">{{ 'products.product.quantity' | t }}</label>
            <div class="left quantity-box">
              <span class="minus">-</span>
              <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "deny" %}max="{{ product.variants.first.inventory_quantity }}"{% endif %} />
              <span class="plus">+</span>
            </div>
            {% endif %}
            <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
              {% if settings.cart_action == 'reload_page' %}
              <input type="hidden" name="return_to" value="back" />
              {% elsif settings.cart_action == 'redirect_checkout' %}
              <input type="hidden" name="return_to" value="/checkout" />
              {% endif %}

              {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
              <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
            </div>
          </form>

          {% if product.variants.size > 1 or product.options.size > 1 %}
          <script type="text/javascript">
            // <![CDATA[
            $(function() {
              $product = $('.product-' + {{ product.id }});
                           new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product:  {%- include 'bold-product', output: 'json' -%}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });
            });
            // ]]>
          </script>
          {% endif %}
          {% endif %}
          {% endunless %}

          {% if settings.product_description_position == "bottom" %}
          {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
          {% endif %}
          {% endif %}

          {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
            <div class="yotpo yotpo-slider"
            data-product-id="{{ product.id }}"
            data-auto-slide="1"
            data-source="all"
            data-title="1"
            data-title-text="#skylarbody"
            data-title-color="#4A4A4A"
            data-title-alignment="center"
            data-title-font-size="25"
            data-title-mobile-font-size="18"
            data-hover-color="#4A4A4A"
            data-hover-opacity="0.8"
            data-hover-icon="true"
            ></div>
            <!-- Yotpo Reviews Widget -->
            <div class="yotpo yotpo-main-widget"
            data-product-id="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}">
            </div>
          {% endif %}

          {% if settings.display_collections or settings.display_tags or settings.display_type %}
          <hr />
          {% endif %}

          <div class="meta">
            {% if settings.display_social_buttons %}
            <share-button></share-button>
            {% endif %}

            {% if settings.display_collections %}
            <p>
              <span class="label">{{ 'products.product.collections' | t }}:</span>
              <span>
                {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </span>
            </p>
            {% endif %}

            {% if settings.display_tags %}
            <p>
              {% for tag in product.tags %}
              {% if forloop.first %}
              <span class="label">{{ 'products.product.tags' | t }}:</span>
              {% endif %}

              {% unless tag contains 'meta-related-collection-' %}
              <span>
                <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
              </span>
              {% endunless %}
              {% endfor %}
            </p>
            {% endif %}

            {% if settings.display_type %}
            <p>
              <span class="label">{{ 'products.product.product_types' | t }}:</span>
              <span>{{ product.type | link_to_type }}</span>
            </p>
            {% endif %}
          </div>
        </div>

        {% if settings.product_images_position == 'right' %}
        <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">
          {% include 'product-images' %}
        </div>
        {% endif %}
      </div>
      {% comment %}
      <div class="giftcard_bottom">
        {% section 'giftcard_bottom' %}
      </div>

      {% section 'giftcard_bottom_new' %}
      {% endcomment %}


      {% if product.description contains "<!-- split -->"  %}
      <br class="clear" />
      <div class="section clearfix">
        <div class="description">
          {{ product.description | split: '<!-- split -->' | last }}
        </div>
      </div>
      {% endif %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
        <div class="yotpo yotpo-slider"
        data-product-id="{{ product.id }}"
        data-auto-slide="1"
        data-source="all"
        data-title="1"
        data-title-text="#skylarbody"
        data-title-color="#4A4A4A"
        data-title-alignment="center"
        data-title-font-size="25"
        data-title-mobile-font-size="18"
        data-hover-color="#4A4A4A"
        data-hover-opacity="0.8"
        data-hover-icon="true"
        ></div>
        <!-- Yotpo Reviews Widget -->
        <div class="yotpo yotpo-main-widget"
        data-product-id="{{ product.id }}"
        data-name="{{ product.title | escape }}"
        data-url="{{ shop.url }}{{ product.url }}"
        data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
        data-description="{{ product.description | escape }}">
        </div>
      {% endif %}
    </div>

    {% if settings.display_related_products %}
    {% capture limit %}6{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
    {% else %}
    {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
    {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
    {% if collections[related_collection_handle].all_products_count > 0 %}
    {% assign col = related_collection_handle %}
    {% assign collection = collections[col] %}
    {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if col and collections[col].all_products_count > 0 %}
    {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
    <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
    <div class="related-products">
      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.product_sidebar %}
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

  </div>
</div>
