{% if product.id == 470601367583 %}
{% layout 'theme.tvp' %}
{% endif %}
{%- include 'bold-ro' -%}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% if product.handle == 'sample' %}
{% section "sample-hero" %}
{% endif %}

<div id="product-page" class="product-page-inner">

  <div class="sixteen columns">
    <div class="clearfix breadcrumb">
      <div class="nav_arrows">
        {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev">&#x25C5;</a>
        {% endif %}

        {% if collection.next_product %}
        <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next">&#x25BB;</a>
        {% endif %}
      </div>

      {% if settings.product_breadcrumb %}
      <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
          {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
          {% endif %}
        </span>
        &nbsp;<span class="icon-right-arrow"></span>
        {{ product.title }}
      </div>
      {% endif %}
    </div>
  </div>
  <script>
  $(document).ready(function(){
    var fq = location.hash;
    if(fq == '#recommendation' ) {
      $('.fromqz').html('<h5>Based on your choices, we’d recommend:</h5>');
    }
  });
  </script>
  {% if settings.product_sidebar %}
  {% include 'sidebar' %}
  <div class="twelve columns">
    <div class="product-{{ product.id }}">
      {% else %}
      <div class="sixteen columns">
        <div class="product-{{ product.id }}">
          {% endif %}

          <div class="section product_section clearfix" itemscope itemtype="http://schema.org/Product">
            <div class="fromqz"></div>
            <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if settings.product_images_position == 'right' %}mobile_only{% endif %}">
              <div class="desktop-only">
                {% include 'product-images' %}
              </div>
            </div>

            <div class=" {% if settings.product_sidebar %}five{% else %}seven{% endif %} columns {% if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">






              {% assign collection_handles = product.collections | map: 'handle' %}
              {% assign variant = product.selected_or_first_available_variant %}
              <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

              <!-- Yotpo Star Rating -->
              <div class="yotpo bottomLine"
              style="display:inline-block;"
              data-product-id="{{ product.id }}"
              data-url="{{ shop.url }}{{ product.url }}">
            </div>

            <!-- old star rating, deprecated -->
            <!-- <div class="review-stars">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div> -->

          {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
          {% endif %}

          {% if variant.sku != blank and settings.display_sku %}
          <p class="sku">
            <span itemprop="sku">{{ variant.sku }}</span>
          </p>
          {% endif %}

          {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}

          {% if settings.size_chart != blank %}
          <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                {{ variant.price | money }}
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
              {{ variant.compare_at_price | money }}
              {% endif %}
            </span>
            {% if product.handle == 'sample' %}
            <br>
            <span class="current_price">{{ product.metafields.price_note.text }}</span>
            {% endif %}
          </p>

          {% include 'product-notify-me' %}
          {% endunless %}

          {% if settings.product_description_position == "top" %}
          {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
          {% endif %}
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}

          {% if product.id == 470601367583 %}
          {% include 'product-form-sample' with 'product' %}
          {% else %}
          {% include 'product-form' with 'product' %}
          {% endif %}


          {% endunless %}

          {% if settings.product_description_position == "bottom" %}
          {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
          {% endif %}
          {% endif %}

          {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          {% endif %}

          {% if settings.display_collections or settings.display_tags or settings.display_type %}
          <hr />
          {% endif %}

          <div class="meta">
            {% if settings.display_social_buttons %}
            <share-button></share-button>
            {% endif %}

            {% if settings.display_collections %}
            <p>
              <span class="label">{{ 'products.product.collections' | t }}:</span>
              <span>
                {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </span>
            </p>
            {% endif %}

            {% if settings.display_tags %}
            <p>
              {% for tag in product.tags %}
              {% if forloop.first %}
              <span class="label">{{ 'products.product.tags' | t }}:</span>
              {% endif %}

              {% unless tag contains 'meta-related-collection-' %}
              <span>
                <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
              </span>
              {% endunless %}
              {% endfor %}
            </p>
            {% endif %}

            {% if settings.display_type %}
            <p>
              <span class="label">{{ 'products.product.product_types' | t }}:</span>
              <span>{{ product.type | link_to_type }}</span>
            </p>
            {% endif %}
          </div>
        </div>

        {% if settings.product_images_position == 'right' %}
        <div class="{% if settings.product_sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">
          {% include 'product-images' %}
        </div>
        {% endif %}
      </div>

      {% if product.description contains "<!-- split -->"  %}
      <br class="clear" />
      <div class="section clearfix">
        <div class="description">
          {{ product.description | split: '<!-- split -->' | last }}
        </div>
      </div>
      {% endif %}

    </div>


    {% unless product.handle contains 'sample' %}
    {% include "product-extra-desc" %}
    {% endunless %}

    {% if product.id == 470601367583 %}
    {% else %}

    {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
    <div class="yotpo yotpo-slider"
    data-product-id="{{ product.id }}"
    data-auto-slide="1"
    data-source="all"
    data-title="1"
    data-title-text="#skylarbody"
    data-title-color="#4A4A4A"
    data-title-alignment="center"
    data-title-font-size="25"
    data-title-mobile-font-size="18"
    data-hover-color="#4A4A4A"
    data-hover-opacity="0.8"
    data-hover-icon="true"
    ></div>
    <!-- Yotpo Reviews Widget -->
    <div class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}">
  </div>

  <!-- old review widget, deprecated -->
  <!-- <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> -->
  {% endif %}


  {% if settings.display_related_products %}
  {% capture limit %}6{% endcapture %}

  {% if collection and collection.all_products_count > 1 %}
  {% assign col = collection.handle %}
  {% else %}
  {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
  {% if tag contains 'meta-related-collection-' %}
  {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
  {% if collections[related_collection_handle].all_products_count > 0 %}
  {% assign col = related_collection_handle %}
  {% assign collection = collections[col] %}
  {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if col and collections[col].all_products_count > 0 %}
  {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
  <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
  <div class="related-products">
    {% assign skip_product = product %}
    {% assign products = collections[col].products %}
    {% assign products_per_row = settings.products_per_row %}
    {% include 'product-loop' with settings.product_sidebar %}
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
</div>
</div>
  </div>


</div>
{% endif %}
{% section "feature-column-sample-product" %}
{% section "from-our-customers" %}



<script text="text/javascript">
var _learnq = _learnq || [];

var item = {
  Name: {{ product.title|json }},
  ProductID: {{ product.id|json }},
  Categories: {{ product.collections|map:'title'|json }},
  ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
  URL: "{{ shop.secure_url }}{{ product.url }}",
  Brand: {{ product.vendor|json }},
  Price: {{ product.price|money|json }},
  CompareAtPrice: {{ product.compare_at_price_max|money|json }}
};

_learnq.push(['track', 'Viewed Product', item]);
_learnq.push(['trackViewedItem', {
  Title: item.Name,
  ItemId: item.ProductID,
  Categories: item.Categories,
  ImageUrl: item.ImageURL,
  Url: item.URL,
  Metadata: {
    Brand: item.Brand,
    Price: item.Price,
    CompareAtPrice: item.CompareAtPrice
  }
}]);
</script>

<!-- Yotpo Reviews Widget -->
{% assign sampleproduct = all_products['sample-palette'] %}
<div class="yotpo yotpo-main-widget"
data-product-id="{{ sampleproduct.id }}"
data-name="{{ sampleproduct.title | escape }}"
data-url="{{ shop.url }}{{ sampleproduct.url }}"
data-image-url="{{ sampleproduct.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
data-description="{{ sampleproduct.description | escape }}">
</div>